[2019-11-06 17:02] felippepuhle commented on #624
Yup, but I don't know if it'll be possible as Discord is returning as an uncompleted share.

[2019-11-06 18:42] esutton commented on #601
Easy to reproduce on iOS 13:

1. On share dialolg, select **Messages** like you are about to SMS text PDF
2. Press **Cancel** (or **Send**)

[code]

Using:
[code]

[2019-11-06 19:00] Simek commented on #601
@esutton Unfortunately since that fix has been merged there was no release published.

Until then you can replace `react-native-share` version string with `http://react-native-community/react-native-share` (this will use `master` branch from GitHub repository which include the fix but may be unstable in long run).

More information: https://docs.npmjs.com/files/package.json#git-urls-as-dependencie

[2019-11-06 19:32] esutton commented on #601
@Simek Thanks.

Stability was definitely a concern so I used the commit hash in my package.json

Master fixed it at d88e542ddd0983d09a4aa1a82737bb05b5731801
[code]

[2019-11-06 20:37] Simek commented on #601
@esutton No problem. Just a tip - you can simplify your version string to:
[code]

[2019-11-07 13:57] khylenko opened #625 "Share video to Instagram on IOS"
I'm using "rn-fetch-blob", "react-native-fs" and "react-native-share" to share video to instagram.
Video is downloaded from server, stored in cache, then path provided to shareOptions.

On Andrid works perfectly but on IOS post in Instagram have black preview screen.
I know that Instagram takes first frame from video to make preview and my video haven't any black frames.
I suppose it's something w

[2019-11-08 09:50] NikitaNeganov opened #627 "Illegal callback invocation from native module. This callback type only permits a single invocation from native code."
That is different from #583

### Steps to reproduce
1. Open share dialog
2. Choose an app and cancel
3. While the dialog is still open, choose another app
4. Crash

### Expected behaviour
Choose another app and successfully share

### Actual behaviour
Trying to share through different app crashes if you previously cancelled

### Environment
- **React Native version**: 0.59.10
- **React Native plat

[2019-11-08 10:59] jgcmarins commented on #627
Thanks for the report
might be related to https://github.com/react-native-community/react-native-share/issues/624

[2019-11-08 11:08] NikitaNeganov commented on #627
@jgcmarins actually promise does catch when the user cancels any specific app, the problem is that there's no way (at least not in the documentation), to close the share dialog, for example.

I.e. user chooses the app, the taps on "cancel", promise catches and then when the user tries another (or the same app) it crashes.

Bottom line - it's unlikely related

[2019-11-08 13:37] jgcmarins commented on #627
do you know how to fix this?

[2019-11-08 15:39] khylenko commented on #625
@jgcmarins what info do you need? I will gladly supply

[2019-11-08 16:50] tomtargosz commented on #627
This issue was fixed by #584, we just need a new release that includes this fix. @NikitaNeganov can you test off master to see if it works for you?

[2019-11-08 17:31] NikitaNeganov commented on #627
@tomtargosz sure, I'll post an update tomorrow, thanks

[2019-11-08 17:37] NikitaNeganov commented on #627
@tomtargosz it appears though that master is at 2.0.0 while I'm using react-native 0.59.10 - won't that be a problem?

[2019-11-08 17:52] NikitaNeganov commented on #627
Well, it works nevertheless so #584 does fix the problem.

On the other hand, `subject` param doesn't work anymore while sharing though ios mail or gmail, but that's whole other issue and probably due to using react-native-share@2.0.0 with react-native 0.59.10

[2019-11-08 18:20] mikehardy commented on #627
I'd be surprised if it was version interaction like that (RN59 vs RN60/61 with react-native-share v2), I'd bet that is something between react-native-share 1.x and 2.x somehow, might be possible to bisect on the commits between the two versions of react-native-share you tried, this repo doesn't have so many that it will need many bisect steps before you find the problem if that's it

[2019-11-09 07:26] NikitaNeganov commented on #627
This fix works for ios, android doesn't build though if I use react-native-share@2.0.0 with RN 0.59.10. Looks like that `androidx` in the problem

[2019-11-09 13:38] #576 closed

[2019-11-09 13:40] mikehardy commented on #627
Using anything in the react-native ecosystem right now without jetifier is about impossible.

jetifier has been added as a dependency and an included, default step in the react-native CLI for a reason

Don't avoid using the tools that make things work, set them up and use them

[2019-11-10 13:08] jgcmarins commented on #625
Is there any error message?
or a promise rejection?

[2019-11-11 08:04] khylenko commented on #625
@jgcmarins No. No errors, no rejections. It does transfers video to instagram app, but then it has black preview screen in instagram app and website. It happens only on IOS, android devices have no such problem.

[2019-11-11 12:14] jgcmarins commented on #625
Got it.
Could you provide any reproducible repo?

[2019-11-11 14:37] SteFF1997 commented on #617
Have the same problem, in some social network `url` just was add preview to share message inside this social network.
But it doesn't resolve a problem with preview image at native share view on iOS.

[2019-11-11 17:50] leteach commented on #414
I am having the same issue. Any word on a fix?

[2019-11-12 04:11] #566 closed

[2019-11-12 08:40] efecantekin commented on #623
Hmm, what I said before when I trigger Share action, it crashes.

[2019-11-12 08:46] efecantekin opened #628 "How Can I Share Base64 File as a PDF"
Hello,

I have a Base64 which I get from API. And I want to share it with WhatsApp and Gmail.

In ReadMe file said that I have to use RN Fetch Blob but it doesn't work with iOS 11.4.

Question 1) I've already have Base64. Do I have to use RN Fetch Blob?
Q2) Although I have Base64, why I need to save it to storage and share with storage's url?
Q3) The code on ReadMe file doesn't work for me. I wrot

[2019-11-12 09:13] Kylar13 commented on #627
Hey! We've run into this issue ourselves and I wanted to ask if there's some kind of ETA for the next release that will include this?

[2019-11-12 13:23] khylenko commented on #625
@jgcmarins I'm afraid i cant

[2019-11-12 13:31] jgcmarins commented on #623
does it only happens on iOS?

[2019-11-12 13:33] jgcmarins commented on #628
are you seeing any error when using code described on [README](https://github.com/react-native-community/react-native-share/blob/master/README.md#share-remote-pdf-file-with-gmail--whatsapp-ios)?

[2019-11-12 13:34] jgcmarins commented on #627
@Kylar13 did you tested master branch?
Is it solved for you?

[2019-11-12 13:46] efecantekin commented on #623
Yes.

[2019-11-12 13:47] efecantekin commented on #628
Not seeing any error but never run Share.open() because RNFetchBlob.Fetch doesn't return any response.

[2019-11-12 14:14] #486 closed

[2019-11-12 15:54] Kylar13 commented on #627
@jgcmarins  Yes it did! We used the master branch, but we forced the latest commit hash, which should make it a bit safer until it's officially released

[2019-11-12 16:04] tuncaulubilge commented on #592
@prasad456
For me, `RNFS.unlink` was causing the issue, so try to remove it and see if that fixes the issue for you. Whatsapp or gmail might still be uploading the image so we shouldn't remove that file right away.

[2019-11-12 17:57] jgcmarins commented on #592
@efecantekin check if it's related

[2019-11-12 18:32] efecantekin commented on #628
But I have a problem with iOS also. So it's not solving my problem.

[2019-11-13 15:52] Kylar13 commented on #627
Hey! We seem to have discovered a new bug in android where the url has `\n` appended at the end. Some URL parsers are handling it fine, but some others are taking it as part of the url thus messing up our deeplinks. Also the link shows up like an array, which makes me think it's handled as an array internally and missing the final step to unwrapp it.

Link shows like this on all major social netwo

[2019-11-13 16:31] jgcmarins commented on #627
Thanks for you report, @Kylar13, but I think that cleaning up urls is something that should be handled on user land

[2019-11-13 16:33] Kylar13 commented on #627
I think you misunderstand. I'm passing `https://some.readable.link/foobar` as url parameter and on Android it's showing up as `["https://some.readable.link/foobar\n"]`

[2019-11-13 16:36] jgcmarins commented on #627
Ye, sorry.
Now I get it

[2019-11-13 16:57] Kylar13 commented on #627
Update: I think the `\n` is on our end, looks like the library we use to generate deeplinks is inserting those. With plain text we're not getting that, but we are seeing the `[""]`.

So, to clarify, passing a plain string `https://some.readable.link/foobar` actually outputs `["https://some.readable.link/foobar"]`

[2019-11-14 09:40] tststs opened #629 "Does open with url: "file://<file_path>" work on Android?"
I try to share a PDF file from the file system but it just doesn't work.

* i double checked if the file exists
* i asked for permission to read storage and it is allowed by the user
* when sharing it e.g. with google drive it always says that there is "no data" to share
* i render the PDF before sharing it so i also know that the file is not empty or corrupt

Also the docs are a bit unclear about

[2019-11-14 13:03] tankpower1 opened #630 "Need help with opening app from a shared url."
Hello, im having problems with opening an app from a shared url. Heres my code:

Share.open({
                title: 'Share test',
                message: 'Test',
                url: `my.app.name://article/${articleId}`
            });

When i share this url i literally cant tap/press/click on it, the only thing that you can see is my.app.name://article/1 and thats it. What am i missing?

[2019-11-14 14:33] dbarner1 opened #631 "SMS not showing as a share option on android"
### Steps to reproduce
1. Set up a simple share of anything on Android
2. Run on a Moto e6 Android phone
3. Don't see the SMS sharing option.

### Expected behaviour
I should see the SMS sharing option

### Actual behaviour
I don't see the SMS sharing option

### Environment
- RN 59.4
- Android 9.0

### react-native-share
- Version 1.2.1

[2019-11-14 16:25] jgcmarins commented on #629
Android share with file path should work.
Possibly we're facing a bug since there are few issues reporting this behaviour.
Thanks for all information you've provided.
Are you testing this with real device or emulator?

[2019-11-14 16:27] jgcmarins commented on #630
does it work with other apps?
does your app has deep linking properly implemented?

[2019-11-14 16:28] jgcmarins commented on #631
does it works on other devices?
does it work on iOS?
I just want to make sure it's only related to "Moto e6"

[2019-11-14 17:33] tststs commented on #629
hey!

testing on a real device:
* galaxy s9
* Android 9

if you need any other information don't hesitate to ask. For now i'm using the fallback by reading the file with `rn-fetch-blob` then share it via base64 string.

[2019-11-14 18:25] jgcmarins commented on #629
@tststs great, thanks for your reply.
I don't know if I will be able to dig into this problem.
Feel free to share more information or bring up a solution.
I'll be glad to help with code review.

[2019-11-15 07:28] tankpower1 commented on #630
Everything is implemented correctly, i can open the link from a browsers address bar and terminal but when i share it say to facebook messenger it just shows as a plain text and i cant press it in order to open it.

[2019-11-15 11:08] RocKhalil opened #634 "Share PHAsset"
## About
I'm trying to share images from my CameraRoll using `@react-native-community/react-native-share` and `@react-native-community/cameraroll`

## Code Preview

[code]

This isn't the actual one, but works fine for demo purposes.

## Question
On android, it's working perfectly. However, on iOS, we get from `photo.image.uri` a `PHAsset` url of the asset.
Right now, when the share dialog opens,

[2019-11-15 12:28] jgcmarins commented on #630
Facebook  Messenger shows it as a plain text?
I think it might be related to how Facebook Message deals with this kind of url.

[2019-11-15 12:34] jgcmarins commented on #634
Hello @RocKhalil, it should be possible.
But maybe is there a way to tell [react-native-cameraroll](https://github.com/react-native-community/react-native-cameraroll) to return another type for `photo.image.uri`

[2019-11-15 12:49] tankpower1 commented on #630
Yea i came to that conclusion aswell, is there a way to bypass such a problem?

[2019-11-15 12:57] ksesong opened #635 "No error thrown when saving image after camera roll permission is denied"
The bug described in issue #525 is still present in the latest version.

There is also no error when using the *Save Image* option if the camera roll permission has manually been rejected (in the Settings app).

[2019-11-15 13:56] RocKhalil commented on #634
@jgcmarins I wrote a small hack for it right now (within the `cameraroll`) in order to keep going with the development; but I'll try writing a fix to allow `ph` asset to be read directly.

Maybe you can check this

[code]

I know that the code is not performance oriented, but I need to move on from this task and will get back to this one as soon as possible.

[2019-11-15 20:00] jgcmarins commented on #630
I think it's related to user land.
For example: sharing a url like `my-site.com/route/123` -> on mobile, if you have the app installed and deep linking is properly implemented, the OS should suggest to open the app `com.my-site://route/123`

More info about deep link:
- [Android](https://developer.android.com/training/app-links/deep-linking)
- [iOS](https://developer.apple.com/documentation/uikit/

[2019-11-15 20:00] #630 closed

[2019-11-15 20:02] jgcmarins commented on #635
@ksesong do you have a reproducible repository?
It could help to understand which behaviour it should have.

Does it only happens on iOS?

[2019-11-15 20:05] jgcmarins commented on #634
@RocKhalil great to hear that.
Pull requests are welcome.
Feel free to open one with this improvement. I can help with code review.

[2019-11-16 16:18] capslock35 commented on #629
any updates on this ?

[2019-11-17 11:27] ksesong commented on #635
I haven't tested it in iOS.

I haven't got a reproducible repository, but it is straightforward to test:
1. Share a local image (`url: ...`) with `Share.open`
2. Use the `Save image` option in the modal window.
3. Don't allow access to the permission when requested.
Instead of raising an error (so the `.catch` callback), the library behaves as if the share was successful (with the `.then` callback

[2019-11-18 12:30] jgcmarins commented on #629
As far as I remember, sharing using file path is working fine.
You can test it with our [example](https://github.com/react-native-community/react-native-share/blob/master/example).

[2019-11-18 13:33] RocKhalil commented on #634
@jgcmarins I tried adding the above piece of code to `RNShare` directly; here's where I currently stand:

`#import <Photos/Photos.h>`

[code]

Now the issue is that `do { } while( [url isEqual:@""] )` is executed on the main_queue and the app is freezing. I'm not that advanced is Objective-C and not sure how to `await` a block for completing instead of doing this method.

If you can help me with t

[2019-11-20 18:26] sujatha2016 commented on #593
Did it work ?

[2019-11-20 23:32] friederbluemle opened #636 "Flow errors ignored in example/ project"
There are currently **three Flow errors** related to `react-native-share` components reported in the `example/` project. They are ignored by the following `.flowconfig` setting, and won't show up:

[code]

It might be something to look into and fix eventually. Not 100% sure if this may cause any issues, but it would definitely be nice not having to exclude the entire modules folder (the _only_ dif

[2019-11-20 23:39] friederbluemle commented on #636
After #637 is merged, and the errors are fixed, the added setting in `.flowconfig` can easily be undone by reverting d31f38efce70d78ce39db2fa9ab9f0324b73838e.

[2019-11-22 07:08] Alvee9 commented on #629
The example given there doesn't use file path, rather it uses data URLs with base64 encoded strings which doesn't have any issue. The only problem in this scenario is that url with path like "file://<file_path>" doesn't work. (NB: It works fine on ios)

[2019-11-22 17:12] EnclaveAnthony commented on #310
Same issue. Do you have any solution?

[2019-11-22 19:17] TxusBlack commented on #310
No, please re-open this issue.

[2019-11-23 03:25] EnclaveAnthony commented on #591
So now, we don't have any solution for share images with a message to Instagram?

[2019-11-23 03:47] mikehardy commented on #591
Well, if there is an API somewhere, and code exists anywhere, it can be done right? I'm not being sarcastic but I am specifically saying: the solution may be that you do it and earn the Internet Fame(tm) associated. Someone has to code these things, could be you...

[2019-11-24 22:52] abhinavremitly commented on #274
@kalraneeraj24550 Were you able to find the solution to send a simple text message via fb-messenger? Asking because even I am looking for the same answer.

[2019-11-25 11:53] NikitaNeganov opened #638 "How to catch errors correclty?"
## Ask your Question

When using
[code]

Say, I want to check whether catch fired because user cancelled or it is an actual error and therefore ignore calcelled events and only handle errors. How do I do that? `catch` only returns an empty object.

Is there a way to get anything out of that error and therefore handle it?

[2019-11-25 20:44] davidkhuu commented on #627
Forgive me since this is going a little off-topic from the original issue.

RE: @Kylar13 https://github.com/react-native-community/react-native-share/issues/627#issuecomment-553464450
I've encountered the same thing as well. On Android, I expect the `url` shared to be a string but it ends up being an array of the string. I didn't see an issue created for it in this repo so I'm not sure if it's exp

[2019-11-26 06:45] jeno5980515 commented on #517
Still having this issue with 2.0.0 version, any update?

[2019-11-26 09:09] nehaj2995 commented on #414
target email not setting in android ,how do I fix this ?

[2019-11-26 09:13] jeno5980515 commented on #517
Find a solution.

Modify below code in social/ShareIntent.java

Change
[code]
To
[code]

[2019-11-26 12:19] efecantekin opened #639 "iOS 13 Keyboard Doesn't Appear"
### Steps to reproduce
1. Press share button
2. Select any app to share

### Expected behaviour
To see keyboard to write something

### Actual behaviour
Keyboard opens and closes so fast. So anybody can write anything.

### Environment
- **React Native version**: 60.5
- **React Native platform + platform version**: iOS 13

### react-native-share
**Version**: 2.0.0 master

[2019-11-26 13:45] EnclaveAnthony opened #640 "How to share with both URL and message?"
I read the document. It says :

But when I try to share a video with a URL and a message. But It shows error:

This is my code:
``const URI64 = `data:video/mp4;base64,${URI}`;
  Share.open({message: "Paris"+ URI64,title : "Share a video"})``
URI is the base64 from local uri
Does someone can help me about that?

[2019-11-27 00:18] jehartzog opened #641 "Share cancel not rejecting promise"
### Steps to reproduce
1. Run `Share.open(options)`, cancel dialog in iOS

### Expected behaviour
Catch an error

### Actual behaviour
No error thrown

### Environment
- RN 0.61.4
- iOS 13.2

### react-native-share
**Version**: npm version 2.0.0

### Link to repo (highly encouraged)
Will make one if desired, but this is pretty easy repro

I tried setting `failOnCancel: true` just to verify, still

[2019-11-27 04:52] jgcmarins commented on #591
We once had instagram implementation, you can find merges and reverts here: https://github.com/react-native-community/react-native-share/pulls?utf8=%E2%9C%93&q=is%3Apr+instagram+

[2019-11-27 04:56] jgcmarins commented on #638
I think that there are few scenarios where nothing is returned, specially on iOS. We're always accepting PRs to improve those workflows. I can help you with code review.

[2019-11-27 04:57] jgcmarins commented on #627
@davidkhuu great! Do you mind helping us with the fix? I can help you with code review.

[2019-11-27 04:58] jgcmarins commented on #517
@jeno5980515 awesome!
Do you mind helping us with the fix? I can help with code review.

[2019-11-27 04:59] jgcmarins commented on #639
Hello @efecantekin
I am not sure if this behaviour is related to the lib...

[2019-11-27 05:02] jgcmarins commented on #640
Hello @EnclaveAnthony I guess that documentations are a bit misleading. Did you try to share only message or only uri?
Could you please test that for us and bring the results? Thanks.

[2019-11-27 05:04] jgcmarins commented on #641
This is a known bug and already have been fix: https://github.com/react-native-community/react-native-share/issues/627
Could you please test on master branch? If you confirm it's solved, we can land a new release.
Thanks

[2019-11-27 05:04] #641 closed

[2019-11-27 05:10] efecantekin commented on #639
@jgcmarins it works well with iOS12 and iOS11. But when I try with iOS I always get see this problem.

Do you have any idea about what causes this problem? I have to solve it asap. :(

[2019-11-27 05:12] EnclaveAnthony commented on #640
Hi @jgcmarins.
When I try to share only message or only uri. It works perfectly.

[2019-11-27 06:49] EnclaveAnthony commented on #640
Hi @jgcmarins.
This is my code :
``const URI = base64.encode(this.state.uri)
        const URI64 = `data:video/mp4;base64,${URI}`
        Share.open({url : URI64, message: "Some message",title : "Title"})``
It only works well on a few apps like Mail, Imessage.
On Facebook, Instagram, and Whatsapp, It only has video and doesn't has the message.

[2019-11-27 08:35] EnclaveAnthony commented on #640
Update : Share only message not work on facebook.

[2019-11-27 08:44] NikitaNeganov commented on #638
Actually, I realized that for my use case it is enough to open share dialog with `failOnCancel: true` and therefore and don't have to handle `User did not share` error in the `catch` block.

[2019-11-27 08:44] #638 closed

[2019-11-27 13:58] jehartzog commented on #641
Sorry for duplicate, I did search first but didn't read that as a dup as first.

Confirmed that master does now show the issue I listed here, thanks for quick response.

[2019-11-27 14:36] EnclaveAnthony opened #642 "Video sharing via instagram will be upside down on Android."
### Steps to reproduce
1. Share a video via instagram

### Expected behaviour
A perfect video.

### Actual behaviour
The video will be upside down

### Environment
- **React Native version*0.59*:
- **React Native platform + platform version**: Android 10

### react-native-share
**Version*1.2.1*: npm version or "master"

When I share a video via Instagram. It will look like that.

![Screen Shot 201

[2019-11-27 21:01] jgcmarins commented on #639
Got it. I am not sure how to solve it.
Did you try to ask on Stack Overflow?

[2019-11-27 21:05] jgcmarins commented on #641
Don't worry.

@jehartzog that's awesome news.
I would ask if it's possible to you to keep running against master for a few days and test it.
I am quite sure it's all good and we're ready for a new release.

[2019-11-27 22:36] Andrfas commented on #614
I got this working in my app.
We're providing path to local file in `url` field. You can try to do the same by writing the video to file storage.
Our `type` field is the same as yours.

[2019-11-28 08:04] jeno5980515 commented on #517
I think it should use startActivity for ACTION_SEND instead of startActivityForResult.

However, it will not know the user cancel it or not. It means that failOnCancel will be useless.
It works for my use case, I'm not sure it also works for others?

[2019-11-28 16:20] EnclaveAnthony commented on #640
Same problem on iOS 13.

[2019-11-29 03:27] mingxin-yang opened #643 "The callback is error after i shared successfully"
### Steps to reproduce
1. I share message to wechat
2. after shared successfully I got this error :
[code]

### Expected behaviour

 **after shared successfully I got successful**
### Actual behaviour

 **after shared successfully I got error**

### Environment
- **React Native version**:0.59.10
- **React Native platform + platform version**: Android 9.0 HuaWei Mate 10
### react-native-share
**Ver

[2019-11-29 15:29] Serra19 opened #644 "Sigabrt when sharing to instagram"
### Steps to reproduce
Share a base64 image to instagram using singleShare on iOS.

### Expected behaviour
It should open Instagram with the image I want to share.

### Actual behaviour
It closes the app or freeze it. If I debug the app using xcode, it says "signal SIGABRT".

On Android it is working fine.

### Environment
- **React Native version**: 0.60.5
- **React Native platform + platform ver

[2019-11-29 16:45] damiansnp commented on #643
There seems to be an issue on Huawei devices with sharing.

I encounter the same thing `Error: User did not share` on every action, except one. When pressing `Copy to clipboard` the `Share.open({ message: "www.google.com" })` call never ends, which is even worse.
The issue happened on another Huawei device, but I don't have info about it.

# Environment
- *react-native-share*: [master@f706e8cae5b2

[2019-11-29 22:19] catodapice commented on #616
@JanOwiesniak I'm trying to use the same code but in this line RNFS.readFile(filePath, 'base64') the app freeze and close without error, do you know why or give me a full example, I'm suffering the same problem I trying to share a video on android from my gallery without luck

[2019-12-01 12:02] cherenkor commented on #614
But I share successfully the same url in instagram, twitter, facebook, messenger, , email though

[2019-12-02 14:48] acasademont commented on #644
Adding some more info, any idea of what doess that "___CRASHING_DUE_TO_PRIVACY_VIOLATION__" mean?

<img width="762" alt="Screenshot 2019-12-02 at 15 47 39" src="https://user-images.githubusercontent.com/825021/69968665-2f4b8480-151b-11ea-903d-848c1e7bb74a.png">

[2019-12-02 15:10] acasademont commented on #644
AFAIK instagram Sharing doesn't need any special plist privacy strings

[2019-12-02 15:13] mikehardy commented on #644
it must need at least one. bisect them by getting the full list of available ones you aren't using, add half and check, either remove half if it doesn't crash or add half the remaining if it does crash and so on. It's the only reason for that crash

[2019-12-02 15:20] acasademont commented on #644
We're going to do that, thanks @mikehardy, we'll report back

[2019-12-02 16:31] acasademont commented on #644
Hi all, there's actually a privacy plist that's needed for Instagram sharing after all.

[code]

@jgcmarins maybe this could be added to the docs?

[2019-12-02 18:03] #644 closed

[2019-12-02 18:54] #590 closed

[2019-12-02 18:54] #589 closed

[2019-12-03 16:41] hbarylskyi commented on #320
For anyone to whom that will happen in future on iOS: add your app into LSApplicationQueriesSchemes. So I had to add `instagram` to fix described problem. This should be more clear from README I think.

[2019-12-04 12:57] roaringUnicorn commented on #520
I'm having the same problem when i try to share a file.
It's clearly not a permission problem, as all my other FS call work fine.

When I try to share an url like this : `url: 'file:///storage/emulated/0/MyApp/myFile.html'`
I end up with different error:
Telegram : Unable to share file
Slack: unable to send
Email: simply no file attached

I tried to use base64 workaround, but I cannot set a filena

[2019-12-05 01:17] xkevin190 commented on #520
I have this same problem of @roaringUnicorn  react-native 0.59.9 and react-native-share1.2.1

if you try to use with base 64 it generates a file with a random name .null

[2019-12-05 22:12] cherenkor opened #645 "IOS 13 can't share video"
### Current Behavior

I'm trying to share locally saved video on Instagram, Twitter, Facebook, Email by using Share.shareSingle(options).
Apps open fine, but the video doesn't pass. No errors in the console.
Everything is working fine with Share.open(options)

### How to reproduce

I use:
[code]

### Environment
- **React Native version**: 0.61.3
- **React Native platform + platform version**: iOS

[2019-12-07 12:00] Elabar commented on #524
I know this is an old topic, but I am trying to achieve the similar thing, where I want it to skip the dialog as I always want to share to Stories. Can you point out what options I should use? I can't find the correct one to restrict the type.

[2019-12-08 20:27] #594 closed

[2019-12-09 15:37] tai8292 commented on #645
You must convert your local uri to base64 and it will work.

[2019-12-09 15:54] EnclaveAnthony commented on #645
Yes. I have the same problem.
I use react-native-share for Android and Share (https://facebook.github.io/react-native/docs/share) for iOS.

[2019-12-10 04:01] jgcmarins commented on #644
Absolutely. Do you mind sending a PR? Thank you.

[2019-12-10 04:02] jgcmarins commented on #320
Absolutely. @hbarylskyi, do you mind sending a PR with this improvement? Thank you.

[2019-12-10 04:06] jgcmarins commented on #645
@cherenkor does it works on Android?
You can add me to the repo and I can take a look.

[2019-12-10 07:10] cherenkor commented on #645
I've added you. Could you please check it?

[2019-12-10 07:11] cherenkor commented on #645
How do you use it for sharing videos?

[2019-12-10 12:00] jgcmarins commented on #645
Sure. I've already take a look, everything seems right.

This path seems weird.

[2019-12-10 13:18] roaringUnicorn commented on #520
I finally made it work, I was simply missing a FileProvider implementation.
The documentation could be more explicit about that.

[2019-12-10 18:14] jgcmarins commented on #520
@roaringUnicorn good news.
Just let me know what can be improved on docs.
Thanks.

[2019-12-11 08:18] nateeither commented on #310
Re-open this issue please!

[2019-12-11 08:46] 15110011 opened #646 "Share PDF function on Android work slowly"
Hi,
I have used share PDF func to share file, but when I hit share button it work very slowly. It takes 10s to show socials popup. How can I solve this problem? Has any one met this prolem yet?
Here my func:
[code]
[code]

[2019-12-11 11:55] #556 closed

[2019-12-12 08:41] #646 closed

[2019-12-12 08:42] 15110011 commented on #646
Fixed

[2019-12-12 17:29] hbarylskyi commented on #320
@jgcmarins will do.

[2019-12-13 06:26] 15110011 opened #647 "How can I share my file to facebook messenger?"
Hi,
I'm using this lib to share files. My problem is, I want to share a PDF file and when I hit share button, i cant find facebook messenger(installed) to share. And another problem is my social popup dont have `More` button to choose app to share.
![Screenshot_20191213-132119](https://user-images.githubusercontent.com/37216098/70774154-fbd6e880-1dab-11ea-8a33-3fa95d81a991.png)
![Screenshot_201912

[2019-12-13 10:33] #587 closed

[2019-12-13 18:27] LuizFBrisighello opened #648 "Share file from url"
I'm getting a pdf file's url from my co-worker API and then display that on the screen with `react-native-pdf`. How do I go about sharing the actual pdf file?

[2019-12-13 23:16] gustavopch commented on #524
Do you mean the `forceDialog` option? It doesn't help on what the OP asked.

[2019-12-14 22:01] cherenkor commented on #645
Why. It's the one that the OS returns for the videos that were created within the app. We have that option. Users can record videos from the app.

[2019-12-15 17:31] badaz opened #649 "add filename parameter in V1.x"
Thanks for this nice lib! I need to specify a filename for my base64 file so that when I share it by email, the filename is human readable. However I'm stuck using react-native v0.59 at the moment (because of other libs very hard to migrate) so I wonder if you plan to make the filename parameter available in the v1 version of the lib?

[2019-12-15 17:36] mikehardy commented on #649
Use the most currently libs you can, for those that moved to AndroidX (like this one), use `jetifier -r`

https://github.com/mikehardy/jetifier#to-reverse-jetify--convert-node_modules-dependencies-to-support-libraries

[2019-12-15 17:36] #649 closed

[2019-12-15 17:53] badaz commented on #649
Thanks, I was about to edit my issue since I found the jetifier trick reading another issue. However I can't make the filename parameter work, event using V2.0.0 (method open and/or shareSingle). I've looked at the code and there is really no reason why this should not work, I pass the simplest string "file", yet the attachement in the email ends up having a nanotime generated name. I guess this i

[2019-12-15 17:59] mikehardy commented on #649
I concur

[2019-12-15 18:07] badaz commented on #649
ok, I think this is because I am not using master but 2.0.0 from npm, which does not include the filename thing, found a hint in https://github.com/react-native-community/react-native-share/issues/611

[2019-12-15 18:09] cherenkor commented on #645
besides, I can successfully share the video with Share.open({}) and the path is the same

[2019-12-16 15:54] RocKhalil commented on #634
@jgcmarins the previous answer had some issues (not sharing correctly), so I wrote a better fix for `PHAsset` sharing:

[code]

This way, whoever is calling the API will only do: `getShareModal('ph://....')` and the modal will show.

[2019-12-16 16:36] davidmarinangeli opened #650 "Share.open does not work on any file on Android 10"
### Steps to reproduce
1. Implement Share.open on Android 10 device

### Expected behaviour
It should share the document

### Actual behaviour
It tells "unsupported attachment" in any app I try.

### Environment
- **React Native version**: 0.59.10
- **React Native platform + platform version**: Android 10

### react-native-share
**Version**: 1.2.1

The path is local and it does work normally on An

[2019-12-17 01:46] jgcmarins commented on #310
Does anyone have any reproducible bug?
Does it happens with master code?

[2019-12-17 01:47] jgcmarins commented on #646
@15110011 awesome!
How did you solve?

[2019-12-17 01:51] jgcmarins commented on #647
Weird, all available apps should appear on this.
Maybe facebook messenger does not support pdf?
Can you try [isPackageInstalled()](https://github.com/react-native-community/react-native-share#ispackageinstalled-in-android)?

[2019-12-17 01:52] jgcmarins commented on #648
You can share it as a base64 or pointing to the file path

[2019-12-17 01:54] jgcmarins commented on #649
@badaz master branch solved your problem?
Let us know if there is any issue going on master.
We're planning a release. Thanks.

[2019-12-17 01:55] jgcmarins commented on #645
Share.open works, Share.shareSingle don't?

[2019-12-17 01:57] jgcmarins commented on #634
That's great. Does it makes sense to support PHAsset. I mean, does Apple is moving around to this type for URIs?

[2019-12-17 02:00] jgcmarins commented on #650
@davidmarinangeli thanks for your report.
We gonna have to deep dive into Android 10 API to understand what's going on.

[2019-12-17 06:36] badaz commented on #649
@jgcmarins yes, it is working with master, but only when using shareSingle, as hinted in https://github.com/react-native-community/react-native-share/issues/611, and not when using open. If it is a quick fix it would be great to make it work with open.

[2019-12-17 08:20] davidmarinangeli commented on #650
Thanks for your quick response. The problem seems to be related to `RNFetchBlob` that fails to download the file. It returns the download path but nothing is generated.

I will update you asap

[2019-12-17 10:15] badaz commented on #649
@jgcmarins please keep me updated on this, since if you're not fixing the `filename` parameter not working in the `open` method I might consider creating a Pull Request

[2019-12-17 11:23] RocKhalil commented on #634
@jgcmarins mainly yes.

It will also give compatibility to share images retrieved from `@react-native-community/cameraroll`.
All the images that come from the system are `PHAsset` and should be handled this way..

[2019-12-17 11:44] LuizFBrisighello commented on #648
Thanks for the answer!

How do I go about converting the .pdf url to a base64 string?

To point to the file path first I need to download the .pdf file right? Something like `rn-fetch-blob` should do right?

[2019-12-17 14:23] LuizFBrisighello commented on #648
Tried to use `rn-fetch-blob` but I dont know if I'm doing it quite right.

[code]
The share dialog opens normally but after I choose where do I want to share he file (in my case WhatsApp), I got a pop up saying "Fail to share, try again"

[2019-12-17 14:49] LuizFBrisighello commented on #648
Converting to base64 works ok-ish.

[code]
It shares the actual .pdf file but the message inst shared with it, and I dont know if its possible t change the file name

[2019-12-17 15:00] LuizFBrisighello commented on #648
Oh .. #629

[2019-12-17 15:03] LuizFBrisighello commented on #648
I guess #629

[2019-12-18 23:22] anastely commented on #648
@LuizFBrisighello hey, are you solve it?

[2019-12-18 23:31] anastely commented on #629
@jgcmarins hey, I faced something same,
when URL be like this `"/storage/emulated/0/Downloads/Bill765.pdf"` it does not work so I can't share this PDF

But when URL be like this `"/data/user/0/com.lmaalam_admin/cache/Bill197994929333884192053.pdf"`
it's working fine!

So I'm forced to use the first file URL for other functionality and want to share it in this package, any idea about this?

[2019-12-18 23:50] anastely commented on #431
@a-koka hey, can you give an explanation this code what do exactly and what's the difference between it and in the documentation.
_Thanks in advance_

[code]

[2019-12-19 00:02] anastely commented on #647
@jgcmarins  I'm facing the same thing and i try `isPackageInstalled()` it gives me `false`  🤷‍♂️ 

[2019-12-19 10:38] bansaripatel2530 commented on #650
I'm facing same issue and it is working fine with Android 10 after add this line in **_AndoridManifest.xml_** in <application> tag.
`android:requestLegacyExternalStorage="true"`

[2019-12-19 11:33] 1nfinite opened #651 "Share to instagram feed"
How can i share to instagram feed?
I have code as below but i have only option for instagram direct in my android device share (no instagram feed in the share selection)
Am i missing some configuration and where and how should i include the product image?

What am i intend to achieve:
- Share my product image to instagram feed (with title, description and product website url)

[code]

[2019-12-19 11:34] LuizFBrisighello commented on #648
@anastely Not at all. Priorities changed, so I had to move to other tasks for a while

[2019-12-19 11:48] 1nfinite opened #652 "Whitelist app"
Is that possible to whitelist app for share options (not share single).

Expectation:
- Able to whitelist seleceted app for default share options without customizing own UI.

eg:

[code]

[2019-12-19 15:40] #571 closed

[2019-12-19 17:40] #602 closed

[2019-12-20 03:37] harleenarora opened #653 "How to pass facebook application id in react-native code."
HI, I am using this package, its working good but requirement are:

-> I call the my app load rest api and get the facebook application id form api response. Set the application id. On click login button get the user facebook account details and after get the user facebook details call my rest API.

So how to pass the application id on react-native code rather then android. Please tell me how to d

[2019-12-20 10:07] #526 closed

[2019-12-20 23:05] #650 closed

[2019-12-23 06:34] tiwus opened #654 "Share multiple image when choosing feed on facebook share"
`const options =
{
     title: "Share via",
     url: completed[0],
     social: Share.Social.FACEBOOK
 };

Share.shareSingle(options);`

My code above is only sent one image to feed, how to check when user choosing between feed or story so i can set urls: Completed  <---- an Array to option?

[2019-12-23 07:04] tiwus commented on #651
Have you tried Share.shareSingle(options)?

[2019-12-24 12:59] #609 closed

[2019-12-25 11:15] stepupithubapp commented on #571
@farshed share_download_path.xml file  so it solved mine will may help you too

[2019-12-26 09:33] Rizaldinurm commented on #379
Can someone tell me how to setup options for Share Instagram Story, I have to write
`return ShareData.shareSingle({
          url: 'data:image/png;base64,' + imageData,
          type: 'image/png',
          message: 'Share to instagram',
          social: ShareData.Social.INSTAGRAM,
          forceDialog: true,
        });`

But redirect to Feed Instagram, I run in Android.

[2019-12-26 09:55] Rizaldinurm opened #656 "Share Instagram Story"
## Ask your Question

This is my options:
`ShareData.shareSingle({
          url: 'data:image/png;base64,' + imageData,
          title: "Share via",
          type: "image/png",
          message: "Share to instagram",
          // social: ShareData.Social.INSTAGRAM
        })
`
But my device always redirect to Feed Instagram, but I want to Instagram Story.
is my options miss something?

[2019-12-26 12:44] MateusAndrade commented on #379
Currently i think that its not possible to share to Instagram Stories with the last version on npm/master.

However, we got a PR that aims to reimplement that. Im looking for some help to test that and ship #600 . 😄

[2019-12-26 12:48] MateusAndrade commented on #524
@gustavopch do you want to share directly to Instagram Stories? You can try #600 to see if this helps you. I see that using `forceDialog` achieves a different behaviour and it only works on Android to set your option as the default.

[2019-12-26 13:45] gustavopch commented on #524
@MateusAndrade I'm not actually using this lib; gone the manual way and implemented my own native module. The PR you linked solves half of this issue. The other half would be sharing to Feed without an intermediate action sheet.

[2019-12-26 18:40] MateusAndrade commented on #524
Would you mind the help us with that? New contributions are always welcome! 🎉 🎉

[2019-12-26 19:09] gustavopch commented on #524
@MateusAndrade I won't have the time to submit a PR, but sharing directly to Instagram's Feed goes along the following on Android:
[code]
Not sure if this might break in the future though as it's not an official API. Also I don't have the iOS implementation yet.

[2019-12-27 08:54] cherenkor commented on #645
@jgcmarins any updates on that?

[2019-12-30 04:32] NZOleg opened #658 "Message is not coming sharing through Facebook"
Hi, I'm trying to share the message through facebook and using the following the following code:

[code]

### Expected behaviour
It should open "Create Post" on Facebook with "some message here" message

### Actual behaviour
It opened  "Create Post" on Facebook with no message in it. Url comes through if I include it in options
If I try to share with messager, it works just fine.

### Environment

[2019-12-30 11:53] AlkanV opened #659 "no callback found with cbID"
### Steps to reproduce
1. Setup Share with your app.
2.Call share.open()
3.press save to files. then cancel it. it will throw no callback found with cbID for RNSHare.Open. Most likely the callback was already invoked.
### Expected behaviour
It should close opened modal

Actual behaviour
when i try to close opened modal after cancelling save to files, it is throwing error started with 'no callback

[2019-12-30 12:06] EnclaveAnthony commented on #280
Yes. It works. But we need sharing with a caption. Does anyone have a solution for this?

[2019-12-30 12:11] EnclaveAnthony commented on #658
Facebook doesn't allow any prefill message. You can share it with a hashtag. You can use react-native-fbsdk to do that.

[2019-12-30 17:42] EnclaveAnthony opened #660 "shareSingle not working on iOS"
### Steps to reproduce
1. shareSingle video via WhatsApp.
2. Open the appstore

### Expected behaviour
Open WhatsApp

### Actual behaviour
Open WhatsApp page on the app store

### Environment
- **React Native version**: 0.61.5
- **React Native platform + platform version**: iOS 13.0,

### react-native-share
**Version**: 2.0.0
`const result = await Share.shareSingle({
                    title: "Ti

[2019-12-30 18:37] #611 closed

[2020-01-02 07:10] appasaheb4 opened #661 "android issue"
if any share msg or file popup open click any option then res showing .
but i need after sending res need.

[2020-01-02 09:01] aamalric commented on #615
Hi @sassanh, I had the same issue in our project upgrading RN 0.60.5 -> 0.61.5 with flow-bin 0.98.0 -> 0.105.0.
My issue was related to the image import using haste module:

`import mySource from '@module/image.png'`

The '@' isn't recognised in the .flowconfig file, so I had to modify it like this:

[code]

@jgcmarins I don't know if it's the right way to fix the issue, can you confirm it's Ok to

[2020-01-03 10:27] latusdenis opened #662 "Android file name isn't working on release android builds"
### Steps to reproduce
1. Share android base64
[code]
2. ```cd android && ./gradlew assembleRelease```
3. Timestamp is displayed instead of the filename

### Expected behavior
The android filename feature is working correctly on android release builds.

### Actual behavior
There was the pull request, which adds a feature of adding the filename for android. https://github.com/react-native-community

[2020-01-05 03:31] #74 closed

[2020-01-06 07:39] EhtishamAli786 commented on #145
Thanks

[2020-01-06 12:41] appasaheb4 opened #663 "print option not showing on android side."

[2020-01-06 12:42] appasaheb4 commented on #662
store on secoundary storage and write and read.

[2020-01-06 12:42] appasaheb4 commented on #662
file:// add before read time

[2020-01-06 17:23] #620 closed

[2020-01-06 17:45] latusdenis commented on #662
@appasaheb4 I didn't get you. What do you mean by ```store on secoundary storage and write and read.```?

[2020-01-07 03:00] brambang commented on #466
same issue in 1.2.1 version

[2020-01-07 03:02] brambang commented on #485
yes, it's still happen in 1.2.1 version

[2020-01-07 08:33] brambang opened #664 "shareSingle Share.Social.FACEBOOK not open FB Lite Apps"
### Steps to reproduce

[code]

### Expected behaviour
Open FB apps (FB Lite installed) or play store.

### Actual behaviour
Not open FB Lite
error showing:
[code]

_**UPDATE:**_
1. I add URL, then it would open a browser
But, why we have to add an URL??
I want to send message only.
is it bug??
(as i check the redirect URL contain url as query get in **FacebookShare.java**)

2. I install FB apps,

[2020-01-07 11:09] brambang commented on #161
yes, i have same issue.
FB share not contain message (quote).
is there any solution??

[2020-01-07 12:39] MateusAndrade commented on #485
As far i remember i don't get this error using this version. You can try and let us know if this still a problem?

[2020-01-07 12:46] #621 closed

[2020-01-07 12:50] appasaheb4 commented on #662
store file in secondary storage and write and read.

On Mon, Jan 6, 2020 at 11:15 PM latusdenis <notifications@github.com> wrote:

[2020-01-07 14:50] latusdenis commented on #662
@appasaheb4 How would it solve the issue, that the file name is appearing in a wrong format? As I mentioned before, it’s working correctly out of the box in dev builds

[2020-01-07 17:41] Psiiirus opened #665 "New Version Coming?"
Are there any plans to create a new version-release to release all the changes and bug fixes?

[2020-01-08 04:32] brambang commented on #664
UPDATE 2:
1. i have workaround to make shareSingle FB to check both of FB apps & FB Lite.

i am edit **FacebookShare.java** in _android/src/main/java/cl/json/social/_
and using getPlayStoreLink to add FB lite package name

[code]

and open **SingleShareIntent.java** in _android/src/main/java/cl/json/social/_
and in row 34 add `else if` to check getPlayStoreLink as package

[code]

as i check this

[2020-01-08 04:43] brambang commented on #658
is it possible to use hashtag here??

[2020-01-08 10:58] prajnarobo commented on #280
Any solution for this?

[2020-01-08 12:49] appa3151 opened #666 "NativeModules.RNShare"
for icloud

[2020-01-08 13:44] Pifoupif opened #667 "Implicit conversion of ‘int’ to ‘UIViewController *’ is disallowed with ARC"
I followed the setup steps from your github page. Tried both the yarn and npm versions of react-native-share. I'm unable to build our app on xcode after installing the library.
I always get the same error message when xcode tries to build your library:
`Implicit conversion of ‘int’ to ‘UIViewController *’ is disallowed with ARC`

I've also tried disabling ARC from xcode but the error remains.

Act

[2020-01-09 13:30] SeraphimaZ opened #669 "shareSingle Share.Social.INSTAGRAM not working on iOS"
### Steps to reproduce
share png image encoded in base64 to instagram

       const shareOptions = {
        url: 'data:image/png;base64,' + base64Image,
        type: 'base64',
        social: Share.Social.INSTAGRAM,
      };

      Share.shareSingle(shareOptions)
        .then(res => {
          console.log('succeeded: ', res);
        })
        .catch(rej => {
          console.log('failed', r

[2020-01-10 04:43] #604 closed

[2020-01-10 05:36] NZOleg commented on #658
brambang, I couldn't figure it out, so I ended up sharing just a link

[2020-01-10 05:51] chrisparton1991 commented on #665
Thanks for all of your work maintaining this library @EstebanFuentealba (and other contributors). It's not much, but I've put $10 towards getting a new version out.

Totally understand if now's not a good time to push out a release. I'm currently targeting a commit directly for my NPM dependency so there are no blockers for me, but it'll be nice to be able to use a proper version again.

[2020-01-10 07:03] Psiiirus commented on #665
Hiya @chrisparton1991 nice move to add $10 to this, thanks !
Can you please explain why it is not a good time to push out a new release?

[2020-01-10 10:15] LekZ974 opened #670 "No message when is sharing a pdf on IOS"
### Steps to reproduce
share a pdf for IOS with a message:
`const options = {
        title: name,
        type: 'application/pdf',
        message: message,
        url: url
      };
        await Share.open(options);
        await fs.unlink(url);
      }`

It's ok on android platform
### Expected behaviour
expect to share a pdf file on IOS with a message: ex: 'Toto share this document with you <

[2020-01-10 14:38] knivesq commented on #583
Hello, I am still having this problem and not only email, but facebook too.
I added :
 else if (completed) {
            successCallback(@[@(completed), RCTNullIfNil(activityType)]);
        }

and it did not work

[2020-01-10 17:43] #613 closed

[2020-01-11 07:46] #622 closed

[2020-01-11 15:43] tomasvarga commented on #659
This bug is not present in the release mode meaning the app will not crash from my test. That said, it's still an issue...

Possible **workaround** leaving this here if someone would like to use it:

Go to `RNShare.m` and **add before**
https://github.com/react-native-community/react-native-share/blob/f706e8cae5b21079c2716998911ad86e0cd1e8ac/ios/RNShare.m#L192

**this line**
[code]

This will clos

[2020-01-12 18:02] #624 closed

[2020-01-12 21:30] chrisparton1991 commented on #665
@Psiiirus it's possible that the devs are waiting for some other PRs to get in before they cut a new release, or they might have testing to do etc. etc.

On the other hand, now might be a great time for a release. That's what I'm hoping :)

[2020-01-13 21:31] julioxavierr commented on #555
Not stale, still an issue

[2020-01-13 22:33] tolik85 commented on #485
I have a similar problem in WhatsApp. Sharing only url image works, but sharing message with url doesn't (only message got shared). This happens only on iOS.

Are you familiar with this issue?

[2020-01-13 22:35] tolik85 commented on #537
I have the same issue on iOS WhatsApp. Any solution to this?

[2020-01-13 22:42] tolik85 commented on #555
Still an issue. Cannot share image and text on WhatsApp iOS.

[2020-01-14 21:07] beardwin commented on #656
looking at #556 it sounds like IG stories were rolled back, but there is some energy to bring it back.

[2020-01-14 21:11] beardwin commented on #656
Looks like there's an open PR for this: #600 

[2020-01-15 00:23] desis123 opened #672 "singleShare Messenger, SMS , SnapChat not working,"
singleShare f Messenger, SMS , SnapChat  on Android not working thowing the following error message.

Error => {"error": "key 'social' missing in options"}

[2020-01-15 04:11] PradoGuilherme opened #673 "File stay saved after share"
Hello everbody, I'm with a problem with this package, I don't know if I left pass something but I need help to fix this on my app.
On my app, after share the picture, the image is still saved in my phone. I use RNFS.unlink passing the filePath, but nothing fix that, the image still apears on my cam roll.
By the way, I use the image in base64, the full method code is on this [**GIST**](https://gist

[2020-01-15 17:19] MateusAndrade commented on #656
@beardwin  we are looking for some help to test this on IOS using the Release build. Could you help us with that? 😄

[2020-01-15 19:27] beardwin commented on #656
@MateusAndrade was ahead of you on that. ;) check the PR, I posted a comment. We can move any discussion there.

Cheers!

[2020-01-15 20:16] MateusAndrade commented on #656
For anyone looking for this feature, we just merge #600 at `master`. Please, let us know if anyone found any breaking change at this process.

[2020-01-15 20:16] #656 closed

[2020-01-16 14:00] Sach-SPF opened #676 "App Icon is missing"
### Steps to reproduce
1. iOS 13
2. Add "message" property to the options
3. App icon is missing

### Expected behaviour
App Icon should appear

### Actual behaviour
App Icon is missing

### Environment
- **React Native version**: 59.9

The app icon seems to be hidden or remove or missing when I used "Message" property else its appear

ActionSheet without Message
<img width="260" alt="Screen Shot

[2020-01-16 14:09] RavindraV07 commented on #676
Iam facing same issue in iOS V13.3

[2020-01-17 18:41] rishabhsaxena opened #677 "Key android.intent.extra.STREAM expected ArrayList but value was a android.net.Uri$HierarchicalUri"
## Ask your Question
Unable to share a local image file to whatsapp on android. Has anyone come across a similar error?
react-native: 0.59.x
react-native-share: 1.2.1

Key android.intent.extra.STREAM expected ArrayList but value was a android.net.Uri$HierarchicalUri.  The default value <null> was returned.
01-17 23:49:41.223 19798 19798 W Bundle  : Attempt to cast generated internal exception:
01-

[2020-01-17 19:59] #677 closed

[2020-01-18 14:42] #625 closed

[2020-01-18 15:23] MateusAndrade commented on #485
@tolik85 I was haveing this problem. Unfortunately it look's related to a specific way on how WhatsApp handle that content. I solved that, removing the message when i was sharing a image to whatsapp. 😢

[2020-01-18 15:27] tolik85 commented on #485
@MateusAndrade So basically no way to share both image and text on WhatsApp iOS? Weird it does work on Android

[2020-01-18 15:37] MateusAndrade commented on #485
Until now yep, i don't found a way to pass that. Needed to set a `Platform.OS === "os"`, but maybe there is some update on the last version WhatsApp, etc. Btw, you can give a try with our master version.

[2020-01-18 16:15] PradoGuilherme opened #678 "File stay saved after share image"
Hello everbody, I'm with a problem with this package, I don't know if I left pass something but I need help to fix this on my app.
On my app, after share the picture, the image is still saved in my phone. I use RNFS.unlink passing the filePath, but nothing fix that, the image still apears on my cam roll.
By the way, I use the image in base64, the full method code is on this [**GIST**](https://gist

[2020-01-18 19:42] #623 closed

[2020-01-18 19:42] #592 closed

[2020-01-18 19:42] #628 closed

[2020-01-18 21:48] tolik85 commented on #485
OK, thanks for the answer.

[2020-01-19 02:25] MateusAndrade commented on #678
Hi @PradoGuilherme, this can be relate to `RNFetchBlob.config({ fileCache: true })` set at your RNFS config? This packages just share the content passed using the options. Like a image located at your cache, cam roll, etc.

[2020-01-19 06:46] craftmusic opened #679 "Support for iOS dark mode?"
Hi, can you provide forced dark mode in iOS?

Also, I think the App Store may require that there is support for both light and dark modes; currently if I set my iPhone to dark mode, the share sheet in the app stays light.

[2020-01-19 15:57] EnclaveAnthony commented on #555
Still an issue. Sharesingle not work

[2020-01-20 01:48] friederbluemle commented on #636
Stop it @probot 😟 This issue will be closed once it's resolved, not when it's "stale" 👎

[2020-01-20 02:30] friederbluemle commented on #665
A new version has been released 🎉 Thanks @MateusAndrade
Can we close this issue?

[2020-01-20 08:36] #665 closed

[2020-01-20 09:26] MateusAndrade commented on #665
For anyone looking for the changelog, please give a look here: https://github.com/react-native-community/react-native-share/releases/tag/v.3.0.0

[2020-01-20 17:33] #631 closed

[2020-01-20 19:02] LuizFBrisighello commented on #628
@efecantekin Did you figured it out?

[2020-01-20 20:21] LuizFBrisighello commented on #670
Maybe thats fixed on `3.0.0`. It worked fine for me with `react-native` `0.60.5`

[code]

[2020-01-20 20:36] LuizFBrisighello commented on #648
Sharing as a base64 is still an issue, even on `3.0.0`. No message with file and no filename.

[2020-01-20 22:45] tailorem commented on #659
In addition to 'Save to Files', I have also seen this issue with 'Create Watch Face'. Although my app doesn't crash in release mode, this issue does seem to prevent the Share dialog from opening again.

Have not tried the workaround yet.

[2020-01-21 04:26] chrisparton1991 commented on #665
Thanks @MateusAndrade. I would have thought that my $10 would be released to you via IssueHunt once the issue was closed, but I can't see an option anywhere on how to reward the bounty without a pull request :(

[2020-01-21 08:17] Sanan4li commented on #418
I am having the same issue. When I tries to share base64 image to any social app it does not share the actual image but shares a unsupported image like "24232212456755.null". My base64 string is actually a real image I have tested it by converting base64 string to an image online.

[2020-01-21 08:30] Sanan4li commented on #418
I solved it by correcting the format " url: "data:image/jpeg;base64,"+uri,  "
I have been using jpg instead of jpeg as it was said "extension name" in docs.

[2020-01-21 12:36] MateusAndrade commented on #665
HAHAHAH Dont worry, this would be nice if you can contribute to other OSS package at the react-native-community. 😄

[2020-01-21 13:00] LuizFBrisighello commented on #662
For me on `rn 0.60.5` and `react-native-share 3.0.0` filename does not work when sharing a base64 pdf file, didnt tryied with other file types yet. heres my code:

[code]

[2020-01-21 13:04] EstebanFuentealba commented on #665
I do not receive either.
haha Greetings!

[2020-01-21 17:08] SleepyWolfy opened #682 "null is not an object (RNShare.FACEBOOK)"
## Ask your Question

Most issues similar to this suggest manually linking.

I did link with cocoapods, but (since im new) im uncertain if I should manually link after linking with cocoapods. Im afraid it might cause some problems. Mainly because the linking binaries section of the project includes a single libpod (which makes me assume the linking is all integrated through pods). So Im afraid man

[2020-01-23 08:48] resting opened #684 "Unable to run example"
Have done the followings in the example folder,

[code]

I get the following errors:

[code]

[2020-01-23 12:45] RadoAz commented on #414
Hi! Any updates here? We have react-native-share 3.0.0 and bug is still here.

[2020-01-23 12:45] MateusAndrade commented on #414
Hi @RadoAz ? Which payload are you passing to Share?

[2020-01-23 13:03] RadoAz commented on #414
On iOS. PDF file
const options = {
            message: 'message.',
            type: type,
            url: filePath
          };

[2020-01-23 16:48] friederbluemle commented on #684
Hi @resting - Please note the instructions in README.md of this project.
The example is using react-native 0.61.5 - which requires one additional step for iOS.

Before you try to run the app, do this:

    pushd ios && pod install && popd

[CocoaPods](https://cocoapods.org/) needs to be installed on your system. It will download required dependencies.

[2020-01-23 17:28] felire opened #685 "My app close when I press the screen in the moment between Pressing the button that execute Share.open and the native modal appears (ONLY ANDROID))"
### Steps to reproduce
1. Write a button that execute Share.open in the onPress event
2. Run the app
3. Press the button faster and many times

### Expected behaviour
The modal should appear

### Actual behaviour
The app is being closed without errors

### Environment
- **React Native version**:  0.61.5
- **React Native platform + platform version**: All android devices

### react-native-share
**V

[2020-01-23 17:36] felire commented on #685
It's still happening at version 3.0.0

[2020-01-23 21:50] bartzy commented on #603
This issue should be reopened since it's still active.
Sharing directly to WhatsApp on iOS is impossible at the moment.

[2020-01-24 01:59] #635 closed

[2020-01-24 07:10] IsmetGlumcevic commented on #593
No, i don't find solution for share locale image on android. We can take online image and share it.

[2020-01-24 07:10] #593 closed

[2020-01-24 10:22] achillev92 opened #686 ""excludedActivityTypes" don't work for Messenger App using Share.open"
`const options = {`
`title: "title",`
`message: "some message",`
`url: "some url",`
`excludedActivityTypes:`
`["com.facebook.Messenger.ShareExtension",` <-- this DON'T work
`"com.apple.UIKit.activity.Message",` <-- this work
`"com.apple.UIKit.activity.CopyToPasteboard",` <-- this work
`"com.apple.UIKit.activity.SaveToCameraRoll"]` <-- this work
`};`
`Share.open(options);`

I use React-native v 0.5

[2020-01-24 12:28] ansalspurtree commented on #676
I am also facing the same issue. any fix?

[2020-01-25 01:20] reynaldpn opened #687 "My android release app crash, is it possible to work without changing file path provider?"
### Steps to reproduce
- Implement react-native-share without changing the file path provider -> crash on release build

- Implement react-native-share and changing the file path provider -> it works for sharing but making capture from camera with [react-native-image-picker](https://github.com/react-native-community/react-native-image-picker) not work

### Expected behaviour
Release build should n

[2020-01-25 06:36] #687 closed

[2020-01-25 10:00] anastely commented on #685
Same here 😕

[2020-01-25 10:08] Maxoos opened #688 "Gif Animations are not bing copied"
### Steps to reproduce
1. Run this code on IOS device:

[code]

2. When the share dialog opens, click "Copy"
3. Open notes or any other app such as instagram story in create view and paste.

### Expected behaviour
The image should be animated

### Actual behaviour
Only the first frame is shown.

I have validated that the above Base64 image indeed decodes to a animated gif image.

### Environment
-

[2020-01-27 00:57] #519 closed

[2020-01-27 00:57] #662 closed

[2020-01-27 18:43] felire commented on #658
But why is it working for ios and not for android? Anyone know why?

[2020-01-28 04:34] resting commented on #684
@friederbluemle thanks for the info! Ran the command and tried with react-native v0.61.5 but am still getting the same errors.

Here's what I ran:
[code]

I should be running this in the `example` folder? Cause I notice the path isn't right.

`/react-native-share/example/ios/Pods/Pods/Target Support Files/`,
**Pods/Pods** why are there 2 of `Pods/`?

[2020-01-29 10:19] achillev92 opened #695 "ExcludedActivityTypes should be a string[] type to allow to exclude more Activity Type"
### Steps to reproduce

const options = {
			title: "title",
			message: "message",
			url: "url"
			excludedActivityTypes: [
"com.apple.UIKit.activity.Message",
	"com.apple.UIKit.activity.CopyToPasteboard",
	"com.apple.UIKit.activity.Print"
]
};

To fix need to modify type Options and MultipleOptions.
excludedActivityTypes?: string;  should be excludedActivityTypes?: string[];

### Expected behav

[2020-01-29 11:10] waqaramjad opened #696 "support for expo"
i am building expo react native apps , does that library support  react native expo ?

[2020-01-29 14:28] felire commented on #672
Same issue here

[2020-01-29 14:35] felire commented on #672
If you write 'messenger' instad of using Share.Social.MESSENGER will work. I don't know why MESSENGER is not defined in constants of this library

[2020-01-29 14:59] Raademar opened #697 "Did the support for Snapchat on Android get removed in version 3.0.0?"
As the title says. I installed the latest version of the package and the snapchat feature seems to be removed. Downgraded to 2.0.0 and everything seems to work as it should. Is this intended or a mistake?

[2020-01-29 15:23] mikehardy commented on #696
Nope. Stick to the Expo documentation, they will tell you what they can do or cannot do. In general a "raw" (from the community) native package is not going to work.

[2020-01-29 15:23] #696 closed

[2020-01-29 19:04] #682 closed

[2020-01-29 19:04] SleepyWolfy commented on #682
Didnt install properly.

[2020-01-30 10:16] flo5324 opened #698 "null is not an object (RNShare.FACEBOOK) (Android)"
I saw this error a few times through the issues but none of the solutions helped me.
I installed the library automatically, no manual linking.
iOS is working fine but Android crashes at startup with the infamous error :
![image](https://user-images.githubusercontent.com/14941833/73440004-dd737f00-4350-11ea-8faf-388f368780e5.png)

As soon as I call `Share.open()` in my code, the app crashes after r

[2020-01-30 10:20] flo5324 commented on #698
Alright, so I didn't thought this could be the problem but on Android you **have to** then/catch the promise returned but on iOS it's no problem.
Closing the issue.

[2020-01-30 14:27] flo5324 commented on #698
Simple snack example: https://snack.expo.io/ry09DvxGU

[2020-02-02 06:18] #627 closed

[2020-02-02 22:18] #639 closed

[2020-02-02 23:18] #642 closed

[2020-02-03 07:23] hiteshagja commented on #660
It's not working in android as well. All other sharing options working fine except whatsapp. RN = 0.61

[2020-02-03 07:28] EnclaveAnthony commented on #660
I check the native code on iOS. It uses UIDocumentInteractionController to share. But when I checked, I saw UIDocumentInteractionController will open all of the apps which can share my content. So I think share single media via Whatsapp is impossible now.

[2020-02-03 07:34] hiteshagja commented on #660
Ohh ok and thanks for your reply.

any other workaround you suggest?

[2020-02-03 07:46] EnclaveAnthony commented on #660
You can you the open(options) method.

[2020-02-03 08:18] #660 closed

[2020-02-04 09:17] msaqlain commented on #555
Why stale? I am still having same issue. Cannot share image and text on WhatsApp IOS.

[2020-02-04 09:27] msaqlain commented on #280
Facing same issue any update?

[2020-02-04 09:33] EnclaveAnthony commented on #280
It is impossible. Just share only message or image. Not both.

[2020-02-04 09:38] msaqlain commented on #280
@EnclaveAnthony Is there any way we can send two messages in one share. One for image and next for message.

[2020-02-04 10:21] tktdw commented on #280
from this latest [release note for Whatsapp](https://faq.whatsapp.com/en/iphone/23559013). Enclave is right

[2020-02-04 11:54] MateusAndrade commented on #555
You can check if: https://github.com/react-native-community/react-native-share/issues/555#issuecomment-545676130 works for you?

[2020-02-04 11:56] #555 closed

[2020-02-04 12:08] tolik85 commented on #555
The comment works, but it's for sharing text only. The issue is when trying to share text WITH image together.

[2020-02-04 15:03] XunlaY commented on #667
Had the same issue when upgrading react-native and adding Pods to our project.
Seems that we missed the React-Core pod, where that referenced ViewController came from:
`pod 'React-Core', :path => '../node_modules/react-native/'`

Adding this to our Podfile (and all other missing frameworks) solved it for us:
http://facebook.github.io/react-native/docs/integration-with-existing-apps#configuring-coc

[2020-02-04 23:56] #616 closed

[2020-02-05 09:24] bhaskarj61 opened #702 "Unable to change file name while sharing pdf in base 64(Android)."
## Ask your Question
 I am sharing file by converting it to base64 string but I am unable to change filename in android.

  shareProfile = async(data) => {
    Share.open({url: `data:application/pdf;base64, ${data}`, filename: 'test'})
  }
Still some random name like timestamp is generated.

[2020-02-06 10:34] achillev92 commented on #695
I solved by "Share.open(option as any)"

[2020-02-06 10:34] #695 closed

[2020-02-06 13:05] muhammadzaheer123 commented on #702
same issue here

[2020-02-07 03:42] pondokit opened #703 "characters are limited to 3700 when sharing to whatsapp"
### Steps to reproduce
1. try sharing a message that exceeds 3700 characters to whatsapp

### Expected behaviour
message successfully shared with complete characters, nothing is truncated

### Actual behaviour
The message was successfully shared but with truncated characters

### Environment
- **React Native version**: 0.61.5
- **React Native platform + platform version**: Android 8.1
- **Whatsapp

[2020-02-07 14:53] jgcmarins commented on #647
Got it.
We've made a release, could you try the new version?

[2020-02-07 15:04] jgcmarins commented on #652
Currently we do not support that
My suggestion is to fork and try to implement this new field
Or ask for an alternative solution on Stack Overflow
Thanks.

[2020-02-07 15:04] #652 closed

[2020-02-07 16:57] jgcmarins commented on #653
Hi, I am afraid I couldn't understand what you mean.
Sorry.

[2020-02-10 06:20] imdadhussain004 commented on #526
I added
`<uses-permission tools:node="remove" android:name="android.permission.WRITE_EXTERNAL_STORAGE" />`
In manifestFile.
After removing it, share is working fine for me.

[2020-02-10 15:38] lfalkner commented on #698
I am seeing the same

[2020-02-11 08:20] jfr3000 commented on #419
Hi, has there been any progress on this?

[2020-02-11 13:20] MateusAndrade commented on #419
Have you tried the latest version ?

[2020-02-11 16:50] D3vlin commented on #492
[Here I found a solution that has helped me](https://github.com/react-native-community/lottie-react-native/issues/504)

[2020-02-11 16:50] D3vlin commented on #493
[Here I found a solution that has helped me](https://github.com/react-native-community/lottie-react-native/issues/504)

[2020-02-12 15:36] 2ez4salt opened #706 ".xls cannot sharing in iOS"
### Steps to reproduce
1. In my case .xls file downloading and decoding base64, then i wanna share this '.xls' file
 .xls sharing not working on iOS but in android works well.In iOS file cannot take extension '.xls' that's extension is '.data' then cannot share file.

### Expected behaviour
.xls file downloaded and decoded base64 must be shared.

### Actual behaviour
 .xls sharing not working on i

[2020-02-12 19:25] alejandrovasta opened #707 "Background video and background video with sticker image"
## Describe the Feature
Would be great to implement backgroundVideo and backgroundVideoAndStickerImage ;)

## Possible Implementations
Pretty similar to backgroundImage and backgroundImageAndStickerImage, it's just NSData. I basically used it copying and pasting the code and worked on my project.

[2020-02-14 03:45] vandiepbui opened #708 "How to hide recent using apps in share apps popup?"
## How to hide recent using apps in share apps popup?

I wanna hide recent using apps when shareSingle. Just show list apps for choosing. how can I do it?

[2020-02-14 08:17] jfr3000 commented on #419
Not yet, because this was marked as stale and closed without reference to a fix. I guess I'll give it a try?

[2020-02-14 11:09] Adarwall opened #709 "URL on Android is not a link."
Hi, I want to share a deep-link to my app with a message.
The massage is there and the URL, but the URL is appearing as a String of array with the link in it.
IOS works fine for me.

**My Code:**

[code]
**The message on Android:**
...message body...
["partyz://party/...]   **//as a String, not cliackable link**

**I'm using:**

- react: 16.9.0
- react-native: 0.61.5
- react-native-share: ^3.0.0

[2020-02-14 11:17] erdenayozkanl commented on #587
I have solved this problem. Open RNshare.m which located in node_modules/react-native-share,
After that comment out like this.

**_UIViewController *controller = RCTPresentedViewController();
    shareController.completionWithItemsHandler = ^(NSString *activityType, BOOL completed, __unused NSArray *returnedItems, NSError *activityError) {
        if (activityError) {
            //failureCallback

[2020-02-14 14:31] felire opened #710 "Share url in android. It is being shared between [ and " in version 3.0.0"
### Steps to reproduce
1. Install version 3.0.0 of `react-native-share`
2. Share an url using Share.open (for example 'hola')
3. enjoy the bug

### Expected behaviour
The link has to be `hola`

### Actual behaviour
The link is `["hola"]``

If I downgrade the version to the 2.0.0 it works fine

[2020-02-15 04:59] #640 closed

[2020-02-15 04:59] #643 closed

[2020-02-15 06:06] desis123 commented on #672
That means I have to write lowercase .. like this Share.Social.messenger  or just messenger?

[2020-02-15 10:08] hzw1199 commented on #436
我这边分享xslx文件到微信，看到的错误是：分享失败 多文件分享仅支持照片格式。你解决这个问题了吗？ @jameshuimin

[2020-02-16 00:37] ian commented on #698
Seeing same

[2020-02-17 13:27] doomsower opened #711 "Issue with Backward compatibility code"
`index.js` contains the following code:

[code]

which means that in `ShareIntent.java` in following code
[code]
else statement never gets executed (because `urls` is always set). Which in turn leads to action always being set to `ACTION_SEND_MULTIPLE` and not `ACTION_SEND`.

Documentation is unclear on differences between `url` and `urls` and says nothing about `Backward compatibility with { Shar

[2020-02-18 15:11] IgnacioAbadie commented on #709
I had the same issue. I resolved it by downgroading the version to the ^2.0.0

[2020-02-18 18:39] CDAracena commented on #702
Same, would appreciate a fix for this

[2020-02-19 16:05] dhruvramdev commented on #603
I am also facing the issue.

 "react-native-share": "^3.0.0",
"react-native": "0.61.5"

Unable to share both a message and image together. Works on Android though.

[2020-02-19 20:54] Watersdr commented on #710
Downgrading to 2.0.0 worked for me as well

[2020-02-19 21:20] piljac1 commented on #709
Same here ! Link formatting is fine on iOS, but is enclosed with brackets on Android.

Example:

`https://www.google.com/` -> `[https://www.google.com/]`

[2020-02-20 14:35] bataevvlad commented on #676
Facing same issue

[2020-02-20 16:29] IgnacioAbadie commented on #709
My first solution was downgroading to 2.0.0 but I had some problems in ios, this has to be fixed faster in the 3.0.0

[2020-02-21 03:21] #672 closed

[2020-02-21 03:31] desis123 commented on #70
@kalraneeraj24550 use single share  Like social:  Share.Social.FACEBOOK  ,Share.Social.MESSENGER  , and Share.Social.WHATSAPP  .. for android and for ios Share.Social.MESSENGER   would not work. it's in documentation .

[2020-02-21 06:02] codervss opened #712 "Instagram Stories for Android"
Does the latest version 3.0.0 support Instagram Stories feature for Android?
And for ios, how do i share a video in instagram stories and also the attributionURL?

{
method: Share.InstagramStories.SHARE_BACKGROUND_IMAGE,
backgroundBottomColor: '#fefefe',
backgroundTopColor: '#906df4',
attributionURL : '',
backgroudImage : '',
social: Share.Social.INSTAGRAM_STORIES
}

The above code works fine for

[2020-02-22 03:49] #310 closed

[2020-02-25 00:15] bobber205 commented on #710
I am seeing this funny error as well -- haven't had any issues with subbing the link into the end of the text message (so far)

[2020-02-25 14:00] latusdenis commented on #702
@bhaskarj61 @muhammadzaheer123 @CDAracena Please try installing the library from the specific commit from the master branch:
`"react-native-share": "git+https://github.com/react-native-community/react-native-share.git#c29c10d"`

It works for me.

[2020-02-26 04:02] frankyjuang commented on #702
@latusdenis installing from c29c10d works, thanks. But how come it's not working from latest version

[2020-02-26 09:58] ldaubie opened #714 "Share video to messenger (Android)"
Hi everyone,

Currently i try to share videos to messenger with react-native-share.
At this point, it's working for IOS and i can share photos to messenger from Android.
I don't understand why but when i try to share videos from Android, messenger is not propose to the list of application, somebody could help me ?

For the time, i tried to send the full path off the video and convert it in base64

[2020-02-26 14:21] tadeumx1 commented on #712
Hi, I think that the Instagram Stories is not implemented in Android, so it only works on IOS

[2020-02-26 15:46] perpetuatingcuriosity opened #715 "SMS/iMessage support on iOS"
## Describe the Feature
Add the ability to share text and images to the iOS Messages app/iMessage. It looks like Android SMS is supported, is it possible to do the same for iOS?

## Possible Implementations
From apple docs [SMS links](https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/SMSLinks/SMSLinks.html) are possible for sharing text.

~~I don’t see further

[2020-02-26 15:46] perpetuatingcuriosity commented on #715
Has anyone been able to confirm it is possible to implement iMessage image sharing?

[2020-02-26 16:16] perpetuatingcuriosity opened #716 "Why doesn’t the library support SMS/iMessage sharing on iOS?"
Curious why this isn’t already supported? Where there problems implementing it, or was it a lack of time, or something else?

Have filed a feature request: https://github.com/react-native-community/react-native-share/issues/715.

[2020-02-26 17:46] perrosnk commented on #698
I am getting the same error on iOS too

[2020-02-26 18:16] bobber205 commented on #711
Also `urls` is always an an array and calling toString() leads to https://github.com/react-native-community/react-native-share/issues/710

[2020-02-26 21:44] perrosnk commented on #698
I cleaned the project by running
`
watchman watch-del-all && rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/npm-* && rm -rf $TMPDIR/haste-* && rm -rf $TMPDIR/metro-* && rm -rf node_modules && npm install && rm -rf ios/Pods && cd ios && pod cache clean --all && pod repo update && pod install && cd .. &&  ./android/gradlew clean -p ./android/ && rm -rf ios/build &&  rm -rf ~/Library/Developer/Xcode/Derive

[2020-02-26 23:51] MateusAndrade commented on #698
Hey @flo5324, @perrosnk  sorry for the late answer. Are you guys trying to run that on a project without expo?

[2020-02-26 23:53] flo5324 commented on #698
Yes I was
I had to add expo on my project but didn't give it a try since
I'll try tomorrow and see how it goes

[2020-02-26 23:55] MateusAndrade commented on #698
I don't remember to use this library on a project using expo. But if this doesn't work for you, maybe the `Share` from `react-native` can help you?

Let me know if you find anything to help us find that. 😄

[2020-02-26 23:57] MateusAndrade commented on #603
@bartzy could you provide example code, please? Also, @dhruvramdev are you facing the same issue related to sharing an image and message on WhatsApp on IOS?

[2020-02-27 08:36] perrosnk commented on #698
I am not using expo, but it works fine on both sim and devices after cleaning the project

[2020-02-28 09:48] #651 closed

[2020-02-28 09:48] #654 closed

[2020-02-28 14:33] navasiloy commented on #271
You are missing await:
` try { await apicall(); } catch (e) { /* handle */ }`

[2020-02-28 17:06] navasiloy commented on #384
You can use `Linking.canOpenURL('fb://')` to detect if it's installed or not

[2020-02-28 17:34] flo5324 commented on #698
Well now it seems to work, don't know if it's because I added expo

But now I can't share an image
I'm downloading it with FetchBlob and convert it to base64. I can display it but when I share it via the url, the image is not transferred (save to files on iOS seems to work, but not on Android)

[2020-02-28 17:50] ShaileshPrajapati-BTC commented on #603
me to facing same issue in android

[code]
I have used local file path using the `file://` it's not working when sharing the image but working in an image preview same path

[2020-03-02 19:02] LuizFBrisighello opened #718 "Fail to share file directly on Android"
My application just closes after calling this function.
No errors gets logged.

[code]

`react-native`: 0.60.5
`react-native-share`: 3.0.0

[2020-03-02 19:36] #710 closed

[2020-03-02 19:41] MateusAndrade commented on #718
Hey @LuizFBrisighello , would you mind sharing a your log after this error? 😄

[2020-03-03 09:49] #645 closed

[2020-03-05 12:16] rrraymonde commented on #702
I'm still having the issue with my .txt file, even when I'm using revision c29c10d.

[2020-03-05 14:23] lironsher commented on #709
any workaround? without downgrade

[2020-03-05 14:53] rrraymonde commented on #611
This issue has not been fixed, I still have the same problem as described in the first message.

[2020-03-05 16:50] obellce commented on #709
The urls array (single url is also turned into an array) is getting directly converted to a string rather than being concatenated.

If you use **[patch-package](https://www.npmjs.com/package/patch-package)**, you can use the following patch to fix the issue. If multiple urls are supplied, they get concatenated with spaces:

**react-native-share+3.0.0.patch**
[code]

[2020-03-06 13:56] MateusAndrade commented on #709
Recently we merged #717 . Anyone now if this helps with that problem?

[2020-03-06 21:24] cmeiller commented on #107
Hi @jgcmarins, how to use the current language mobile to replace the default share texts (like Copy, Cancel, Add to Reading List...)?

[2020-03-06 21:34] bperlman commented on #709
Yes this appears to fix it.

[2020-03-07 20:10] nataly-chobat commented on #712
seems yes...
team, thank you for your hard work on improving this package..when do you plan to add support for instagram stories on Android?

[2020-03-08 22:10] MateusAndrade commented on #709
@Adarwall you can check our master version, to see if that works for you?

[2020-03-09 09:46] #661 closed

[2020-03-10 09:44] Adarwall commented on #709
@MateusAndrade Yes, it works! thank you :)

[2020-03-10 09:44] #709 closed

[2020-03-11 12:51] steppefox commented on #710
@MateusAndrade could you please make a `patch` (3.0.1) release with fix for that issue?

[2020-03-11 13:18] felire commented on #710
I've fixed the error and upload a package called: `feli-react-native-share` . I will upload the pr when i have time.

[2020-03-11 15:39] defranke commented on #718
I have the same issue. It works in an emulator, but on a Pixel 3 it crashes with the following exception:
`
2020-03-11 16:31:49.565 25833-25833/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: android:ui, PID: 25833
    java.lang.NullPointerException: url
        at com.android.internal.util.Preconditions.checkNotNull(Preconditions.java:133)
        at android.content.ContentResolver.getType

[2020-03-11 17:14] MateusAndrade commented on #710
@steppefox sure! I have been on a crazy week, but i'm planning to release a `3.1.0` version of this. Also, for anyone looking a fix for this issue this have been fixed with #709, and is currently working with the master version.

[2020-03-11 19:58] cmeiller opened #720 "Change language of default share labels buttons"
Hi, I would like to change the language of default share labels buttons (like Copy, Cancel, Add to Reading List...) to French trads. The device is in french but the share labels are still in english. Any solutions?

[2020-03-11 20:03] MateusAndrade commented on #720
Hey @cmeiller , this is a good question. Do you mean "native" labels when calling the `Share` method? As far i remember, there ins't a way to customize that. But, prs are always welcome! 😄

[2020-03-12 15:25] Luckygirlllll opened #721 "Possible Unhandled Promise Rejection (id: 0): TypeError: Cannot read property 'showShareActionSheetWithOptions' of undefined"
### Steps to reproduce
1. const shareOptions = {
            title: 'Share via',
            message: 'some message',
            url: "https://civicchamps.com",
        };
        console.log("new code")
        Share.open(shareOptions)
2. Getting an error in IOS when trying to share:" Possible Unhandled Promise Rejection (id: 0): TypeError: Cannot read property 'showShareActionSheetWithOptions'

[2020-03-13 14:02] chpq95 opened #722 "Cannot share video directly in android"
### Steps to reproduce
1.    const shareOptions = {
      title: 'Share via Wimyx',
      message: 'I recorded this video by using Wimyx',
      url: `file://${filepath}`,
      type: 'video/mp4',
      showAppsToView: true,
    };
    Share.open(shareOptions).then((res) => {
      console.log(res);
    }).catch((err) => { err && console.log(err); });
  };

### Expected behaviour
Can share the vid

[2020-03-13 14:07] MateusAndrade commented on #722
This only happens on Telegram?

[2020-03-13 14:09] shafiqruslan95 commented on #722
On all social media.

[2020-03-13 14:15] #663 closed

[2020-03-15 05:17] #664 closed

[2020-03-15 13:26] #666 closed

[2020-03-15 13:40] shafiqruslan95 commented on #553
Im also having this issue. Does anyone solved it?

[2020-03-15 13:45] chpq95 opened #726 "Some apps is not listed when i want to share the video in android and ios"
## Ask your Question

Can i know why instagram and instagram stories is not listed when i want to share the video in android? this also happen when i want to share the video in ios, there is no twitter is shown. But if i share message only, it listing all the possible apps. How can i show all the listed apps when i want to sharing the video?

[2020-03-16 06:42] chpq95 commented on #722
Okay i solved it, for those who having this issue. you need to call the video from cache directory. if you call it from document directory its not gonna work

[2020-03-16 06:42] #722 closed

[2020-03-16 14:57] #669 closed

[2020-03-16 18:10] m-wasilewski opened #727 "Problem with example with activityItemSources"
Hi, I copied an [example](https://github.com/react-native-community/react-native-share#provide-data-to-share-by-using-activityitemsources-in-ios) with activityItemSources for iOS, but I've got this error message.
It seems like an app completely doesn't see activityItemSources.

![image](https://user-images.githubusercontent.com/28801475/76787253-e90fed80-67b8-11ea-89bf-ca243d291ec9.png)

[code]

D

[2020-03-16 20:12] MateusAndrade commented on #727
Hey @m-wasilewski , thanks for sharing this. Would you mind sharing a repo with your example? Also, this is currently available only on our `master` version. Wich version are you trying?

[2020-03-16 22:48] MateusAndrade commented on #721
Are you using the [v1.2.1](https://github.com/react-native-community/react-native-share/tree/v1.2.1)? We got a lot of changes since v1.2.1, that can fix that.

You can give a look at the complete changelog here: https://github.com/react-native-community/react-native-share/compare/v1.2.1...v3.0.0.

Also, did you tried updating your app to a newer version of `react-native`? On this case, this can ha

[2020-03-17 07:47] m-wasilewski commented on #727
You have right, I used an earlier version from npm.
I'm accustomed to situation when npm has the latest version of repo 😅
Sorry for that 😓

Could you provide an another example with activityItemSources? Because I can't display any options for sharing...

For example for that code I see that results:
[code]

![image](https://user-images.githubusercontent.com/28801475/76833457-a9ceb480-682b-11ea-808

[2020-03-17 09:15] #727 closed

[2020-03-17 09:55] klaaz0r commented on #727
I am having the exact same issue but I am on `3.0.0` ?

[2020-03-17 11:06] MateusAndrade commented on #727
I'm planning to release https://github.com/react-native-community/react-native-share/releases/tag/v3.1.0 this week. Feedback's about stability, etc would help a lot. :)

[2020-03-17 14:11] Nextt1 opened #729 "I have updated the info.plist file but apps are not reflecting when I'm trying to share"
This is what my `info.plist` file looks like.

`<key>LSApplicationQueriesSchemes</key>`
`<array>`
`   <string>facebook</string>`
`   <string>whatsapp</string>`
`   <string>twitter</string>`
`   <string>googleplus</string>`
`   <string>instagram</string>`
`   <string>instagram-stories</string>`
`   <string>email</string>`
`</array>`

But when I'm calling the following code

`
Share.open({message: "

[2020-03-17 14:15] MateusAndrade commented on #729
@Nextt1 which version are you using?

[2020-03-17 14:17] Nextt1 commented on #729
@MateusAndrade  I'm using `react-native` version `0.61.5` and `react-native-share` version is `3.0.0`

[2020-03-17 14:29] MateusAndrade commented on #729
What happens when you try calling `Share` without setting this QuerySchemes? Also, you can give a try at the example app?

[2020-03-17 17:16] Nextt1 commented on #729
Even if I remove `QuerySchemes` nothing changes. The example app is behaving in the same manner. Not seeing anything.

[2020-03-17 17:24] MateusAndrade commented on #729
Which iOS version are you using?

[2020-03-17 20:27] imaginasean opened #730 "Share sheet closes in 3.1 but Native error in debug console"
### Steps to reproduce
1. New Version 3.1.0
2. Execute a share successfully (click Save to Files, for example)
3. Share sheet now closes (3.1.0 fix addressed this), but large Native error dump in xcode console

### Expected behaviour
No error is produced, and without the then/catch it produces yellow warning boxes.

### Actual behaviour
in xcode console window:
{ error:
   { code: 'ENSPOSIXERRORDO

[2020-03-17 20:36] imaginasean commented on #730
Found the issue, it was mine with a non-existent file path reference.  Closing as working as expected.

[2020-03-17 20:36] #730 closed

[2020-03-18 08:11] chpq95 commented on #729
can i know why instagram and twitter is not listed when i click share. am i missing something @MateusAndrade

[2020-03-18 11:40] MateusAndrade commented on #729
Which version you are using from share and android?

[2020-03-18 14:08] Nextt1 commented on #729
My rn-share version is 3.0.0 and OS version is 13.3. When I tested on iPhone 6 which has 12.4.5 OS, It didn't show any app in which I can share something.

[2020-03-18 14:30] chpq95 commented on #729
Im using the latest share 3.1.1 and my android is 8.0.

[2020-03-18 16:55] CDAracena commented on #702
Has commit [c29c10d](https://github.com/react-native-community/react-native-share/commit/c29c10df5fd64d76931784c8ccb2e84606af8bc9) been merged into master yet ? Seems like it has ?

[2020-03-18 16:56] MateusAndrade commented on #702
I think this was merged on 3.1.0.

[2020-03-19 05:06] chpq95 commented on #714
Hi @ldaubie. have you solve this? i also have the same issue

[2020-03-19 09:44] ldaubie commented on #714
Hello, i didn't find how do it with this module, i use 'expo-sharing' instead

[2020-03-19 09:58] chpq95 commented on #729
btw this is my filepaths.xml
[code]

and this is my path /data/user/0/com.wimyx/cache/wimyx/videos/VID_1584601137552_enhanced.mp4

[2020-03-19 12:01] MateusAndrade commented on #714
Hi, i gave a quick look at `expo-sharing`, and it seems that the `Share` function exposed is focused on sharing files only:

https://github.com/expo/expo/blob/132117e5cfd1f259f776b8fa5bd93e723aa58183/packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.java#L61

https://docs.expo.io/versions/latest/sdk/sharing/

I never used expo, but it looks like that it's possible to u

[2020-03-19 12:10] MateusAndrade commented on #729
Did you tested this, trying to share a image, or event a simpler text instead of a video?  My personal phone is a Android `8.0.0`. I will try to  give a look at this testing your case. 🤔

[2020-03-19 12:27] chpq95 commented on #729
if i share a simpler text all the apps like twitter and instagram is listed. i just solved this by dowgrade rn-share to 2.0.0 and now twitter and instagram is listed when i want to share the video 😅

[2020-03-19 12:32] MateusAndrade commented on #729
This is really strange,  maybe this can be related to some change between: https://github.com/react-native-community/react-native-share/compare/v2.0.0...v3.1.1.

Btw, i will try this on my phone and will talk with if i found anything. 😅

[2020-03-19 12:37] ldaubie commented on #714
Hi, don't worry it's working with expo-sharing, you juste have to send your video in base64
Yes you can use expo library outside expo project !

[2020-03-19 13:55] sergchernata commented on #718
Same issue here - crash without any errors logged. Seems to be happening specifically when using `file://` in the url.

[2020-03-19 14:12] MateusAndrade commented on #718
Strang, would you mind testing our last version? Also, did you asked for access to the internal storage permission?

[2020-03-19 14:28] sergchernata commented on #718
I'm on `3.1.1`, using `RNFS.DocumentDirectoryPath` and have the following permissions:

[code]

[2020-03-19 15:29] sergchernata commented on #718
Using `RNFS.CachesDirectoryPath` works, however, then I also run into the same issue as #475.

In which case, I need to comment out `RNFS.unlink` for the file to be attached to Gmail message.

#475 was closed but seems to still be an issue.

[2020-03-20 00:02] fedu44 opened #736 "'LinkPresentation/LinkPresentation.h' file not found"
### Steps to reproduce
1. Add to package.json "react-native-share": "git+https://git@github.com/react-native-community/react-native-share.git" or "react-native-share": "^3.1.1", or "react-native-share": "^3.1.0"
2. Build project on xCode Version 10.2.1

### Expected behaviour
Application building correctly

### Actual behaviour
Build failed with error 'linkpresentation/linkpresentation.h' file not

[2020-03-20 00:28] MateusAndrade commented on #736
This works with 3.0.0? Also, you are trying to build on `debug` or `release` mode?

[2020-03-20 03:17] chpq95 commented on #729
Hi @MateusAndrade does version 2.0.0 support instagram stories in ios when using Share.open?

[2020-03-20 04:26] chpq95 commented on #726
This is happen when im using version 3.1.1. After i downgrade to version 2.0.0, it works perfectly.

[2020-03-20 04:26] #726 closed

[2020-03-20 10:33] cmeiller commented on #720
@MateusAndrade yes these labels:
![labels-share](https://user-images.githubusercontent.com/412839/77155898-8c555100-6a9e-11ea-9090-b5dee6e28eef.jpg)

[2020-03-20 12:44] MateusAndrade commented on #726
possible related to #729

[2020-03-20 12:47] MateusAndrade commented on #729
As i rember, Instagram Stories was introduced on 2.0.0(remove due to a error on iOS) and reverted back on 3.0.0. @chpq95 can you confirm if 3.0.0 works for you?

Looks like we have a issue #726, that can be related to these changes. I would be glad if you can help me looking at that. 😃

[2020-03-20 12:50] bestspyever opened #737 "Cannot share image in base64 to telegram"
### Steps to reproduce
1.` const url = 'data:image/jpeg;base64,' + base64string;`
2. ```
const options = {
  title: 'React Native',
  url: url,
  subject: 'Share Link', //  for email
};
[code]

[2020-03-20 12:53] MateusAndrade commented on #737
Hi @bestspyever , could you provide more info? What happens when you try calling Share to telegram? Thanks! 😃

[2020-03-20 13:08] chpq95 commented on #729
yup i try 3.0.0 before i try 3.1.1. also not working @MateusAndrade

[2020-03-20 13:17] bestspyever commented on #737
![photo_2020-03-20 15 16 10](https://user-images.githubusercontent.com/11487678/77166971-d6016400-6abd-11ea-89ec-8679dd402a1c.jpeg)
![photo_2020-03-20 15 16 09](https://user-images.githubusercontent.com/11487678/77166983-da2d8180-6abd-11ea-9b78-3475ad2ae01e.jpeg)
![photo_2020-03-20 15 16 07](https://user-images.githubusercontent.com/11487678/77166984-dac61800-6abd-11ea-9a6d-9e9dc67b56d1.jpeg)

[2020-03-20 13:19] bestspyever commented on #737
I tap share, then choose telegram, and then choose dialog and permanent loading

[2020-03-20 13:28] MateusAndrade commented on #737
Did you tried sharing a file or a text instead? To see if this throws this Error?

[2020-03-20 13:51] bestspyever commented on #737
Text was shared succesfully.

[2020-03-20 14:41] fedu44 commented on #736
With 3.0.0 it's working perfect, and I am building on debug mode.

[2020-03-20 14:55] luancurti commented on #736
Same here I'm getting this error on my build in the CI

`/node_modules/react-native-share/ios/RNShareActivityItemSource.m:2:9: 'LinkPresentation/LinkPresentation.h' file not found`

## Environment

React Native version: `0.61.5`
React Native platform + platform version: `iOS 12.1`

## react-native-share

Version: `3.1.0`

[2020-03-20 14:56] luancurti commented on #736
In `debug` I can build ok, my error is only on the `release`

[2020-03-20 15:51] #698 closed

[2020-03-20 16:56] luancurti commented on #736
I'm investigating this case. @MateusAndrade I'll assign myself as responsible for this issue ok?

[2020-03-20 16:58] fedu44 commented on #736
If need more info or want me to try a possible solution I'll be glad to help you guys.

[2020-03-20 16:58] MateusAndrade commented on #736
Sure, thanks! Please let me known if there is anything i can help.

[2020-03-20 17:02] MateusAndrade commented on #736
Maybe this can be related to: https://github.com/react-native-community/react-native-share/commit/ad7cce872a5244986f18e6d3d80338b767befb53. I don't have tested a revert on that, but this is importing it here: https://github.com/react-native-community/react-native-share/blob/ad7cce872a5244986f18e6d3d80338b767befb53/ios/RNShareActivityItemSource.m

[2020-03-20 19:43] luancurti commented on #736
It's the `LinkPresentation` framework is only available on `iOS 13` I'm testing some alternatives to try to fix this

[2020-03-20 19:52] MateusAndrade commented on #736
Maybe we can import that dynamically?

[2020-03-20 22:11] luancurti commented on #736
I tried to do this

`#if __has_include(<LinkPresentation/LinkPresentation.h>)
#import <LinkPresentation/LinkPresentation.h>
#endif`

but `LPLinkMetadata` depends of `LinkPresentation` in compilation this throws an exception `unknow type LPLinkMetadata`

[2020-03-20 22:17] MateusAndrade commented on #736
Strange. 🤔 Maybe we can @miyabi to help us out. Btw, we can still reverting this.

[2020-03-21 02:32] miyabi commented on #736
I will check it during weekend.

[2020-03-21 15:43] chpq95 commented on #376
I have a question, does react-native-share support sharing to youtube in ios? because i cant see youtube is listed when i click sharing. but it listed in android

[2020-03-21 20:43] luancurti commented on #736
The solution is compile the app with `iOS SDK 13` or higher. I've compiled the app and installed in one iPhone with iOS 12.1 and the app works successfully. Thanks for the time @miyabi @MateusAndrade. I will close this issue if any another problem related of this issue is happening feel free to reopen.

[2020-03-21 20:43] #736 closed

[2020-03-21 20:53] acb opened #738 "Can you upload a file to Google Drive, Dropbox, iCloud, etc on iOS?"
I can't get Google Drive or other cloud platforms to show up as options on iOS with this library.  My goal is to just upload a text file to the cloud, which is working quite nicely on Android.

Do I need to do special setup in order to make them available?  I've looked around the example app and haven't seen anything obvious.

[2020-03-22 05:10] #673 closed

[2020-03-22 14:28] MateusAndrade commented on #736
@luancurti thanks for letting us know. I think we need to update our docs regarding this issue. Would you mind helping us with that? :smile:

[2020-03-22 15:59] luancurti commented on #736
Of course! I'll make an pull request updating the readme with this information

[2020-03-23 00:48] olessavluk commented on #629
Hi 👋

I also have this issue, when sharing file using local path - other applications do not receive it.
**Logcat show** `NULL` (`clip={text/plain NULL}`) instead of file:
[code]

I have created reproducible repo - https://github.com/olessavluk/sharebug
1. run it
2. click button "Share text.txt"

@jgcmarins any chance you could take a look?

[2020-03-23 01:07] acb commented on #738
I've figured this out, it lives under the Files option. Not very familiar with iOS!

[2020-03-23 01:07] #738 closed

[2020-03-23 02:04] miyabi commented on #736
Thank you for adding requirements and troubleshooting to readme. If you need to use Xcode 10 or earlier, I can fix it.

[2020-03-23 12:19] luancurti commented on #736
@miyabi feel free to make the PR fixing it!

[2020-03-24 05:17] reallijie opened #740 "How to share only one file per time?"
## How to share only one file per time?
I cannot use react-native-share share file to QQ or wechat, because QQ or wechat only receive one file per time.

when I remove below codes in node_modules\react-native-share\index.js,It works.
  static open(options: Options | MultipleOptions): Promise<OpenReturn> {
    return new Promise((resolve, reject) => {
      requireAndAskPermissions(options)

[2020-03-24 10:42] vforvasile commented on #642
This usually happens on Emulators.

Try running on a real device.

[2020-03-24 16:10] demedos commented on #736
+1, I am stuck on Xcode 10.2.1 and would love to get the latest updates

[2020-03-25 03:12] thomas-coinjar opened #741 "Add ability to add Detox `testID` to the Share view on Android"
## Describe the Feature
If I want to test whether the share dialog is open on Android using Detox, the framework can not find any text (i.e. title)

## Possible Implementations
Add ability to add the Detox `testID` to the options

[code]

## Related Issues
N/A

[2020-03-25 13:53] AdelaPetrut commented on #603
@dhruvramdev are you able to share on Android both image and text? Can you please mention how? I am unable :(

I tried like this:
{
title: "title",
subject: "subject",
url: `data:image/jpeg;base64,${base64}`,
message: "message"
}

[2020-03-25 14:38] MateusAndrade commented on #736
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-share/v/3.1.2)
- [GitHub release](https://github.com/react-native-community/react-native-share/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-25 14:40] miyabi commented on #736
@MateusAndrade Thank you for quick release!

[2020-03-25 15:01] Spyspyspy commented on #737
Any ideas how deal with it?

[2020-03-25 16:01] vforvasile commented on #737
Yesterday I tested on Android and it worked (2.4MB img)

I used only the URL in base64 format, without subject or other params.

[2020-03-25 21:16] frankyjuang commented on #702
confirm fixed in 3.1.1 thanks

[2020-03-26 00:35] MateusAndrade commented on #702
Can we close this @bhaskarj61 ?

[2020-03-26 03:34] #678 closed

[2020-03-26 11:58] engineer2u4u opened #743 "While sharing image it shares BIN file"
## Ask your Question
When I am trying to share an image, it shares a BIN file.
![error1](https://user-images.githubusercontent.com/48150735/77644492-12820380-6f87-11ea-94c8-2b71d8f080c0.jpg)

Code:
![image](https://user-images.githubusercontent.com/48150735/77644571-36dde000-6f87-11ea-8c90-82ef28da4b95.png)

Please Help!!!!

[2020-03-26 12:18] MateusAndrade commented on #743
You tried passing a `mime` to the `open` option with your image type?

https://github.com/react-native-community/react-native-share#openoptions

Also, i can give a try here with your image, just share the base64 or the repo that you are working on that(if this is possible). 😄

[2020-03-26 12:29] engineer2u4u commented on #743
You can try with any base64. None of the base64 value seem to work for me.
I even tried using type:"image/jpeg". Still nothing
--

[2020-03-27 14:47] MateusAndrade commented on #740
Hi @reallijie , your problem is that whenever you try to share a file to QQ/Wechat you are unable because of the following [snippet](https://github.com/react-native-community/react-native-share/blob/master/index.js#L226&L237)?

Would you mind sharing which version are you using? 😃

[2020-03-27 14:49] MateusAndrade commented on #741
Do you mean passing a testing `testID` to the native dialog called from the System?

[2020-03-27 14:53] MateusAndrade commented on #743
I will give a look at the example test to see if i can reproduce that. Btw, i should reopen this issue @engineer2u4u ?

[2020-03-27 21:49] #648 closed

[2020-03-27 23:31] thomas-coinjar commented on #741
Yes, that's correct.

I would like to check (with Detox) whether the dialog is open or not.

[code]

[2020-03-27 23:49] #659 closed

[2020-03-28 07:05] liplylie commented on #611
version `3.1.2` has a fix for this.

[2020-03-28 13:20] #670 closed

[2020-03-28 18:28] nirre7 commented on #629
I've got the same issue with Samsung galaxy s9+, android 10.
Works with a pixel simulator though. Very weird...

[2020-03-28 19:21] shreyakupadhyay commented on #280
I have found a working workaround for this problem. Currently, I also use it in one of my applications. You can directly plug and play the below **onClick** function on a button press.

**RNFS.downloadFile**, downloads the remote image using **URL** and save it to a path.
**RNFS.readFile**, converts the locally saved file data to base64 which is supported directly by Whatsapp and other application

[2020-03-28 22:33] friederbluemle commented on #684
@resting - I just tried this again on the latest `master` branch and was able to successfully run the example on both Android and iOS.

1. Clone repo (if already cloned, update it and make sure it's clean: `git clean -fdX`)
1. `cd example`
1. `yarn`
1. `pushd ios && pod install && popd`
1. `yarn ios` (or `yarn android` for Android)

Please follow these steps and let us know the results.

[2020-03-29 00:12] jacargentina opened #744 "console.error: JSON value '<null>' of type NSNull cannot be converted to NSString"
### Steps to reproduce
Having a JSON file on `listPath` which has this content:
[code]
Running this code:

[code]

### Expected behaviour
Should just work

### Actual behaviour
`console.error: JSON value '<null>' of type NSNull cannot be converted to NSString`

![Simulator Screen Shot - iPhone 11 Pro - 2020-03-28 at 21 07 32](https://user-images.githubusercontent.com/517228/77836860-ae9f3c80-7138-

[2020-03-30 04:47] reallijie commented on #740
step1: npx react-native init testShare
step2: cd testShare
step3: npm install react-native-share
step4: npx react-active run-android

## App.js

import React, {Component} from 'react';
import {Button} from 'react-native';
import Share from 'react-native-share';

export default class App extends Component {
  render() {
    return (
      <Button
        title="test share"
        onPress={() => {

[2020-03-30 04:52] reallijie commented on #740
remove below codes in node_modules\react-native-share\index.js or not.
static open(options: Options | MultipleOptions): Promise {
return new Promise((resolve, reject) => {
requireAndAskPermissions(options)
.then(() => {
// if (options.url && !options.urls) {
// // Backward compatibility with { Share } from react-native
// const url = options.url;
// delete options.url;
//
// options.urls = [url];

[2020-03-30 04:57] reallijie commented on #740
Backward compatibility with { Share } from react-native. transform options.url to options.urls is the reason. wechat/qq dont receive file array.

[2020-03-30 09:22] miyabi commented on #744
@jacargentina It seems that `message: null` in your option causes that error. If you don't want to pass message, you can leave it blank.

[2020-03-30 11:53] jacargentina commented on #744
@miyabi That works! I should note BTW, that worked just fine previously (RN 0.60.5 + react-native-share 3.0.0

[2020-03-30 11:53] #744 closed

[2020-03-30 12:28] MateusAndrade commented on #741
This is really interesting, i don't think on testing this behaviour on any previous scenario. 🤔

When you call the `.open` method on iOS, are you able check if the `Native` dialog appears? What do you think about sharing this implementation? Maybe we can improve this package attending this need. 😄

[2020-03-30 12:42] MateusAndrade commented on #611
@brunojs02 can we close this?

[2020-03-30 12:52] MateusAndrade commented on #740
Do you know any way we can handle these `url` or `urls` to these applications? Maybe sharing the Share scheme from both would help us to find a solution.

Also, you meant that calling the `Share` from `react-native` works for you?

[2020-03-31 03:59] reallijie commented on #740
Share from react-native dose not work in another way.

Provide an option like 'transfromUrlToUrls'/'transformToArray'/'forceToAarry' maybe a solution, user dicide how to use it.

[2020-03-31 10:44] #686 closed

[2020-03-31 14:32] ziahm commented on #277
Is the issue resolved already ?

[2020-03-31 18:34] engineer2u4u commented on #743
Still facing this issue. Please help

[2020-03-31 19:35] MateusAndrade commented on #743
Can you share your repo?

[2020-03-31 21:48] enesozturk commented on #629
I have the same issue. Is there anybody solved the issue? I have text file and trying to share it with path like **file:///data/user/0/com.myapp/files/my_file.txt** but not working in (just) **android**

[2020-04-01 02:51] resting commented on #684
@friederbluemle have tried the above steps and it works. Thanks for helping!

[2020-04-01 02:51] #684 closed

[2020-04-01 09:36] thomas-coinjar commented on #741
In my scenario I have a share button in the top bar that invokes "sharing" of a receipt.

Obviously I want to test whether the button does indeed open the share dialog. This would be the end of the test.

[2020-04-01 11:12] #688 closed

[2020-04-01 11:12] #685 closed

[2020-04-01 15:11] Gazfay commented on #414
Any updates? Still have this issue in 3.1.2.

[2020-04-02 03:32] taduyde commented on #629
I met the same issue on android. we can't share with local file ""/data/user/0/com.lmaalam_admin/cache/Bill197994929333884192053.pdf"", we have to convert it to base 64.

[2020-04-02 13:32] enesozturk commented on #629
Thanks for the idea. I will check and share the result soon.

[2020-04-03 00:42] vemiliogp opened #745 "Can't upload image on Instagram Feed"
Hi,

Can't upload image on Instagram Feed, I tried with Instagram Story and Direct and it worked successfully, but Instagram Feed no.

I receive the following message: **the image cannot be uploaded**.

**React native versión: 0.59.9**
**React native share: 1.2.1**

I try with base64:

[code]

And try with file:

[code]

Please, I need help, very thanks.

**I try adding type or filename and nothin

[2020-04-03 01:19] MateusAndrade commented on #745
Hey @vemiliogp, could you please try our last version? Since [v1.2.1](https://github.com/react-native-community/react-native-share/releases/tag/v1.2.1) we got A LOT of changes.

[Here](https://github.com/react-native-community/react-native-share/compare/v1.2.1...v3.1.2) you can look at the changelog between this version, and our last version.

[2020-04-03 02:58] tspiva opened #746 "Crash on Android with url: file://"
I'm trying to share a file using the following options:

[code]
When the Share.open is called the app crashes crashes and looking at logcat the following error is logged:

    : Key android.intent.extra.TEXT expected ArrayList<CharSequence> but value was a java.lang.String.  The default value <null> was returned.
    : Attempt to cast generated internal exception:
    : java.lang.ClassCastExceptio

[2020-04-03 18:50] #658 closed

[2020-04-03 20:09] vemiliogp commented on #745
Yes, I tried upgrading react native version 0.60.0 and react native share 3.1.2 and nothing :(, only with Instagram Feed

[2020-04-04 02:55] engineer2u4u commented on #743
Hi, the issue is fixed. Thank you

[2020-04-04 02:55] #743 closed

[2020-04-04 09:09] kensenjohn commented on #745
Hi, I'm having the same issue as well with `await Share.shareSingle`. I am able to upload image to Instagram Story. However when I select Feed I get the error message "Unable to load image."

Unfortunately no other information or logs. I checked using `adb logcat` as well and could not find anything.

[code]

The value in localImagePath was a valid base64 string.

[2020-04-04 13:05] Spyspyspy commented on #737
Still can reproduce it in iPhone.  My code is
` const options = Platform.select({
          ios: {
            activityItemSources: [

             {
                placeholderItem: { type: 'url', content: url },
                item: {
                default: { type: 'url', content: url },
              },
            },
          ],
        },
        default: {
          activityItemSources:

[2020-04-04 19:19] fatihfordev commented on #745
+1

[2020-04-04 21:55] kikemarto commented on #745
+1

[2020-04-05 02:46] MateusAndrade commented on #745
I will give a look at our example now, testing this. 😃

[2020-04-05 03:43] MateusAndrade commented on #745
Did you test passing a file directly, as @vemiliogp did? I need to debug this because on my Android phone the option to feed doesn't appear. 😢

[2020-04-05 03:45] MateusAndrade commented on #746
Hey, probably you need to access the file using the System FIle on the device. You can try sharing an url as base64 to ensure this works? To access the system files, you will need something like [RNFS](https://github.com/itinance/react-native-fs).

Please, let me know if this helps you. 😄

[2020-04-05 15:33] #697 closed

[2020-04-05 15:46] kensenjohn commented on #745
@MateusAndrade
I'm seeing the same error

I tried directly share a file to Instagram Feed, it opens up Instagram briefly. The  quickly closes out and show the message `Unable to load image`. This is the exact same behavior as before. This has not changed.

This is my code that I used.

[code]

Please let me know whether I can help with anything else.

_I may be wrong and I'm guessing here_.
Is it

[2020-04-05 17:20] MateusAndrade commented on #745
I was thinking on that @kensenjohn , but I don't have time to look on this and test some change. I did a quick look at our implementation to call the Intent on Android, and it looks fine compared to Instagram [guide](https://developers.facebook.com/docs/instagram/sharing-to-feed) about sharing to feed.

If you can help me on that, i think we need debug the following files:

https://github.com/reac

[2020-04-05 17:45] kensenjohn commented on #745
@MateusAndrade Sorry, that was my note from my previous comment. It does not work for Instagram Stories as well.

Sharing a file using the path to Instagram Stories fails and it does not work.

[2020-04-05 21:14] kensenjohn commented on #745
@MateusAndrade I had a few hours this afternoon so I gave it a shot, however I could not get my Android Studio to run in debugger mode. Therefore had a hard time figuring out what was happening in the Native Java code.

I'm going to stop for now and let you take over. I hope this helps you to proceed with your debugging.

I will share the code snippets which will make it possible for you to see th

[2020-04-05 22:30] vemiliogp commented on #745
Yes @MateusAndrade, I tried with file and nothing. :/

[2020-04-05 22:50] tspiva commented on #746
I changed it to:
[code]
And it no longer crashes on Android.  Is using the url pointed to the file not supposed to work? The docs says it is an option.

[2020-04-06 06:17] vforvasile commented on #745
This is an Instagram error with their last update. Android thread [here](https://developers.facebook.com/support/bugs/1326888287510350/) with more info.

Temporary workaround: join Beta program and install latest Beta update, it should work!

[2020-04-06 07:09] sercanuste commented on #720
I found solution.

Changing CFBundleDevelopmentRegion at Info.plist changes default language of share buttons. And adding CFBundleAllowMixedLocalizations allows multi-language support for Native Component.

[code]

[2020-04-06 12:14] cmeiller commented on #720
@sercanuste Amazing! I didn't think about it, thanks!

[2020-04-06 13:07] matheuscuba opened #751 ""Package manager has died" when using shareSingle()"
I'm not being able to share on Facebook using `Share.shareSingle()`, with `Share.open()` is everything work as expected. But when I try using `Share.shareSingle()` it returns:

[code]

### Steps to reproduce
[code]

### Expected behaviour
Sharing to Facebook

### Actual behaviour
Returns error and nothing happens

### Environment
- **React Native version**: 0.61.5
- **Platform version**: Android 6

[2020-04-06 13:11] MateusAndrade commented on #751
Okay, this a really different than the usual issues hahaha. Did you test this on release mode?

[2020-04-06 13:35] matheuscuba commented on #751
Yes, and nothing happens, no crashes, no app crashings. Any idea why?

[2020-04-06 14:05] javierbustamante commented on #165
Hi!! The information in README is correct, you can't share with pinterest in iOS with React Native Share.
In planned to add this functionality??

[2020-04-06 18:39] gcrozariol opened #752 "Implement sharing on TikTok"
## Describe the Feature
Create the ability for user to share videos through TikTok.

## Possible Implementations
Implement sharing on TikTok's feed, sending parameters like title and the video itself.

## Related Issues
No issues here.

[2020-04-06 20:58] MateusAndrade commented on #751
Strange, I tested our example app using the following snippet:

[code]

And I wasn't able to reproduce that, tested on Android 9.0 and iOS 13. There is any repo that you can share to help with that?

[2020-04-07 02:32] MateusAndrade commented on #720
I merged #749 warning about this on our Docs. Thanks, @sercanuste 🎉 🎉 🎉 !

Do you think we can close this @cmeiller?

[2020-04-07 04:16] Moktar13 opened #753 "No SMS option for sharing."
## Ask your Question

Like the title states, I have all the sharing options that are shown on this GitHub page however the SMS option is not there. I'm focused on Android development for now so it's just in regards to that platform.

Cheers!

[2020-04-07 07:36] cmeiller commented on #720
@MateusAndrade Absolutely! 😊

[2020-04-07 07:37] #720 closed

[2020-04-07 12:57] #753 closed

[2020-04-07 16:08] #746 closed

[2020-04-07 18:54] nirre7 commented on #629
Hi again.
i created a pull request that should enable sharing of files on secondary storage, i.e sd cards: https://github.com/react-native-community/react-native-share/pull/754

[2020-04-08 01:38] taduyde commented on #629
Hi @nirre7,
Your pull request is fixed for sharing issue: file://<file_path> on android. is that right?

[2020-04-08 02:24] MateusAndrade commented on #629
Hey @taduyde would you mind helping us testing that? 😄

[2020-04-08 03:16] samgermain commented on #222
Make sure you have `import Share from 'react-native-share'` instead of `import {Share} from 'react-native-share'`

[2020-04-08 03:17] samgermain opened #755 "Can I enable sharing on only certain specific platforms"
I only want sharing in Facebook messenger, Instagram DM, Snapchat, Whatapp, messaging, email and other DM platforms. Can I do this?

I know that you can use `Share.shareSingle` to share on only one platform, but I'm wondering how to only give the option of sharing on about 5 or 6 platforms. It would look like `Share.open` but with some of the options removed

[2020-04-08 06:07] nirre7 commented on #629
It depends on where the file(s) are. If the file is on secondary storage like a sd card then it should work.

For more information https://developer.android.com/reference/androidx/core/content/FileProvider there is different configs on android to enable "access" to different locations.

But like @MateusAndrade said would be great if you could help us test it, it might be that we need to add more c

[2020-04-08 10:48] taduyde commented on #629
Hi @nirre7, @MateusAndrade,

I already tested this pull request, but that pull request not help we resolve this issue with local file as here: /data/user/0/com.lmaalam_admin/cache/Bill197994929333884192053.pdf

[2020-04-08 12:10] nirre7 commented on #629
The PR fixes secondary storage for example sd cards, i.e not "local files".
More information => https://developer.android.com/reference/androidx/core/content/FileProvider#SpecifyFiles

Im guessing (!) that the config your scenario needs is:

https://developer.android.com/reference/androidx/core/content/FileProvider#SpecifyFiles

[2020-04-08 12:24] kaioduarte commented on #752
@gcrozariol if you don't mind, I'd take this =)

[2020-04-08 12:36] sercanuste commented on #676
Hi,

You can use following code for App Icon.

Tested on; iOS 13.3.1,
"react": "16.8.3",
"react-native": "0.59.9",
"react-native-share": "3.1.2"

---
[code]

[2020-04-08 13:35] gcrozariol commented on #752
Totally! Do you mind if I have access to your progress while implementing this feature? I would like to learn the process. Also, I have access to macOS, so if I understand the concept, I might be able to implement this feature for iOS as well. :)

[2020-04-08 14:03] matheuscuba commented on #751
Unfortunately not, its a private repository from my company.
I think the problem is related to the version of Android that I'm testing, (6.0). I will try to make more tests in other Android versions

[2020-04-08 14:10] chamikarar opened #757 "App crashed when calling the Share.open()"
### Steps to reproduce
`const url = `data:image/png;base64,${base64FileString}`;

    const shareOptions = {
      title: 'Test Title',
      message: 'Test message',
      url: url,
      failOnCancel: false,
    };

    try {
      Share.open(shareOptions);
    } catch (err) {
      console.log(err);
    }`

### Expected behaviour
Open share action sheet on iPhone

### Actual behaviour
App crash

[2020-04-08 15:31] VinitBhavsar opened #758 "Multiple Emails"
Just like multiple file share ( urls ), please add this features for email address.

let shareOptions = {
urls: [image1, image2],
emails: [email1, email2],
....
};

[2020-04-08 16:00] MateusAndrade commented on #752
Hey @gcrozariol, @kaioduarte I just assign this issue to both of you guys. Please, let me know if there is anything that I can help! 🎉

[2020-04-08 17:22] kaioduarte commented on #752
Sure @gcrozariol! First I need to figure out how to send medias without SDK, because it's possible to send them from my gallery app.

[2020-04-08 18:20] MateusAndrade commented on #751
I can test with this version if this helps you. Btw, the min version is Android Pie 9. I will test the example with version 6.0 here.

[2020-04-08 18:41] MateusAndrade commented on #740
What do you think about using `Promise.all` or `Promise.settled`? This should be a bit complex, but I remember to use a similar workaround on a project.

[2020-04-08 18:43] #222 closed

[2020-04-08 18:47] MateusAndrade commented on #755
Hey @samgermain, this is really interesting. What do you think about a `exclude` on `Activities`? Currently, we don't this, but this should be a nice addition.

[2020-04-08 18:50] MateusAndrade commented on #629
@taduyde probably you need to transform your file on a base64 before sharing that. There are been some problems when passing `file` whenever you call the `open` that we need to investigate. 😿

I think this can help you: https://github.com/react-native-community/react-native-share#share-remote-pdf-file-with-gmail--whatsapp-ios

[2020-04-08 18:59] MateusAndrade commented on #757
Did you test this on the `example` app? I tested with our `example` app and this works as expected. Maybe this an error with the `base64?`?

[2020-04-08 19:48] samgermain commented on #755
@MateusAndrade Absolutely! I'd even be willing to try to implement it myself, but I feel like I might need some guidance as to what files/functions to look at. I've never contributed to open source before so there's that also.

[2020-04-08 21:00] MateusAndrade commented on #755
If you need any help, please let me know. Maybe you can start with small changes, like docs, etc. 😄

[2020-04-08 21:02] kaioduarte commented on #629
Just tested the new version with mentioned PR and it's working for local files and files of the same package (/data/user/0/com.myapp), for different package it throws an error: `(Permission denied)`

## Local file:
![local-file](https://user-images.githubusercontent.com/11046907/78832671-8e4a6a00-79e3-11ea-96e1-1ff2d291a6ea.gif)

## Same package:
![ScreenRec-20200408-214632](https://user-images.gi

[2020-04-09 00:58] samgermain commented on #755
@MateusAndrade I'll most likely need help. Can you let me know what files/functions to look at though

[2020-04-09 01:41] samgermain commented on #755
@MateusAndrade  I have no idea what I'm doing. Can you give me some guidance as to where to look

[2020-04-09 02:41] samgermain commented on #755
@MateusAndrade I don't think I serve any use trying to implement this

[2020-04-09 07:39] chamikarar commented on #757
Yes. I tried the example app and it worked. I replaced the base64 string with example app's strings and still the issue is there. This only happens on debug scheme. Seems like the issue is not related to react native share.

[2020-04-09 07:39] #757 closed

[2020-04-09 10:10] AlixBou commented on #414
The issue is still present on 3.2.0

Code used :
Share.open({
      message: 'message',
      subject: 'subject',
    });

Result on the native mailer of ios 13 :
![image](https://user-images.githubusercontent.com/54619037/78884329-0738d880-7a5b-11ea-9e37-31f8f8a13a88.png)

Result on gmail :
![image](https://user-images.githubusercontent.com/54619037/78884312-0011ca80-7a5b-11ea-94b6-96858e99b004.p

[2020-04-10 00:10] reallijie commented on #740
I think it is best to be loyal to the user's intention. When user pass a single file, share a single file, when user passes multiple files, share multiple files. In order to be compatible with share, provide a compatibility option, and in order to consider current users, the compatibility option is enabled by default.
As for using promise.all, applications that accept multiple files may face some

[2020-04-11 06:27] rohitkum28 commented on #755
Even I am looking for a way to restrict share to a few apps only. Is this possible currently?

[2020-04-11 08:28] sensoft2207 commented on #755
@MateusAndrade Yes, This functionality is very usefull, Specially for this type of library. Is there any solution for this ? Right now I am working on post sharing on specific social media. I had seen one enum in library that shows Some social media naming.

[2020-04-11 15:17] component6 opened #759 "Is it possible to verify that the user really shared the link"
Is it possible to verify that the user really shared the link, and not just opened a dialog box with a specific application

[2020-04-11 19:28] samgermain commented on #755
@sensoft2207 Are you trying to implement it yourself? If it's not too much to ask, would you be able to summarize what you've looked at so far that might be useful for trying to implement this? You mentioned an enum that you think might be of use? Is there anything else you think might be of use?

I'm trying to implement it also and if I figure it out, I could let you know how to do it in return

[2020-04-12 10:42] enesozturk commented on #472
Hi! I have the same issue, my base64 format working on Android but give same error on iOS. How did your solve the issue?

[2020-04-12 15:39] MateusAndrade commented on #472
Could you check if your `base64` is right? Are you trying to share an image or something else?

[2020-04-12 15:43] MateusAndrade commented on #755
Currently calling `shareSingle` only open a specific app with the Native dialogue. But, we this [ShareSheet](https://github.com/react-native-community/react-native-share/tree/master/components), that is a simple component.

Btw @sensoft2207, I was discussing with @samgermain an way to handle this calling the native dialogue on this issue.

[2020-04-12 15:51] MateusAndrade commented on #759
Currently, I think the Promise is resolved whenever the Native dialogue os called. Btw, you can check the Native Implementation, so see how this properly works under the hood.

https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/social/TargetChosenReceiver.java

Also, I recommend using something like [Dynamic Links](https://firebase.google.com/doc

[2020-04-12 16:22] sashaskuku opened #760 "Unable to share image+text IOS"
### Steps to reproduce

code looks like that:

await RNShare.open({
	message: singleItem.name,
	url: imageLink
		});

### Expected behaviour
Share image AND text

### Actual behaviour
This code sends only text. If I remove message at all - it sends image only.
I tried also to use base64 to send Image with no success.
### Environment
- **React Native version**:"0.61.2",
- **React Native platform +

[2020-04-12 20:59] samgermain commented on #755
@sensoft2207 @rohitkum28  I realized a work-around is to create an overlay component when your share button is pressed, and inside your overlay you can have your facebook button, instagram button ... which are each linked to a shareSingle operation

[2020-04-12 21:04] enesozturk commented on #629
Converting file to **base64** before share solved my issue. Thanks!

[2020-04-13 00:01] kaioduarte commented on #752
I still don't know what is going on with TikTok, I've tested even a Flutter package that worked well and I took a look at the source code, and they aren't that different.

The Intent action of this package with the code below is `android.intent.action.SEND_MULTIPLE` instead of `android.intent.action.SEND`, I've logged both in Android and JS and found a weird behavior: If you pass `url` as param an

[2020-04-13 12:22] MateusAndrade commented on #755
You can have a look at: https://github.com/react-native-community/react-native-share/tree/master/components

[2020-04-14 05:10] #703 closed

[2020-04-14 07:16] artmerlop commented on #757
I'm having this issue too! @chamikarar how did you fixed it?

[2020-04-14 12:38] ecaepsey commented on #737
Hello, what about whats app?

[2020-04-14 16:10] #647 closed

[2020-04-14 17:10] Neck1T commented on #737
Any updates?

Same problem - telegram infinite loading when share the image
Android works fine

[2020-04-14 19:10] #653 closed

[2020-04-15 07:54] #702 closed

[2020-04-15 14:07] meetyourdev commented on #760
i am facing this issue as well

[2020-04-16 10:27] akshaystreak opened #762 "Provide contact number in share single"
How can I add contact number (array or single) while using shareSingle() feature ?

[2020-04-16 13:51] WQvist opened #763 "Share.open(email addressee) does not work on iOS"
### Steps to reproduce
1. Add email addressee in share options
2. Share via mail
3. Recipient is empty

### Expected behaviour
Recipient in mail app should be email given in options

### Actual behaviour
Recipient is empty

### Environment
- **React Native version**: 0.61.5
- **React Native platform + platform version**: iOS 12.4.4

### react-native-share
**Version**: npm version ^3.0.0

[2020-04-16 21:15] Spyspyspy commented on #737
iOS still issue

[2020-04-16 21:15] Spyspyspy commented on #737
Did not test

[2020-04-17 17:04] pramacha opened #764 "Instagram feed not coming up as a share option"
Hello,

I am using Share.open, here is my code:

 var base64Data = `data:image/png;base64,` + base64Data;
  await Share.open({ url: base64Data });

This works great, except I do not get "Instagram feed" and "Instagram direct" as options for sharing. I only see "Instagram Stories" as an option.

Would anyone happen to know how I can fix this? (I am testing this on Andriod 10)

[2020-04-17 17:46] TheGuy68 opened #765 "cl.json.RNShareModule.SHARES.instagram-stories"
Hi i've just initiated a new app and used the simplest examples from the docs.

So the share via whats app works fine.
But as soon as I try and use the Instagram example near to the bottom of the page I get this error:

cl.json.RNShareModule.SHARES.instagram-stories

Theres not much about it on google except one thread which was never resolved.

[2020-04-17 20:47] MateusAndrade commented on #765
Hey @TheGuy68 , would you mind sharing the logs that you got from this error? Also, sharing your implementation would help us a lot. 😄

[2020-04-18 05:41] TheGuy68 commented on #765
well theres not really much to show.
Like I said before.
This is a basic installation and a brand new react native app and running the example from the docs:

import Share from 'react-native-share';

[code]

And the logs is pretty much what I put the the message above, Other than its wrapped in an object like so:

[code]

[2020-04-18 14:42] benevbright commented on #643
Can we open this again?
This problem persists on Huawei devices with the latest `react-native-share`.

[2020-04-18 17:39] coolvasanth commented on #629
I have a local Image that needs to be shared. For ex in My react native project, I have a Image named Resources/1.png I want to share this Image. How can I achieve it?

[2020-04-18 18:04] MateusAndrade commented on #765
Which platform you are using? I mean Android, iOS?

[2020-04-19 09:25] TheGuy68 commented on #765
yeah I'm on android. Any timeline of when you think you'll be supporting this feature on android?

[2020-04-19 16:23] #706 closed

[2020-04-19 20:23] #707 closed

[2020-04-20 06:29] NirmalsinhRathod opened #766 "Not showing safari browser"
Is it support to share the link via safari?

[2020-04-20 09:09] KisaneNeko commented on #414
Anyone had luck finding a workaround for this issue? Config proposed by @thisisablock did not change anything for me - subject is still replaced with message in gmail app

[2020-04-20 09:21] rockneverdies55 commented on #663
@appasaheb4 - by any chance have you figured out the cause of this issue?

[2020-04-20 13:30] MateusAndrade commented on #766
Hi @NirmalsinhRathod, did you mean opening the link on Safari? Sorry but I don't understand.

[2020-04-20 13:41] MateusAndrade commented on #737
@Spyspyspy I was trying to find a reference to the Telegram Share but I don't find any reference about that. Would you mind sharing your payload and the call that you are making to `Share`?

[2020-04-20 13:43] MateusAndrade commented on #763
Hi @WQvist, which app you are trying to share? The default mail on iOS?

Possibly related to #414.

[2020-04-20 13:47] WQvist commented on #763
Yes, the default mail app on iOS.
Looks to be related. But I ended up using another library (which I can't remember the name of in the moment.)

[2020-04-20 13:52] MateusAndrade commented on #763
Could you share that? Maybe this can help other people facing this issue. 😄

[2020-04-20 13:55] MateusAndrade commented on #760
This happens only on iOS on a specific app? I remember having a similar issue on WhatsApp. I ended removing the message param on iOS. 😢

#474

[2020-04-20 13:57] WQvist commented on #763
I don't have access to the work repo at home, but I can write a comment and close the issue on thursday when I'm back at work.

[2020-04-20 14:06] MateusAndrade commented on #752
@kaioduarte sorry for the late reply, I have been on a busy week. Can you share your implementation? I can test this locally to see what's happening.

Btw, quickly looking at the source code this can be related to this:

https://github.com/react-native-community/react-native-share/blob/11a8ee49037c2c6ad9d06e1b9703fb267bae24da/android/src/main/java/cl/json/social/ShareIntent.java#L174-L178

https:/

[2020-04-21 10:59] MuhammadMattiullah commented on #178
@yeomann its still not working. I am adding a title key in the share options object but it's not appearing as a title in IOS and Android.

const shareUrl = `${config.shareUrl}/conversations/${conversation.id}`;
const title = conversation.subject || conversation.body.slice(0, 60);
    const shareOptions = {
      title: title,
      url: shareUrl,
    };
    Share.open(shareOptions);
But when i pas

[2020-04-21 11:05] MuhammadMattiullah opened #767 "Title does not appear"
### Steps to reproduce
1. Add the title key in share object
2. Share the content
3. Title does not appear instead it shows the url

### Expected behaviour
It should appear the title

### Actual behaviour
Its showing the passing url

### Environment
"react": "16.9.0",
 "react-native": "0.61.5",

### react-native-share
**Version**: 3.0"

Title still not working. I am adding a title key in the share

[2020-04-22 03:41] marqroldan opened #768 "showAppsToView not working? (Android 9)"
### Steps to reproduce
`Share.open({"showAppsToView": true, "type": "application/pdf", "url": "file:///storage/emulated/0/Download/8e447932-1411-444a-bfa4-aa6845f6a507.pdf"})`

### Expected behaviour
It should show at least one of the following:
![image](https://user-images.githubusercontent.com/11716376/79937139-b332e880-848b-11ea-82e6-520a5db5243f.png)

### Actual behaviour
Share shows up but it

[2020-04-22 04:12] marqroldan commented on #768
I installed Adobe PDF and "Combine to Adobe PDF" shows.

Is this an intended behavior or am I doing something wrong? Could it possible be a problem with the other apps?

[2020-04-22 10:49] VNext-DinhDong commented on #758
You can share multiple like this: email: 'email1, email2'

[2020-04-22 13:06] MateusAndrade commented on #758
Hey @VinitBhavsar can you check if this works for you?

[2020-04-22 15:14] gerryfletch commented on #716
I have just started using this library and the default `open` function with a `message` opens fine in iOS Messages on iPhone 11.

[2020-04-22 16:23] MateusAndrade commented on #716
Thanks @gerryfletch!

[2020-04-22 16:23] #716 closed

[2020-04-22 19:24] #708 closed

[2020-04-23 06:19] WQvist commented on #763
I used https://github.com/chirag04/react-native-mail to share with the iOS mail app.

[2020-04-23 06:19] #763 closed

[2020-04-23 13:01] MateusAndrade commented on #767
Hi @MuhammadMattiullah, let me see if I understand: you want to share this payload:

[code]

And then when calling `Share.open` with want that only this Title should appear on iOS/Android without being appended to the message?

[2020-04-23 13:48] MuhammadMattiullah commented on #767
Hi @MateusAndrade i really appreciate your response!
Just wanted to give u an update its working fine on Android 9 version.
Its working differently on versions greater than 9 and title is not displaying anything so to have a title i was using message.
But in Ios its not showing the title at all.
It only accepting message key to work as a title

[2020-04-23 13:58] MateusAndrade commented on #767
This is strange, did you try using https://github.com/react-native-community/react-native-share#provide-data-to-share-by-using-activityitemsources-in-ios

[2020-04-23 14:01] MuhammadMattiullah commented on #767
yes, I tried this too @MateusAndrade but unfortunately, it didn't work for me.

[2020-04-23 14:41] jozan commented on #414
I'm seeing this issue only on iOS and Gmail app. Gmail app seems to ignore `type` or `filename` on iOS. I suspect that sharing a file from filesystem could work but I haven't tested that.

[code]

This work for any other app I have tested on iOS. On Android this works with Gmail.

[2020-04-23 17:51] stoica94 commented on #764
I have the same issue

[2020-04-24 06:26] UdithaKasun commented on #433
Any update on this ? I am also facing this issue with Gmail and Outlook client on iOS with react-native-share 1.1.3.

[2020-04-24 11:00] hungneox commented on #760
I had similar issue when sharing pdf + text to Slack. Does anyone has the same issue?

[2020-04-24 12:05] jihadkahil opened #769 "Sharing Text and Image Not Working"
Share.open(options) is not working with the FaceBook New feed it allows only show urls!
 return Share.open({
        title: "ABC",
        message: "ABC",
        subject: "ABC",
        urls: ["file:" + res.path()]
      })

[2020-04-24 14:35] danielbenedykt commented on #595
I want to achieve this also,  but no luck.
I cant find a method to list all possible shares,  or how to customize it.
Any examples you can share?

[2020-04-25 15:15] marqroldan commented on #768
I ended up using another package called `react-native-file-viewer`. I checked its code and wondered if I should just copy paste stuff from there to here but I don't really know much native coding ;D

I think this was the last commit for the functionality https://github.com/react-native-community/react-native-share/pull/215/commits/3c76ef2b8e64f8480bd52d57bffbd76439474fee

This is the implementatio

[2020-04-25 16:07] i1skn commented on #768
@marqroldan I had a similar problems, try to apply this change https://github.com/react-native-community/react-native-share/pull/770 inside your `node_modules` to check would it work for you as well or not.

[2020-04-26 12:42] kaioduarte commented on #752
@MateusAndrade I only changed the code to fix the action disparity and there is already an [open PR](https://github.com/react-native-community/react-native-share/pull/770) to handle this, so not worth to share my implementation. I'll try this PR locally as soon as I can and I'll give you some feedback.

Regarding iOS I can't tell you, because I can only test on Android env.

Thanks!

[2020-04-26 13:27] MateusAndrade commented on #752
Hey @kaioduarte I just merged #770. Can you tell me if this works for you know?

Also, I can test your implementation of TikTok locally if this help you.

[2020-04-26 13:36] kaioduarte commented on #752
Ok, I'm gonna test it! And about the implementation we don't need to do anything special nor use SDK, a simple file sharing is enough (since it works in Flutter's lib), we just need to find what is blocking that. That's why I was just trying to make the actions consistent 😅.

[2020-04-26 19:30] #711 closed

[2020-04-27 11:44] neemssoni commented on #660
shareSingle does not work for whats app in Android also as well as on iOS..

[2020-04-27 12:12] MateusAndrade commented on #660
Did you have any Logcat that can help us debugging this?

[2020-04-28 06:06] Utkarshkr1710 commented on #769
it is working for whatsapp but it will not work for facebook and all

[2020-04-28 13:39] fengmingye commented on #218
I have met th

I have the same problem，have you solved this?

[2020-04-28 17:50] allindeveloper commented on #764
Hello, I also get an issue similar to this one,
But mine is i don't see Twitter Tweet or Direct message whenever i add the url, but when i remove the url, the Twitter option now shows...
 const shareOptions = {
        title: 'Share The Sound!!',
        type:"url",
        // url:base64Data,
        subject:"God is the Almighty",
        message: "",
        failOnCancel: false,
        method:Sh

[2020-05-02 10:08] seven7hell opened #771 "Why this library don't support with Expo"
Please do let me know why this library isn't supporting react native app 0.60 which is created by **expo**?

If it can then let me know how? I'm trying to find a solution.

[2020-05-02 15:25] mikehardy commented on #771
Expo problems should go to expo repo
If you use the bare workflow it might work
Otherwise you must learn immediately that using Expo managed workflow you may not use non-expo native modules, to the best of my knowledge.

[2020-05-02 15:25] #771 closed

[2020-05-02 18:01] seven7hell commented on #771
Thank you @mikehardy for providing valuable information. I'm a beginner in react native app development please accept my apologies.

[2020-05-02 19:16] mikehardy commented on #771
No problem - and welcome to react-native :-)
Expo's a great place to start but does have that limitation, getting very familiar with their documentation will help ensure success on your project

[2020-05-04 02:59] selimmidikoglu opened #772 "Share dialog freezes in ios 13.4 İphone 7"

[2020-05-04 15:18] #772 closed

[2020-05-04 20:02] jonasgroendahl commented on #384
Not working for me either, i tried react-native-fbsdk but I get prompted to login into facebook. I'm not sure what's the best way to get the single share option with facebook is currently for react native

[2020-05-05 02:10] MateusAndrade commented on #384
Hi @jonasgroendahl , would you mind sharing the version that you are using. Also, a sample code would help us. 😄

[2020-05-05 04:58] jonasgroendahl commented on #384
This is what I tried following the example here:

import Share from 'react-native-share';

const shareOptions = {
    title: 'Share via',
    message: 'some message',
    url: 'some share url',
    social: Share.Social.FACEBOOK
};
Share.shareSingle(shareOptions);

The version is 3.3.0

[2020-05-06 03:02] FrederickEngelhardt commented on #769
It also does not work with Messages. Email does work.

[2020-05-06 03:03] FrederickEngelhardt commented on #760
Same issue experienced with messages app. It works for me with emails.

[2020-05-06 13:23] #769 closed

[2020-05-06 13:25] MateusAndrade commented on #760
Which platforms are you facing this? Probably this is a problem with the target app. Unfortunately, I faced this on a project and decided to share only the image(it was receipt screen).

[2020-05-06 20:13] joedivittorio commented on #760
Seeing a similar issue on iOS. If you add an image AND text, the iOS messages app only uses the image. Able to send only text or only an image but not both on the messages app. Seeing the same behavior on other apps as well like WhatsApp and Slack.

For the mail app, the subject, text, and an image all work as expected with the same parameters.

This is all using the method `RNShare.open`

[2020-05-07 20:03] martinop opened #775 "Facebook Share Android"
I'm using react native@0.61.5 and react native share@3.3.1,
I'm using share single for facebook share and it opens the app but without the message :/

I tried with title, message and subject and none works

[2020-05-07 20:21] MateusAndrade commented on #775
Hi @martinop you can confirm is this works when using the `Share.open` passing it directly to Facebook? Also which Platform are you testing this?

[2020-05-08 08:21] peterkuiper opened #777 "Sharing overlays current app without being able to return (Android)"
## Ask your Question
When sharing on Android and choosing Gmail or Messages (or any other app), these apps will replace your app without being able to return to it. I tried the example app which has the same problem:

![image](https://user-images.githubusercontent.com/6492184/81386136-d0ff7f00-9114-11ea-9a9b-c3d816f05342.png)

[2020-05-08 08:35] peterkuiper commented on #777
Sorry for the silly question. Using the back button works fine. Being an iOS user this is a bit unintuitive for me and I should have done some more research on this :)

[2020-05-08 08:35] #777 closed

[2020-05-08 09:49] Vitalik7 opened #778 "if link includes # - link is cutting"
### Steps to reproduce
1. https://prnt.sc/sd337a
2.https://prnt.sc/sd33g1

### Description
When I share link to facebook or twitter, my link is cutting off after number sign(#) symbol, please help anyone!

### Environment
"react-native": "0.61.5",
ios 13.2.2

### react-native-share
"react-native-share": "^3.3.2",

### Link to repo (highly encouraged)
https://github.com/Vitalik7

[2020-05-08 15:45] MateusAndrade commented on #778
Hi @Vitalik7, this is happening only on Twitter and Facebook? Also, are you using the `Share.open` or `Share.single`?

[2020-05-10 21:33] lucastonon commented on #712
I just realized that too!
If we use the same code we get
`No enum constant cl.json.RNShareModule.SHARES.instagram-stories`

[2020-05-11 15:31] KaioGomesx commented on #775
same issue
[code]

[2020-05-11 23:36] scgough commented on #634
👍
This looks like a cleaner version of a fix I had to write to get the share working for image and video assets on iOS.

I'm just in the process of extending the IG share (and stories) to also cater for ph:// urls too.

[2020-05-11 23:43] MateusAndrade commented on #634
This would be a great to rn-share. Do you need any help on that?

[2020-05-12 00:06] scgough commented on #634
Cheers! 👍🏻 I might to perhaps tighten up the Obj-C code as I don’t have lots of experience in it. I’ll get it working for what I’m doing and then put a PR together. Just want to get stories with stickers working again!

[2020-05-12 06:45] Vitalik7 commented on #778
Hi @MateusAndrade this specific case, when app installed for example twitter and we share link with number sign symbol then is open modal window and link is ok, but if app not installed we redirect to browser and then link is cutting.
I am using ```Share.single```

[2020-05-12 18:59] martinop commented on #775
We need help here :(

[2020-05-13 08:39] nasreekar commented on #629
I have tried converting it to base64 using fetch blob but I'm seeing an error saying that the file or directory doesn't exist. Cannot share file on Android only. iOS is working fine.

`shareBill = async (title: string) => {
    const billPdfPath = this.props.billPdfDataFetched?.path;

    if (!billPdfPath) {
      return;
    }

    const newPath = `${RNFetchBlob.fs.dirs.CacheDir}/${title}_bill.pd

[2020-05-13 12:29] kidroca commented on #659
I'm getting the same error
Is this fatal ?

Also if you press "Save to files" then "Cancel" then "Save to files" again you'll get the following error:
[code]

But then if I save the file it seems to be saved OK

[2020-05-13 14:28] perpetuatingcuriosity commented on #716
To clarify, the request is for Share.shareSingle() – direct share to iOS Messages. #715 is still a valid issue.

[2020-05-14 16:29] matthiasthomas commented on #384
Experiencing the same issue. Instagram is working fine but facebook just opens up Safari with `href should represent a valid URL`.

Here's the code:
[code]

[2020-05-15 15:01] scgough opened #780 "Instagram Stories - Android - Update in progress..."
**Update** - strangely a new day, new test and this seems to work. I'll update back here when I know for sure.
I've added a further question in the comments below: https://github.com/react-native-community/react-native-share/issues/780#issuecomment-629623438

---

Hi
I've been working on this library a bit as I want to extend it's functionality in various areas on both iOS and Android.

The main o

[2020-05-15 16:19] mikehardy commented on #780
Are you watching unfiltered logcat at the same time? Usually there is a good reason thrown into there in the form of a stack trace or similar

[2020-05-15 16:21] scgough commented on #780
Yea I did think that but nothing. It seems to hand over then it’s just thrown back with no reason :/

[2020-05-15 17:42] nekhaly commented on #741
I have the same

I do the exact same in my app and struggle much now in testing with Android. Would be a great add-on to the package.

[2020-05-16 10:21] scgough commented on #780
OK - this seems to be working now...false alarm. I must have had some caching going on somewhere along the line..

**Question 2:**

The sticker URL needs to be a local file.
Do you think that if (for example) and external http(s) URL is provided for this sticker it should be (a) downloaded and processed within this component on the android side OR (b) dealt with in the source app's JS code which p

[2020-05-19 21:45] ramosquito5 opened #781 "How to Share to Instagram DM on IOS?"
## How to Share to Instagram DM on IOS?
I have been trying to Share to Instagram DM some text, but the option does not appear.
I have added the corresponding tags to info.plist for Instagram as well as other social networks which work perfectly.

The interesting part is that it does work on Android but not in IOs so I don't know what i am doing wrong.

This is my code on the app
[code]
info.plist

[2020-05-20 00:22] emroot commented on #715
yeah that would be great addition to the library.

[2020-05-20 04:54] vincemillora commented on #775
This also happens on IOS. There is no message when sharing to Facebook. 😢

[2020-05-21 08:18] vinikatyal opened #782 "Share.Social.MESSENGER - undefined"
## Ask your Question

[code]

When I try to share single through messenger it gives me an error :

`Object {
  "error": "key 'social' missing in options",
}
`

However i am providing the Social id above.

Share.Social.MESSENGER shows as **undefined**

![Screenshot 2020-05-21 at 1 47 19 PM](https://user-images.githubusercontent.com/5568656/82538658-b17f4200-9b69-11ea-805e-a84f45d60d0f.png)

[2020-05-21 08:40] vinikatyal commented on #775
Same here doesnt work

[2020-05-21 09:55] vinikatyal commented on #762
Which platform are you sharing it to @akshaystreak ?

[2020-05-21 11:00] akshaystreak commented on #762
Android

[2020-05-21 12:01] vinikatyal commented on #762
I meant where are you trying to share to which platform?

[2020-05-21 12:19] akshaystreak commented on #762
Mobile default SMS

[2020-05-21 13:30] sunilprajapatisa opened #783 "Not working share in iPhone 11 Pro Max native app mail ?"
Not working share in iPhone 11 Pro Max native app mail. When click on mail app, opening app and close immediately without any error.

[2020-05-21 14:25] Graig123git commented on #782
+1

[2020-05-22 07:32] mingxin-yang opened #784 "The callback is error after i shared successfully"
### Steps to reproduce
1. I share message to wechat
2. after shared successfully I got this error :
[code]

### Expected behaviour

 **after shared successfully I got successful**
### Actual behaviour

 **after shared successfully I got error**

### Environment
- **React Native version**:0.59.10
- **React Native platform + platform version**: Android 9.0 HuaWei Mate 10
### react-native-share
**Ver

[2020-05-22 14:08] jgcmarins commented on #615
@aamalric flow can probably be wrong

[2020-05-22 14:31] jgcmarins commented on #537
@tolik85 could you provide more details?
Thanks

[2020-05-22 23:47] #721 closed

[2020-05-23 06:46] #667 closed

[2020-05-23 18:08] jgcmarins commented on #712
We gonna accept PRs adding Instagram stories for Android

[2020-05-23 18:10] jgcmarins commented on #778
does it only happens on iOS?

[2020-05-24 04:58] hungdev commented on #767
@MateusAndrade it only works when you are not attach image. If you attach image, it does not show content in post, instead of show content in post, it show message in title header modal share.

[2020-05-24 12:02] soia commented on #737
Hi)
Did you find a solution to the problem you described?
If yes, please write to me in telegram @iamsoia

[2020-05-25 06:52] Mavenic commented on #223
@timhorwood Have you got any answer on how to do that?

[2020-05-25 11:43] johnvalari commented on #414
Any workaround for this issue?

[2020-05-25 12:34] Vitalik7 commented on #778
@jgcmarins I don't know what with android, because we supported only ios

[2020-05-25 15:13] #714 closed

[2020-05-25 15:13] #679 closed

[2020-05-25 17:16] isot1990 opened #785 "how to share base64 pdf file with message?"
## Ask your Question

I try to share base64 pdf file with a message but it does not send the message with it? Do you have solution for that?

[2020-05-26 00:13] #718 closed

[2020-05-26 04:27] sunilprajapati714 commented on #783
@EstebanFuentealba , Any updates?

[2020-05-26 09:29] kaioduarte commented on #752
@MateusAndrade @gcrozariol after a long time I got time to get into this again 😅!

Just tested the latest version of TikTok and `react-native-share` and the sharing is working properly without any change. I tested on Android 8.1 (AOSP) and 10 (MIUI). Can you guys test this minimal repro on iOS?

[code]

[2020-05-26 14:03] HrantAbrahamyan commented on #679
in your info.plist add the following line
![image](https://user-images.githubusercontent.com/36418107/82910034-2643e900-9f7b-11ea-98cf-3c62b7e1b443.png)

[2020-05-26 14:28] MateusAndrade commented on #679
Thanks! Would you mind adding this to our docs? 😄

[2020-05-26 16:01] MateusAndrade commented on #752
@kaioduarte sure! Looking at your example, probably you will need something likes this: https://github.com/joltup/rn-fetch-blob/wiki/File-System-Access-API#dirs because the fileSystem on iOS is different from Android.

[2020-05-26 16:05] MateusAndrade commented on #783
@sunilprajapati714 would you mind sharing which version of rn-share are you using? Also with the react-native and an example?

[2020-05-26 16:05] kaioduarte commented on #752
@MateusAndrade oops, I was not aware about that, but anyway I don't have any Apple device to test this. Let's wait for somebody that can 😉

[2020-05-26 16:17] MateusAndrade commented on #752
No problem, btw if you want to set at our README.MD that we support TikTok would be really good(at least for Android). 😅

[2020-05-26 21:33] jeremyfrancis opened #786 "Email to specific person not working! ;("
I want a user to click a button and then it opens up with an email ready to be sent to a specific email. So I filled in "email" with that email it should be sent to! It opens the iOS mail app with the correct subject and message, but the "To" field is completely empty. Not really sure there's anything I can do. Can this be fixed please!?

Share.shareSingle({
            subject: 'Support',

[2020-05-26 21:35] #786 closed

[2020-05-26 22:35] mikehardy commented on #786
Why not use a "mailto:" link? A lot easier.

[2020-05-27 02:09] Bang9 commented on #781
`Share.shareSingle({ social:"instagram, ... })`

[2020-05-27 08:31] stoica94 opened #787 "Implement scoped storage support for Android 10"
## Describe the Feature

Implement `scoped storage` functionality for devices with Android 10.
Right now the fix is to add `android:requestLegacyExternalStorage="true"` in Manifest but this is temporary and it will be deprecated in future releases.

This is only related to sharing media. Text works fine

## Possible Implementations

I don't really know right now because I'm not familiar with the i

[2020-05-27 10:56] ajaykumar97 opened #788 "How to share the quote/text message on Facebook?"
## Ask your Question

Hi! firstly, thanks a lot for this great module.
I am trying to share the playstore link of my application and some text along with the url. I am able to share the url but I am not able to share the text. I tried to share the text in `quote` key but it is not working for the Facebook share. My code for the Facebook share is:

[code]

Can anyone please help me in this and guid

[2020-05-27 13:21] Kta-M opened #789 "Example app crashes in iOS with react-native0.62.2"
### Steps to reproduce
1. `npx react-native init example`
2. `cd example`
3. `npx pod-install`
4. copy `App.js` `images/*`, `components/*` from `react-native-share/example/`
5. run app in ios simulator
6. all buttons crashes the app

### Expected behaviour
share menu comes in.

### Actual behaviour
the app crashes without any messages.

### Environment
- **React Native version**:0.62.2
- **React N

[2020-05-27 13:21] Kta-M commented on #789
- It works when [this line](https://github.com/Kta-M/react-native-share-example-app/blob/master/ios/example/AppDelegate.m#L21) is commented out, so I think it is affected by FlipperKitNetworkPlugin.
- #783 might be a question about this bug.

[2020-05-27 13:25] MateusAndrade commented on #789
Thanks @Kta-M  did you tested this on a fresh project with rn 0.62.2? I think we might need to look at the update in the example app to fix this.

[2020-05-27 16:40] mikehardy commented on #789
Updating examples should never ever take maintainer time :-)
https://github.com/react-native-community/react-native-device-info/blob/master/refresh-example.sh

[2020-05-27 16:52] MateusAndrade commented on #789
Thanks, Mike! I will look forward to implementing this. 🙉

[2020-05-27 19:42] Kta-M commented on #789
Thanks @MateusAndrade, yes, I tested  this on a fresh project (https://github.com/Kta-M/react-native-share-example-app).

[2020-05-27 23:53] MateusAndrade commented on #789
Strange, I tested this here with a fresh project with the following version and it works fine. Also, I checked your project and your dependencies are matching with the ones that I tested here.

[code]

I checked here, it looks that the example app is using a version `3.0.0` of `react-native-share`. Probably because it's using the master version, then the hash should be saved at the `.lock`. I will

[2020-05-27 23:55] MateusAndrade commented on #788
Hi @ajaykumar97, thanks for your feedback 🙉 ! Which platform are you facing this?

[2020-05-27 23:57] MateusAndrade commented on #785
Hi, @isot1990, would you mind sharing how you are trying to call `Share.open`? Also which platform you are experiencing this issue. 😄

[2020-05-28 00:09] MateusAndrade commented on #223
I don't know if you support Twitter out of the box, but looking at their [implementation](https://stackoverflow.com/questions/14664763/android-sharing-on-twitter).

[2020-05-28 01:10] MateusAndrade commented on #767
@hungdev thanks for your feedback. Probably this is due to url or something that end's replacing the params. Would you mind, checking if passing just the url, or the message/title works? I faced that on WhatsApp iOS and choose to pass only the file url. 😢

[2020-05-28 02:46] ajaykumar97 commented on #788
@MateusAndrade I am facing this issue on both, android and iOS platforms. My dependencies versions are:

[code]

[2020-05-28 06:22] MuhammadMattiullah commented on #767
@MateusAndrade if we pass only the message URL then it shows the title. But in this case, the content of the message and title will be the same which is not the required use case.
Mostly the title is different from the share content.
But if we use url and message at the same time then it concatenates both.

[2020-05-28 11:27] youngSt4r1 commented on #737
Hi,
i had the same issue and i solved it:
`function sharing() {
		if (isOnline) {
			console.log('you have internet!');
			viewshot.current.capture().then(async (uri) => {
				const sharedUriMessage = `data:image/jpeg;base64,${uri}`;
				console.log('uri', uri);
				const shareOptions = {
					type: 'image/jpeg',
					message: sharedMessage,
					url: Platform.OS === 'android' ? 'file://' + uri :

[2020-05-28 12:01] Kta-M commented on #789
"the example app" is referring to my `Kta-M/react-native-share-example-app` or this repository's   `react-native-community/react-native-share/example`?

My example app has a committed `package-lock.json` file and [uses react-native-share `3.3.2`](https://github.com/Kta-M/react-native-share-example-app/blob/master/package-lock.json#L7984). This does not work in my environment.
The example app in th

[2020-05-28 21:07] ramosquito5 commented on #781
True, but why doesn't it work with the method open and only with shareSingle? on android open method works just fine.

[2020-05-29 13:21] MateusAndrade commented on #414
The @jozan answer doesn't work for you?

[2020-05-29 13:25] MateusAndrade commented on #767
Strange, are you still trying this implementation here?

[code]

I will give a proper look at this on the weekend, would you mind sharing the applications that you are facing this issue with their respective platforms?

[2020-05-30 05:33] Kta-M commented on #789
@MateusAndrade, I've solved it!

It was a problem on the react-native side.
https://github.com/facebook/react-native/issues/28589

Upgrading Flipper in the Podfile from `0.33.1` to `0.37.0` solved the problem.

In react-native, the following pull requests have already been merged and it looks like they are going to include `0.63.0`😄
https://github.com/facebook/react-native/pull/28597
https://githu

[2020-05-30 05:33] #789 closed

[2020-05-31 12:52] johnvalari commented on #414
@MateusAndrade I'm not sharing any file. Just texts and that doesn't look like a workaround. @jozan confirmed it is still problematic in Gmail.

[2020-05-31 20:44] cr8tpro commented on #613
it's still not solved. same issue occurs for me as well.

[2020-06-02 18:11] ezos86 opened #791 "Documentation.. Whaaa??"
## Can we get some clean examples of actual use cases?

The documentation for this is the worse I have seen for any react-native-community, it has a lot there, thank you. But just overall clean use cases to test, impossible to know the correct structure of JSON, without hours of trial and error.

[2020-06-02 20:17] mikehardy commented on #791
I believe the example is the documentation https://github.com/react-native-community/react-native-share/blob/master/example/App.js

Is it missing something? PRs are merged here frequently, feel free to propose something

[2020-06-03 12:20] agnieszkabugla commented on #760
I have the same issue on iOS when I want to share an image + message:
- via whatsapp -> only message is shared
- via messanger -> only image is shared
- via mail -> works as supposed, message and image are shared

[code]

[2020-06-03 20:23] ezos86 commented on #791
This is great, I think it would be great to add documentation or common use cases links, that have walk throughs. I might do this for some as I work on them for my own app.
ie: Share a sticker on instagram
ie: Share a post with image on Facebook

And they have little tutorials in there on how to do that. So I guess more walkthroughs then documentation. Thanks for the link though, this does help.

[2020-06-03 20:23] #791 closed

[2020-06-03 20:27] enesozturk commented on #472
Hi, It is been long time. Sory for that. I am trying to solve same issue, my base64 response is in correct format. (I tried to decode that base 64 string in online and I could do it) Here ise my url in options:
[code]

Am I doing something wrong?

[2020-06-03 21:06] ezos86 commented on #781
Side note - my binary is invalid when I have instagram-stories, is that working for everyone else?

[2020-06-03 21:52] MateusAndrade commented on #781
Do you mean sharing to instagram stories? Could you share the error log? Or this is being refused at Itunes?

[2020-06-04 07:30] thilinawarnakula commented on #782
@vinikatyal  Any solutions?

[2020-06-04 07:36] vinikatyal commented on #782
@MateusAndrade Would you know about this?

[2020-06-04 10:57] hamoudaarfaoui commented on #784
have you tried on different Android devices than Huawei ?

[2020-06-04 13:00] thilinawarnakula commented on #775
@MateusAndrade please help

[2020-06-04 14:14] martinop commented on #775
I found that this is not a bug, the problem is the privacy policy: https://developers.facebook.com/policy/#socialplugins

So.. we can't fill the message, what we can do is use the "quote".

[2020-06-04 14:17] thilinawarnakula commented on #775
@martinop yes its facebook privacy policy:

[2020-06-04 19:15] tomtargosz opened #792 "ENSCOCOAERRORDOMAIN3072 error being thrown when canceling the Save to File sheet on iOS 13"
### Steps to reproduce
1. Call `Share.open({...})` on iOS version 13
2. Select `Save to Files`
3. Hit cancel

### Expected behaviour
No errors should be thrown

### Actual behaviour
iOS error is being thrown:
[code]

### Environment
- **React Native version**: 0.61.5
- **React Native platform + platform version**: iOS 13

### react-native-share
**Version**: 3.2.2

[2020-06-05 17:29] ezos86 commented on #781
I end up getting it to work, It was just Xcode issue, needed computer restart and update.

[2020-06-05 21:00] collbreno commented on #200
It works, but, as you say, you'he hard coded it. There's a right way to do that.
**AndroidManifest.xml**
`...
<provider>
  ...
  android:authorities="${applicationId}.provider"
  ...
</provider>`

[2020-06-05 21:11] collbreno commented on #200
It works, but, as you say, you've hard coded that. There's a right way to do it. Just change these two lines.
**AndroidManifest.xml**
[code]

**MainApplication.java**
[code]

It's exactly the same thing. But this will take the application Id defined in the build.gradle file. This way you can change the applicationId and it will still work

[2020-06-05 21:13] collbreno commented on #200
@Mikoz93 Your code works, but, as you say, you've hard coded that. There's a right way to do it. Just change these two lines.
**AndroidManifest.xml**
[code]

**MainApplication.java**
[code]
It's exactly the same thing. But this will take the application Id defined in the build.gradle file. This way you can change the applicationId and it will still work.

[2020-06-08 00:26] jgcmarins commented on #165
We're accepting PRs that aim to add Pinterest support for iOS

[2020-06-08 04:26] SethuSenthil commented on #752
I would love to help! I'll document the issues and hopefully a solution!

[2020-06-08 06:03] mingxin-yang commented on #784
I tried Samsung phone is success

[2020-06-08 06:03] mingxin-yang commented on #784
@hamoudaarfaoui

[2020-06-08 07:28] hamoudaarfaoui commented on #784
@mingxin-yang i have same issue looks like something related to Huawei phones .

[2020-06-08 09:36] benevbright commented on #784
We're having the same issue on Huawei phone. (We're running our Product in Germany)

[2020-06-08 09:45] hamoudaarfaoui commented on #784
@benevbright you think it has something to do with `Google PlayServices` ?

[2020-06-08 09:53] benevbright commented on #784
@hamoudaarfaoui  I don't think so. That's why I pointed out the fact that we're running our product in Germany.

[2020-06-08 10:34] anwarDigitalDividend commented on #785
Facing the issue on Android

    let shareOptionsUrl = {
      title: 'My Application',
      message: 'Use my application',
      subject: 'Share information from your application',
      url :`data:image/jpeg;base64,${res}`;
    };
Share.open(shareOptionsUrl);

[2020-06-08 11:32] brmk commented on #788
Experiencing the same behavior. Facebook message is empty when using Share.shareSingle (tested without Facebook app installed)

[2020-06-08 12:50] MateusAndrade commented on #788
This happens when you are using `Share.open` instead?

[2020-06-08 12:53] MateusAndrade commented on #784
Strange, @benevbright are you using the version `1.2.1` too? If so, there is a chance to update this to a more recent version? Maybe this can apply to you too @mingxin-yang.

Also, would you guys mind, sharing the error payload that you got?

[2020-06-08 13:00] MateusAndrade commented on #792
I experienced the same issue, probably the cause of this is here: https://github.com/react-native-community/react-native-share/blob/10c72e4a6a54042fc98c16d69a773fad4034b246/ios/RNShare.m#L163-L271.

I will try reproducing that here using the example app, to see exactly which method is throwing this error.

[2020-06-08 13:12] benevbright commented on #784
@MateusAndrade We're using `1.0.27`. And `1.2.1` didn't work either when I tested it a time ago.
I didn't try the latest version but do you think you saw the fix regarding this problem?

I can test it later and get back to here.

[2020-06-08 13:13] MateusAndrade commented on #782
Sorry for the long time to answer. 😅

Looking at the example you provided, are you trying to use this `appId` as the same values exported by rn-share. If this is right, unfortunately right now we don't support `messenger` as a target on iOS using `Share.single`.

You can look at the implementation here: https://github.com/react-native-community/react-native-share/blob/10c72e4a6a54042fc98c16d69a773

[2020-06-08 13:15] MateusAndrade commented on #784
@benevbright maybe. But looking at the description of your problem, this can be related to something specific on Huawei devices.

I think it will be better testing the example app on these devices, trying to reproduce that instead of updating your version of rn-share(probably if you are using an older version of rn, you will need to update this too).

[2020-06-08 13:19] MateusAndrade commented on #760
Hi @agnieszkabugla, thanks for sharing that. Right now, I think this is some specific implementation calling the activity to WhatsApp that is causing that. To fix that for me, I decided to share the message or the image only when sharing on iOS.

Can you confirm, that this happens when using `Share.single({})`?

[2020-06-08 13:45] benevbright commented on #784
@MateusAndrade I got it. I think so too.
And I'm aware of the note about compatibility versions with RN.
But apparently, we're using RN 0.61.5 and rn-share 1.0.27 without any problem except the Huawei.
(it's off-topic, though)

[2020-06-09 01:46] jgcmarins commented on #759
Can we close this one?

[2020-06-09 01:47] jgcmarins commented on #755
Hello, what's the status of this one?
cc @samgermain @MateusAndrade

[2020-06-09 01:49] jgcmarins commented on #643
@benevbright can you share any error message/stack?

[2020-06-09 01:49] jgcmarins commented on #765
@TheGuy68 we're accepting PRs that land this feature into Android

[2020-06-09 01:50] jgcmarins commented on #766
If Safari is installed, users will be able to share a link via Safari.

[2020-06-09 01:50] #766 closed

[2020-06-09 02:15] reallijie commented on #740
Is there any progress on this requirement?@MateusAndrade

[2020-06-09 04:33] Onus31 commented on #218
I have already applied all possible path in provider path and still not work
<root-path name="root" path="." />
<files-path name="files" path="." />
<cache-path name="cached_files" path="." />
<external-path name="external_files" path="." />
<external-cache-path name="cached_files" path="." />
<external-files-path name="external_files" path="." />

[2020-06-09 10:20] damiansnp commented on #643
Below is a patch for react native share 2.0.0 with a few modifications on the Android native code. It changes the share approach by using an activity picker and then actually sharing the message, but the activity picker looks uglier than the native share modal (but it works better).
Also, it doesn't resolve the issue 100%, because even if the user picks an activity, it can also cancel the share in

[2020-06-09 10:26] benevbright commented on #643
https://github.com/react-native-community/react-native-share/issues/784
Here is an open issue. Can we continue there?

[2020-06-09 10:51] damiansnp commented on #784
I've posted a patch with a workaround (for v2.0.0) in the closed #643 issue.
For more details check here: https://github.com/react-native-community/react-native-share/issues/643#issuecomment-641192985
Thanks to @benevbright for pointing me to the new open issue.

[2020-06-09 12:20] MateusAndrade commented on #784
@damiansnp we can follow with that on PR. What do you think?

[2020-06-09 12:24] MateusAndrade commented on #784
This is interesting. Hey @benevbright would mind testing this approach by @damiansnp?

[2020-06-09 13:12] benevbright commented on #784
@MateusAndrade Unfortunately, the Huawei phone is not with me right now..
I will test the latest version first with the Huawei device later and come back here.

[2020-06-09 15:22] artemkhalygov commented on #788
@MateusAndrade I have same issue with Share.open

[2020-06-09 16:53] dbarner1 opened #794 "Mechanism to rename a base64 filename before sharing?"
Hi folks,

Is there a way to rename a base64 filename before sharing it?

Example: 3443453525234.pdf -> certificationForYou.pdf

Thanks,
Dave

[2020-06-09 16:58] dbarner1 commented on #794
Note: I did try

`await Share.open({ url: base64Data, subject: params.subject, filename: 'certificationForYou.pdf' });`

...but it didn't rename the pdf.

[2020-06-09 20:58] MateusAndrade commented on #794
Which platform are you testing this? Because this is supposed to work on Android only. 🤔
https://github.com/react-native-community/react-native-share/blob/5299d95aab25bfba6815e0f5455876897ed8ddc6/android/src/main/java/cl/json/social/ShareIntent.java#L170-L180

[2020-06-09 22:08] dbarner1 commented on #794
Testing on Android - in the simulator.

On Jun 9, 2020 at 4:58 PM, Mateus Andrade <notifications@github.com> wrote:

Which platform are you testing this? Because this is supposed to work on
Android only. 🤔
https://github.com/react-native-community/react-native-share/blob/5299d95aab25bfba6815e0f5455876897ed8ddc6/android/src/main/java/cl/json/social/ShareIntent.java#L170-L180

—
You are receiving th

[2020-06-10 12:13] saurabh874 opened #795 "can we share a link by other social like QQ, Line, WeChat?"
can we share a link by other social like QQ, Line, WeChat?

[2020-06-11 06:56] Yandamuri opened #796 "sharing to hangouts is supported only in ios, but not in android"

[2020-06-11 09:55] Goldyukol commented on #755
There was such a function in this library

[2020-06-11 13:20] mikehardy commented on #796
PRs happily accepted!

[2020-06-11 14:15] jopperhe commented on #784
@MateusAndrade I'm working on the same project as @benevbright. I tested react-native-share 3.3.3 with @damiansnp's patch on my Huawei P20 Pro and can confirm it works. The promise resolves correctly with the name of the app that was used for sharing. Also the "copy to clipboard" share option works without leaving the promise unresolved.

[2020-06-11 14:30] benevbright commented on #784
@jopperhe @damiansnp  Thanks a lot.
So, to be clear, the latest version is not working but the patch does.

[2020-06-11 18:12] oleksandr-dziuban opened #797 "react-native@0.62.x crash for base64 urls sharing on iOS platform"
### Steps to reproduce
1. Use react-native@0.62.2 and react-native-share@3.3.3
2. Try to share an image with this code:

[code]

3. iOS Application will be crashed with logs:

[code]

### Expected behaviour
IOS application successfully launches Share modal

### Actual behaviour
IOS application crashes

### Environment
- react-native@0.62.2:
- iOS 13.5.1

### react-native-share
react-native-share@3

[2020-06-11 18:14] MateusAndrade commented on #797
Can you share the iOS logs @oleksandr-dziuban ?

[2020-06-11 18:14] oleksandr-dziuban commented on #797
@mikehardy Could you please check this issue? Thanks a lot

[2020-06-11 18:18] oleksandr-dziuban commented on #797
@MateusAndrade Added crash logs here..

[2020-06-11 18:18] MateusAndrade commented on #797
Does this only happen when sharing a `url` with a `base64`?

[2020-06-11 18:21] oleksandr-dziuban commented on #797
I didn't try ``file://`` because I'm using screenshots in base64 from ``react-native-view-shot``.
Double checked if base64 code correct, yes it is. Also tried to hardcode simple base64 image without ``react-native-view-shot``. Same crash

[2020-06-11 18:22] oleksandr-dziuban commented on #797
Installing 3.1.2... one minute

[2020-06-11 18:25] oleksandr-dziuban commented on #797
Same crash on v3.1.2.
On react-native@0.61.5 everything works fine on react-native-share@3+.
So the reason in some new changes in latest react-native@0.62+ platform

[2020-06-11 18:26] MateusAndrade commented on #797
Strange, so with 3.3.3 it runs without any problem with rn@61.5?

[2020-06-11 18:28] oleksandr-dziuban commented on #797
Didn't test 3.3.3 on 0.61.5.
I'm migration project now from react-native@0.61.5 to 0.62.2
And made regression testing on basic areas. So on 0.61.5 I used react-native-share@3.0.0 and it worked fine

[2020-06-11 18:29] oleksandr-dziuban commented on #797
Will try 3.0.0 with 0.62.2...

[2020-06-11 18:32] MateusAndrade commented on #797
Strange, I'm using an older version(2.0.0) with rn@62.2 with any problem. I'm using the same approach with `rn-view-shot` here. Did you try passing a `type`?

[2020-06-11 18:32] oleksandr-dziuban commented on #797
@MateusAndrade
Nope, same crash for me on 3.0.0

[2020-06-11 18:33] oleksandr-dziuban commented on #797
It works fine without `type` on 0.61.5

[2020-06-11 18:38] MateusAndrade commented on #797
I don't know, I never had to use TrustKit. Would you mind disabling that to test this? Also I tested here with rn@62.2 and rn-share@2.00 It ti works fine. I need to test with a newer version to ensure this is working. 😅

Also, I'm using something like this:

[code]

[2020-06-11 18:40] oleksandr-dziuban commented on #797
What is type? 'image/jpg' or just 'jpg'?
I tried `type: 'jpg'`, nothing new...

[2020-06-11 18:44] MateusAndrade commented on #797
I noted that you are setting the type. But I'm calling the `capture` from rn-view-shot passing the `uri` directly to the share function. Something like this:

[code]

Can you confirm if this works for you? Also, I need to confirm, but the right one probably is `image/jpg`.

[2020-06-11 18:46] oleksandr-dziuban commented on #797
Tried to disable Truskit, pass `type` - nothing

[2020-06-11 18:47] oleksandr-dziuban commented on #797
view-shot return pure base64 string. We need to add `data:image/jpg;base64,${uri}` here

[2020-06-11 18:48] oleksandr-dziuban commented on #797
Just tested v2.0.0, same crash for me...

[2020-06-11 18:56] oleksandr-dziuban commented on #797
@MateusAndrade Tried your way to capture a file (not a base64) with view-shot - works fine!
So url as file works fine, but url as  base64 is broken for react-native@0.62.2

[2020-06-11 18:57] oleksandr-dziuban commented on #797
@MateusAndrade I will use this way for now, but issue with base64 still exists anyway.
Thanks a lot for your help, I'm unblocked at least with current migration to latest react-native. Thank you!

[2020-06-11 19:00] MateusAndrade commented on #797
Great! Actually, wich can be wrong is: ````data:image/jpg;base64,```.  I didn't test this using your approach, but maybe you are overriding the image type or something like that. Looking at the docs from `view-shot`, you can pass an optional format.

Can you check with is the format of the output from your project? 👯

[2020-06-11 19:06] oleksandr-dziuban commented on #797
Yes, I added jpg option to be a default for view-shot.
Double checked. Just output was a base64. Changed to default 'tmpfile' and it's OK to use with rn-share. So somnething wen wrong with sharing base64 in RN 0.62+

[2020-06-11 19:25] MateusAndrade commented on #784
@jopperhe @benevbright thanks for sharing that. So the version 3.3.3, works with this [patch](https://github.com/3b1b/manim)?

[2020-06-11 19:27] benevbright commented on #784
@MateusAndrade Only with the patch. But I guess you can apply the patch on any versions. So it's kind of another topic.

[2020-06-11 19:30] MateusAndrade commented on #784
@benevbright I can help to test this patch and if everything works we can land a release with that. I only need to test this with the example app. 😅

[2020-06-11 19:39] benevbright commented on #784
@MateusAndrade
But have you checked out @damiansnp 's patch?
Basically, it's a different approach.

### patch

![patch](https://user-images.githubusercontent.com/916690/84431476-a4ff7e00-ac2b-11ea-8ee5-b6b5b8d7eba1.gif)

### original react-native-share

![Screenshot_20200611_163149_com huawei android internal app](https://user-images.githubusercontent.com/916690/84431493-aa5cc880-ac2b-11ea-9f23-f6

[2020-06-11 19:55] MateusAndrade commented on #784
Hmm, maybe we can set a prop to set which method you are going to use. What do you think @benevbright ?

[2020-06-11 20:07] benevbright commented on #784
@MateusAndrade
I would investigate a bit more if there is a way to solve it in a normal way.

I'm not sure. Then you need to maintain two different logics.

and even if we want to put it in react-native-share, devs will still have to check the Huawei device because we would want to provide the native one for users who have the other Android devices.

Another option could be putting the device-chec

[2020-06-12 22:02] benevbright commented on #784
Btw, the error payload is
[code]
https://github.com/react-native-community/react-native-share/blob/5299d95aab25bfba6815e0f5455876897ed8ddc6/index.js#L268
as the original post says.

[2020-06-12 22:29] arrygoo commented on #797
I can replicate this error, even the example in `examples` where it loads a hardcoded base64 fails on RN62

[2020-06-12 22:34] benevbright commented on #784
I guess these are related.

https://stackoverflow.com/questions/53808950/creating-action-send-intent-fails-with-failure-when-granturipermission
https://github.com/zawadz88/material-activity-chooser/issues/6#issuecomment-450238912

It's mentioning 'intent with ShareCompact' and it will allow us to use Android share intent instead of Huawei share intent.

[2020-06-13 14:55] vikjovanov opened #798 "What is "Share Single" category ?"
Hello,

when I go to the "Share Single" category in the documentation, I realize that there is a list of applications supported by the react-native-share package.

So, to start with, I was already wondering what "Share Single" meant exactly. I didn't really understand the associated example gifs.

Then, why are some applications, like FACEBOOK_STORIES, only supported on iOS and others only on Andr

[2020-06-14 19:43] #751 closed

[2020-06-14 20:15] Kta-M commented on #797
This may have been the cause 👀
https://github.com/react-native-community/react-native-share/issues/789#issuecomment-636280258

[2020-06-14 20:43] #676 closed

[2020-06-15 12:57] MateusAndrade commented on #797
Thanks for sharing this. I will give a try updating the example project to this version.

[2020-06-15 13:02] MateusAndrade commented on #798
HI @vikjovanov , thanks for sharing this with us. The purpose of `Share.single` is to share to a specific application, instead of calling the generic "share".

Wich may work as a "deep link".  Also, some implementation is only supported in specific platforms(Facebook Stories for example), but you still able to call `Share.open` to share with these platforms.

Also, sorry for the confusion with our

[2020-06-16 06:09] #758 closed

[2020-06-16 13:21] MateusAndrade commented on #791
@ezos86 please check out: https://react-native-community.github.io/react-native-share. 😄

[2020-06-16 15:06] mikehardy commented on #791
Those are pretty @MateusAndrade !

[2020-06-16 16:03] MateusAndrade commented on #791
Thanks a lot. 🙈 🙈 🙈

[2020-06-16 18:54] friederbluemle commented on #791
Nice @MateusAndrade 👍

[2020-06-17 01:44] MateusAndrade commented on #797
I'm testing the example App with #803 and apparently I'm having the same problem when I'm trying to share any Image with base64 with rn@62.2. 🤔

Did you get anything about that @oleksandr-dziuban , @Kta-M , @arrygoo ?

[2020-06-17 03:14] llgoer commented on #795
not support yet

[2020-06-17 14:51] thedivac opened #804 "Custom Icon not showing (shows App Icon instead)"
### Steps to reproduce

Opening Share Sheet with following options:

[code]

### Expected behaviour

Share Sheet should show my custom icon on iOS

### Actual behaviour

Share Sheet shows app icon

### Environment
- **React Native version**: 0.62.2
- **React Native platform + platform version**: iOS 13

### react-native-share
npm 3.3.3

I played around with the options for a day but couldn't get i

[2020-06-17 16:17] MateusAndrade commented on #804
Hi @thedivac, would you mind testing this with our example app?

[2020-06-17 16:33] MateusAndrade opened #805 "Port project to Typescript + Flow Types"
## Describe the Feature
Since we have been doing a lot of changes to `react-native-share` with new documentation and improvements on the  `example` application, aiming to make the life of any contributor easier.

Following the example of [react-navigation](https://github.com/react-navigation/react-navigation) which mainly uses TS now, it would simpler to update types, etc.

My idea is porting the

[2020-06-17 16:49] oleksandr-dziuban commented on #797
@MateusAndrade Haha, how the Flipper can affect base64 images flow? Really weird... but yes, it helps

[2020-06-17 17:03] mikehardy commented on #805
Another project I check went further without incident - just convert to typescript, evict the flow types and if people want flow-typing they can contribute types to flow-typed repo. It's basically reversing the previous stance (flow first / typescript secondary) but in a way that - while opinionated - recognizes the current javascript ecosystem reality. Typescript won.

[2020-06-17 18:03] MateusAndrade commented on #797
I don't have an idea, I was thinking of looking at the flipper repo but I'm without time this week. Also, can we close this issue?

[2020-06-17 18:26] jgcmarins commented on #805
That's great!
Check how [graphql-js has been doing that](https://github.com/graphql/graphql-js/issues/2104).

[2020-06-17 20:18] nabilnalakath opened #806 "Multiple File Share not working in iOS"
### Steps to reproduce
1. Share two files separately - works fine
2. Share same files together - does not work

### Expected behaviour
Pop up to select application should appear and stay for user to select the app to share.
### Actual behaviour
Pop up to select application disappears as soon as it comes ( see gif below)

### Environment
- **React Native version**: 0.62.2
- **React Native platform

[2020-06-17 20:21] MateusAndrade commented on #806
Hi @nabilnalakath , this is happening only on IOS? Also, did you try sharing the `urls` with a base64?

[2020-06-17 20:33] Thomazella commented on #805
👀 I can help with Ts but not so much with flow. I think the decision to go full TS is simpler than maintaining both TS and Flow. I'd still keep a branch with the flow types, just to have them as reference.

[2020-06-17 20:36] MateusAndrade commented on #805
Sure! I'm a newbie with flow, maybe @jgcmarins can help us. I think I will push a new branch as soon as we start working on that to become our "backup". Do you have any thoughts about removing the types from DefinetlyTyped or something similar to that?

[2020-06-17 20:37] MateusAndrade commented on #805
Edit:

Probably the `components` and mainly the `index.js` which is the root of the project that is a mess now. 😢

[2020-06-17 20:39] nabilnalakath commented on #806
@MateusAndrade Yes. Only in iOS, these same files work fine in Android. And no, I haven't tried sharing base64 URLs.

[2020-06-17 20:40] mikehardy commented on #805
I believe you convert to typescript and the types in the repo become the canonical version at which you point you definitely remove the types from definitely typed. That's what I've seen

[2020-06-17 20:44] MateusAndrade commented on #806
Can you try sharing with base64 only? Also, could you share the options that you are sending to `Share.open`?

[2020-06-17 20:54] aaronfg commented on #805
Official types in TS would be great as the definitely typed defs are not up to date/correct. Especially with regards to what Options are from **Share.shareSingle(options)** vs **Share.open(options)**.

Props on the Options marked as Optional [in the **Share.open** docs](https://react-native-community.github.io/react-native-share/docs/share-open) don't match up with **[what's there in definitely ty

[2020-06-17 21:07] nabilnalakath commented on #806
@MateusAndrade It works with base64. So does this mean I cannot use local paths for multiple file sharing at all?

[2020-06-17 22:00] nabilnalakath commented on #806
@MateusAndrade It also causes my app to crash when I am trying to pass an array of base64 URLs created from multiple PDF files as soon as I call the share.open function. I cannot get logs anything in the then() or catch() block as well.

[2020-06-17 22:08] thedivac commented on #804
I tested it with the example app:

[code]
Same issue, it's showing the example app icon instead of the custom icon:

![](https://user-images.githubusercontent.com/26794143/84955359-14271780-b0ef-11ea-96e3-9b072ddfc1f9.png)

[2020-06-18 00:32] luancurti commented on #805
Hey 👋🏻, I can help to migrate, I think we can enable the TypeScript (with a minimal configuration like this [approach](https://apiumhub.com/tech-blog-barcelona/migrate-javascript-to-typescript/)) in the project we can migrate file by file, after a full migration we can improve the configuration and compiler flags, WDYT?

[2020-06-18 17:53] Mavenic commented on #438
Yes, it does not work on IOS, the share single for email doesn't work too.
it becomes something like this when base64 is used:

![1694cf49-aff3-477f-b0b1-156a10add9a3](https://user-images.githubusercontent.com/1584324/85055127-bb24b580-b1ba-11ea-9453-e7d1fbf75241.jpg)

[2020-06-18 18:00] Mavenic commented on #438
No it doesn't, when there is no `message` param it doesn't work at all

[2020-06-18 18:13] Thomazella commented on #805
Cool so I think we're looking for a WIP PR from someone to kickstart this. The main files to migrate would be
- [ ] index.js
- [ ] component/Button.js
- [ ] component/Overlay.js
- [ ] component/Sheet.js

let me know if I'm forgetting anything, kinda new to the project.

@MateusAndrade you mentioned refactors, I thought that maybe refactoring would be a different task. Typing first would make refac

[2020-06-18 19:52] MateusAndrade commented on #805
Thanks! I agree with you. Actually we need to start with Typing and after that refactoring some implementations. 👯

[2020-06-20 09:05] enesozturk opened #807 "How to share custom text file types (IGC)?"
Hi! Thanks for provide such a good library. I am using this lib to share my local or remote files. I can share files both Android and iOS. But in Android, I need to convert my files to base64. So far so good. But when I try to share my base64 coded file, lib adds different file extension to my file. Here is info about my files;

My files are **flight record file that has to be .IGC extension (just

[2020-06-21 13:55] #712 closed

[2020-06-21 13:58] MateusAndrade commented on #712
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-share/v/3.5.0)
- [GitHub release](https://github.com/react-native-community/react-native-share/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-21 14:21] Mavenic commented on #106
This issue still exists

[2020-06-21 14:43] MateusAndrade commented on #106
Which versions of rn and rn-share are you using?

[2020-06-21 14:55] Mavenic commented on #688
This problem still persists, any solution to this

[2020-06-21 17:09] GhostCrawl3r commented on #752
Hey Guys,

Just following this up. Does this support TikTok on android/IOS now? - I couldn't see any mention in the docs.

Cheers,

[2020-06-21 17:22] Mavenic commented on #106
Here are the details of this issue, posted on similar thread

https://github.com/react-native-community/react-native-share/issues/438#issuecomment-646216661

[2020-06-21 21:40] MrAlekhin commented on #271
@mikehardy what am I missing then?
[code]

[2020-06-21 21:44] mikehardy commented on #271
hard to say that's a snippet out of context.
But I'd put anything "await" inside a try, with a catch and log the error, just like the comment above you.

[2020-06-21 22:00] MrAlekhin commented on #271
yes, I've logged that. and that's what I see
![Screen Shot 2020-06-21 at 5 58 30 PM](https://user-images.githubusercontent.com/24749983/85236131-07553d00-b3e9-11ea-942d-e378707df073.png)

[2020-06-22 11:56] sohail-dragon commented on #792
Hey guys, we have the same issue. Any tips on how to get around it?

[2020-06-22 14:36] mikehardy commented on #271
So whatsapp is not installed.

[2020-06-22 16:27] MrAlekhin commented on #271
but it is installed. I was running debugger on the physical device. Instead of opening whatsapp it opened App Store with whatsapp

[2020-06-22 21:35] retyui opened #808 "Share instagram story is not work properly"
### Steps to reproduce

**I tried to run the next code:**

[code]

**As a result I see next:**

[code]

### Expected behavior

Instagram story sharing should work properly

### Actual behavior

After invoking `.shareSingle(...)` will be opened a new activity and very quickly closed and a result `{ message: true, app: 'com.instagram.android' }` Instagram didn't open

Also, I tried to use  [example/

[2020-06-22 23:29] mikehardy commented on #808
Looks like the example implements it, how does the example app work for you?

https://github.com/react-native-community/react-native-share/blob/d62e9e0037de8d0c4e97df1b6b980fb9a7a1191e/example/App.js#L172

[2020-06-22 23:31] mikehardy commented on #271
so why would the code think it was not installed? It's a pretty small file to instrument (just hack some logging into it directly in node_modules)

https://github.com/react-native-community/react-native-share/blob/master/ios/WhatsAppShare.m

[2020-06-23 03:59] Mavenic opened #809 "Unable to share an Gif (base64) on IOS"
### Steps to reproduce
1. Download a gif from URL as a base 64.
2. Share using `shareSingle(...)` (Tried for Facebook, Instagram & Mail)
3. It loses all it's animation when shared.

### Expected behaviour
It should be able to share the animated gif on the above-mentioned platforms.

### Actual behaviour
It shares a static image on Facebook (only in IOS) and Instagram (Android and IOS). When shared

[2020-06-23 06:15] retyui commented on #808
![3e90a53a-25d1-4b69-a26e-d265c1eb8a05](https://user-images.githubusercontent.com/4661784/85367538-201d3a00-b532-11ea-90b3-61c48cf51e68.gif)

[2020-06-23 08:40] MrUmarArshad opened #810 "Instagram on iOS: the Instagram share option doesn't appear in the standard iOS menu"
### Steps to reproduce
1. just install react-native-share or use Share from React
2. click share button

### Expected behavior
After open Share Action Instagram app there

### Actual behavior
After the open Share Action sheet, all apps are there. but Instagram is not present in list
### Environment
- **React Native version**:  0.61.5
- **React Native platform + platform version**: iOS 13.0, Androi

[2020-06-23 14:20] mikehardy commented on #808
Great! So it is easy to reproduce with code the maintainers have access to, since you didn't include a link to the repo

It's pretty easy to hack System.err.println("ReactNativeJS", "whatever you want to log here") lines into the Java implementation directly in node_modules and trace it through. What did you see as arguments and return values in logcat when you did that and attempted to access the

[2020-06-23 14:48] PidfihurnyiOrest commented on #804
The same issue, need to provide an example how to use custom icon in documentation

[2020-06-24 07:06] ibrahimyolbir opened #811 "how to use print and other ActivityTypes"
## Ask your Question

Hello everyone!

I am using the react-native-share extension for the share and print Pdf document. I am trying to add The 'Print' attribute but it is not working or I couldn't get it right
I follow this document https://react-native-community.github.io/react-native-share/docs/share-open#activitytype

and i used the example here https://react-native-community.github.io/react-n

[2020-06-24 12:09] MateusAndrade commented on #811
Hi @ibrahimyolbir , could you share the payload that you are passing to `Share.open`? Also, would you mind test our example app to see if this works for you?

[2020-06-24 12:16] ibrahimyolbir commented on #811
hi @MateusAndrade
as i said above i am using this example already
I just added the object I specified below to this ready code
[code]

[2020-06-24 12:25] MateusAndrade commented on #811
Sorry, I misunderstood your comment. The same is happening when you try sharing without the ActivitySource? Like sharing a simple base64.

[2020-06-24 12:39] ibrahimyolbir commented on #811
Yes, its same,  i am trying to use this code https://react-native-community.github.io/react-native-share/docs/share-remote-file