[2015-10-13 13:48] tolu360 opened #1 "Peer dependency requirements"
Hello,

I ran into peer dependency issues trying to install package in RN 0.12. Perhaps you may bump up version to a stable RN release. Thanks

[2015-10-14 01:55] #1 closed

[2015-10-17 02:12] kunalnagar opened #2 "Does this work with Instagram?"
I am trying to share an external image to Instagram. Will this work?

[2015-10-30 00:47] karlgodard commented on #1
Hi just ran into this issue but with RN 0.13 instead. Would it be better if the peer dependency is updated to use the >= instead of the ^ versioning in the package.json?

[2015-11-16 16:16] MrPluto opened #3 "why not find libRNShare.a file"
why not find libRNShare.a file

[2015-11-19 04:56] sulliwane opened #5 "Can't find Wechat sharing button, any reason why?"
Hello,

thank you for this great component (cross platform :+1: ),

is there any reason why **Wechat** does not appear in the sharing option (for ios) but appears in Android? As I understand it's possible to **exclude** some application to show up in the list, but how to add one?

Cheers.

[2015-11-19 12:28] EstebanFuentealba commented on #2
could include, checked the instagram documentation and if possible ( https://instagram.com/developer/mobile-sharing/android-intents/ and https://instagram.com/developer/mobile-sharing/iphone-hooks/ ). I should implement it in this library

[2015-12-10 12:25] samuelkraft opened #6 "NativeModules error on iOS in rn 0.16.0"
Unable to resolve module NativeModules from projectdirectory/node_modules/react-native-share/index.ios.js: Invalid directory /Users/node_modules/NativeModules

[2015-12-14 05:44] lifuzu commented on #6
+1

[2015-12-14 06:08] lifuzu commented on #6
Hi @samuelkraft I had a PR #7 to fix the problem. For temporary solution, you can replace your package.json:
"react-native-share": "^1.0.4",
=>
"react-native-share": "lifuzu/react-native-share"

Hope can help you.

[2015-12-14 08:37] samuelkraft commented on #6
Thanks, your PR works! Hopefully this will be merged soon.

[2016-01-01 19:06] avishayil commented on #3
+1 on this

[2016-01-04 15:42] asommer70 commented on #3
Here's what I did to enable the libRNShare.a file and be able to add the Share dialog.

* Open XCode.
* Right click on **Libraries** > Click Add Files To "YOUR PROJECT NAME".
* Browse to your project folder/node_modules/react-native-share and select RNShare.xcodeproj.
* This will add RNShare.xcodeproj under the Libraries and if you expand the library and expand the **Products** folder you should s

[2016-01-12 14:40] kyle-ssg commented on #6
Can this be merged please ? :+1:

[2016-01-15 15:11] mrcritical commented on #6
+1

[2016-01-20 09:31] NetPumi2 opened #11 "Error building DependencyGraph"
After installation:

 Error: Naming collision detected: /home/lukas/Documents/DEVELOP/React-Native/ski-app-mobile/node_modules/react/node_modules/fbjs/lib/getActiveElement.js collides with /home/lukas/Documents/DEVELOP/React-Native/ski-app-mobile/node_modules/react-native/node_modules/fbjs/lib/getActiveElement.js
    at HasteMap._updateHasteMap (HasteMap.js:132:13)
    at HasteMap.js:103:28
    at

[2016-01-26 21:45] dangnelson commented on #6
+1

[2016-02-07 11:11] paulgessinger opened #13 "Error Invalid directory /Users/node_modules/NativeModules"
I get the following error when running on iOS.

I believe this is because of the way you load the NativeModule, maybe they changed something.

[2016-02-07 11:16] paulgessinger commented on #13
Ah, I see this was changed in #7.
Did you publish this to NPM yet?

[2016-02-18 06:53] exoer opened #14 "How to install it on RN 0.20 for Android?"
It appears that the `MainActivity.java` file has changed for ReactNative release 0.19 and 0.20 compared to the documentation in the README. I can't find the `onCreate`-method, so it is not clear how to add the package `.addPackage(new RNSharePackage())`?

[2016-02-18 10:05] polacekpavel commented on #14
In your MainActivity.java add package import this way.

in the top of file.
`import cl.json.RNSharePackage;`
and in the code

[code]

[2016-02-18 13:02] exoer commented on #14
Thank you

[2016-02-18 13:02] #14 closed

[2016-02-21 15:34] xiaobuu opened #16 "[Android] share_text doesn't seem to work"
With both share_text and share_URL defined, only the url is shown in the shared text, is it a bug or the normal behaviour of Android system?

[2016-03-02 16:43] Max93 opened #17 "[iPad] App terminating when try to open UIPopoverPresentationController"
Terminating app due to uncaught exception 'NSGenericException', reason: 'UIPopoverPresentationController (<_UIAlertControllerActionSheetRegularPresentationController: 0x7ce06ba0>) should have a non-nil sourceView or barButtonItem set before the presentation occurs.

[2016-03-02 16:46] Max93 commented on #17
I have found this http://stackoverflow.com/a/27189994/2110721

[2016-03-07 12:25] willhalling commented on #3
Hi @asommer70 - I followed your steps but RNShare.xcodeproj isn't available after clicking on the "+" button in Compile Sources - so I can't add libRNShare.a.

Any ideas?

[2016-03-07 13:37] asommer70 commented on #3
@willhalling I don't find it now too.  Could be something with the XCode version.  Can you try the Share button and let me know if it works?

[2016-03-07 17:17] willhalling commented on #6
+1

[2016-03-08 09:18] willhalling commented on #3
Thanks for quick response @asommer70. I tried the share button but get an error when calling the share function: undefined is not an object nativeRNShare.open

<img width="315" alt="screen shot 2016-03-08 at 09 17 59" src="https://cloud.githubusercontent.com/assets/3502457/13597152/bafd220e-e50e-11e5-9b1c-91c6066f2811.png">

[2016-03-08 15:52] asommer70 commented on #3
@willhalling When you get a chance try this:

* Select the **RNSHare.xcodeproj** entry in under **Libraries** in the folder view.
* Click the **Build Phases** tab.
* Expand the **Compile Sources**.
* Click the **"+"** button at the bottom.
* Select **libRNShare.a** under **Products** then click the **Add** button.
* Then build and test out the share button.

Hopefully that will get things fixed up

[2016-03-11 12:20] yusufseyrek commented on #3
hi there, i have same issue. Libraries -> RNSHare.xcodeproj -> libRNShare.a is red. Also i get "RCTBridgeModule.h" not found error.

[2016-03-14 07:22] MrPluto commented on #3
any idea? i got the same issue

[2016-03-21 10:59] CreativeManix opened #18 "Sharing an Image"
How Can I share an Image on Android?

[2016-03-22 15:17] CreativeManix commented on #18
I have forked and added some support for Image sharing for Android. Tested with whatsapp, FB, gmail it works fine. It is also required to add  WRITE_EXTERNAL_STORAGE,READ_EXTERNAL_STORAGE Permissions.

I am not a Java Programmer so the code is not well organised, so I didn't sent a pull.

https://github.com/CreativeManix/react-native-share

[2016-03-22 15:17] #18 closed

[2016-03-29 19:03] Emibob commented on #13
Looks like it hasn't been published - I'm getting the same errors when running on iOS @EstebanFuentealba

[2016-04-04 19:51] cmcewen opened #19 "Push changes to NPM"
It seems like some of the latest changes haven't been pushed to NPM - would you be able to do that? Are you looking for any help maintaining this repo?

[2016-04-06 19:46] udfalkso commented on #16
Seems like it depends where your'e sharing it to.  I find that sharing to Gmail, the share_text shows.  But sharing to twitter, it doesn't.  Seems like some apps use the SUBJECT field and some don't.

[2016-04-12 04:07] burnsting commented on #17
Did you manage to fix this by any chance?

[2016-04-14 08:55] Mactub07 commented on #13
RN 0.20 , IOS-emulator , see the same mistake

[2016-04-15 05:14] #19 closed

[2016-04-15 05:15] #13 closed

[2016-04-15 05:16] #6 closed

[2016-04-15 05:17] #3 closed

[2016-04-17 11:20] mcnamee opened #21 "'RCTBridgeModule.h' file not found"
Hi, when I switch build configuration to 'Release', I get the following error:
`'RCTBridgeModule.h' file not found`

This is in Xcode, I'm trying to run on an actual device

[2016-04-17 15:53] #21 closed

[2016-04-17 20:03] mcnamee commented on #21
Thanks!

[2016-04-18 07:55] Gedzis opened #22 "Error while trying to display: view is not in the window hierarchy"
Hey,
anyone faced issue while trying to display share:

[code]

After this `warning` share isn't visible.
I tried to call this in upper level of my app and it helped, but it isn't best solution.

I there any way to fix this? I am not familiar with native iOS.

[2016-04-21 05:00] pewh commented on #2
So any progress about this?

[2016-04-21 05:05] pewh commented on #18
Good job @CreativeManix! I think it should be merged. Out of curiosity, is it work with Instagram?

[2016-04-21 07:26] pewh commented on #18
Have tested it and it's work :)

[2016-04-24 02:24] Sexycrets commented on #17
Any update on this?

[2016-04-27 10:06] sf577 commented on #17
Ive opened a Pull Request to add support for this #24

[2016-05-02 12:15] burnsting commented on #17
Work for me, thanks for the fix @sf577 !

[2016-05-04 08:28] sf577 commented on #17
@EstebanFuentealba Can npm be updated with the latest version and then we can close this issue

[2016-05-04 19:10] esutton opened #25 "Feature request - Add method to share local files using UIDocumentInteractionController"
Thank you for sharing your work!  I had a feature request:

**Use Case:** To share a local app generated file with installed iOS apps such as "Copy to Google Earth"

`urlToLocalKmlFile: file:///var/mobile/Containers/Data/Application/13052-F5A9-48FF-90F7-613A3E75F4/Documents/Demo_Parking_Lot.kml`

**Implementation Example:**
https://github.com/deldreth/react-native-document-controller/blob/master/D

[2016-05-05 00:15] #17 closed

[2016-05-12 08:55] yunmanger1 opened #26 "Sharing image in base64"
Is it possible to share a base64 encoded image?

[2016-05-20 17:33] Elyx0 commented on #26
Possible according to https://github.com/naoufal/react-native-activity-view/

[2016-05-24 17:27] mschipperheyn opened #28 "Share menu not visible when called from Modal"
When the share menu is called from within a Modal. It doesn't become visible. It stays behind the Modal.

[2016-06-01 13:52] roman01la opened #29 "Activity completion callback is not used on iOS"
The callback which can be passed as the second argument is not used anywhere in iOS code. So it's not possible to handle completion of the activity.

[2016-06-02 10:06] basdvries commented on #29
+1. Important feature imo

[2016-06-02 18:59] mschipperheyn commented on #28
Here is the solution from another project on the same problem. Perhaps this could be a solution also?

https://github.com/instea/react-native-popup-menu/issues/1

[2016-06-02 19:59] tgoldenberg opened #31 "Issue using on Android"
Followed the instructions and getting an error - `undefined is not an object (evaluating '_reactNativeShare2.default.open')`

[2016-06-02 22:15] tgoldenberg commented on #31
Also when I `import` the module I get that it is `undefined`. However, all the installation instructions were followed

[2016-06-02 22:48] tgoldenberg commented on #31
Think it may due to this error which loads when I run `react-native run-android` -
[code]

[2016-06-03 15:52] 42void opened #32 "android build failed"
Could not compile settings file '/Users/.../android/settings.gradle'.

  settings file '/Users/.../android/settings.gradle': 2: expecting EOF, found '=' @ line 2, column 73.
     act-native-share').projectDir = new File
                                                  ^

[2016-06-03 19:32] tgoldenberg commented on #31
so I got it working now, but only by starting a new project and starting over from scratch. Still not sure what caused it, but hopefully other people don't run into this issue as well :)

[2016-06-03 19:32] #31 closed

[2016-06-04 04:33] tgoldenberg commented on #16
Yeah, kind of a let down that the text doesn't share to either Facebook or Twitter

[2016-06-04 10:13] mustafapolat commented on #16
For fixing it :
In this file :
https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/RNShareModule.java#L53:L55
Replace the code line 53-54 as below:
`    if (hasValidKey("share_text", options)) {
      intent.putExtra(Intent.EXTRA_TEXT, options.getString("share_text"));
    }
`
i hope @EstebanFuentealba consider it :)

[2016-06-05 15:25] hongri commented on #21
@mcnamee have you fixed your bug? I met the same situation too.

[2016-06-06 11:31] mcnamee commented on #21
Hi @hongri - yes this did resolve the issue at the time.

[2016-06-06 12:31] dejakob opened #33 "'RCTBridgeModule.h' file not found"
When building the iOS project after linking with rnpm, I get this:
'RCTBridgeModule.h' file not found

[2016-06-16 06:48] superandrew213 commented on #2
Just submitted a [pr](https://github.com/EstebanFuentealba/react-native-share/pull/34) for this.

[2016-06-16 06:50] superandrew213 commented on #18
Just submitted a [pr](https://github.com/EstebanFuentealba/react-native-share/pull/34) for this for android and iOS.

[2016-06-24 01:48] allthetime opened #35 "Android - nothing happens, no errors."
I'm trying to use this module to share a base64 image. The callback fires and `e` is `"OK"` but there is no share dialogue and nothing happens.

[2016-06-24 02:20] superandrew213 commented on #35
@allthetime. You can't share a base64 image with the current version. You can use my fork in this pr [#34](https://github.com/EstebanFuentealba/react-native-share/pull/34).

You have to write your base64 data to a file (you can use react-native-fs for that) then use the share_File option of my fork.

[2016-06-24 02:43] allthetime commented on #35
nice! I just started modifying react-native-send-intent to support images, but if your PR works :) :) thanks

[2016-06-24 03:18] allthetime commented on #35
@superandrew213 Have you actually got this working? I have a valid file uri from react-native-fs that can be shared with iOS, but attempting to share it with your PR just gives an empty share, the image is simply not there. I tried taking out the share_text argument and also appending "file:" to the uri, but nothing. Am I missing something?

[2016-06-24 03:27] superandrew213 commented on #35
@allthetime yes it should be working. It has to be the absolute url.

Did you use the ExternalDirectoryPath for android? If you store it in the internal storage (DocumentDirectoryPath) it might not work.

[2016-06-24 03:35] allthetime commented on #35
@superandrew213 DocumentDirectory is where I'm saving it. do you have an example of an absolute url I can check against?

[2016-06-24 03:39] superandrew213 commented on #35
@allthetime i think that might be the issue. Try storing it in the ExternalDirectoryPath not DocumentDirectoryPath (for android only).

[2016-06-24 03:40] superandrew213 commented on #35
I can't get a url right now but paste yours on here

[2016-06-24 03:54] allthetime commented on #35
@superandrew213  file:///data/data/com.app/files/image.png

i'll try ExternalDirectoryPath!

[2016-06-24 03:56] allthetime commented on #35
@superandrew213

It seems to be getting through but my phone just says "No apps can perform this action"

it's not an error message but dialogue from the Share activity.

Do you by any chance have a working example I can see?

[2016-06-24 03:58] allthetime commented on #35
new url is file:///storage/emulated/0/Android/data/com.app/files/img.png

[2016-06-24 04:03] allthetime commented on #35
@superandrew213

OOOMMMG..

i was using "share_File"

but you have to use "share_file" (small f)

Thank you for your help!!! It's greatly appreciated.

[2016-06-24 04:09] allthetime commented on #35
hmmm, well it loads the share dialogue, but the image is empty... I'm gonna try all the different folders.

[2016-06-24 05:05] allthetime commented on #35
@superandrew213

I finally got it working. I don't know if we have an android API missmatch or something, but your library was not reading the file properly (it shows as 0 bytes when I checked the length) and I found a solution by patching stackoverflow answers together. This is a little complicated and doesn't perform super well, but its the only way i could find to make it work (I tried a lot of

[2016-06-24 05:23] superandrew213 commented on #35
@allthetime your code will only allow to share png image files not any file type. See my code below:

[code]

```File file = new File(options.getString("share_file"));``` this should create the right file. Maybe there is an issue with getting the right MIME type. Try my code again and manually set the mime type ```intent.setType("image/png");```

[2016-06-24 05:43] allthetime commented on #35
Yeah, sorry, I just rushed it out because I'm only using pngs. You'll notice I'm explicitly compressing the bitmap as a png as well right now. I've seen people using `image/*`, do you know if that works in most cases?

[2016-06-24 10:26] superandrew213 commented on #35
@allthetime I will have a look and test it again but I'm pretty sure that it works. I think you might not be creating the file properly using react-native-fs. Can you paste your code where you write base64 to file?

image/* will only allow images though.

[2016-07-05 19:58] alyssonmessias commented on #16
Thanks @mustafapolat , resolved my problem. My code as below:

 `private Intent createShareIntent(ReadableMap options) {
    Intent intent = new Intent(android.content.Intent.ACTION_SEND);
    intent.setType("text/plain");

    String msg = "";
    String title = "Share";
    if (hasValidKey("title", options)) {
      title = options.getString("title");
      intent.putExtra(Intent.EXTRA_SUBJECT,

[2016-07-06 16:41] kfiroo opened #36 "Android - Emulator shows wrong share component?"
![image](https://cloud.githubusercontent.com/assets/284636/16626403/63de2f52-43b1-11e6-9f9d-c61f93ecd85b.png)

Hey,
I get this view when calling Share.open(...)
Any idea why?
Is it an Emulator issue?

* didn't try on device yet

Great job btw :)

[2016-07-06 16:42] kfiroo opened #37 "Feature request - Return selected share method to client"
react-native ActionSheetIOS.showShareActionSheetWithOptions api returns the method used to share the item to the success callback, anyway to add this functionality to this library as well?

I'm not familiar with objective-c or Java so unfortunately it will be hard for me to provide a PR :(

I can do with some guidance too and try to get a PR with some help though..

Thanks

[2016-07-06 16:48] kfiroo commented on #37
IOS seem to not call the callback at all? is that a bug or by design?

[2016-07-09 07:42] mkdotcom commented on #16
Thanks @alyssonmessias
It should be added to the repo

[2016-07-11 21:10] dwilt opened #39 "iOS: Facebook fields are not prepopulated, but Twitter fields are"
Here's my code:

[code]
On Twitter, it works:
![img_4967](https://cloud.githubusercontent.com/assets/1065539/16746774/ce00385e-4770-11e6-849b-7cd8ef37426d.PNG)

But on Facebook, they're empty. Also, the image doesn't post. Any ideas?
![img_4968](https://cloud.githubusercontent.com/assets/1065539/16746809/f7e30304-4770-11e6-8c53-8e5bffbe7545.PNG)

[2016-07-12 14:01] pavb74 commented on #39
+1

[2016-07-14 11:56] logileifs opened #40 "not working on android - undefined is not an object"
I followed the example in the readme (tried both manual installation and automatic) and no matter what I do, when I press the share button Share.open always fails with:
`undefined is not an object (evaluating '_reactNativeShare2.default.open')`

building on Ubuntu 14.04 64-bit and running on Android 5.0.1

[2016-07-14 18:08] jburich commented on #37
I recently noticed this as well, I don't think there is any way for the call back to ever get called with the exception of a catastrophic failure on Android. I intend to implement a PR with the call back. Probably in my teams next sprint we'll need this so it'll probably be 2-3 weeks before I get to it.

[2016-07-18 11:39] jeromegrosse commented on #40
Works perfectly for me wth React Native 0.29.2.

[2016-07-18 18:05] logileifs commented on #40
![gifrecord_2016-07-18_175436](https://cloud.githubusercontent.com/assets/2317815/16925119/3e537d90-4d12-11e6-80ed-8e4af5f51f77.gif)

[2016-07-18 18:07] logileifs commented on #40
If anyone has any idea what the problem is I will be happy to fix it myself but I don't have a clue where to start looking for the problem

[2016-07-22 09:32] levito commented on #40
Since react native 0.29, you have to apply the adjustments to MainApplication.java, not MainActivity.java. See https://github.com/facebook/react-native/releases/tag/v0.29.0.

The installation via rnpm link doesn't do that at the moment.

[2016-07-22 21:53] logileifs commented on #40
@levito so what should MainApplication.java look like for this to work ?

[2016-07-24 01:20] EstebanFuentealba commented on #39
Hi, This issue is going to be closed because Facebook does not support pre-filling the message for users as seen in their Policy  D:
https://developers.facebook.com/policy/#socialplugins

Regards!

[2016-07-24 01:20] #39 closed

[2016-07-24 01:25] EstebanFuentealba commented on #40
Yes, rnpm link doesn't work. In React Native >= 0.29 you need:

## Android

1. `npm install react-native-share --save`
2. Open up `android/app/src/main/java/[...]/MainApplication.java`
  - Add `import cl.json.RNSharePackage;` to the imports at the top of the file
  - Add `new RNSharePackage()` to the list returned by the `getPackages()` method
3. Append the following lines to `android/settings.gra

[2016-07-24 01:28] EstebanFuentealba commented on #37
I work in a new version with more features, I implementing ActionSheetIOS for IOS, today or tomorrow I'll upload a commit

[2016-07-24 14:35] logileifs commented on #40
@EstebanFuentealba it works with these instructions, thanks :+1:

[2016-07-27 04:18] #37 closed

[2016-07-27 04:19] #36 closed

[2016-07-27 04:20] #26 closed

[2016-07-27 04:20] #11 closed

[2016-07-27 04:20] #16 closed

[2016-07-27 14:44] #40 closed

[2016-07-27 14:47] #35 closed

[2016-07-27 14:47] #32 closed

[2016-07-29 23:45] dwilt commented on #39
@EstebanFuentealba Fair, but Twitter is actually populating (it seems) Facebook's field when sharing a tweet. See attached image. Would this actually be against their policy as well?

![img_4999](https://cloud.githubusercontent.com/assets/1065539/17266337/c8bdfda6-55ab-11e6-9c23-3f0511ad5b92.PNG)

If this isn't considered "prepopulating", what would it be considered?

[2016-07-29 23:54] EstebanFuentealba commented on #39
those are the OG tags of url but message isnt permited in fb

[2016-08-01 16:08] stigmat4j opened #41 ":app:dexDebug error"
:app:dexDebug
Unknown source file : UNEXPECTED TOP-LEVEL EXCEPTION:
Unknown source file : com.android.dex.DexException: Multiple dex files define Landroid/support/v7/appcompat/R$anim;
Unknown source file : 	at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
Unknown source file : 	at com.android.dx.merge.DexMerger.getSortedTypes(DexMerger.java:554)
Unknown source file : 	at com

[2016-08-01 18:11] andyfenelon opened #42 "onClose - Possible Unhandled Promise Rejection"
getting this error on pressing close running the example

[2016-08-01 18:29] IsTheJack commented on #42
I was getting this error too:
![simulator screen shot aug 1 2016 2 35 32 pm](https://cloud.githubusercontent.com/assets/7907666/17304582/b46f0220-57fc-11e6-9e44-a42b592ca2ac.png)

[2016-08-02 09:25] IlyaRadinsky commented on #41
Same error after update version from 1.0.12 to 1.0.13

[2016-08-02 11:13] stigmat4j commented on #41
cd android && ./gradlew clean
It work's

[2016-08-02 13:53] markgoodyear commented on #42
I'm getting this also.

[2016-08-02 13:58] markgoodyear commented on #42
@andyfenelon, @IsTheJack, Actually, this is solved by just adding in a `catch`. If a user doesn't share, it throws an error of `Object {error: "User did not share"}` — which will be unhandled without a catch.

So to prevent the warning you can do:

[code]

[2016-08-02 15:37] MichaelHancock opened #43 "React-Native-Share ignores set orientation"
In the manifest.xml I have set the orientation of my application to be portrait.
`android:screenOrientation="portrait"`
But upon opening the RN-share dialog the app responds to the orientation of the device until the dialog is closed. This causes visual glitches in apps that are not responsively designed.

![screen shot 2016-08-02 at 16 31 54](https://cloud.githubusercontent.com/assets/10632072/17

[2016-08-03 08:47] #41 closed

[2016-08-05 23:59] #42 closed

[2016-08-08 12:04] dc198689 opened #44 "How to use simple share success callback ?"
Hello, i success to share through the whatsapp, but i don't know how to use the callback,
because i want use success callback to close my modal box. thanks very much.

`Share.open(shareOptions);`

[2016-08-08 13:17] EstebanFuentealba commented on #44
Hi

[code]

[2016-08-09 02:29] byk04712 opened #46 "finished with non-zero exit value 2"
There is an error 'finished with non-zero exit value 2' when i was run on android environment. How to solve this problem ?

[2016-08-10 14:07] basdvries commented on #44
@EstebanFuentealba does that work for ios and android?

[2016-08-10 19:15] ospfranco opened #47 "ANDROID problem: Multiple dex files define Landroid/support/v7/appcompat/R$anim;"
Using react-native: 0.29.0

Hey, I added the library to my project and now I'm getting an error when I try to the run app on android:

[code]

This happened before with another library which had a dependency on android-play-servicies, but as far as I can see, this library does not have this issue, any idea on how to solve this?

[2016-08-10 19:30] EstebanFuentealba commented on #47
#41

[2016-08-10 19:30] #47 closed

[2016-08-10 19:39] ospfranco commented on #47
thanks, it might be useful to add at least a small footnote on the readme page.

[2016-08-11 21:12] pedrodevoto commented on #46
+1

[2016-08-11 21:12] jasonmerino commented on #29
The `Share.open()` function returns a promise, so you could do something like this to handle completion.

[code]

[2016-08-11 21:20] jasonmerino opened #48 "Share on iOS throws fatal error when user cancels share"
When trying to share with the following code on iOS when the user hits the Cancel button a fatal error is thrown [by this line](https://github.com/EstebanFuentealba/react-native-share/blob/master/index.js#L45).

[code]

It seems to me like this should be a `resolve` rather than a `reject` along with whether or not the user shared or not. Throwing an error because the user tapped a valid button see

[2016-08-11 21:30] pedrodevoto commented on #46
I think I solved it. If you installed the package with `rnpm`, follow the steps of **Manual Install**. You probably only have to edit `MainApplication.java` to add the include and the package in the `getPackages()` method.

Then delete `node_modules/react-native-share/android/build` folder along with `android/app/build` folder, and run `react-native run-android` again.

[2016-08-14 20:17] waleedarshad opened #49 "com.android.dex.DexException: Multiple dex files define Landroid/support/v7/appcompat/R$anim;"

[2016-08-15 08:16] EstebanFuentealba commented on #49
#41

[2016-08-15 08:16] #49 closed

[2016-08-15 11:09] waleedarshad commented on #49
Thanks :+1:

[2016-08-16 07:44] waleedarshad-vf opened #50 "It should work as Bottom sheet."
I Have a scenario where i wanted to show share sheet on clicking button in child component. if i put share sheet in parent it show as bottom sheet, if i put the same in child. It show in the middle of screen where child components end.

Is there any workaround to acheive this.

[2016-08-16 12:17] waleedarshad-vf commented on #50
I used custom sheets instead of shareSheet and it is working well. rest of the content is yours :)

[2016-08-16 15:42] waleedarshad-vf commented on #50
I resolved it with the mixture of https://github.com/eyaleizenberg/react-native-custom-action-sheet

but Awesome work. Thanks

[2016-08-17 01:26] MinusFour opened #51 "'gplus' is not a valid social key"
[code]

It appears it's 'googleplus' not 'gplus' as documentation shows, just a heads up.

[2016-08-24 04:53] matsossah opened #54 "Cannot read property shareSingle of undefined"
In my Buttons, the onPress function throws the error I copied in the title.  Any idea why?  I imported Share at the top of my file like so: import Share, { ShareSheet, Button } from 'react-native-share';

`<Button
                iconSrc={{ uri: EMAIL_ICON }}
                onPress={() => {
                  this.onCancel();
                  setTimeout(() => {
                    Share.shareSing

[2016-08-24 14:25] tststs commented on #54
Had the same issue.
I fixed it by removing the `libRNShare.a` and manually add it again within Xcode.

You can find it under the `General` tab.

![bildschirmfoto 2016-08-24 um 16 22 49](https://cloud.githubusercontent.com/assets/3591665/17934213/622f0532-6a17-11e6-9072-f3288e0e7d62.png)

[2016-08-24 14:40] matsossah commented on #54
Thanks @tststs I ended up doing a manual install instead of rnpm and everything worked fine. A lot was missing with rnpm it seemed like

[2016-08-31 20:43] xrs1133 opened #55 "User does not have google_plus app but the shareSingle is trying."
Is there a way that I can see the failure of trying shareSingle() to launch the google_plus app(or any non installed app) to either A: throw an error for the user or B: try the .open() Method?

[2016-09-01 12:04] franverona opened #56 "RNShare.open got 1 arguments, expected 2"
I'm getting this weird error when triggering Share.open function with these arguments:

[code]

I attach the "red screen" error alert from React Native:

![screenshot_2016-09-01-12-58-35](https://cloud.githubusercontent.com/assets/650910/18166731/aadaaeb6-7044-11e6-89e5-11847f0d98b7.png)

[2016-09-01 12:40] franverona commented on #56
Updating to latest version, running ./gradlew clean inside android folder and installing the app again solved the problem.

[2016-09-01 12:40] #56 closed

[2016-09-02 09:26] dijimon opened #57 "Can't share to Facebook"
I'm getting this error when trying to share to facebook

https://www.dropbox.com/s/pte1vd6m2m3050d/Screen%20Shot%202016-09-02%20at%2012.24.33.png?dl=0

Any idea?

[2016-09-02 17:28] David-A-RogersHS2 opened #58 "rnpm install does not update MainApplication"
I used the rnpm install as described in the readme.md.  It did not make any changes to MainApplication.java. Once I made the changes by hand, it worked correctly.

[2016-09-05 18:56] dijimon commented on #57
Nobody knows?

[2016-09-07 14:05] macuna commented on #46
if this is the error you got

Execution failed for task ':app:dexDebug'.

I solved it by running this:

cd android && ./gradlew clean

[2016-09-07 14:17] macuna opened #59 "Possible Unhandled Promise Rejection (id: 0)"
I'm trying to implement the simple sharing

`import Share, {ShareSheet, Button} from 'react-native-share';`

[code]

But I got this error:

09-07 11:07:45.829  3037  5393 W ReactNativeJS: Possible Unhandled Promise Rejection (id: 0):
09-07 11:07:45.829  3037  5393 W ReactNativeJS: undefined is not an object (evaluating '_reactNative.NativeModules.RNShare.open')

Any advice ?

[2016-09-07 14:22] #59 closed

[2016-09-07 14:23] macuna commented on #59
Don't worry my fault,  I didn't add this new RNSharePackage() on MainApplication.java.

Thanks!

[2016-09-08 18:35] priezz opened #60 ""message" field is ignored for Facebook"
Hello, the module is great! Thanks for that.

However, I am not able to pass `message` to the facebook share dialog. Twitter accepts the value fine. I use `shareSingle()` method for the share purpose.

Is this the predicted behavior or the bug? If the first - could it be somehow improved?

[2016-09-08 20:19] mcatmos commented on #36
Same issue to me.

[2016-09-08 20:43] kfiroo commented on #36
@EstebanFuentealba I'm still seeing this as well, any advice?

[2016-09-09 09:42] nouveller commented on #48
Agreed, it's not really an error. The resolve could just return a something to indicate the user cancelled incase you wanted to action something based of it.

[2016-09-13 07:44] protspace opened #61 "Error on Share Dialog open"
[code]

on ios on Device and Simulator both.

Also on app launch I see this in logs:

[code]

[2016-09-13 12:05] dijimon commented on #57
Any suggestion?

[2016-09-14 14:30] juanserra commented on #61
+1 I get the same "File 'projectName' couldn’t be opened because you don’t have permission to view it" error, and the exact same warnings on iOS.

[2016-09-14 14:53] protspace commented on #61
@juanserra  can you please show your  ActionSheetIOS.showShareActionSheetWithOptions... method calling?

[2016-09-14 14:58] EstebanFuentealba commented on #61
in XCode: Product -> Clean ?

[2016-09-14 15:11] juanserra commented on #61
I just realized that I was passing an empty string as URL, and just by removing it it all seems to work fine? Didn't even have to do Product->Clean on Xcode.

So I changed:
`Share.open({
    message: 'Message',
    url: '',
    title: 'Title',
});`
For:
`Share.open({
    message: 'Message',
    title: 'Title',
});`

And it's all working as a charm now.. Just spent 2 hours trying everything I could

[2016-09-14 15:26] protspace commented on #61
Yep, I spent much more time. So problem was in "url" property too. You should pass there only valid url with http://...  otherwise you'll get above error.

[2016-09-14 18:29] EstebanFuentealba commented on #60
#39

[2016-09-14 18:29] #60 closed

[2016-09-21 06:18] nulleof commented on #58
`rnpm` isn't maintained now cause it was included into `react-native` core. Use `npm install react-native-share --save` and then `react-native link`

[2016-09-22 19:40] EstebanFuentealba commented on #51
fixed readme

[2016-09-22 19:40] #51 closed

[2016-09-23 13:47] ncuillery commented on #42
I don't really like this workaround. IMO the module shouldn't reject the promise in this case because it's not an "error scenario".

At least, the rejected value must allow distinction between this case and real errors (creating a `UserCancelError` should do the job).

According to the JS coding conventions, a promise should reject a instance of Error (https://developer.mozilla.org/en-US/docs/Web/

[2016-09-28 12:05] Arkanine opened #65 "Facebook sharing issue."
The only thing I can share via fb is a url. Other option, like message or title just not appears in share body.

[2016-09-28 12:07] EstebanFuentealba commented on #65
#39

[2016-09-28 12:07] #65 closed

[2016-09-28 12:10] Arkanine commented on #65
@EstebanFuentealba thank you!

[2016-09-28 17:35] crivera opened #66 "_reactNative.NativeModules.RNShare.shareSingle error"
Hi

i installed the library using npm and did react-native link.

when i try to do the share i get the following error:

Possible Unhandled Promise Rejection (id: 0):
Cannot read property 'shareSingle' of undefined
TypeError: Cannot read property 'shareSingle' of undefined

It seems like it cant find the native modules even though i did react-native link

any help?

Thanks
Chris

[2016-09-30 09:09] asciiman commented on #44
@EstebanFuentealba Is there something similar for shareSingle()?  Nothing seems to be fired when I try:

[code]

[2016-09-30 20:55] dwilt opened #69 "Install completely fails for both iOS & Android"
Running React Native 0.34. Followed your automatic installation steps and am getting these errors:

Android:

[code]

<img width="891" alt="screenshot 2016-09-30 13 54 39" src="https://cloud.githubusercontent.com/assets/1065539/19006618/71ad66f0-8715-11e6-9b60-909027fe11db.png">

iOS:

[code]

<img width="1139" alt="screenshot 2016-09-30 13 53 24" src="https://cloud.githubusercontent.com/assets/10

[2016-10-05 10:21] rohitgoyal opened #70 "Is there a way to use Facebook messenger for sharing via this?"
I wanted to include the Facebook messenger as single share option in my app. This works like a charm for WhatsApp/Facebook but it seems there is no way to use Facebook messenger. It would be great if it can be included as well.

[2016-10-07 16:53] macuna opened #71 "couldn't find key message"
Hi what if the phone doesn't have Facebook installed ?

I got this error:

<img width="285" alt="screen shot 2016-10-07 at 1 53 36 pm" src="https://cloud.githubusercontent.com/assets/63238/19198420/7b4c858a-8c95-11e6-8b5d-755854d63868.png">

I tried to catch the error but it wasn't' posible.

Any advice ?

Thanks!

[2016-10-09 22:35] #71 closed

[2016-10-10 15:16] yeknava opened #73 "Android builds failed"
after npm install and react-native link, tried to install my android app but i got this error:
reactnative 0.34
[code]

[2016-10-10 15:20] yeknava commented on #73
Fixed with: cd android && ./gradlew clean

[2016-10-10 15:20] #73 closed

[2016-10-16 20:42] manjeet-dobble commented on #18
just wanted to if solution by @CreativeManix  get merged or not?

[2016-10-18 07:11] manjeet-dobble opened #74 "is there a way to share image as well as url from this library"
Hi, I am looking to share image as well as url at the same time, but it seems that this library only support one url at a time, is there a way to achieve this thing.

[2016-10-25 01:50] wzy535 opened #76 "google plus share link error in android simulator"
Hi,
I installed in android emulator ,but when touch google plus share ,It got this link in browse:
https://plus.google.com/share?url={url}.
Please help thanks in advance.

And another question, could you please support pinterest?

[2016-10-27 12:07] naveedmastan opened #77 "None of the share Options are working on click"
Do I need to add any other functionality code
I have used the one in the example provided

Can you plz assist me

[2016-10-27 21:05] seque1990 commented on #54
I have the same problem in iOS (In Android is working perfectly), I did setup everything manually and did the change in `libRNShare.a` as @tststs mentioned. `Share.open()` is working, so I guess it's not related to the setup. Any idea?

[2016-10-28 13:26] abeauvois commented on #66
In the source we see both methods 'open' and 'shareSingle' are Promises so we have to handle them:
[code]
You should mention this in the readme in addition to fixing the issue.
Thx for this useful component btw.

[2016-10-28 15:49] stief510 commented on #59
I am having this problem and I have including it into MainApplication.java

[2016-10-29 10:48] codefo commented on #57
@dijimon Maybe you run that app on Android emulator without a Facebook app?

[2016-10-31 23:27] adamkdean commented on #74
This would be nice...

[2016-11-04 09:27] kelvinaliyanto opened #79 "Share.open not working on Alert options"
Hi, I am trying to ask the user whether they want to share or not using Alert. But for some reason, the Share.open is not executed. Is it not supported? Because when I tried to share using a button (Touchable), the Share.open does work correctly. Any suggestion is appreciated.

[2016-11-06 13:24] manjeet-dobble commented on #79
please add some code, may be you need to call share.open() in callback of your yes/no pressed

[2016-11-07 01:14] kelvinaliyanto commented on #79
Hi @manjeet-dobble , here is the code:

`componentWillMount() {
		this.retrieveBookingDetail();
	},
	shareBooking() {
		var shareOptions;
		var message;
		if (booking_detail) {
			message = "Hi";
			shareOptions = {
				title: "Hello",
				message: message
			};
		} else {
			shareOptions = {
				title: "Hello",
				message: ""
			};
		}
		Share.open(shareOptions);
	},
	async retrieveBookingDetail

[2016-11-07 17:04] EstebanFuentealba commented on #79
pass url in shareOptions

[code]

[2016-11-08 02:32] kelvinaliyanto commented on #79
Hi @EstebanFuentealba, passing url however does not fix the issue. Is it because it cannot be used together with Alert function? I managed to get this log from xcode:

`2016-11-08 10:31:21.979 golf[67663:1822231] Warning: Attempt to present <UIActivityViewController: 0x7f8022cce710> on <UIAlertController: 0x7f8022cab900> whose view is not in the window hierarchy!`

Not sure what it is because I am

[2016-11-10 07:12] nilaybrahmbhatt opened #80 "can i get more information after complete share ??"
Hi,

can i get more information after completely shared??

i want information about on which app user share this links,

and more another information.

[2016-11-11 08:33] tienhieu67 commented on #54
I have the same problem in iOS. Fixing it by add Twitter account to your Iphone, Android is working perfectly because you don't have to add twitter acc to your phone.

[2016-11-11 19:08] seque1990 commented on #54
@tienhieu67 sorry I think I didn't get that one. What do you mean specifically by adding Twitter to my iPhone? Downloading the App or something I need to setup. Thanks. :)

[2016-11-14 02:53] tienhieu67 commented on #54
@seque1990 switch to Setting and select Twitter then add your acc here.

[2016-11-22 14:54] cihancil commented on #77
Same here.  I get there warnings

2016-11-22 15:53:48.438 [warn][tid:main][RCTBridge.m:112] Class GenericShare was not exported. Did you forget to use RCT_EXPORT_MODULE()?
2016-11-22 15:53:48.451 [warn][tid:main][RCTBridge.m:112] Class WhatsAppShare was not exported. Did you forget to use RCT_EXPORT_MODULE()?
2016-11-22 15:53:48.455 [warn][tid:main][RCTBridge.m:112] Class GooglePlusShare was not e

[2016-11-23 08:52] rohitgoyal commented on #70
Any ideas on this yet?

[2016-11-23 19:25] seque1990 opened #81 "Facebook sharing not working for iOS"
Hello, this is a magnificent library and is working like a charm in both our iOS and Android app. However we are having problems with the `singleShare` with Facebook in iOS (there is no problem with Twitter or Whatsapp, in Android the Facebook sharing is working). I'm not sure if this is a problem related to the facebook sharing sdk or is something related to this component.

Does anyone have any

[2016-11-25 06:29] ayberkanilatsiz commented on #22
@Gedzis did you find solution? I have same issue too.

[2016-12-01 16:59] thomasMary opened #84 "Crash SLComposeViewController initWithExtension"
I've experienced some crashes while sharing from iPhone to Slack.
It doesn't appear all the time, and this Crashlytics report is the only information I've got unfortunately.

[code]

Device info:
[code]

Does anyone have any idea what it could be?
Thanks.

[2016-12-01 17:39] eomine opened #85 "Is it possible to share multiple images at once?"
I've been using this module to share images, one at a time. I'm using `RNFS.readFile` to get base64 data of the image, and setting the appropriate MIME type manually. It's working fine.

But, I would like to share multiple images with a single `Share.open` call. Is this possible?

Thanks!

[2016-12-08 09:55] rohitgoyal commented on #70
@EstebanFuentealba Do you know any way of doing that currently even without react-native-share?

[2016-12-08 15:36] EstebanFuentealba commented on #70
si, con el SDK de facebook
https://developers.facebook.com/docs/sharing/ios/send-button o creo que
también se podría con un intent
http://stackoverflow.com/questions/26101675/share-a-text-with-facebook-messenger

2016-12-08 6:55 GMT-03:00 rohitgoyal <notifications@github.com>:

--
*Esteban Fuentealba Aillón*
*Ingeniero en Informática*
*Cel: 65005529*

[2016-12-08 16:08] rohitgoyal commented on #70
@EstebanFuentealba That's the native way. How to use it in react-native?

[2016-12-09 07:58] areksiekiera opened #86 "IOS fb messenger base64 image 'Couldn't Load Content'"
It works on android and I get to work with Viber too, but fb messenger doesnt want to load base64 image on ios.

Any clue?

[code]

[2016-12-09 08:03] areksiekiera commented on #86
![img_1889](https://cloud.githubusercontent.com/assets/2100704/21041905/ae1a69e8-be20-11e6-8cf3-8cfd0c77ae59.jpg)

[2016-12-14 12:59] rohitgoyal commented on #77
I am facing the same issue. Any ideas on this?

[2016-12-14 13:14] rohitgoyal opened #87 "Empty content while using whatsapp single share."
Hi
This is how I am trying to use single share for whatsapp.

[code]

This successfully opens the whatsapp app to select the people i want this to send to. But when i select the person I want the content send to in the next screen the content is null. There is absolutely nothing.
General Share works fine though,

Look at the picture below for the result of above code.

![img_5472](https://cloud.gi

[2016-12-15 08:38] areksiekiera commented on #86
I've added a $100 job to solve this issue, if anyone is interested.
https://www.peopleperhour.com/job/proposals/1388398

[2016-12-16 02:19] colorfulberry opened #88 "How to share to which exist at mobile app?"
I want to share without aimed to google or others, I only want to share to all application who can share at mobile.
I don't need add the ICON.

What should i do ?

I only want
[code]
but it not work for me.

[2016-12-16 06:03] colorfulberry commented on #88
When the file url has `:` it will show none share target.

[2016-12-16 06:03] #88 closed

[2016-12-16 10:22] areksiekiera commented on #86
I've worked around it downloading the file with RNFetchBlob to /tmp and then uploading via Share.open({ url: RNFetchBlob_result.path() })

[2016-12-16 10:22] #86 closed

[2016-12-20 10:46] benjaminreid opened #89 "Sharing with Google’s Inbox fills the subject incorrectly"
Hello 👋,

On iOS, using Google’s Inbox app to share via email, the subject line gets filled with the message body instead of the specified subject

To recreate, use the simplest test case.

[code]

This opens Inbox with the title filled correctly, but both the subject and message body equalling "Email message". The subject seems to be ignored completely.

I know this is an edge case, as the majori

[2016-12-22 18:27] jordxn commented on #28
I found a solution from another project that seems to work as well

Change: https://github.com/EstebanFuentealba/react-native-share/blob/master/ios/GenericShare.m#L48
`[ctrl.presentedViewController presentViewController:composeController animated:YES completion:Nil]`

ref: https://github.com/naoufal/react-native-activity-view/issues/31

I haven't tested this outside a modal so I haven't done a pul

[2016-12-26 04:46] matart15 commented on #80
@nilaybrahmbhatt did you manage to get any info about completion?

[2016-12-26 04:49] matart15 commented on #80
I am not good with obj-c but completion:Nil on this line seems we can't get completion callback with current version. Is it right? https://github.com/EstebanFuentealba/react-native-share/blob/master/ios/GenericShare.m#L48

[2016-12-27 08:23] aakashrai1 commented on #87
In RNShare/social/WhatsAppShare.m file

Replace the below code and see if this works.
--------------------------------------------------------------------------------------------
NSString *text = [RCTConvert NSString:options[@"message"]];
text = [text stringByReplacingOccurrencesOfString:@":" withString:@"%3A"];
text = [text stringByReplacingOccurrencesOfString:@"/" withString:@"%2F"];
text = [tex

[2016-12-30 10:10] shafips commented on #44
Yeah! same issue here... :(
Nothing is firing

[2017-01-02 18:04] iRoachie opened #90 "Multiline messages"
I'm sharing a paragraph of text which has explicitly set line breaks. Currently I'm using `\r\n` to break the lines and that's working great for everything except WhatsApp through the `Share.open()`.

It works great through the `ShareSingle` but with the `Share.open()` it displays as one long sentence. Any way I can go around this?

![img_1254](https://cloud.githubusercontent.com/assets/5962998/21

[2017-01-03 21:18] jordxn commented on #28
Ok I tested the change when it's called from a non-modal context and it doesn't work. So to fix this for both cases the client would have to pass through a new param to specify if this is being called from a modal or not so that GenericShare knows which method to call :(

[2017-01-04 19:38] ja-ah opened #92 "doesn't work with React Native v0.40"
duplicate interface definition for class 'RCTBridge'
![screen shot 2017-01-05 at 12 37 41 am](https://cloud.githubusercontent.com/assets/16236589/21656269/40c230a0-d2df-11e6-8822-1a4e10829b05.png)

[2017-01-06 00:39] pratih commented on #92
+1

[2017-01-06 13:48] leoabacade opened #94 "Unknown named module"
![15902631_120300001476447161_1277684824_o](https://cloud.githubusercontent.com/assets/2664504/21719635/bbca758e-d459-11e6-8c87-258f8a5dbd96.png)

pretty sure components are in right place.

<img width="315" alt="screen shot 2017-01-06 at 9 48 06 pm" src="https://cloud.githubusercontent.com/assets/2664504/21719653/e120f1fa-d459-11e6-89d4-5a2433dfe6f1.png">

[2017-01-10 17:41] carleryd commented on #84
I have the same issue on an iPhone 5s! Works when sharing to Facebook Messenger or email

[2017-01-12 03:49] acornejo commented on #92
+1

[2017-01-12 13:14] baderahmed opened #96 "Share.shareSingle shares a base 64 image as a text for twitter"
By using Share.open to share an image base 64, the image is shared, but with Share.singleShare it is shared as a text !

[2017-01-13 09:10] faxioman opened #97 "Share a base64 image doesn't work on WhatsApp"
I'm trying to share a base 64 image on WhatsApp, but only the message is displayed.
I'm using the simple Share.open method on iOS.

[2017-01-13 09:33] faxioman opened #98 "Save photo crash"
On iOS a have a crash trying to saving photo with simple share and a base64 image.
This is the stack:
[code]

[2017-01-13 09:34] faxioman commented on #98
Mmm ... propably I need to add this to Info.plist ... I'll try.

[code]

[2017-01-14 23:29] techieshark commented on #33
I've tried this (with RN v0.40). It works for me. @dejakob does it work for you with the new instructions and we can close this issue?

[2017-01-16 11:37] himelnagrana commented on #18
Curious about the same thing ...

[2017-01-16 23:28] jsappme commented on #92
+1

[2017-01-17 03:20] #92 closed

[2017-01-17 18:15] #33 closed

[2017-01-17 18:34] techieshark commented on #33
Thanks @dejakob!

[2017-01-17 21:05] faxioman commented on #98
Yes, now it works

[2017-01-17 21:05] #98 closed

[2017-01-18 19:57] onlinegeek101 opened #100 "Build Failing Compiling GooglePlusShare.o when using RNShare.podspec"
I am trying to use the defined podspec to setup my xcode dependencies but I am getting an issue w/ the GooglePlusShare files. Does this pod for you as is?

Failure
[code]

Pod declarations. (React is being pulled in locally as the cocoapods.org podspec is deprecated)
[code]

[2017-01-18 20:29] dwilt commented on #100
@onlinegeek101 are you trying to build with React Native version `0.40.0`?

[2017-01-18 20:39] onlinegeek101 commented on #100
Nope 0.39.2

[2017-01-18 21:14] dwilt commented on #100
Ok, well I noticed that there have been some significant upgrades to the core files in the past few versions. I'm upgrading from `0.37.0` to `0.40.0` and getting this error:

`'React/RCTConvert.h' file not found`

![image](https://cloud.githubusercontent.com/assets/1065539/22083244/fed58ba0-dd7f-11e6-8e9a-104b9b6b3ddc.png)

[2017-01-18 21:22] onlinegeek101 commented on #100
Wanna drop your podfile as well just so we have clarity?

[2017-01-18 21:33] dwilt commented on #100
[code]

[2017-01-18 21:36] onlinegeek101 commented on #100
Even more interesting I thought mine might be caused by me doing the react pod stuff.

[code]

But that doesn't seem to be the case

[2017-01-19 00:53] EstebanFuentealba commented on #100
npm install react-native-share@1.0.17 --save

??

[2017-01-19 10:21] steveliles commented on #100
Unfortunately 1.0.18 introduces a breaking change by referring to the new location of native headers that were moved in react-native 0.40.0. This means 1.0.18 is only compatible with react-native 0.40+.

We hit the same problem yesterday because our package.json contained:

[code]

... so npm automatically upgraded a fresh npm-install to 1.0.18.

Probably 1.0.18 should have been a major version bu

[2017-01-19 17:51] dwilt commented on #100
@steveliles were you able to get this plugin working on `0.40.0`?

[2017-01-19 18:34] steveliles commented on #100
@dwilt no we're on 0.34.1 - didn't try to upgrade yet due to other native dependencies that aren't updated to 0.40.0 compatibility.

Your issue looks like the opposite to ours - that you _want_ to use 1.0.18 for its RN-0.40.0 compatibility, but for some reason your xcode project doesn't have the RN-0.40.0 headers ...

[2017-01-21 02:52] #90 closed

[2017-01-27 05:01] #100 closed

[2017-01-31 04:50] cusackd commented on #32
Having a similar issue here, was there a resolution?

[2017-01-31 14:04] padupuy opened #103 "[iOS] Share.shareSingle shares a base 64 file as text for mail"
Hello @EstebanFuentealba,

I use the latest version of your library `1.0.19` with RN `0.40.0`.
I try to share a PDF file encoded in base64 only by mail.

Here is my code

[code]

This code works really well on Android but unfortunately not on iOS, the base 64 file is shared as text.

![screenshot_20170131-145405](https://cloud.githubusercontent.com/assets/715255/22467832/7562fc12-e7c6-11e6-8b59-35

[2017-02-06 09:04] winfredselwyn commented on #32
@cusackd

Make sure 'project' is on a new line, like this :

include ':react-native-share'
project(':react-native-share').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-share/android')

[2017-02-07 06:51] hanpanpan200 opened #104 "[Android & iOS] Can I use this package to share a mp3 file from local?"
I want to share a mp3 file in the App.

[code]
But it will shows an error.

I notice that I must use a base64 file url, does that mean:

[code]

But then I still got an error:
`Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference`

`ShareFile.java: 64  isBase64File`
`ShareFile.jave:61  ifFile`

Can this package be used to share the mp3 fil

[2017-02-07 07:44] ataillefer commented on #104
Hi,

When you say "But it will shows an error.", can you provide the stack trace?

You are getting an error when using base64 probably because the `url` property should match the following pattern:
[code]
as for the `TWITTER_ICON` in https://github.com/EstebanFuentealba/react-native-share/blob/master/README.md#usage

[2017-02-07 08:12] hanpanpan200 commented on #104
Hi @ataillefer Thanks for your reply!

I added the format for my url data as below:

[code]

I didn't get error this time, but the file I shared it's not correct.

I shared a file named:  `1486454572302.null`, instead of `Gary Gao12-08-2016 13-53-52.mp3`

Are there some additional options that I need to configure?

[2017-02-07 08:22] hanpanpan200 commented on #104
Hi @ataillefer

If I'd like to make the file extension to be `mp3`, shall I pass the `type` params to specify the `File mime type (optional)`?

Could you please tell me what value should `type` be? I tried `mp3` but it didn't work.

I can not find the available options for `type` in the document.

[2017-02-07 08:46] ataillefer commented on #104
Hi,

About the file type, it should work by passing the full MIME type: `audio/mp3` or `audio/mpeg` as the `type` option.

About the file name, unfortunately if you look at the [code used for a base64 encoded file](https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/ShareFile.java#L119) you'll see that it uses a timestamp, thus the `1486454572302` name

[2017-02-07 09:09] hanpanpan200 commented on #104
Hi @ataillefer
How can I share a local file instead of a base 64 file?

I tired:

[code]
It will show error: `Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference`.

Then if I tried:

[code]
The `open` method will throw an error, the Share ActionSheet can not popup.

How can I share the local file directly with this package?

[2017-02-07 19:08] ataillefer commented on #104
Have you tried:
[code]
?

[2017-02-08 11:58] hanpanpan200 commented on #104
Hi @ataillefer
Thanks for your help! it works!

This library does support the local file share!

But the Readme file seems to make users think that only when we encode the files to be base 64, can we share it.

I'm very confusing, that's why I tired to share a file that encoded with base 64.

Now I know I can share a file directly with the corresponding url format, so I made a [pull request](https

[2017-02-09 01:41] #104 closed

[2017-02-09 17:40] bjacog commented on #97
I am experiencing the same problem.

[2017-02-10 14:06] padupuy opened #106 "[iOS] Share.shareSingle shares the filepath instead of the file binary"
Hello @EstebanFuentealba

I use the latest version of your library 1.0.19 with RN 0.40.0.
I try to share a local PDF file only by mail but

This code works really well on Android but unfortunately not on iOS, the filepath is shared instead of the file binary.
If I use Share.open instead of Share.shareSingle, the attachment looks good.

In the react-native-share code I can see the code is different

[2017-02-13 09:41] vegmorse opened #107 "Change language buttons"
Is it possible to change the language of the buttons (Cancel, more, ....) to other languages in Share.open(shareOptions)?

Thank you very much

[2017-02-13 12:17] #107 closed

[2017-02-18 22:48] lucianomlima opened #108 "Hot to get isCancelled from share?"
With use react-native-fbsdk when usar cancel share, in promise result return isCancelled property with true.
But in react-native-share, always return message = 'OK'.
How to know if user cancel share?

[2017-02-24 01:59] Andruschenko commented on #108
It's not implemented for `Android` yet, but is available for `iOS`. See https://github.com/EstebanFuentealba/react-native-share/blob/master/index.js#L45

[2017-02-25 16:04] lucianomlima commented on #108
@Andruschenko thanks, for iOS works. For android I realized that react-native-fbsdk do not return the result.

[2017-02-25 16:04] #108 closed

[2017-02-25 16:12] Andruschenko commented on #108
Also the share implementation of the core RN doesn't support it on Android unfortunately: https://facebook.github.io/react-native/docs/share.html

[2017-02-27 14:41] JonathanWi commented on #70
Interested in this as well

[2017-02-28 15:59] twvdb commented on #103
Also trying to figure out how to specify the name of the attachment

[2017-03-09 23:01] #87 closed

[2017-03-10 16:18] vinayan3 opened #111 "[android] Error when sharing a file from folder [app]/files/"
I am using `react-native-fs` to save a file and on Android. The file path is like
`file:///data/user/0/com.myapp.com/files/data_dump.json`.
I share it with
[code]
After that I get:
[code]

Everything works fine on iOS.

[2017-03-14 03:02] zachgibson commented on #104
@ataillefer @hanpanpan200 What does 'filePath' look like in

``options = {
  url: `file://${filePath}`,
  type: 'audio/mp3',
}``?

I'm trying to share a local mp3 file but not having any luck. 😒

[2017-03-14 07:29] ataillefer commented on #104
It's a path to Android's internal or external storage.
Typically, using [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob), it coulde be:
- /data/user/0/my.app.package/files/myFile.pdf using `RNFetchBlob.fs.dirs.DocumentDir`
- /data/user/0/my.app.package/cache/myFile.pdf using `RNFetchBlob.fs.dirs.CacheDir`
- /storage/emulated/0/DCIM/myFile.pdf using `RNFetchBlob.fs.dirs.

[2017-03-14 07:43] ataillefer commented on #111
Very strange, sounds like #63 though you seem to run on a version that includes the merge.
Somehow the `type` property doesn't seem to be set when building the `ShareFile` instance.
Can you put a breakpoint in `RNShareModule` to check the passed options?

[2017-03-14 13:29] viniciusbo commented on #97
@faxioman @bjacog were you guys able to workaround that problem?

[2017-03-14 13:52] bjacog commented on #97
@viniciusbo not yet, I have chosen to use the built in Share api instead.

[2017-03-14 16:41] vinayan3 commented on #111
I manually set the `type` property and the app can now share a `json` or `csv` file out. For now this will work. I'll close this bug down then.

[2017-03-14 16:41] #111 closed

[2017-03-14 20:00] vinayan3 commented on #111
Actually another issue is that with files inside of an app like at `[app]/file` you can't share them without setting permissions. I've resorted to writing the file out to the external storage directory downloads folder and then sharing it.

[2017-03-16 13:55] bbc4468 commented on #39
Looks like Hashtags are still supported. You can pass hashtags in the message field and facebook does read it.

[2017-03-17 08:40] hanpanpan200 commented on #104
Hi @zachgibson , when you share the file, what's the file location?
and @ataillefer I'm afraid that sharing file from Android internal storage path can not work in `react-native-share@1.0.19`.
Because sharing need to access your App's data, and the data in Android internal storage can't be retrieved from other Apps.

Please check if your file location is valid.

I have some [demo code](https://git

[2017-03-17 21:18] faxioman commented on #97
@viniciusbo maybe I'm wrong, but I think the problem is in Whatsapp. If I send only the image without any text, I can see it correctly. If I send image with text, all app with share support are working correctly... except whatsapp.

[2017-03-20 14:54] kevando opened #112 "Is it possible to "Set image as Lock screen""
I'd like to prompt my users inside my app to set an image as their lock screen as seen here. Is that possible with this plugin?

![screenshot](https://www.howtoisolve.com/wp-content/uploads/2015/07/How-to-Change-lock-Screen-Wallpaper-on-iPhone-6-6-Plus.jpg)

[2017-03-21 00:02] cosivox opened #113 "Not showing "Save image" option"
It isn't showing the Save Image button in the ActionSheet when there's a remote url specified and type: "image/jpeg"

[2017-03-22 18:40] viniciusbo commented on #97
@faxioman very well pointed. I ended up saving the file and passing the location as parameter instead of base64.

[2017-03-22 18:42] faxioman commented on #97
I think I can close this issue.

[2017-03-22 18:42] #97 closed

[2017-03-23 06:39] andyscraven commented on #74
Any update on this?  As there has been no reply

[2017-03-27 21:59] mbenjamin618 commented on #103
+1

[2017-03-30 13:34] Pourliver commented on #70
Share.open supports every installed sharing options on your device, messenger included.

[2017-03-31 07:59] tpedersen123 opened #114 "Android: Sharing with Google Inbox doesn't work"
I'm sharing images from an app and sharing works fine with text messages, Slack, Facebook etc.
However, sharing on Google Inbox makes Inbox report that it can not share an empty file.

I have tried with the example code sharing `shareImageBase64` but that doesn't work for me either.

Running Android 7.0 and have checked that sharing works from other apps.

[2017-04-01 16:47] GeoffreyPlitt opened #115 "Could not find com.android.support:appcompat-v7:23.0.1"
RN=0.42

Having this build issue:
[code]

I'm already doing this:
[code]

What am I missing?

[2017-04-06 00:18] GeoffreyPlitt commented on #115
And update? Anyone reading this?

[2017-04-07 01:09] GeoffreyPlitt commented on #115
For anyone else having this problem, what finally solved it for me (using a CI tool that runs Ubuntu):
- ```brew install Caskroom/cask/android-sdk```
- ```export ANDROID_HOME='/usr/local/share/android-sdk'```
- Always use ```$ANDROID_HOME/tools/bin/sdkmanager``` for sdkmanager commands. There are other paths with "sdkmanager" somehow, which will not work.

[2017-04-07 01:09] #115 closed

[2017-04-10 06:34] XadillaX commented on #113
same question.

[2017-04-10 19:21] larryranches opened #116 "[Android] Catch callback not firing"
On IOS, when the user selects cancel or taps the screen under the Share ActionSheet the catch callback fires and an error is returned. If you console.log it, you get  ```error:  User did not share```.  This callback is helpful so that we can call functions when a user cancels the actionsheet.  Is there a fix for this on Android?

[code]

[2017-04-14 06:26] levsthings opened #117 "[Android] Support for Instagram share"
As of right now, I can't find any packages that support sharing to Instagram out of the box. ```react-native-share``` seems to be one of the most complete sharing packages around and I think implementing Instagram would be great. I see that there was a [PR](https://github.com/EstebanFuentealba/react-native-share/pull/34) for this but didn't get much attention and didn't get merged for some reason.

[2017-04-14 16:15] packruler commented on #103
Has anyone figured out how to set the attachment file name using Base64?

[2017-04-17 13:17] packruler opened #118 "[Android] Difficulty sharing files with proper file names."
I am having difficult sharing files on an Android device. If I get the base64 value of the file I cannot set the name of the file. If I try to share a file the apps that it is shared to receive an empty file. On iOS I can easily share a file and it has the proper file name.

[2017-04-17 14:57] packruler commented on #118
This is using files created with [React-Native-Fetch-Blob](https://github.com/wkh237/react-native-fetch-blob)

[2017-04-18 04:01] DavidKongDesheng opened #119 "How to share an image via url on Twitter?"
It looks like only support base64 image file, no support share via image url on Twitter.

Instead using
url: "data:image/png;base64,<base64_data>"
can we add one more parameter like
imageUrl: "<imageUrl>"

[2017-04-18 04:02] DavidKongDesheng opened #120 "Can we add one more social app like LinkedIn?"

[2017-04-21 15:36] gerardus1995 commented on #97
I have the same problem only in Ios , in android it works perfectly.

[2017-04-23 15:10] rohitgoyal commented on #57
Does Facebook share not work on Android when there is no Facebook App on the phone?
In case no, any way to make it work?

[2017-04-24 20:42] packruler commented on #118
I have setup a bandage fix that allows me to specify the title of a base64 value. You can find this [here](https://github.com/packruler/react-native-share/commit/d4b1afd9bdddf5908850cdb9c191b7fae527f7e5)
I noticed that this is not setup to properly support Android sharing of files stored internally. I am not sure if that is possible but it would be nice if that is possible.

[2017-04-24 20:43] packruler commented on #114
Where is the file stored? From what I see this library is not setup to use providers to share files to other apps and therefore cannot share files stored in app specific directories.

[2017-04-25 08:41] tpedersen123 commented on #114
@packruler I'm choosing it in the gallery, so it should be generally available and can be shared from other apps.

[2017-05-02 02:18] pckz commented on #97
@bjacog hey! I'm developing a button that share the image in base64 directly to whatsapp. I saw you said that you used the Share api to do that. Can you explain me how you did? thanks very much.. I'm learning react native and I don't know how to figure out to share an image directly to whatsapp (the app must be opened directly, without share menu displaying) help please

[2017-05-02 06:38] bjacog commented on #97
Hi,

The best way IMHO is to share a url that points to the image you want to
share. So upload the image to your server and share the URL via the
standard share lib.

Regards / Groete
Jaco

On Tue, May 2, 2017 at 4:18 AM, Xavier Ojeda <notifications@github.com>
wrote:

[2017-05-02 18:42] pckz commented on #97
Thanks,

I solved the problem making a own Native Module in Xcode, that download the image and put in share options so in whatsapp  only I need select people and after that show  me the image file to send :D

Thanks anyway!!

[2017-05-03 21:14] alexaung opened #122 "How to share a file in project folder"
May I know how to share the file in project folder.

For example ./pdf/file.pdf

[2017-05-04 19:45] gustavofuhr commented on #97
I confirmed that this problem still exists in iOS, why the issue is closed?

[2017-05-04 20:51] faxioman commented on #97
@gustavofuhr because, I think, it's an issue related to WhatsApp.

[2017-05-05 13:01] gustavofuhr commented on #97
@faxioman You're right. But, would not be better to remove/ignore the message field if whatsApp is selected? Or is that something that cannot be controlled by the lib? In my application, I removed the message completely, so whatsapp works ok. :-)

[2017-05-05 13:33] faxioman commented on #97
@gustavofuhr is it more important the message or the image? I think that is not possible to decide if may be correct to remove the message or the text ;)

[2017-05-06 11:15] onlydave commented on #119
Came across this while trying to do the same thing: http://stackoverflow.com/questions/6150289/how-to-convert-image-into-base64-string-using-javascript

[2017-05-10 09:39] RUIFERNANDE5 opened #124 "Permission denied for the attachment"
Hey and thank you for your amazing work.
Basically I am trying to send an attachment through email but I am getting a `Permission deined for the attachment error` on Android.

On iOS the path just gets written after message body..

The file Im trying to send is a vcf file (VCard), the url Im trying to send looks like this:
`file:///data/user/0/com.appName/files/Teste-ABC.vc`

my shareOptions objec

[2017-05-11 21:48] arv opened #125 "[Android] Sharing data uri silently fails without WRITE_EXTERNAL_STORAGE"
Tried with RN 0.44, Android M & N.

I cannot get the `url` option to work to share an image. I'm using a data URI of an image. I've also tried the sample code in this repo.

- If I do `Share.open` and pick:
  - Gmail `url` is ignored. (`subject` and `message` work)
  - "Upload to Photos" I get a toast saying "Error, could not load media"
  - "Save to Drive" I get a toast saying "Upload was unsucce

[2017-05-11 22:35] arv commented on #125
I'm seeing a permission denied error.

[code]

It seems like I need to get access to `android.permission.READ_EXTERNAL_STORAGE`. If that works I'll work on a PR that reports an error to js so it is less mystical in the future.

[2017-05-15 12:52] ndbroadbent opened #126 "Does the share work on the Windows Phone Emulator?"
Hi, right now my "share" button doesn't seem to have any effect in the Windows Phone Emulator. There's no error either, it just doesn't do anything.

Is this expected? Unfortunately I don't have a real device to test it on.

UPDATE: It doesn't seem to work on the desktop build either. I'm getting this error in the share sidebar: "There was a problem with the data"

[2017-05-15 15:09] RUIFERNANDE5 commented on #125
@arv have u found the solution? I have . write_external_storage permissions set and still have permission denied error

[2017-05-15 15:50] RUIFERNANDE5 commented on #124
I was able to solve this on android by saving the file on `ExternalStorageDirectoryPath`. Im not using react-native-share on iOS anymore, although If im correct it worked when I first created a Dir and then generated the file inside that Dir.

[2017-05-15 15:50] #124 closed

[2017-05-15 17:05] arv commented on #125
Yes. I add the following to AndroidManifest.xml:

[code]

Then before calling `Share.open` I called `requestStoragePermission` which is defined as:

[code]

And here is my call to share just for the record:

[code]

HTH

I still want to do a PR that surfaces the errors in Java so things do not silently fail...

[2017-05-15 18:03] RUIFERNANDE5 commented on #125
Thank you for sharing, tough I solved this by setting permissiosAndroid and writing the file I wanted on a external directory since its the only accepted path on all android apps.

[2017-05-18 12:15] imbudhiraja opened #128 "[Android] While sharing message previous share picture coming in facebook window."
When you share the image via Facebook and then share text on Facebook previously shared image is appearing on Facebook Dialog box. I think Android Bundle is not getting clear.

Please help me in sorting out this.

Thanks

[2017-05-20 20:19] ilyago opened #129 "identifying successfully shared post status"
How can I identify if user did really shared post or canceled it?  I get OK message in any circumstances.

[code]

[2017-05-23 12:44] avencat commented on #124
Hi @RUIFERNANDE5 ! I have the same issue here but I don't understand how you save the file on `ExternalStorageDirectoryPath`, could you please help me there ?

Thank you !

[2017-05-23 13:19] avencat commented on #124
@RUIFERNANDE5 I was able to solve the problem by using `rnfs.ExternalStorageDirectoryPath` thank you for the solution! :) I wondered also if you know how to share a vcf via MMS? (When I click on message, I get an error saying that files must be shared via MMS and not SMS... (On Android)

Thank you for your time ! :)

[2017-05-23 13:21] RUIFERNANDE5 commented on #124
@avencat well, using `react-native-fs` when defining the path where the file should be written you start the path with `RNFS.ExternalStorageDirectoryPath`

[2017-05-23 13:25] RUIFERNANDE5 commented on #124
Im using `react-native-share` only on android and it doesn't pop the sms / mms option on the share dialog unfortunately. If you find any solution feel free to share with me

[2017-05-23 14:19] avencat commented on #124
Ok and you use the `open` method or `shareSingle`? :)

[2017-05-23 14:49] avencat commented on #124
@RUIFERNANDE5 I managed to share via `MMS` with the type `text/x-vcalendar` and the `open` method like this:
[code]

#### NOTE: The open method is the best option for me as I want the user to be able to share with any application available for this type

[2017-05-23 18:02] RUIFERNANDE5 commented on #124
@avencat In my case the correct ftype is 'text/xcard' and the one you pointed out throwed an error because it was the incorrect type. Anyway, I was wrong it turns out it pops the message options and its all working as intended. Sorry

[2017-05-24 14:31] paradigmist commented on #129
+1

[2017-05-24 14:57] avencat commented on #124
@RUIFERNANDE5 Ok thank you, but I tried `text/xcard` and my test Android phone won't show the `sms/mms` option so, according to [this page](http://filext.com/file-extension/VCF), I put `text/x-vcalendar` and it works for my case so I think I'll let as it... 😉

Thank you for sharing with me on that issue, have a good day! 😄

[2017-05-27 14:47] virgil9306 commented on #57
@rohitgoyal If no Facebook app, and you're able to tell, perhaps you can just open a browser intent to the appropriate Facebook URL.

[2017-06-05 17:53] zachrnolan commented on #116
Any updates on this one?

[2017-06-06 03:21] cipson opened #131 "NullPointerException on HTC M10"
In HTC 10, i'm getting a null pointer exception for .lnk file
Looks like cursor and  cursor.moveToFirst() is checked before taking column index

[code]

[2017-06-06 03:47] deepmehtait commented on #131
@cipson : Tested on HTC 10 and Samsung Note 5 its not crashing.

[2017-06-06 10:17] ataillefer commented on #131
Looks similar to #63, are you passing the `type` as a parameter?

[2017-06-06 18:24] deepmehtait commented on #131
@ataillefer : yes i tried latest 1.0.20 version and still was able to reproduce this issue. May be this cased is not yet addressed.

[2017-06-08 20:23] sibelius commented on #18
@CreativeManix can u send the pr again?

[2017-06-08 20:27] sibelius commented on #85
I think this code

https://github.com/tjvantoll/nativescript-social-share

can help

[2017-06-08 20:35] sibelius commented on #96
@baderahmed did u solve your issue?

[2017-06-08 20:39] sibelius commented on #97
I think now it is possible to share both

https://stackoverflow.com/questions/15496422/cant-share-both-image-and-text-through-whatsapp

[2017-06-10 07:15] faxioman commented on #97
@sibelius this problem is iOS related. All works fine on Android.

[2017-06-16 00:21] nilsreichert commented on #69
I recently ran into the same error. What fixed it for me was going into {project_root}/node_modules/react-native-fbsdk and following the instructions in README.md. I hope this helps!

[2017-06-17 12:56] ihor commented on #118
How do you share a file with a proper name @packruler? Thanks!

[2017-06-17 16:55] packruler commented on #118
On iOS I have not had problems sharing files stored in the apps Document directory as files.

[2017-06-19 14:41] jan-happy commented on #116
I would also be interested in a fix.

[2017-06-21 14:51] nidzola commented on #96
any progress on this?

[2017-06-26 19:04] prtkkmrsngh commented on #124
@RUIFERNANDE5 @avencat text/x-vcalendar mime-type not allowing to share vcard file to whatsapp. If I share file from explorer then it get shared but not will plugin. Any fix for this?

[2017-06-27 08:24] avencat commented on #124
Hi @prtkkmrsngh!

Have you tried putting `text/xcard`? I have no other idea, so no fix... 😕 But if you find one, let us know! 😄

[2017-06-27 09:26] prtkkmrsngh commented on #124
Removing type from options is working as intended :+1:

[2017-06-27 10:43] avencat commented on #124
@prtkkmrsngh Nice, thanks for the tip!

[2017-06-28 04:28] superandrew213 commented on #117
@levsthings I made that PR a long time ago and since then `react-native-share` code has changed. I don't have time to update my PR for it work with the current version of `react-native-share`.

My [fork](https://github.com/superandrew213/react-native-share) works perfectly fine for sharing files (especially for Instagram) so feel free to use it. I use it in a production app so will maintain and ke

[2017-06-28 06:27] ahyong87 opened #134 "You attempted to set the key 'social' with the value"
Hi,

i get this error, You attempted to set the key 'social' with the value "twitter" on an object that is meant to be immutable and has been frozen.

![screen shot 2017-06-28 at 2 27 33 pm](https://user-images.githubusercontent.com/758214/27623212-f63b4a9a-5c0d-11e7-912d-80d3a81416f2.png)

[2017-06-28 10:48] ataillefer commented on #134
The problem comes from the `SharePage.js` file at line 78 which is probably part of your app since it isn't part of `react-native-share` nor `react-native`.

[2017-06-29 01:38] ahyong87 commented on #134
i solve the problem already.

  const shareOptions = {
    title: this.state.ShareTitle,
    message: this.state.ShareMessage,
    url: this.state.ShareUrl,
    subject: this.state.ShareSubject, //  for email
    social: this.state.ShareType
    };

   Share.shareSingle(shareOptions);

[2017-06-29 01:38] #134 closed

[2017-07-01 09:27] kenvandemar commented on #134
What's content of ShareType did you declare on this.state.ShareType?

[2017-07-02 22:01] ok713 opened #137 "How to share external video file?"
I have tried to share external video file.
here is my codes.

onShare = (title) =>{
        let shareOptions = {
           message: this.state.question,
           url: 'data:video/mp4;base64,'+this.state.video_base64,
       };
      if(title=='facebook' || title=='twitter'){
        Share.shareSingle(Object.assign(shareOptions, {
                      "social": title
          })).then(result=>

[2017-07-03 11:11] pallavisingh1511 commented on #134
I'm facing the same issue. I've implemented singleShare for facebook and twitter.
It works for the first share, but for the second share it throws this error
'You attempted to set the key 'social' with the value'

[2017-07-03 16:48] ahyong87 commented on #134
@kenvandemar ShareType i pass twitter,facebook,whatsapp

handleFacebookButtonOnClicked(){
this.setstate({ShareType:'facebook'})
setTimeout(() => {
                this.CallShareFunction();
              },300);
}

handleTwitterButtonOnClicked(){
this.setstate({ShareType:'twitter'})
setTimeout(() => {
                this.CallShareFunction();
              },300);
}

CallShareFunction(){
const shar

[2017-07-06 23:47] Davidcreador commented on #97
Yeah, what I did to resolve it was to remove the title from the options. Like @faxioman said. :)

[2017-07-10 08:39] IceNeoMax commented on #129
have the same question

[2017-07-10 09:06] kenpaxtonlim commented on #134
![whatsapp image 2017-07-10 at 5 05 18 pm](https://user-images.githubusercontent.com/25319347/28010608-09671bb6-6592-11e7-9e9d-d7008ecddc1d.jpeg)

I have the same error as well. Is there a specific fix for this?

[code]

[2017-07-11 07:03] theebi opened #139 "Sending multiple images at once"
Is it possible to send multiple images at once through this library?

[2017-07-11 13:29] sibelius commented on #94
@leoabacade do you still have this problem?

[2017-07-11 14:31] sibelius commented on #69
@dwilt do you still have this problem?

[2017-07-11 15:41] sibelius opened #140 "add more contributors"
I think this package is great, so it would be good to add more contributors to fix issues and merge Pull requests

[2017-07-11 16:05] sibelius commented on #97
@Davidcreador could you share a snippet of share with base64 on whatsapp?

[2017-07-11 16:09] sibelius commented on #97
@viniciusbo could you share your solution?

[2017-07-11 16:10] sibelius commented on #97
I got it working here, Share.open works fine, but Share.shareSingle does not

[2017-07-15 14:25] CoderProject opened #142 "sharing base64 on facebook on android m+"
Sharing a base64 image on facebook is not working currently, The share window opens without any image.
Heres the test code:
[code]

Here is the output on Android:
[code]

I guess you save base64 to a file and then sharing the file. However on android M+ we need write external storage permission for that. So actually when I'm opening this issue, I just answered my question, but still better the iss

[2017-07-15 14:28] sibelius commented on #142
const allowedStorage = await PermissionsAndroid.request(
      PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE,
      {
        title: 'Permissão para compartihar imagem',
        message: 'Natura precisa de sua permissão para utilizar o armazenamento de seu celular.',
      },
    );

ask for persmissions

[2017-07-15 15:54] CoderProject commented on #142
Now Im getting this error when I share a photo on facebook more than once. When i restart app, it works once perfectly, second time it throws this error. any ideas?

![screenshot_1500133979](https://user-images.githubusercontent.com/7101489/28240698-df7197b8-698e-11e7-8119-66c16d1bbe3e.png)

[2017-07-15 15:59] sibelius commented on #142
Try share.open

[2017-07-15 16:08] CoderProject commented on #142
yep! it worked. this will save my day at least. wish it could work with share.shareSingle as well.

[2017-07-15 17:24] sibelius commented on #142
share.shareSingle is a little bit buggy

[2017-07-17 16:50] rjacobskind opened #143 "Impossible to share an image to Facebook on IOS?"
We're trying to use your plugin to share an image to Facebook. We use this code:

[code]

When we actually run the code, Facebook redirects us to an error page stating that we need to share a valid URL. Based on the documentation we've been able to find, the `u=` query string param is for the referer URL, and if I read the source code for this plugin correctly, we're trying to pass *anything* in t

[2017-07-17 17:34] sibelius commented on #143
try Share.open

[2017-07-17 19:12] rjacobskind commented on #143
@sibelius Do you know of any way to have this work with Share.shareSingle?

[2017-07-17 19:21] sibelius commented on #143
nope, you should dig in the code and try to figure it out what is happening

[2017-07-23 09:24] hungdev commented on #134
@kenpaxtonlim i get same error

[2017-07-23 10:36] hungdev commented on #134
i know the error. it's error when assign object. It can set key when you share a second time.
i fixed it like this:
`import React, { Component } from 'react'
import {
  Clipboard,
  ToastAndroid,
  AlertIOS,
  Platform
} from 'react-native'
import Share, { ShareSheet, Button } from 'react-native-share'

export default class TestShare extends Component {
  constructor (props) {
    super(props)

[2017-07-27 15:04] lfiorini opened #145 "Android email share name has extension .null"
This works with IOS but with Android 7 ( Huawei ) the file attached is like 1501167383416.null.

...
share = (uri) => {
    RNFetchBlob.fs.readFile(uri, 'base64')
      .then((data) => {
        let shareOptions = {
          title: "React Native Share Example",
          message: "Check out this photo!",
          type: "image/jpg",
          url: `data:image/jpg;base64,${data}`,
          subjec

[2017-07-29 11:10] BipinBhandari commented on #142
Please add permission requirements to the readme file! It will save time for other developers. I just lost my 2 hours.

[2017-07-29 12:45] sibelius commented on #142
Could u send a PR?

[2017-07-31 08:24] kenpaxtonlim commented on #134
@hungdev May I know which part exactly is the fix?

[2017-07-31 16:20] hungdev commented on #134
Dont use assign and write like me. Look my shareSingle()

[2017-08-01 03:24] kenpaxtonlim commented on #134
@hungdev Thank you very much, it works! :)

[2017-08-07 02:43] rgap commented on #145
The same happens to me, have you solved this?

[2017-08-08 13:39] fencex commented on #79
`     setTimeout(() => {
                    Share.open(shareOptions);
                  }, 600);`

[2017-08-08 13:40] fencex commented on #79
`setTimeout(() => {`
                  `  Share.open(shareOptions);`
                  `}, 600);`

[2017-08-08 13:47] fencex commented on #79
The problem is solved by using  `setTimeout `:

` setTimeout(() => {Share.open(shareOptions);}, 600);`

Remember to set a big `timeout`;

[2017-08-09 10:23] tirrorex commented on #84
Same issue here, have you guys found how to fix this?

[2017-08-11 16:19] ju5td0m7m1nd commented on #74
I came up with this workaround.
First parse the library url into assets url

[code]

And then use RNFetchBlob from [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob) to read from assets url and convert as base64 string

As we got the base64 string we can share it : >
[code]

[2017-08-12 14:02] fxfactorial opened #150 "Using native chat messenger?"
Is there a way to open a new message in iMessage (and whatever is Android equivalent) with an image?

[2017-08-12 15:53] #150 closed

[2017-08-15 03:37] pigflymoon commented on #134
Change
Share.shareSingle(Object.assign(this.shareOptions, {"social": type})).catch(err => console.log(err))
to
 Share.shareSingle(Object.assign({},shareOptions, {
                                    "social": "email"
                                })).catch(err => console.log(err));

[2017-08-18 11:47] fxfactorial commented on #85
you can watch progress here: https://github.com/EstebanFuentealba/react-native-share/issues/85

[2017-08-21 11:52] Kampeone commented on #85
@eomine how exactly you managed to share the image from an url? I struggle to make this one work in my project

[2017-08-21 13:17] rohitgoyal opened #152 "react-native 0.47 createjsmodules issue"
Hi
It looks like that the commit has already been done to resolve react-native 0.47 issue.
However i can't find which version to install now
I tries 1.0.20 but the issue still exists with that.

[2017-08-21 13:47] eomine commented on #85
@Kampeone I had to use RNFS (`react-native-fs`) and:
1- Download the image file to the device;
2- Read the downloaded file;
3- Pass the file contents as a base64 string to `react-native-share`.

[code]

Images could be JPG or PNG, so I had a `Utils.getMimeType` method to get the correct MIME type. It just read the file extension and returned the proper MIME type string (`image/jpeg` or `image/png`

[2017-08-22 15:36] wodCZ commented on #152
@EstebanFuentealba  has to update `package.json` `version` property to publish this change.

As a temporary workaround, place this to your package.json:
[code]

or run
[code]

[2017-08-22 15:48] pvroosendaal commented on #137
Did you find a solution for this? I'm having trouble as well.
I'm fetching a video from online using RNFetchBlob and using RNFetchBlob.fs.readFile() to get the base64 data. This works, but then somehow it's sharing a .data file. If I rename it to .mp4 it's a working video, but I can't seem to figure out to give it .mp4 extension by default.

[2017-08-25 08:43] Kampeone commented on #85
@eomine Thanks, it worked!

[2017-08-25 12:02] nbluis commented on #152
Yes, please. I'm having same problem. 😢

[2017-08-29 07:16] jariwalabhavesh opened #153 "what is 'excludedActivityTypes' in open method options"
`Share.open(options).catch((err) => { err && console.log(err); })`

In options of open method, there is a  property **excludedActivityTypes** which is optional but what is use of that, i found nothing in the documentation as well.

can any one provide information what is use of **excludedActivityTypes** option

Thanks

[2017-08-29 07:22] jariwalabhavesh opened #154 "Can we ignore some app from share sheet which is open using open method."
Is there any way to filter out application showing in share sheet in ios. I want to remove some app from the list.

Here is image of share sheet when i open pdf using open method.
![image uploaded from ios](https://user-images.githubusercontent.com/10993666/29809161-befbacc4-8cb8-11e7-806a-e3e354af950d.jpg)

I want to remove **Add to Notes** and some other option from share sheet, it is possible t

[2017-08-29 08:36] BenBach commented on #70
Hi did someone find a way to use single share without using the facebook messenger sdk?

[2017-08-29 09:21] ataillefer commented on #153
Was added by ebb1364de262972fcb169633a6cfecdaf2b302f7 but there are no occurrences in the code so I think it is useless.

[2017-08-31 18:19] arjun9toppiks opened #156 "Cant close the window after successfully posting to any provider"
Once I post the url onto any provider, it successfully posts the url and shows a blank page. On Debugging, have seen a message in safari saying "Can't close the window as it is not opened by javascript". It happens both on IOS and Android. Please suggest if there is a way out?
<img width="545" alt="screen shot 2017-08-31 at 11 44 59 pm" src="https://user-images.githubusercontent.com/9283866/299386

[2017-09-01 12:51] MichaelPintos commented on #143
whit email and google+ same problem

[2017-09-02 00:04] fabianchoxD commented on #129
anyone can solve this ?

[2017-09-02 00:19] fabianchoxD opened #157 "Show a shared confirmation / cancel toast"
Hi, i would like show a  ToastAndroid message after the user successfully share something.

render Touchable icon Code:

` <View style={styles.iconContainer}>
                <TouchableOpacity onPress={()=>{Share.open(shareOptions);}}>
                    <Icon name="md-share" size={30} color="#2ecc71" />
                </TouchableOpacity>
                <Text style={styles.count} >Share</Text>

[2017-09-06 17:24] anoopmm commented on #70
Have you got any work around?

[2017-09-11 04:40] yokohama199121 commented on #50
hello waleedarshad-vf!
u can help me how do that????
thank you!!!

[2017-09-11 19:07] kevinhylant opened #158 "Fixing Breaking File Importing - RN 0.47.x"
Just was wondering how soon you were planning to support the newest stable release of RN. Currently, there are some downstream header file import issues stemming from RCTConvert.h

[2017-09-12 08:48] 2ducanhpham commented on #157
[code]

[2017-09-12 09:01] TrustTheBoy opened #159 "Can I open docx?"

[2017-09-14 06:25] sami718 commented on #46
When i run this command I got this error-
ENOENT: no such file or directory, uv_chd

@macuna
Please tell me solution

[2017-09-14 08:35] tomershohet commented on #145
Same here...

[2017-09-14 13:10] arjun9toppiks commented on #97
Anyone had this working with shareSingle?

[2017-09-14 20:05] SharanyaRao91 opened #160 "Share image as opposed to url?"
As of now, using react-native-share, when i share to whatsapp/twitter/etc it gets passed as a URL (See attachment). Is it possible to share an image itself? The URL when clicked shows the image but is it possible to share a jpg image, like how you would when you share from the phones camera roll.

RN version : 0.44
node version : v7.10.1

![image](https://user-images.githubusercontent.com/29380959

[2017-09-15 15:26] jackwzp commented on #139
+1

[2017-09-21 13:09] MichaelPintos opened #161 "message option does not work on facebook"
in react native fbsdk you can put a message with the `quote` property. here it does not seem to work.

[2017-09-22 12:16] rohankangale2011 opened #162 "Application crash"
Identified app crash for certain conditions.

Steps to reproduce:

Open the share dialog and click on back(device's back button).
Again open the dialog and click on back.
At second time(when back button is pressed), application getting crashed.

Platform: Android

![error](https://user-images.githubusercontent.com/7829122/30744047-e9e0f724-9fbd-11e7-83e1-57a51e361172.JPG)

![err](https://user-imag

[2017-09-22 16:54] mmckinley8 opened #163 "Save image to camera roll option not included?"
I am trying to include the save image icon in the action sheet as well as the sharing options, as you would typically see.

![share](https://user-images.githubusercontent.com/11301364/30755561-d7044e52-9f8c-11e7-9c2b-ee756d1f08f4.png)

Is there any way to achieve this?

[2017-09-24 13:12] shirbr510 commented on #160
I'm currently attempting to do the same.
it seems that it's possible by using either base64 decoding or simply downloading the file locally and pointing it as the url

[2017-09-25 00:32] SharanyaRao91 commented on #160
I was able to share as image on all except twitter. I used RNFetchBlob to convert the URL to base64 and then shared it. Thanks.

[2017-09-25 05:41] samah2100 commented on #81
Any update? could you solve this issue??

[2017-09-27 07:54] vijay-dadhich09 opened #164 "react-native-share: Android compiler error"
Hi, I am getting following error when trying to compile the react-native project. It will be gr8 pleasure, if anyone help me help me urgently. I have done all the steps suggested for andoid setup...

Error:Project :app declares a dependency from configuration 'compile' to configuration 'default' which is not declared in the descriptor for project :react-native-social-share.

[2017-09-27 08:15] vijay-dadhich09 opened #165 "iOS support for Pinterest?"

[2017-09-27 09:08] #164 closed

[2017-09-27 09:09] vijay-dadhich09 commented on #164
It was my mistake I was not removed react-native-social-share :) as I am using react-native-share.

[2017-09-27 16:37] ricardofavero opened #166 "Can't share local file on Android"
On iOS this code works perfectly, but on Android it shows "unsupported file" or "permission denied" depending on which app I choose.
Does anyone know what's going on?

[code]

[2017-10-03 07:35] fabianchoxD commented on #157
Sorry doesn't work for me, i just can catch the res but not the err to show the Toast.

[2017-10-04 13:16] jgcmarins opened #167 "Fatal Exception: java.lang.NullPointerException on ShareFile.java:63"
Guys, we're facing this error:
[code]

[2017-10-04 13:23] sibelius commented on #167
I think the error is here

https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/ShareFile.java#L63

maybe getScheme() returns null

[2017-10-04 13:24] sibelius commented on #167
https://developer.android.com/reference/android/net/Uri.html#getScheme()

`the scheme or null if this is a relative URI`

[2017-10-04 14:50] #131 closed

[2017-10-04 14:52] jgcmarins commented on #167
#168

[2017-10-04 14:52] #167 closed

[2017-10-04 18:03] kramer9x commented on #166
@ricardofavero try to check and request permission before Share.open call. Something like
[code]

[2017-10-05 05:04] lytrunghieu opened #170 "need explain "type" and "excludedActivityTypes" in option of open method"
I dont undertand mean of "type" and "excludedActivityTypes" , if have a some example then it better . Some body can explain for me ?

[2017-10-05 07:55] lytrunghieu opened #171 "event share success on Android fired not correct"
my code :
 Share.open(shareImageBase64).then(res=>{
                    this.onCompleteShare();
                }).catch(err=>{
                    console.warn("error ", err)
                });
but event share success fired while popup is showing. But in IOS event share success fired after I share complete.
p/s: I'm using version 1.0.23

[2017-10-05 09:24] Rickkorsten opened #172 "How to share local image as url??"
When I try :

[code]

This is the result:

![screenshot_20171005-111835](https://user-images.githubusercontent.com/13645069/31220006-62ae09c0-a9bf-11e7-8b4d-69519b291a52.png)

This also happens when I upload a .gif

Also the message and title don't work on android!!!

[2017-10-06 15:40] JulioOrellana opened #173 "How to style error screen when app is not found?"
How it is possible to edit/style this screen when the app is not locally found? (e.g) Whatsapp

![screen shot 2017-10-06 at 12 40 45 pm](https://user-images.githubusercontent.com/10372340/31286143-98d4f67e-aa93-11e7-8c8f-aced8320190b.png)

[2017-10-08 18:57] rohitgoyal opened #174 "Base64 Image sharing stopped working on iOS 11 for Facebook."
Hi
I am using react-native-share to share screenshot of my app to Facebook.

[code]

Where uri is a local file saved by taking a screenshot of the app and looks something like this

Now I am getting the sharing successful log and the app gets redirect to browser with this url in the address.

And the screen remains blank white with nothing happening in the browser.

If I am trying to achieve the s

[2017-10-10 08:28] vishnuc opened #177 "Whatsapp share is not working in ios"
When clicked share , It is opening itunes and itunes has open button , Whereas native whatsapp share button is opening whatsapp directly with our message.

[2017-10-12 14:18] nblumoe opened #178 "title option not working"
The option `title` in the following call does not have any apparent effect:

[code]

The share dialog on Android still will have the title "Share". Is the option broken?

[2017-10-12 16:10] BohdanRusinka opened #179 "Twitter share: message is always empty (iOS11)"
When trying to share via twitter - the link is displayed, but not the message. On Android everything is OK. On older versions of iOS seemed to be working. What changed in iOS11? Did anyone try to fix that? Would appreciate if you share that knowledge :)

[2017-10-13 06:50] mauricejohn opened #180 "Facebook sharing"
Facebook sharing ignores message when there is an image url attached.

[2017-10-13 08:30] ataillefer commented on #178
Yes, it seems it's broken since 3466bbc.
Look at the following diffs:

- "title" option taken into account:
https://github.com/EstebanFuentealba/react-native-share/commit/3466bbc#diff-f8f2fa183a121e3e22f46f4a5ceef3ebL99

- hardcoded title:
https://github.com/EstebanFuentealba/react-native-share/commit/3466bbc#diff-3fda3b361cc3bfe1acf44b82a68acc9dR24

Maybe @EstebanFuentealba  can do something abou

[2017-10-13 09:21] nblumoe commented on #178
@ataillefer thanks for investigating this and finding the issue!
I consider doing a PR for this but as this isn't high on my priority list, I don't want to raise expectations of handing this in too soon.

[2017-10-13 14:53] BohdanRusinka commented on #179
this fixes the issue, closing
https://github.com/EstebanFuentealba/react-native-share/pull/176
please, accept that pull

[2017-10-13 14:53] #179 closed

[2017-10-18 13:34] rohitgoyal commented on #180
+1
And it is happening with iOS 11 only.

[2017-10-23 14:08] GH974 commented on #174
Hi, can you try this method `url: "data:image/png;base64," +imageBase64`

[2017-10-24 06:04] Avanikothari22 opened #182 "email share not working"

[2017-10-24 08:56] jgcmarins commented on #182
@Avanikothari22 could you provide more details, please?

[2017-10-24 12:53] nblumoe opened #183 "Sharing other file types than images as base64 in iOS"
I am trying to share a base64 encoded PDF like this:

[code]

The base64 URI is valid and works on Android as intended. On iOS however, I only get the "Create PDF" action in the share dialog. I realised that the library uses `addImage` for the payload of the share in any case: https://github.com/EstebanFuentealba/react-native-share/blob/9a9f94ddbf5a33c9d7afba669dfae73773fe86b2/ios/GenericShare.m#L

[2017-10-24 20:35] kbrk opened #184 "Sharing base64 image is not working anymore."
Hello,
I am developing on android. My react-native version is **0.42** I'm using this package for sharing screen view. The data I want to share is being converted to base64.

[code]

This process was working properly on whatsapp, facebook and email before.
However, now, when I tried on whatsapp the response is '_Sharing failed. Please try again_', on facebook I'm getting an empty text area without

[2017-10-27 04:29] piubellofelipe commented on #184
[code]

is working for me, maybe the type field is important? did not try without it

[2017-10-27 08:11] kbrk commented on #184
@piubellofelipe   thank you but it is not working.

[2017-10-27 13:13] Jobeso commented on #180
+1

[2017-10-28 10:40] ravirupareliya opened #185 "exposed beyond app through ClipData.Item.getUri()"
I am running it with android naugat and while sharing it is showing

    E/unknown:ReactNative: Exception in native call android.os.FileUriExposedException: file:///storage/emulated/0/Download/1509186941926.png exposed beyond app through ClipData.Item.getUri()
    at android.os.StrictMode.onFileUriExposed(StrictMode.java:1958)
    at android.net.Uri.checkFileUriExposed(Uri.java:2348)
    at androi

[2017-10-31 03:50] ntnamag opened #187 "How to custom share with Zalo app in Vietnam?"
I want to custom a share box, how to setup with this app
Link: [](https://play.google.com/store/apps/details?id=com.zing.zalo)

[2017-11-01 13:06] peterpaulis commented on #84
I don't use React native, but i came upon this by Google... having the exactly same issue https://stackoverflow.com/questions/47055503/crash-on-slcomposeviewcontroller-initwithextensionrequestedservicetype-block

[2017-11-02 12:50] gedu commented on #180
+1
And it is happening with URLs in general

[2017-11-02 13:05] jgcmarins commented on #180
guys, please, stop doing `+1`
instead, **thumbs up** the comment
thanks :)

[2017-11-02 13:07] jgcmarins commented on #180
@mauricejohn could you please provide more details about your problem?
thanks

[2017-11-02 13:44] gedu commented on #180
What I found is FB doesn't support a message sharing using the URL, so or you use the FB SDK or the FB app must be installed

[2017-11-03 08:31] sushant6309 commented on #177
@vishnuc have you fixed this. @heracek @codeflows @linmic @wasedaigo can you guys help me with this issue.

[2017-11-03 09:03] kbrk commented on #184
_targetSdkVersion_ of the project that I am working on has been 23. With version 23 system requires
 **Overlay permission** and it may interfere to use of the other applications. When I changed the sdkVersion to _22_ in  _android/app/buld.gradle_ and _android/app/src/main/AndroidManifest.xml_ sharing worked normally again.

[2017-11-03 09:04] #184 closed

[2017-11-03 14:53] vishnuc commented on #177
no , i  am still waiting for fix

[2017-11-03 15:15] jgcmarins commented on #177
@vishnuc could you provide more details, please?
like versions, code etc

[2017-11-03 18:21] jsina opened #188 "Use ACTION_EDIT"
how could I open another app with action: "ACTION_EDIT". actually I wanna use below android code on react-native.
[code]

[2017-11-04 23:29] natashache opened #189 "Can't find icon variable"
Followed the example for sharing sheet, i.e.
[code]
Got the error that says "can't find variable: TWITTER_ICON".

This is on iOS.

Anybody knows what's wrong?

[2017-11-04 23:35] #189 closed

[2017-11-05 02:51] natashache commented on #182
@jgcmarins it's not working for me either. When you tap on email share it doesn't do anything. It does not produce any error message either. This is on iOS. I have not tried android.

[2017-11-05 17:42] Benorb opened #190 "Possible Unhandled Promise Rejection Cannot read property 'shareSingle' of undefined (Android)"
Hello,
When i try to activate shareSingle function on android , it dosn't work and write on log Unhandled Promise Rejection (id: 0):
TypeError: Cannot read property 'shareSingle' of undefined .

I did also the automatic and after that didnt work i made also the manual installation.

The problem is that inside the package code there is a call to **NativeModules.RNShare**.
And this is undefined !
So

[2017-11-06 11:58] ashishrokr opened #191 "Share Multiple Images at once"
How to Share All Images At Once ?
 this.imageData.map((img,index)=>{
       img.toDataURL((dataImage) => {
            this.dataUrl =  this.dataUrl.concat(`${dataImage}`)
        })
    })

    Share.open({ url: `data:image/png;base64,${this.dataUrl}`})
this is working only for one image

[2017-11-06 16:21] natashache commented on #76
I'm having the same problem on android. The actual url link somehow is not being passed on to google plus for sharing.

[2017-11-06 16:24] jgcmarins commented on #76
Maybe the problem is here: https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/social/GooglePlusShare.java#L14

[2017-11-06 16:27] natashache commented on #76
@jgcmarins I don't know enough java to figure out what's wrong with that line. From what I can see, a similar line is in https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/social/FacebookShare.java#L14. But somehow facebook sharing works.

[2017-11-06 16:33] jgcmarins commented on #76
You're right, this is the `default` link.

[2017-11-06 17:00] natashache commented on #76
@jgcmarins you are right. Changed lines 31-33 in GooglePlusShare.java to
[code]
It's now working correctly.

[2017-11-06 17:05] jgcmarins commented on #76
Great, @natashache! PRs are welcome :)

[2017-11-09 19:54] ConorKelleher commented on #182
I had this happen to me and fixed it by adding a "subject" property to the shareOptions parameter. The sample code shows shareOptions with a subject property and a comment suggesting it's needed for email. Really could use a more strict warning though

[2017-11-15 21:38] natashache commented on #182
@ConorKelleher doesn't work for me. I have 'subject' in shareOptions. When tapping on email sharing, the sharing modal disappears and nothing happens. There is no error response either.

[2017-11-17 04:40] anniewey commented on #120
@DavidKongDesheng Did you find any solution?

[2017-11-17 07:31] DavidKongDesheng commented on #120
@anniewey Not exactly, I implement this func according this [https://developer.linkedin.com/docs/share-on-linkedin#](url) - Customized URL, should be very easy add this function to this library~

[2017-11-20 17:11] luco opened #193 "singleShare is not working for Twitter, Whatsapp, etc."
When I try to use `singleShare`, it doesn't work with installed apps. E.g.:

Tried to share via Whatsapp, it opens AppStore to download WhatsApp, but the app is already installed.

Also on Twitter, it opens the Safari on twitter.com.

Thoughts?

Thanks

[2017-11-20 18:57] #193 closed

[2017-11-20 19:07] jgcmarins commented on #193
hey @luco how did you solve that?

[2017-11-21 09:25] damoguyan8844 commented on #84
I can reproduce it, if you share content to the signed user in slack , it will crash.

[2017-11-29 00:47] tavour-frank commented on #96
@baderahmed @sibelius @nidzola Just tested a fix locally for android. The issue is using an old package name for twitter in TwitterShare.java The new package name is now `com.twitter.android` as opposed to `com.twitter`. Haven't investigated iOS yet

[2017-11-30 17:00] Winglonelion commented on #187
Hi, your message can be share on Zalo or any app have deep link by ```open``` api of ```react-native-sharing```.

When your app open native share UI, choose more  and turn on Zalo sharing option if not found it.

[2017-12-06 06:07] ER1011 commented on #160
I'm using RN 0.49.5 and I've tried every possible combination of url formats, base64 and not, and I can't get an image to exported. When I use a file uri and try to share via email or text then the email/text open, I see the icon there related to the image (no thumbnail though) but then when I press send no image is actually sent with the email/text message.

[2017-12-09 17:24] nikhilninawe commented on #190
I am also facing the same issue. You got any solution?

[2017-12-12 23:25] Noitidart opened #195 "React Native Built in Share"
Hi there, I saw your note that react-native supports share out of the box. It doesn't seem to support sharing images, is this true and for this reason will this module continue to be supported?

[2017-12-13 13:13] ardalahmet commented on #182
@natashache It's actually the `message` field. You can see it here:

https://github.com/EstebanFuentealba/react-native-share/blob/9a9f94ddbf5a33c9d7afba669dfae73773fe86b2/ios/EmailShare.m#L19

[2017-12-18 09:17] yjb94 commented on #153
https://developer.apple.com/documentation/uikit/uiactivitytype
you can get infomation from here.
use it like

excludedActivityTypes: [
                                    'com.apple.UIKit.activity.PostToFacebook',
                                    'com.apple.UIKit.activity.PostToTwitter']

[2017-12-20 22:47] wootwoot1234 commented on #59
I'm having this issue too but on iOS.  What did you guys do to solve it?

[2017-12-28 14:02] sagark1510 commented on #145
I also got the same issue and just for the sake of experiment I did `url: data:image/png;base64,${data}` for `jpg` image and it worked unexpectedly. Hope it helps somebody.

[2017-12-28 14:46] sagark1510 commented on #97
Same issue, works on android but not on iOS. Any solution so far?

[2018-01-05 20:03] calcazar commented on #185
Are there any updates to this? I'm seeing the same on my end

[2018-01-07 22:24] coryjb commented on #172
Hi there! I use [react-native-fs](https://github.com/itinance/react-native-fs) to get the base64-encoded version of an image then pass to react-native-share:

`RNFS.readFile(RNFS.DocumentDirectoryPath + '/previews/test.jpg', 'base64').then((image) => {
  Share.open({
    url: 'data:image/jpeg;base64,' + image,
    type: 'image/jpeg'
  }).catch((err) => {
    // Handle error
    // ...
  });
});`

[2018-01-07 22:28] coryjb commented on #160
Hi there - I posed this in another comment, but here's what's working for me using [react-native-fs](https://github.com/itinance/react-native-fs) to get the base64-encoded version of an image:

[code]

[2018-01-09 02:41] bitshadow commented on #185
+1

[2018-01-09 18:24] joaquincamara commented on #190
You have to do the manual configuration from android:

Android
npm install react-native-share --save
Open up android/app/src/main/java/[...]/MainApplication.java
Add import cl.json.RNSharePackage; to the imports at the top of the file
Add new RNSharePackage() to the list returned by the getPackages() method
Append the following lines to android/settings.gradle:

include ':react-native-share'
proje

[2018-01-09 18:29] sibelius commented on #190
this is a problem with a wrong link

[2018-01-09 18:29] #190 closed

[2018-01-09 18:33] joaquincamara commented on #190
Where ? and wich one ? @sibelius

[2018-01-09 18:39] jgcmarins commented on #190
@joaquincamara , when linking this lib to your project.
`react-native-link` is tricky.

[2018-01-16 02:40] priyankinfinnov commented on #171
Hey @lytrunghieu, were you able to fix this?
Also, if not did you use any other module?

[2018-01-17 11:53] sibelius commented on #185
@ravirupareliya @calcazar @bitshadow can you try with master version

it should be fixed by https://github.com/EstebanFuentealba/react-native-share/pull/181

reopen if the error still occours

[2018-01-17 13:04] bitshadow commented on #185
Tried with master version and got this. Any idea what am I missing here. @sibelius @ygorbarboza

[code]

[2018-01-17 13:08] ygorbarboza commented on #185
@bitshadow You need to make your `MainApplication` implements `ShareApplication`

[2018-01-17 13:11] bitshadow commented on #185
Thanks @ygorbarboza for quick reply.

Currently MyApplication already implements ReactApplication so please consider it in README as well.
`public class MainApplication extends Application implements ReactApplication {}`

[2018-01-17 13:34] sagark1510 commented on #185
@ygorbarboza I am also stuck at the same issue. Can you share an example for now to make it work quickly?

[2018-01-17 13:53] ygorbarboza commented on #185
Something like this

[code]

[2018-01-17 13:56] ygorbarboza commented on #185
I updated the Readme on this PR #197

[2018-01-18 09:43] lynkxyz commented on #177
Is there any solution

[2018-01-18 10:45] jgcmarins commented on #177
maybe we can close this due lack of information

[2018-01-18 10:58] Haggaish commented on #160
+1

[2018-01-18 21:04] wasedaigo commented on #177
Isn't this the fix? https://github.com/EstebanFuentealba/react-native-share/pull/121

[2018-01-18 21:11] jgcmarins commented on #177
@wasedaigo I think you're right

[2018-01-19 02:44] #96 closed

[2018-01-19 13:16] sagark1510 commented on #185
@ygorbarboza @bitshadow
After going through all the steps from updated read me I got error as attached in the image.
![whatsapp image 2018-01-19 at 6 44 25 pm](https://user-images.githubusercontent.com/2134076/35152603-05828ca2-fd49-11e7-9f4c-358b03af5581.jpeg)

Any idea what is the issue?

[2018-01-19 13:20] ygorbarboza commented on #185
@sagark1510 did you add the provider on the AndroidManifest file? Check the authority path and check if its right

https://stackoverflow.com/questions/30896130/fileprovider-crash-npe-attempting-to-invoke-xmlresourceparser-on-a-null-string

[2018-01-19 13:29] sagark1510 commented on #185
@ygorbarboza I have not added `meta-data` in the provider as readme doesn't have that snippet.
Do I also have to create `raw/xml/filepaths.xml` file as well?

[2018-01-19 13:38] bitshadow commented on #185
@sagark1510 I think I have added it in the Android section step 5. Can you check if you are not looking at the older version.

You need to create file paths (`filepaths.xml`) only if you want to restrict user to specific file paths otherwise not required.

[2018-01-19 13:43] sagark1510 commented on #185
@bitshadow

            <applicaiton>
                <provider
                      android:name="android.support.v4.content.FileProvider"
                      android:authorities="${applicationId}.provider"
                      android:grantUriPermissions="true"
                     android:exported="false">
              </provider>
           </application>

no `meta-data` and if I try to c

[2018-01-20 06:46] sagark1510 commented on #185
@bitshadow @ygorbarboza

Finally got it working. Thanks to @bitshadow .

Below was the issue

[code]

[2018-01-20 12:05] jgcmarins commented on #185
@sagark1510 do we need a PR to fix it?

[2018-01-20 12:17] monkingame opened #200 "com.share01.MainApplication cannot be cast to cl.json.ShareApplication"
I created a test react-native project,but got error:
com.share01.MainApplication cannot be cast to cl.json.ShareApplication

steps:
1)react-native init share01
2)yarn add react-native-share
3)react-native link
4)copy the sample codes to replace index.js
5)react-native run-android and got error

react-native environment:
Environment:
  OS: macOS High Sierra 10.13.2
  Node: 9.3.0
  Yarn: 1.3.2
  npm

[2018-01-20 14:41] giturra commented on #200
Same issues here

[2018-01-20 15:03] maxocg commented on #200
Same issues here

[2018-01-20 15:05] jgcmarins commented on #200
@ygorbarboza maybe this is related to your fix? What do you think?

[2018-01-20 15:20] giturra commented on #160
@SharanyaRao91 Can you give a code example of this? I still stuck with my code

[2018-01-20 15:33] sibelius commented on #200
Follow README instructions

[2018-01-20 23:35] monkingame commented on #200
@sibelius @jgcmarins Thanks !
I think the lastest version(v1.0.24) maybe have some bugs or I do not know how to config.
Here are my steps to test(I tested 3 version: v1.0.21 v1.0.23 v1.0.24):

1)react-native init TestShare
the test project will use v1.0.21
and two other project:TestShare23 TestShare24
2)yarn
install node_moudles
)using android studio to open TestShare/android project(for building)

[2018-01-21 08:24] ozmaat commented on #200
It was working  before. Upgraded the package a couple of days ago. While testing today, noticed the same issue.

[2018-01-21 09:38] sibelius commented on #200
Check the latest commits on readme, something changed

[2018-01-21 16:00] EyalSi opened #201 "Runtime error: Attempt to invoke virtual method 'android.content.res.XmlResourceParser"
I'm getting the following error when using version 1.0.24 (after adding the provider).
Did anyone face this? (it was working with the previous version...)

10x!!!

`Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.PackageItemInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)' on a null object reference
parsePathStrategy
    FileProvi

[2018-01-21 23:28] EyalSi commented on #201
Rebuild solved this one.
For those coming from version 1.0.23 to 1.0.24, you need to:
1. Add to .\android\app\src\main\AndroidManifest.xml, in <application> section:
[code]
2. Add to .\android\app\src\main\java\com\anashim\MainApplication.java
(you already added the package when you installed this):
[code]

[2018-01-21 23:28] #201 closed

[2018-01-21 23:35] jgcmarins commented on #201
Hello @EyalSi.
Thanks for feedback. Could you please send a PR to update README with this information?
Thanks.

[2018-01-21 23:37] jgcmarins commented on #201
Never mind. It's already done here: https://github.com/EstebanFuentealba/react-native-share#android
Thanks anyway.

[2018-01-21 23:38] EyalSi opened #202 "Attribute provider is also present at 'react-native-image-crop-picker'"
using the package react-native-image-crop-picker, I was trying to change the provider suffix to share - in both AndroidManifest.xml and MainApplication.java setting authorities to: ${applicationId}.share

Hence getting the following error:
Anyone has a suggestion what can be done?
10x,

D:\Data\Projects\Anashim\android\app\src\main\AndroidManifest.xml:34:11-55 Error:
      Attribute provider#andro

[2018-01-22 03:11] lizhuoyuan opened #203 "Unable to get provider android.support.v4.content.FileProvider"
Android 8.0

Application of flash back
error is :
 java.lang.RuntimeException: Unable to get provider android.support.v4.content.FileProvider: java.lang.IllegalArgumentException: Missing android.support.FILE_PROVIDER_PATHS meta-data

I am a step by step according to the document
what should i do ? :

[2018-01-22 15:33] fxfactorial commented on #150
No

Sent from my iPhone

[2018-01-22 16:10] SharanyaRao91 commented on #160
convertToBase64(){

        let imagePath = null;
        let image_url_length = this.props.img_url.length;

        RNFetchBlob
            .config({
                fileCache : true
            })
            .fetch('GET', this.props.img_url)
            // the image is now dowloaded to device's storage
            .then((resp) => {
                // the image path you can use it directly with

[2018-01-22 16:10] #160 closed

[2018-01-22 16:14] compojoom commented on #150
I actually looked at the Objective-C code and this isn't possible.

[2018-01-22 22:57] VitaliiK91 commented on #203
You might be missing meta-data in your manifest file. Try adding this
[code]

[2018-01-23 00:22] #203 closed

[2018-01-24 10:07] tirrorex opened #205 "Linker fail __RCTLogFormat undefined symbol"
React-native 0.51
react-native-share 1.0.24

Undefined symbols for architecture arm64:
  "__RCTLogFormat", referenced from:
      -[RNShare shareSingle:failureCallback:successCallback:] in libRNShare.a(RNShare.o)
ld: symbol(s) not found for architecture arm64

Imo it is a path issue, struggling to fix it though, it this a known issue ?

[2018-01-24 13:53] ershubhamgarg commented on #117
@levsthings @superandrew213 @heracek  Can you please tell me how do I share the image on Instagram through iOS platform ?

[2018-01-24 17:21] austin-everts commented on #137
If anyone comes across this in the future and is also using using react-native-fetch-blob. After experimenting I found adding the `appendExt: fileType` to your config obj, will allow you to share the file from the path.

[code]

[2018-01-25 19:56] akirasunny opened #206 "Is it possible to customize preview image and/or url for different apps?"
Thanks for authors' nice work, I am using this module to create share button for my app.

I'm wondering if it is possible to customize preview image. Below is a screenshot of share page. As it shows, the preview now is a placeholder image, I want to substitute it with a customized one.

Also I wonder if I can use different urls for different apps in simple share.

Thanks in advance.

![img_5487](h

[2018-01-26 18:39] ozmaat commented on #200
I have made the new changes. Added the provider with meta-data as below

[code]

Created a  filepaths..xml under the directory - android\app\src\main\res\xml

[code]

Now get the following error:
`
Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.ProviderInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)' on a null object reference

[2018-01-26 18:56] jgcmarins commented on #200
@ozmaat this happens because we need to use `com.my.app` instead of `applicationId`, where `com.my.app` is your app's package

[2018-01-26 19:37] ozmaat commented on #200
Thanks @jgcmarins  but not sure what we need to do to solve the issue.

Tested it with ` android:authorities="com.my.app.fileprovider"`, same error occurs.

[2018-01-31 13:53] Mikoz93 commented on #200
@ozmaat

Try this:

**AndroidManifest.xml:**

[code]

**MainApplication.java:**

Add an implementation to the MainApplication class

[code]

Add an override

[code]
Notice that I've hard coded the package name, it wouldn't work for me otherwise.

[2018-01-31 18:58] MatiasBontempo opened #207 "[iOS] Issues when sharing PDF"
Hi, we have several issues when sharing a PDF with this package.

When sharing via email, the file is missing the .pdf extension and the name is a 5 digits number.
When sharing vie whatsapp, the file is not attached and only the 'message' is sent.
When sharing via telegram, the file is correctly attached but with the name 'file.pdf'

This is the code we are using:

[code]

Everything is working fi

[2018-01-31 23:43] jgcmarins commented on #207
@MatiasBontempo PRs are welcome \o/

[2018-02-01 12:07] inventrix commented on #200
@Mikoz93 this seems to work.

[2018-02-03 08:49] ozmaat commented on #200
Thanks @Mikoz93. It solved the xml error.

I  get a different error, I think it is related with the defining the right path for android.

`Failed to find configured root that contains /storage/emulated/0/Download/1517644516612.png`

I use a snapshot plugin, which  saves png file at "/storage/emulated/0/Download".

I have tried different paths in filepaths.xml but yet to find the correct path to de

[2018-02-03 15:54] Jimmy-YMJ commented on #200
@ozmaat try replace `files-path` to `external-path`

[2018-02-03 20:04] FlintOFF commented on #200
Fixed for me. Just do next two steps:
1. npm install react-native-share@1.0.23 --save
2. react-native link

[2018-02-05 08:08] ozmaat commented on #200
@Jimmy-YMJ - thanks a lot. using the external path solved the issue.

`<external-path name="myexternalimages" path="Download/" />`

[2018-02-05 19:11] jgcmarins commented on #200
Great to hear from you @Jimmy-YMJ and @ozmaat .
Could someone send a PR to add this information here: https://github.com/EstebanFuentealba/react-native-share#android
?
Thanks!

[2018-02-06 07:16] mavenintel opened #208 ""message" is not working in Android"
Below is my code for sharing. In iOS, I am able to get message shown in status field. But for Android the message is never shown, regardless of what app I choose. Am I doing anything wrong?

[code]

[2018-02-07 14:53] filipef101 commented on #185
@sagark1510 How so, Im facing the same issue and I have that code on main application

[2018-02-07 14:57] filipef101 commented on #201
@EyalSi I have the same issue, applied both codes and still the same

[2018-02-07 15:20] filipef101 commented on #201
I get a crash now when I add the code to manifest

[2018-02-07 15:28] jgcmarins commented on #201
@filipef101 could you provide more information, please?

[2018-02-07 15:32] filipef101 commented on #201
@jgcmarins Do i need:
`<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths"
				tools:replace="android:resource"/>`
?
If so how do I set the paths, when I place the code on the manifest the app crashes immediately

[2018-02-07 15:40] filipef101 commented on #201
I just want to share a base64 image

[2018-02-07 22:53] jgcmarins commented on #201
@filipef101 version 1.0.23 is working fine

[2018-02-08 00:40] filipef101 commented on #201
I had to put on main application part the package name hardcode and with an if debug since my debug package name ends in .debug and in manifest left it fetching from graddle and no issue, after all I wasn't sharing a base64, and 1.0.23 doesn't work on andoird Oreo

[2018-02-08 00:41] filipef101 commented on #201
Also needed the code above I asked and a paths.xml with the download folder path, as per the issue #200

[2018-02-08 00:50] superandrew213 commented on #117
@filipef101 the `custom` branch should work:
https://github.com/superandrew213/react-native-share/tree/custom

[2018-02-09 15:24] esutton opened #211 "[ Android ] How to open local KML file in Android Google Earth App ?"
Is there an option to use Android FileProvider to open a local KML file in Google Earth?

Thank you for sharing your work.  Open KML in Google Earth app works great on iOS!

I verified I have the **AndroidManifest.xml** and **getFileProviderAuthority()** configured correctly and working.

This code example opens the KML file in GMail instead of launching Google Earth.
[code]

This Java code I made

[2018-02-11 00:47] ajonno opened #212 "No option to enter recipients for iMessage/SMS"
It displays the share sheet fine, but then the iMessage popup has nowhere(!) to enter actual recipients

![img_23c10f0c7957-1](https://user-images.githubusercontent.com/3005269/36068099-27cc2158-0f21-11e8-859c-7f62383c08a5.jpeg)

[2018-02-12 11:25] FarhadMahmudi1990 commented on #54
I have the same problem in Android
Cannot read property shareSingle of undefined....

[2018-02-12 16:22] alsh76 commented on #200
I am stuck with same issue in Android version
I am trying to share remote image
[code]
in version 1.0.23 a compilation error happens
`cannot find symbol import cl.json.ShareApplication;`

in latest version the app crashes with an error
`Missing android.support.FILE_PROVIDER_PATHS meta-data`
probably it requires some xml resource.
But what kind of resource should be in my case for images saved in t

[2018-02-12 22:23] prtkkmrsngh commented on #202
You should follow the suggestion shown in the build log.
Add this to AndroidManifest.xml:
[code]

Add this to res/xml/application_file_paths.xml:
[code]

[2018-02-13 12:33] nikhiltekwani09 opened #213 "[Android]: Share.open does not share image in twitter"
Cannot see image when sharing image on twitter through share.open. I m sending local file uri in url. Also this issue is occurring only in android.

[2018-02-13 13:24] jgcmarins commented on #213
@nikhiltekwani09 could you provide more information, please?

[2018-02-13 13:48] nikhiltekwani09 commented on #213
@jgcmarins I have written a very basic code where I try to share an image to twitter using Share.open or Share.singleShare and provide the local path of the file in url. The image is sharable on facebook but not on twitter.

[2018-02-14 07:38] #213 closed

[2018-02-14 09:51] jgcmarins commented on #213
@nikhiltekwani09 did you solve it?

[2018-02-14 13:47] jankozlowski opened #214 "[Android]undefined is not an object"
Geting this error any idea why?

![device-2018-02-14-143910](https://user-images.githubusercontent.com/1113661/36207367-f2b515ca-1195-11e8-9201-f21e76e0a31e.png)

[code]

[2018-02-16 12:06] batuhanorhn commented on #214
I have same problem. Quick solution pls.

[2018-02-16 13:55] sibelius commented on #214
the import is wrong

[2018-02-16 13:55] #214 closed

[2018-02-18 08:43] priyankinfinnov opened #216 "Add Instagram and SnapChat in shareSingle option"
The headline is self-evident :P

[2018-02-18 09:23] priyankinfinnov commented on #216
As far as I understand to add a network one need to do -
1. Add 1 line in [RNShareModule](https://github.com/EstebanFuentealba/react-native-share/blob/master/android/src/main/java/cl/json/RNShareModule.java) file under the RNShareModule method.
2. Create a class at [path](https://github.com/EstebanFuentealba/react-native-share/tree/master/android/src/main/java/cl/json/social) exactly similar to [W

[2018-02-19 11:25] nikhiltekwani09 commented on #213
@jgcmarins yes

[2018-02-19 12:11] jgcmarins commented on #213
how?

[2018-02-22 17:06] antonkulyk commented on #202
I also use `react-native-image-crop-picker`. I've added the code above to AndroidManifest and application_file_paths.xml and now I get the next error on Android when trying to share something
![screenshot_20180222-190503](https://user-images.githubusercontent.com/17258145/36552824-7ec73cdc-1803-11e8-979e-41d85d2b2abc.jpg)

[2018-02-23 12:53] nishantagrawal25 opened #217 "Singleshare is giving error on android if twitter is not installed"
Hi,

When I am trying to do singleshare via twitter and If app is not installed on my phone it is giving following error on android

![error](https://user-images.githubusercontent.com/13209229/36595006-89505e18-18c6-11e8-9c18-5720e1a41eaa.png)

[2018-02-23 12:54] rverbytskyi commented on #174
It happens due to SLServiceTypeFacebook which is deprecated in iOS 11.0 to share via `shareSingle()`.

You may use an installed app. For this purpose, you have to modify GenericShare.m. You may use the approach I used in my fork https://github.com/rverbytskyi/react-native-share/blob/master/ios/GenericShare.m There I check if Facebook or Twitter app is installed (corresponding to the request) inste

[2018-02-24 22:15] michaelmika commented on #202
I have the same issue! @prtkkmrsngh suggestions did not help me. Then, the file isnt found. Is there a way? This should not be so difficult! :(

[2018-02-26 09:46] dyguests commented on #203
and the filepaths like this:

[code]

[2018-02-27 00:22] michaelmika opened #218 "Android: FileProvider Issue: Failed to find configured root that contains ..."
my problem is related to #202 . I am also using `react-native-image-crop-picker` which implements FileProvider in their own Manifest. Therefore I override their FileProvider Entry in my Manifest (**note**: I do not override the `android:authorities` entry, but the path ressource):

[code]
`file_paths.xml` looks like this (**note**: I also added the path defined by `react-native-image-crop-picker`

[2018-02-28 12:04] dianazzz commented on #217
Same issue for Facebook... How can I handle it??....

[2018-02-28 12:11] Nick-Patrick commented on #217
Getting this for Twitter / Facebook / Google+ at least..

[2018-03-01 02:30] priyankinfinnov commented on #217
+1

[2018-03-01 03:31] priyankinfinnov commented on #216
Submitted a pull request for this [https://github.com/EstebanFuentealba/react-native-share/pull/219](here)

[2018-03-01 16:46] Michael-Benecaid commented on #125
How to write the file on an external directory? I am using react-native-fetch-blob to write the file,
[code]
and share the pdf as
[code]
Gmail still ingnore the url, can anyone help this?

[2018-03-03 09:47] agrawalo commented on #134
I am still getting this error

[exp] undefined is not an object (evaluating '_reactNative.NativeModules.RNShare.shareSingle')
* null:null in <unknown>
- node_modules/promise/setimmediate/core.js:45:7 in tryCallTwo
- node_modules/promise/setimmediate/core.js:200:23 in doResolve
- node_modules/promise/setimmediate/core.js:66:12 in Promise
* null:null in shareSingle
* components/PreviewImage.js:81:44

[2018-03-03 10:18] agrawalo opened #222 "shareSingle: undefined is not an object"
[exp] undefined is not an object (evaluating '_reactNative.NativeModules.RNShare.shareSingle')
- node_modules/react-native-share/index.js:62:30 in <unknown>
- node_modules/promise/setimmediate/core.js:45:7 in tryCallTwo
- node_modules/promise/setimmediate/core.js:200:23 in doResolve
- node_modules/promise/setimmediate/core.js:66:12 in Promise
- node_modules/react-native-share/index.js:61:25 in sha

[2018-03-03 13:22] agrawalo commented on #54
Facing same issue with Android and ios both. What should I do to fix this? https://stackoverflow.com/questions/49082623/react-native-share-promise-rejection-error

[2018-03-03 13:23] agrawalo commented on #66
I am still facing this issue. Any help https://stackoverflow.com/questions/49082623/react-native-share-promise-rejection-error ??

[2018-03-03 16:35] prtkkmrsngh commented on #202
Replace ${applicationId} with your package name e.g. `com.diggica`

[2018-03-05 12:26] timhorwood opened #223 "IOS Share base64 image on twitter not working"
Hi,
Has anyone experienced issues sharing a base64 image via twitter on IOS? Works fine for Facebook but the image just doesn't show for Twitter. It did show one time however but won't show again. I am using the base64 of an image created by taking a snapshot of a view.

Thanks,

[2018-03-05 15:44] #223 closed

[2018-03-08 12:01] filipef101 commented on #171
@lytrunghieu @priyankinfinnov Is it possible to know if the user shared on android?

[2018-03-08 12:02] filipef101 commented on #171
@EstebanFuentealba Can you let us know?

[2018-03-10 15:25] arsomjin commented on #218
I also have the same issue. Solved this by remove <meta-data> tag
FROM:
<provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          tools:replace="android:resource"

[2018-03-13 10:33] UsovSemen commented on #217
same issue. I think, it should open web to share.

[2018-03-16 02:27] hycwong opened #226 "Cannot open Facebook app in iOS"
When I use this library in my iOS project, I can't open the singleShare API (Facebook).
The console log is shown below:

2018-03-16 10:22:01.268689+0800 <my app name>[303:10759] [] nw_connection_get_connected_socket_block_invoke 104 Connection has no connected handler
2018-03-16 10:22:01.473 [info][tid:com.facebook.react.JavaScript] trying api: customers/5/socialMedia/reward {"platform":"1"} true

[2018-03-16 08:00] nu5rim3 commented on #218
**# Any solution**

[2018-03-20 08:30] ricardochen commented on #218
Same problem here...

[2018-03-20 17:08] ricardochen commented on #218
I ended up taking the URI and converting it to base64 , working in android, not tested in iOS

        if (Platform.OS === 'ios') {
            let arr = uri.split('/')
            const dirs = RNFetchBlob.fs.dirs
            filePath = `${dirs.DocumentDir}/${arr[arr.length - 1]}`
        } else {
            filePath = uri
        }

        RNFetchBlob.fs.readFile(filePath, 'base64')

[2018-03-20 17:09] ricardochen commented on #202
if (Platform.OS === 'ios') {
        let arr = uri.split('/')
        const dirs = RNFetchBlob.fs.dirs
        filePath = `${dirs.DocumentDir}/${arr[arr.length - 1]}`
    } else {
        filePath = uri
    }

    RNFetchBlob.fs.readFile(filePath, 'base64')
        .then((data) => {
            // handle the data ..
            console.log(data)
            const IMAGE = 'data:image/png;base64,'+d

[2018-03-20 19:22] sturmenta opened #227 "Build Successful But app stoped"
After installing correctly manually, when building the application on physical android device, the application stops and does not show any error.

Any help is welcome.

Greetings, Nicolas.

[code]

<img width="536" alt="app crashes" src="https://user-images.githubusercontent.com/30802967/37678406-be1bd9ac-2c5c-11e8-87aa-e82598d55b9a.png">
<img width="403" alt="build ok" src="https://user-images.gi

[2018-03-21 02:36] #227 closed

[2018-03-21 02:45] sturmenta commented on #227
Having put this, as it was shown in the Readme.md, made my application stop without explanation

[code]

The solution was to put:

[code]

and add a file to: android/app/src/main/res/xml/filepaths.xml

[code]

`<cache-path name="cache" path="/" />`
This line only works to share images from the cache, for more info visit this link:

https://stackoverflow.com/questions/42516126/fileprovider-illegala

[2018-03-21 21:59] GSolari79 commented on #222
I am facing the same problem too, anyone with a solution? In my case it occurs only in Android.

[2018-03-22 05:39] tribou commented on #200
Thanks to everyone on this thread who helped work towards a solution on getting this current version to work on Android. I've tried so summarize the missing documentation with #228 in case any maintainers would like to take a look. 🙂

[2018-03-22 16:20] jasongaare commented on #212
Experiencing the same issue. Seem to be isolated to the iPhone X

[2018-03-22 23:45] profiVideos opened #229 "attempt to invoke interface method 'boolean com.facebook.react.bridge.ReadableMap.hasKey(java.lang.String)' on a null object reference"
Installed this module today.  Followed all the steps to add module to Android manually (very carefully)! :-)
Running on RN0.54 (most current) on an Android 7.1.1 Emulator.
Share.open(shareOptions) is working properly
Share.shareSingle(shareOptions) - NOT WORKING!
const shareOptions = {
  title: 'Excellent Share',
  message: 'See it now on your favorite social media',
  url: 'http://facebook.github

[2018-03-23 04:55] greatdg commented on #229
To fix this error (https://github.com/RingierAG/react-native-share/commit/ab6b73d2da58b5745a2dc8f71057a4373e6ece3a)

[2018-03-23 08:08] profiVideos commented on #229
Yes!  That works.  Thank you very much!

[2018-03-23 08:08] #229 closed

[2018-03-23 13:44] jgcmarins commented on #229
hey @greatdg could you send a PR?

[2018-03-23 14:36] greatdg commented on #229
@jgcmarins done! https://github.com/EstebanFuentealba/react-native-share/pull/230

[2018-03-23 20:40] profiVideos commented on #217
I also had this issue.  Was able to get it resolved by making a couple of edits in the MainApplication.java file (I think)?  Just closed the issue this morning. See here https://github.com/EstebanFuentealba/react-native-share/issues/229

[2018-03-23 20:58] profiVideos opened #231 "file format is not supported on WhatsApp on Android 7.1.1"
Hi Guys, I'm loving this amazing share module that you have developed!!!

I know it's not easy supporting so many versions of iOS and Android.

I was just wondering if anyone has gotten the base64 images to WhatsApp working?  Or is it even supposed to work?  On my first tests, I was sure to use the .catch(err) when calling the shareSingle method.

Here's what I'm doing;

    const titleStr = `phot

[2018-03-27 16:45] Sangrene commented on #213
God... People sending issue without code & just saying that they solved it without giving solution...

[2018-03-27 17:10] jgcmarins commented on #213
yep, unfortunately :(

[2018-03-28 07:09] dianazzz commented on #217
The error is gone now. But if Twitter is not present it should open web to share right? But it opens google photo and gallery to share. 👎

[2018-03-28 07:35] melihberberolu commented on #97
Same issue, Anyone help me ?
Message and url concated. So my base64 url looking string on iOS. Same options working on android without any problem.

[2018-03-28 07:38] melihberberolu opened #232 "Share single iOS base64 img problem"
Share single method works on android perfectly.

iOS sharing whatsapp, fb, twitter does not show my base64 img

`const storedImg = `data:image/png;base64,${resp.base64Img}`;
  Share.shareSingle({
    title: _('Tone Tone High Score Share'),
    message: "https://apple.co/2pmdyte",
    url: storedImg,
    subject: "https://apple.co/2pmdyte",
    social
  }).then(res => res)
    .catch(e => e);`

[2018-03-28 12:38] jgcmarins commented on #232
@melihberberolu could you provide more details about your problem?

[2018-03-28 13:06] MbF-Sathya opened #233 "image is not getting share in android"
here is my issue I wrote a question on here - https://stackoverflow.com/questions/49516150/base64-image-not-sharing-in-react-native-android .
in iOS its working perfect.

[2018-03-28 13:59] melihberberolu commented on #232
I'm trying to share image on social media.(Facebook, whatsapp, twitter)
My sharing is works perfectly in android platform.
But my message and base64 string not transform to image.
It's show url + base64 string.

[2018-03-28 15:11] jgcmarins commented on #232
@melihberberolu could you provide some code example? Thanks.

[2018-03-29 14:05] melihberberolu commented on #232
Yes sure @jgcmarins. You can share any example with me for sharing base64Img on iOS.
[code]

[2018-03-29 14:07] Mifayo commented on #233
i have the same problem it get confused with react-native-image-crop-picker provider
+1

[2018-03-29 14:44] Mifayo commented on #218
same here

[2018-04-01 10:22] shubhi15 commented on #233
I am facing the same problem. On sharing image unsupported content exception is coming. Although Base 64 Obj is getting created

[2018-04-01 15:56] judemanutd commented on #200
My files are being stored at `/data/user/0/com.example/files/filename.jpg`.
Could someone tell me what should my file provider look like if i need to share the above file in android ?

It is currently this
        `<paths>`
          `  <cache-path`
             `  name="images"`
             `  path="." />`
        `</paths>`

I get the `Attempt to invoke virtual method 'android.content.res.XmlRe

[2018-04-02 11:02] adieunix commented on #233
have the same problem...
+1

[2018-04-03 11:45] adieunix commented on #233
Solved!
Added user permission at AndroidManifest.xml
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

and make sure you've enabled Storage permission for your app

[2018-04-03 11:46] adieunix commented on #233
Solved!
Added user permission at AndroidManifest.xml
`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`
`<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>`

and make sure you've enabled Storage permission for your app

[2018-04-04 05:24] gasipari commented on #104
Hi @hanpanpan200 @ataillefer @zachgibson

For Android, [react-native-fs](https://github.com/itinance/react-native-fs)'s `DocumentDirectoryPath` actually maps to the app's files directory. I think there is no need to download a remote file, save/share the file to/from Android External Storage.

[code]

[2018-04-04 08:41] svnshikhil commented on #218
Any solution???

[2018-04-05 13:38] suryakant-t-yadav commented on #44
even I am Facing this error.
have any one got the call back after successfully post or error post
mine code is

Share.shareSingle(Object.assign(shareOptions, {"social": "twitter"})).catch((err) => {
                if (err) {
                    console.log("TWITTER::::" + err + "::::")
                } else {
                    console.log("TWITTER::::" + "SUCCESS" + "::::");
                }

[2018-04-10 17:44] ghsa opened #234 "Can't delete image after share"
Hi, there is any way to delete the file that is created after share share?
I know that the image is saved in /Download folder, but I'm trying to get the name of the saved image to remove it, but I can't.

[2018-04-10 18:39] schermannj commented on #116
Hey, any luck to fix that crap?

[2018-04-11 11:41] MrHazimAli commented on #174
@rverbytskyi , so i should just replace genericShare.m only right to ensure it's working ? I replace the file but still it open browser after i clean and rebuild back the project.. any idea why ? i have facebook app inside device. IOS 11.3

[2018-04-11 11:58] rverbytskyi commented on #174
@MrHazimAli Did you run `npm i`?

[2018-04-11 13:04] MrHazimAli commented on #174
@rverbytskyi I did not run npm i after changing genericShare.m..

1. npm i react-native-share --save
2. react-native link react-native-share
3. change genericshare.m file
4. clean n build

this one not possible ? or i need to change package.json to your repo then run npm i and link again?

[2018-04-11 20:34] rverbytskyi commented on #174
@MrHazimAli Sorry for a late response, I do not have a possibility to test it now. I have an assumption, have you added `<string>fbauth2</string>` to `<key>LSApplicationQueriesSchemes</key>` array in info.plist?

[2018-04-12 04:09] MrHazimAli commented on #174
@rverbytskyi , thank you for replying 👍 no worries if you reply late..

I just added after saw your message.. but now when I click on ios device, it doesnt open anything now.. before this it open a browser..

<key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-api</string>
    <string>fbauth2</string>
    <string>fbshareextension</string>
    <strin

[2018-04-12 08:51] MbF-Sathya opened #235 "sharing is not working in above android version 7?"
Hi all ,
i am using react native share. That i am facing issue in android higher versions. It works fine in below 7 android versions. 7 and above versions are not supporting.

here is what i tried [https://stackoverflow.com/questions/49794979/react-native-share-not-working-properly-in-android-version-7-and-more]()
this is what i tried
How to overcome this issue any version permissions available

[2018-04-12 09:21] MrHazimAli opened #236 "base64 image not working on android targetSDK23"
Hye,
I notice that sharing using base64 image not working on android when the targetSDK is 23.. for 22 it's working.. could be related to overlay permission ?

is there any ways or work around to make sure it's working for 23 because after I published app to play store I cannot change it back to 22

thanks!

[2018-04-12 11:08] smhassan90 opened #237 "Display the image as in we see in any social media app in react native"
Do we have any library that displays images like in social media posts. If there is only 1 image shared then it will occupy the 100% of space. if two images, then it will occupy half of the space and so on. Same goes with video as well. On clicking on the image, it should show the larger image. If video is selected then video should run. Do we have such feature in any of the react native library.

[2018-04-12 18:07] MrHazimAli commented on #184
@kbrk , any idea to make it work using version 23 ?

[2018-04-14 15:15] jgcmarins commented on #234
I guess this is not related to `react-native-share`.
If you ask on Stack Overflow, maybe you can have a more precise answer.

[2018-04-14 15:16] jgcmarins commented on #116
PR's are welcome

[2018-04-15 15:13] sibelius opened #238 "move to react-native-community"
What do u think of moving this package to react-native-community ?

I think it is used for a lot of people, and there we could have more people contributing

[2018-04-16 07:09] aaronkchsu commented on #54
I fixed this by running pod install in the iOS folder!

[2018-04-16 16:54] aniiskywalker commented on #226
Same issue

[2018-04-17 20:38] mrishan1993 commented on #191
Required.

[2018-04-18 14:05] embpdaniel opened #239 "package id and multiple build types"
Hi, we want to use the library to share images. Our app builds different types of the app, each with a different package id (example: com.myapp.dev, com.myapp.rc, com.myapp). The installation instructions require that I hardcode the package id into our manifest and `MainApplication.java` files in order for the library to share as expected. Do you have any recommendation on how to set up the projec

[2018-04-19 10:24] compojoom opened #240 "Fatal Exception: com.facebook.react.bridge.NoSuchKeyException url"
I'm sure this was working with previous versions, but today crashlytics reported the following error:
[code]

I checked on iOS and the implementation there was working just fine. I thought that I haven't linked something on Android, but it turned out that if I don't provide an url in my shareOptions, then the app crashes with the above message. If I provide url: '', or a real url, then it works fi

[2018-04-19 18:44] sibelius commented on #238
the easiest way would be to transfer the repo to my account and then I can transfer to react-native-community

other approach would be @brentvatne add you as a react-native-community member and then u could transfer

[2018-04-20 12:26] EstebanFuentealba commented on #238
the easiest way :P

[2018-04-20 13:51] sibelius commented on #238
fixed https://github.com/react-native-community/react-native-share

tks

[2018-04-20 13:51] #238 closed

[2018-04-20 15:48] jgcmarins commented on #238
Great job, folks: https://twitter.com/sseraphini/status/987328105894285313

[2018-04-24 17:43] EEimer opened #242 "Share file directly - Path"
Hey guys,

I want to use this lib to share an pdf (save, mail whatever...).
I finally gave up on searching for the right path.

So maybe someone can help me out!
For example the document is in **assets/sample.pdf** => **what should the path look like?**
[code]

Big thanks in advance!

[2018-04-24 22:05] EEimer commented on #242
So I kind of fixed that by using base64 string instead.
at least working on iOS...
But would be still interested in how it would that worked with the file path!

[2018-04-24 22:05] #242 closed

[2018-04-26 08:45] vhoen commented on #236
You need to request permissions :

[code]

[2018-04-26 13:48] #233 closed

[2018-04-26 15:56] sam1463 opened #245 "Allow param on `open` function to determine whether to reject if user cancels share"
Feature request:

Currently, the `open` method rejects if the user clicks "cancel" in the share menu. Would it be possible/desirable to pass an optional param to not reject on user cancel? Something like this:

[code]

Happy to look into it and if successful, submit a PR, just wanted to know if that's something people are interested/ok with adding.

[2018-04-26 16:58] fawcilize commented on #245
The culprit: https://github.com/react-native-community/react-native-share/blob/54f195857975b1a9c0cef46c786583c10f611e8f/index.js#L45

Right now it appears the "User did not share message" is the only way to determine if a request is cancelled, so changing this string is a breaking change since consumers will be checking for it specifically in catch blocks. It should probably be put into a const to

[2018-04-26 17:07] sam1463 commented on #245
That's true, however, allowing an additional option to be passed in would not be a breaking change if the default value for the additional option results in the behavior that users currently experience.

[2018-04-27 06:27] MrHazimAli opened #247 "text not showing when include image base64 android & ios"
Im trying to share image after convert to base64 and using title and message inside the body..
but when image is share, the text is not share. it's like image override the text itself. is there any possible way to make sure both image and text is share ?

this is example code that what im trying to do.
`
const IMAGE = 'data:image/png;base64,'+data
let shareOptions = {
  title: "Share my progress",

[2018-04-27 07:46] HiteshGunwant opened #248 "I am able to send base64 image only for first time Android"
Hey guys ,
I am able to share base 64 image only for one time for next time in Android I am calling this fun it just displaying message as "Test",And when i kill app next time it again working same as follow
pls let me know solution URJENT!!
Thanks,
  let shareOptions = {
                        "url": 'data:image/png;base64,'+ base64Str,
                        "social": "twitter",

[2018-04-27 08:25] HiteshGunwant opened #249 "Not able to share base64 image to twitter as twitter app crashes"
I am using react native version
	"react": "16.0.0-alpha.12",
	"react-native": "0.47.2",
        "react-native-share": "^1.0.27",
As i am sharing base 64 image to twitter my twitter app open and crash ,followed all steps also . done manual linking
pls help

[2018-04-27 11:53] alexdunne commented on #145
If you want to send a `jpg` you should use `image/jpeg` rather than `image/jpg`

`data:image/jpeg;base64,${data}`

[2018-04-27 13:37] abarisic86 opened #250 "[Android] Linking isn't working, use manual installation"
Probably there should be a message marked as IMPORTANT that warns that this library requires manual installation on Android (and a few more customization from already submitted PRs) to get it working.

[2018-04-30 08:25] xliank commented on #191
I'm coming from web developer without any JAVA or Android Development, but i think this article will help https://www.programcreek.com/java-api-examples/?class=android.content.Intent&method=ACTION_SEND_MULTIPLE

[2018-04-30 10:57] marf commented on #247
Same problem here, but in my case if I use both image and message the image is not displayed, while if I set the `message: ""` the image is shown.

[2018-05-02 09:46] xempie opened #251 "It doesn't build due to this error: cl.json does not exist"
Hi, I installed this and tried to build my app but I get this error:
Do you have any idea?

[code]

[2018-05-02 13:17] marf commented on #97
Same issue here. Is there a solution?

[2018-05-02 20:32] sibelius opened #252 "project wide gradle configuration for android"
Adding support for the Project-wide Gradle configuration properties as recommended by the Google Android Developer document [Gradle Tips & Tricks](https://developer.android.com/studio/build/gradle-tips.html#configure-project-wide-properties). The hosting ReactNative application can define the following properties in their `android/build.gradle` file and the dependency modules like `react-native-ca

[2018-05-02 20:39] nicholasess commented on #234
@ghsa delete image in /Downloads is not responsability from `react-native-share`.
Check the answer on [Stack OverFlow](https://stackoverflow.com/questions/41352198/react-native-file-handling-delete-image).

@sibelius you can close the issue :)

[2018-05-02 20:59] #234 closed

[2018-05-03 15:08] enieber commented on #235
the link of stackoverflow is not correct

this is [correct link](https://stackoverflow.com/questions/49794979)

[2018-05-03 17:18] enieber opened #253 "create tags releases with descriptions"
In project react-native has the description about is change in the version using tags and releases of github. This is very interesting of use in this project.

[2018-05-03 21:11] #252 closed

[2018-05-03 23:57] #2 closed

[2018-05-04 06:05] Gedzis commented on #22
@enieber I haven't tried this for a long time now

[2018-05-04 13:59] #22 closed

[2018-05-04 20:04] jgcmarins commented on #145
@alexdunne should add this info to README?

[2018-05-05 00:13] alexdunne commented on #145
@jgcmarins That's up to you 😄

[2018-05-05 11:29] kk412027247 opened #256 "Share image in android get crash ,and can't Share file directly."
[code]
When I Share image in android get crash , I have already used PermissionsAndroid,.

![qq20180505-0](https://user-images.githubusercontent.com/30715186/39662709-b355c536-5098-11e8-810f-bcc82c4a9046.jpg)

[code]

When I install react-native-share@1.0.23, this code work.
I can share the image by base64, but can't share file directly.

This code get nothing.
[code]

Need some help please.

[2018-05-05 18:50] ButtersHub opened #258 "When app is not install app chooser opened instead PlayStore"
Currently when app is not installed a regular app chooser triggered instead redirecting to Google Play Store.

[2018-05-05 18:50] ButtersHub commented on #258
#257 solves this

[2018-05-07 17:42] jgcmarins commented on #236
@MrHazimAli did #244 solved?
Can we close this issue?

[2018-05-07 17:43] jgcmarins commented on #248
@HiteshGunwant could you check if #244 solved this?

[2018-05-08 02:21] #236 closed, assigned to nobody

[2018-05-08 12:12] jgcmarins commented on #249
is this related to: https://github.com/react-native-community/react-native-share/issues/248
@HiteshGunwant could you provide a stack trace?

[2018-05-08 12:12] jgcmarins commented on #250
@abarisic86 could you send a PR do improve README?
thanks

[2018-05-08 12:14] jgcmarins commented on #251
@xempie which part of README did you stopped?

[2018-05-08 12:28] jgcmarins commented on #250
@abarisic86 great!
We are getting back to work.
#67 has conflicts. Can we solve that?

[2018-05-09 13:08] enieber commented on #5
@sulliwane what version?

[2018-05-09 13:11] enieber commented on #25
@esutton  if you use `url` props not resolve?

[2018-05-09 13:15] enieber commented on #29
@roman01la the reply of @jasonmerino  resolved this.

[2018-05-09 13:15] #29 closed

[2018-05-09 13:16] enieber commented on #43
what is the version not work this @MichaelHancock ?

[2018-05-09 13:29] enieber commented on #106
@padupuy this error occurs in the last version `1.0.27`?

[2018-05-09 14:34] #106 closed

[2018-05-09 15:19] enieber opened #260 "create test to lib"
In projects with react-native have much way to test

- [ ] native code
- [ ] bridge
- [ ] js props

suggestion to use test bridge

[2018-05-09 21:18] #249 closed

[2018-05-10 01:29] kk412027247 commented on #256
@jgcmarins Yes~,  the code is work  @1.0.23

[2018-05-10 01:54] jgcmarins commented on #256
@kk412027247 could you provide a better stack trace?

[2018-05-10 12:45] enieber commented on #256
@kk412027247 you used android with sdk <= 23?

[2018-05-10 13:16] enieber opened #261 "[iOS] create option showAppsToView"
in issue #215 has created the function to show Apps to View in Android, now this props is very nice to create for iOS too.

[2018-05-10 14:12] enieber commented on #256
I make the [sample code](https://github.com/enieber/rn-share-sample/blob/master/App.js#L34-L52) how to work in android

[2018-05-12 06:08] kk412027247 commented on #256
@enieber  Dear, this code is work  @1.0.23, but not @ 1.0.27.
compileSdkVersion 23
buildToolsVersion "23.0.1"

[2018-05-12 06:10] kk412027247 commented on #256
@jgcmarins  I think I can't handle the manual installing.  probable  1.0.27 must be manual installed.

[2018-05-12 16:55] jgcmarins commented on #256
@kk412027247 should we improve README with additional information about manual installation?

[2018-05-13 11:16] courptwayne opened #262 "Attempt to invoke interface method 'java.lang.String com.facebook.react.bridge.ReadableMap.getString(java.lang.String)' on a null object reference readAsText FileReaderModule.java:43 invoke Method.java invoke JavaMethodWrapper.java:372 invoke JavaModuleWrapper.java:160 run NativeRunnable.java handleCallback Handler.java:739 dispatchMessage Handler.java:95 dispatchMessage MessageQueueThreadHandler.java:29 loop Looper.java:148 run MessageQueueThreadImpl.java:192 run Thread.java:818"

[2018-05-13 11:29] ayushmankd commented on #70
Check out share API
https://facebook.github.io/react-native/docs/share.html

[2018-05-13 14:43] #70 closed

[2018-05-13 14:45] nicholasess commented on #262
@courptwayne sorry, but you need to create a title with ocurrency and not the error

[2018-05-13 14:45] #262 closed

[2018-05-13 14:46] #46 closed

[2018-05-13 14:49] nicholasess commented on #76
I will close the issue, because has a suggestion in code by @natashache
https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/social/GooglePlusShare.java#L40

[2018-05-13 14:49] #76 closed

[2018-05-13 14:50] nicholasess commented on #57
@dijimon the error persists?

[2018-05-13 14:53] nicholasess commented on #216
@priyankinfinnov your link not work

[2018-05-13 14:55] #85 closed

[2018-05-13 14:57] nicholasess commented on #113
@cosivox the lib not has responsability for this, you need to use other way to save image

[2018-05-13 14:57] #113 closed

[2018-05-14 02:15] kk412027247 commented on #256
@jgcmarins  The  manual installation on android  is complex for me, I don't know witch step i fail in.

[2018-05-14 14:50] jgcmarins commented on #216
here is the right link: https://github.com/react-native-community/react-native-share/pull/219

[2018-05-14 14:51] #57 closed

[2018-05-16 15:44] Catlc commented on #218
Step3 ！！！ return "com.ulo.provider"; This value is not passed in the past and getFileProviderAuthority Not be invoked  why？？？？

[2018-05-17 12:57] jgcmarins commented on #256
@kk412027247 did you solve?

[2018-05-17 15:26] tuananhluong commented on #218
@Catlc ulo is my applicationId, replace by your appid

[2018-05-18 08:18] mcakmakali opened #264 "Opening problem"
Android does not open on the phone but iOS is opening on the phone.
What is the problem?

![ekran resmi 2018-05-18 11 14 58](https://user-images.githubusercontent.com/28590109/40223895-39c85cd4-5a8d-11e8-82d3-d2a448576e27.png)
![ekran resmi 2018-05-18 11 19 18](https://user-images.githubusercontent.com/28590109/40223953-5aea1286-5a8d-11e8-93d0-f273b1496230.png)

[code]

[2018-05-18 09:08] kk412027247 commented on #256
@jgcmarins  yes, just use @1.0.23

[2018-05-18 11:50] onlydave opened #266 "Android DEFAULT_SUPPORT_LIB_VERSION Error"
[code]

Not sure what changed to cause this but started getting this error today.

Resolved by changing build.gradle
https://github.com/onlydave/react-native-share/commit/aef66e27f01c8c0a9f917d9e074898b62bb93efe

[2018-05-18 12:45] jgcmarins commented on #264
@mcakmakali which version?

[2018-05-18 17:49] #69 closed

[2018-05-19 07:28] Sharathnasa opened #268 "Instagram share option is not included"
Hi Guys,

When i do "npm install react-native-share --save" and "react-native link", recent check-in which has been done to include **instagram** share code is not included as the par to "react-native-share" project under  node module.

Could someone please suggest on how to make sure even those changes has been inculded when i do
"npm install react-native-share --save" and "react-native link".

R

[2018-05-19 12:45] jgcmarins commented on #268
We need a release.
To work without a release, you can use master branch.

[2018-05-20 07:31] daanoz commented on #145
Ran into the same issue with CSV, internally the code uses the Android build-in Mime-Utils to convert the mime-type to an extension.

Just use the below list as a reference 👍
https://android.googlesource.com/platform/libcore/+/933e699897a15cc61e5641e6365f09f24e22b247/luni/src/main/java/libcore/net/MimeUtils.java

[2018-05-21 13:48] jgcmarins opened #269 "add information about mime types for android"
### Reference
https://android.googlesource.com/platform/libcore/+/master/luni/src/main/java/libcore/net/MimeUtils.java

[2018-05-21 17:19] jgfidelis opened #270 "MainApplication cannot be cast to ShareApplication on Android 8"
react-native-share version 1.0.27
Testing on an emulator running Android 8

We get this error:
<img width="418" alt="screen shot 2018-05-21 at 14 12 20" src="https://user-images.githubusercontent.com/4925068/40320358-d041a636-5d01-11e8-8038-b14451db06da.png">

This is the line:
`final String authority = ((ShareApplication) reactContext.getApplicationContext()).getFileProviderAuthority();`

Any one

[2018-05-21 17:34] #270 closed

[2018-05-21 17:36] jgfidelis commented on #270
I followed the manual installation docs and it worked, thanks.

But please don't make it collapsable, make everyone see it.

[2018-05-21 17:39] sibelius commented on #270
@enieber I think some steps of manual installation should be outside of it

as react-native link can't handle all that steps

[2018-05-22 12:54] softCompound opened #271 "Share.shareSingle() throws unhandled promise rejection only on ios"
Hi. this library is working fine on all cases on android but i am running into few issues on ios. My implementation of this lib is with a custom view component with icons when clicked will initiate the sharing process.

Environment:

[code]

Using share as: `import Share from 'react-native-share';`

I have a facebook icon when pressed calls:

`    this.props.setTimeout(() => {
      Share.shareSin

[2018-05-22 18:59] evilchis94 commented on #248
@jgcmarins as @HiteshGunwant I was unable to share base64 image nor downloaded image, it works only for the first time. My Android version is 5.0.1 and targetSdkVersion is 25, I'm asking for WRITE_EXTERNAL_STORAGE before sharing base64 and it always return true.

            let hasPermission = false;
            try {
                const check = await PermissionsAndroid.check(PermissionsAndroid

[2018-05-23 15:28] jgcmarins commented on #271
@softCompound did you solve?

[2018-05-23 15:44] jgcmarins commented on #271
@softCompound thanks.
I'll reopen so we can keep track of this behaviour.

[2018-05-24 07:45] sukumardv3101 opened #272 "How to share image from app to other by clicking share button?"
Actually, the image from server am getting so how can I share that image to like Facebook or WhatsApp.

Image from the server will get in url format like "http://example.com/image/image.jpg".

[2018-05-24 12:15] jgcmarins commented on #272
@sukumardv3101 this is not a bug.
Please, ask this question on stackoverflow, you'll get better answers.
You can also follow README example: https://github.com/react-native-community/react-native-share#usage

[2018-05-24 12:15] #272 closed

[2018-05-24 23:15] firdausious commented on #97
Face the same issue.. doesn't work on iOS while sending message and image with base64

[2018-05-24 23:54] jgcmarins commented on #97
@firdausious which version?
Could you provide a repo so we can reproduce?

[2018-05-25 07:09] mcakmakali commented on #264
up

[2018-05-30 13:41] hwde commented on #177
I noticed that sharing to whatsapp on ios always requires message AND url ... maybe this could be documented somewhere? (Or I havn't found it).

[2018-06-01 10:57] maluramichael commented on #266
Yeah i got the same problem since a couple of days. Thank you for the fix @onlydave

[2018-06-01 15:52] fernandofranca commented on #103
Use `react-native-fs` and persist your content in the FS as base64.
When you provide a file path as argument to share, it will be the same as the created file.
Unfortunately you'll need to unlink the file, after sharing.

[2018-06-02 12:30] KamranKhankhail opened #273 "Attemp to invoke virtual method 'void cl.json.social.Shareintent.open(com.facebook.react.bridge.ReadableMap)' on null object reference"
while trying to call
`Share.shareSingle({
                    title: "test title",
                    url: localImagePath,
                    "social": "instagram"
                }`
I am getting the following error "Attemp to invoke virtual method 'void cl.json.social.Shareintent.open(com.facebook.react.bridge.ReadableMap)' on null object reference"

![error](https://user-images.githubuserconte

[2018-06-02 15:55] julienkessels opened #274 "Sharing to Facebook Messenger"
Hello,
i've successfully added the lib to my project but I've been looking for an hour how to add Facebook Messenger to the options.
Can anyone help me out?

Thanks!

[2018-06-02 15:59] julienkessels commented on #274
Maybe SMS/Messages is just not working on the simulator..

[2018-06-02 16:10] julienkessels commented on #150
iMessage appears in the More tab, but doesnt appear on the Simulator!

[2018-06-04 13:30] jgcmarins commented on #274
@julienkessels since this is not a bug, I am closing it.
You can share through Facebook Messenger using React Native share API: https://facebook.github.io/react-native/docs/share.html

[2018-06-04 13:30] #274 closed

[2018-06-04 13:31] jgcmarins commented on #274
Feature Request: https://github.com/react-native-community/react-native-share/issues/150

[2018-06-04 13:35] jgcmarins commented on #273
It looks like `options` parameter is been passed `null`: https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/RNShareModule.java#L63
can you provide more code or a better stack trace?

[2018-06-04 13:48] #103 closed

[2018-06-04 13:51] #266 closed

[2018-06-05 23:43] kingtross88 opened #275 "share social media"
i'm trying to share the through my application. I ended up using Linking but that only brings me to the website to sign in. How am i suppose to implement the code to share the app through a facebook post or twitter post.

I know the below code is incorrect. Can you please provide me something to use as a reference.
 <Button iconSrc={{ uri: FACEBOOK_ICON }}
                  onPress={()=>{

[2018-06-06 06:07] hpelitebook745G2 commented on #271
I also got this from choosing Facebook and going back to my app using simulator in iOS.

<img width="1075" alt="screen shot 2018-06-06 at 2 02 39 pm" src="https://user-images.githubusercontent.com/27658429/41019769-b82fd854-6992-11e8-974d-11a471e2191f.png">

[2018-06-06 16:31] jariwalabhavesh commented on #153
@yjb94
I know it's too late but
Can you please provide more detail what is actual use of this attribute??

[2018-06-06 17:03] jgcmarins commented on #153
`excludedActivityTypes` has nothing to do here: https://github.com/react-native-community/react-native-share/search?utf8=%E2%9C%93&q=excludedActivityTypes&type=

[2018-06-06 17:03] #153 closed

[2018-06-06 17:03] jgcmarins commented on #170
https://github.com/react-native-community/react-native-share/issues/153#issuecomment-395142136

[2018-06-06 17:03] #170 closed

[2018-06-06 17:07] jgcmarins commented on #275
please, follow README: https://github.com/react-native-community/react-native-share#usage

[2018-06-06 17:07] #275 closed

[2018-06-07 09:18] ilyakar opened #276 "Installs React when running "pod install""
React is already retrieved from node_modules, installing React through the pods causes all kinds of issues because React is installed twice

[2018-06-07 12:14] EJohnF commented on #177
nope, the latest commit still has that problem - can't post message along with image in whatsapp

[2018-06-07 14:04] Hieutt1704 commented on #200
my files save in "/data/data/com.sharedemo/cache/ReactNative-snapshot-image-1345886953.png" .   What is my external path? :( Can someone  solve it for me, plz! :( :( :(

[2018-06-07 15:51] jgcmarins commented on #200
https://github.com/react-native-community/react-native-share/pull/228

[2018-06-07 15:51] #200 closed

[2018-06-07 15:52] jgcmarins commented on #177
@EJohnF do you have any stack trace?

[2018-06-07 15:59] jgcmarins commented on #276
hello @ilyakar
thanks to reaching this out
could you help us sending a PR removing React from pods?

[2018-06-07 16:01] ilyakar commented on #276
Hi,

Unfortunately, I’m not that familiar with cocoapods to know how to remove it from pods.

My current workaround is temporarily deleting my ios/podfile, running “react-native link react-native-share” (it links normally if it doesn’t find a podfile). Then I add my podfile back.

About 50% of the react-native plugins I come across have this problem and above is the workaround I use to fix it.

Il

[2018-06-08 04:56] yjb94 commented on #153
@jariwalabhavesh excludedActivityTypes is related to apple iOS. just pass the types like the way I commented. other options(such as email), you shoud google it...

[2018-06-08 05:15] jariwalabhavesh commented on #153
@yjb94
Thanks for response
It is related to #154 ??

[2018-06-08 14:56] jgcmarins commented on #177
Sorry, I did no make myself clear.
When sharing, there is a crash? There is a stack trace error?

[2018-06-08 15:02] EJohnF commented on #177
@jgcmarins I've checked it again, and indeed found this:
[code]

[2018-06-10 13:22] Sharathnasa opened #277 "Not able to share image via Instagram"
Hi,

I have used the master branch to get the instagram share of the image to feed and story. I have also followed the latest read me file to integrate file provider. For the first time when i click share via instagram to feed or story, selected image is sharing. But if i come and click on share via instagram using feed or story, i'm getting the below exception.

[code]

Please could you help me w

[2018-06-12 04:13] zynnthen commented on #218
try this at your provider_path

`<paths xmlns:android="http://schemas.android.com/apk/res/android">
     <root-path name="root" path="." />
</paths>`

[2018-06-13 03:38] Sharathnasa commented on #277
@jgcmarins But in the all share application menu, even we'll get feed and story option of the instagram right, there even if i do share of images or video 'n' number of time while coming back to app, not facing this issue. So the problem is with the direct share.

[2018-06-13 12:42] #245 closed

[2018-06-15 21:25] phillmill opened #279 "Instagram "Unable to load image""
This issue is intermittent, but sometimes after hitting either the "feed" or "stories" button for the Instagram shareSingle option, the Instagram app will show briefly but then return to your app with a toast message reading "Unable to load image".

Has anyone else experienced this / have any ideas?

Thanks

[2018-06-18 00:22] iSaadSalman opened #280 "Image Sharing for WhatsApp is not working"
So I'm saving a screenshot locally and passing the URI to Share options. Its working fine for every platform except Whats App.

`let shareOptions = {
      title: "Share",
      url: this.state.cameraRollUri,
      type: 'image/png',
      message: "Here it is",
      subject: "Share Link", //  for email,
    };

    Share.open(shareOptions)`

Just message appears but no image

[2018-06-18 12:41] jgcmarins commented on #279
I think we should go on this way: provide better stack traces and an example repo to reproduce.
PRs fixing this are also welcome

[2018-06-18 13:00] jgcmarins commented on #280
@iSaadSalman application is crashing?
Do you have a stack trace?

[2018-06-18 14:01] iSaadSalman commented on #280
No it’s not crashing. Just the image is not being shared in WhatsApp. Check the description I wrote in op.

[2018-06-18 14:23] jgcmarins commented on #280
Is it happening on both platforms?

[2018-06-18 14:30] iSaadSalman commented on #280
@jgcmarins Just testing on iOS right now. It's happening there.

[2018-06-18 18:12] iSaadSalman commented on #280
@jgcmarins Do you have any idea what could be the problem?

[2018-06-19 11:41] BigPun86 opened #281 "iOS => Sharing PDF with GMail or WhatsApp does not work..."
Hey there,

i am trying to share a pdf as base64 with Gmail and WhatsApp. Sharing with the "normal" iOS Mail App works just fine, but sharing with WhatsApp & Gmail fails. On Gmail the shared pdf is some kind of weird data with this structure => 123456.dat
When sharing to WhatsApp i have several problems.
1. When title & message of share options is empty i get an error something like: "This object

[2018-06-19 14:49] komaldeep commented on #281
I have the exact same issue, @BigPun86  you are the coolest man on earth

[2018-06-19 15:11] enieber commented on #231
what version are you using @profiVideos ?

[2018-06-19 15:21] enieber commented on #237
this is confused, this why we will close this issue, you can explain to we can reopen?

[2018-06-19 15:21] #237 closed

[2018-06-19 15:33] enieber commented on #43
this will close because not response

[2018-06-19 15:33] #43 closed

[2018-06-19 17:27] #48 closed

[2018-06-19 17:30] #50 closed

[2018-06-19 17:30] #54 closed

[2018-06-19 17:31] #44 closed

[2018-06-19 17:32] #58 closed

[2018-06-19 17:33] #61 closed

[2018-06-19 17:46] enieber commented on #226
@hycwong you can show the implementation code?

[2018-06-19 19:53] jgcmarins commented on #226
try on master

[2018-06-19 19:53] #226 closed

[2018-06-21 08:51] gaganjot-singh01 commented on #280
Same problem

[2018-06-22 15:48] Vitiell0 commented on #212
I am having this problem with my project as well on iPhone X. I started a brand new `create-react-native-app` and tested the Share dialogue. It worked and I could enter recipients on the iPhone X so now am looking to see if there is some xcode config setting that could be causing it.

[2018-06-23 20:45] ericlewis commented on #212
The issue appears to be with hiding and showing the status bar on iPhone X. You must show the status bar before displaying the share sheet. This is definitely an apple bug, but you can work around it pretty easily.

[2018-06-24 14:36] BigPun86 commented on #207
@MatiasBontempo is there any progress according to

I am facing the same problem. I tried to dig into the source code, but somehow i am not an iOS expert :D

[2018-06-24 14:37] BigPun86 commented on #281
related issue => https://github.com/react-native-community/react-native-share/issues/207

[2018-06-24 16:34] BigPun86 commented on #281
This issue might be more related to the fetch-blob. Never mind, this is how i fixed it. I actually extended the config options for the RNFetchBlob.config and added a clear path with filename to it. For Android i just left the old code sharing via base64.
Now WhatsApp sharing works perfectly and sharing with Gmail has a extension. I set the pdf extension when filetype is application/pdf else i simp

[2018-06-25 05:25] ravisojitra opened #286 "How to share multiple images on whatsapp at once stored in server?"
I am building application where i have product that contains multiple images.
I want to share all of them at once on whatsapp

I have url of all that images when button is clicked., so how to achieve that?

[2018-06-25 12:36] jgcmarins commented on #212
@ericlewis thanks for your reply.
Could you provide an example of this implementation? Thanks.

[2018-06-25 12:38] jgcmarins commented on #281
Nice one, @BigPun86 .
Should we add this information to README?
Can we close this issue?

[2018-06-25 12:40] BigPun86 commented on #281
@jgcmarins i think it would help to add this to the README, especially when people use this library with remote images using fetch blob and trying to share pdf like my case....So yes, i think its a good idea ;)

We can close it, thanks

[2018-06-25 12:42] jgcmarins commented on #286
Hello @ravisojitra.
It's better to ask questions about the lib on Stack Overflow.
Thanks.

[2018-06-25 12:42] #286 closed

[2018-06-25 12:42] BigPun86 commented on #286
@ravisojitra maybe this PR will help you => https://github.com/react-native-community/react-native-share/pull/278

[2018-06-25 12:43] BigPun86 commented on #207
@MatiasBontempo never mind, i fixed it => https://github.com/react-native-community/react-native-share/issues/281

[2018-06-25 14:12] jgcmarins commented on #281
Great!
@BigPun86 could you send a PR updating README?
Thanks.

[2018-06-25 15:25] Vitiell0 commented on #212
@jgcmarins I just tested the solution by @ericlewis and it worked. You can simply import StatusBar from react-native and then use `<StatusBar hidden={false} />` inside your container on the screen that you are calling Share from.

[2018-06-25 16:58] jgcmarins commented on #212
Great \o/
Thank you @ericlewis and @Vitiell0!

[2018-06-25 16:58] #212 closed

[2018-06-25 21:16] #281 closed

[2018-06-26 16:10] jgcmarins opened #290 "fix circle ci"

[2018-06-26 17:55] #290 closed

[2018-06-27 00:13] phillmill commented on #271
I'm also getting the same result as hpelitebook, but I am using a device that *does* have facebook installed.

Also, instead of opening the facebook app, it goes to facebook.com in a browser.

[2018-06-27 12:09] jgcmarins commented on #271
It seems that everything is ok on iOS: https://github.com/react-native-community/react-native-share/blob/master/ios/GenericShare.m#L66

[2018-06-28 01:22] phillmill commented on #279
Closing since this is a duplicate

[2018-06-28 01:22] #279 closed

[2018-06-28 01:37] phillmill commented on #232
@melihberberolu did you solve?

[2018-06-29 06:13] windydang26 opened #293 "Share on android >= 8.0 crash"
crash only appear with android device run android OS >= 8.0 and i'm using React-native-navigation
fileuriexposedexception through ClipData.Item.getUri()
![screenshot_equix_next_20180629-115058](https://user-images.githubusercontent.com/20814511/42076124-f8b4ff04-7b9d-11e8-94a4-6e0b554fd4f5.png)

[2018-06-29 06:14] windydang26 commented on #270
i see crash only appear with android device run android OS >= 8.0
fileuriexposedexception through ClipData.Item.getUri()

[2018-06-29 06:15] windydang26 commented on #185
i only see crash with android device run android OS >= 8.0
fileuriexposedexception through ClipData.Item.getUri()

[2018-06-29 07:04] kkbhav commented on #293
@windydang26 have u completed all the integration steps mentioned in the docs. Also which version of react-native-share are u using?
This issue was solved in #181

This happens when the FileProvider is not implemented on android. file uri cannot be exposed directly on android, so we need to convert file uri into content uri using FileProvider.

[2018-06-29 07:09] windydang26 commented on #293
sorry! i'm using RN 0.55.4 and RN-share 1.0.23. thank u. i will try newest version and feedbacku later

[2018-06-29 08:59] windydang26 commented on #293
@kkbhav thank u for response. I've updated RNShare to newest version (1.0.27) but i see other issue.
same #270 . But i'm using React-native-navigation so i don't know way to integrated RNShare with RNNavigation. Can u any idea to resolve my issue? thank.
<img width="418" alt="40320358-d041a636-5d01-11e8-8038-b14451db06da" src="https://user-images.githubusercontent.com/20814511/42083279-a2333f44-7b

[2018-06-29 10:17] kkbhav commented on #293
@windydang26 In your MainApplication.java or MyApplication.java file, you should implement ShareApplication as mentioned in the installation instructions. After that add getFileProviderAuthority method in this class which returns the fileprovider authority.

[2018-06-30 00:36] jgcmarins commented on #280
@iSaadSalman can you try master?

[2018-06-30 13:56] iSaadSalman commented on #280
@jgcmarins I tried by overwriting the module in node_modules since I'm not able to update via npm.

I'm receiving this build error in Xcode:
` Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_InstagramShare", referenced from:
      objc-class-ref in libRNShare.a(RNShare.o)
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see i

[2018-07-02 09:35] windydang26 commented on #293
Yes @kkbhav, i have seen installation doc. But i'm using React-native-navigation.  My code in MainApplication.java:
[code]
so i can't integrated this lib with RNnavigation as guide.

[2018-07-02 09:56] sujitpk-perennial commented on #191
I am also looking for this functionality. Currently I managed as
I send all images to native iOS/Android. Combined all images into one png file. Send back that single image to react native.

[2018-07-02 11:20] jgcmarins commented on #191
Check master branch, please.
We've added this feature.

[2018-07-02 11:20] #191 closed

[2018-07-02 11:22] jgcmarins commented on #293
@windydang26 we also have an app with react-navigation + react-native-share and we aren't experiencing this behaviour.

[2018-07-03 00:12] iSaadSalman commented on #280
@jgcmarins any update?

[2018-07-03 00:58] jgcmarins commented on #280
@iSaadSalman I could not take a deeper look.
But if you want to help us, PRs are welcome.

[2018-07-03 01:00] jgcmarins commented on #280
Your link is wrong here.
I recommend to remove all node_modules, install lib again, following [README](https://github.com/react-native-community/react-native-share/blob/master/README.md) and also link again.

[2018-07-03 02:42] Shinichi52 commented on #293
I have the same issue here. i'm using [wix/react-native-navigation](https://github.com/wix/react-native-navigation). I don't know to how to ``` implements ShareApplication ```  because in my MainApplication.java file see like below. May you help me with this?

[code]

[2018-07-03 02:42] windydang26 commented on #293
@jgcmarins to resolve this bug have to set:
[code]
however currently my code:
[code]
how way to integrate react-native-share with react-native-navigation?

[2018-07-03 06:38] jgcmarins commented on #293
can't you use `NavigationApplication` along side `ShareApplication` and `ReactApplication`?

[2018-07-03 06:44] sanilcgs opened #296 "Sharing App Url"
I have tried react-native-share for sharing files and links. It is worked on my devices. But I want to share my app url with others. Is it possible to share my app url using this package?? If so, how can I implement this functionality.

[2018-07-03 06:57] jgcmarins commented on #296
You can always share your app link, just get it from Google Play/App Store.
For better answer, ask this question at https://stackoverflow.com/

[2018-07-03 06:57] #296 closed

[2018-07-03 08:34] kkbhav commented on #293
You should write it like this:

[code]

[2018-07-03 10:28] kkbhav commented on #276
This is the intended behaviour of react-native. Workaround mentioned by @ilyakar is the way to resolve this as of now.
I think we can close this for now.

[2018-07-03 11:42] #276 closed

[2018-07-03 11:43] jgcmarins commented on #247
@kkbhav what do you suggest?

[2018-07-03 15:57] kkbhav commented on #247
@jgcmarins this all depends on the developer, what is more important to share. If sharing image is the priority then do not set the message. Or use singleShare for whatsapp and similar services and Share.open for others.

There is nothing that can be done from our side

[2018-07-03 17:19] jgcmarins commented on #247
Thanks

[2018-07-03 17:19] #247 closed

[2018-07-03 17:31] enieber commented on #79
@kelvinaliyanto can you try the new version of the master branch?

[2018-07-03 17:31] #79 closed

[2018-07-03 17:33] enieber commented on #126
how to are your code?

[2018-07-03 17:36] enieber commented on #112
@kevando in Android or iOS?

[2018-07-03 17:38] enieber commented on #140
this is done @sibelius, thanks

[2018-07-03 17:38] #140 closed

[2018-07-03 17:40] enieber commented on #156
@arjun9toppiks this occurs in the version in master branch?

[2018-07-03 18:37] #156 closed

[2018-07-03 18:38] jgcmarins commented on #112
I don't think this lib apply for that.

[2018-07-03 18:38] #112 closed

[2018-07-04 02:41] windydang26 commented on #293
i have done by instructions but get error:
![screen shot 2018-07-04 at 9 29 41 am](https://user-images.githubusercontent.com/20814511/42253939-5c70010a-7f6e-11e8-8081-d18b2403ff0d.png)
Have you ever seen it?

[2018-07-04 07:02] kkbhav commented on #293
i think you forgot the import the ShareApplication.
You should insert the following line along with the other imports in the MainApplication file:
[code]

[2018-07-04 07:09] windydang26 commented on #293
@kkbhav no, i'm sure that i already import ShareApplication in my MainApplication.java file
![screen shot 2018-07-04 at 2 06 55 pm](https://user-images.githubusercontent.com/20814511/42261925-e3d1f0ac-7f93-11e8-8306-e52e0f9fc703.png)

[2018-07-04 07:43] windydang26 commented on #293
@kkbhav , @jgcmarins i'm so sorry! my fault. i haven't update lib to newest version. i'm using react-native-share@1.0.23. after i update to newest version (1.0.27) everything working fine!
this bug can close now.

[2018-07-04 07:45] #293 closed

[2018-07-04 07:52] kkbhav commented on #248
@jgcmarins I think this is because of using the existing intent for social sharing. While using singleShare only one instance of the shareClass is created and the existing intent is used again.

I think every-time the user shares something, a new instance of the share class should be created to handle these type of cases. What are your views on this?

[2018-07-04 07:54] kkbhav commented on #293
Thats great!

[2018-07-04 07:58] kkbhav commented on #280
@iSaadSalman can you please check after removing 'message' from options, if it is working or not. Whatsapp only allows one of them to be used, i.e. you can only use message or url at a time for whatsapp.

[2018-07-04 12:16] jgcmarins commented on #248
Makes sense. We should try this approach.

[2018-07-04 13:12] kkbhav commented on #248
I will trying to implement it and check the above is replicating or not. Once done, I will raise a PR

[2018-07-04 14:15] zmax92 opened #297 "[Android] modal disappeares when opening share"
I have screen and on that screen modal, modal has a share button, clicking on button Simple Share is open, but first the modal disappeares and screen beneath is shown... This is only case on android, iOS shows correctly. Adding code and screen shot...
[code]

![unity](https://user-images.githubusercontent.com/12643259/42281897-296efaae-7fa5-11e8-8641-ad8be44d5dac.png)

Any input would be appreciat

[2018-07-04 14:22] jgcmarins commented on #297
@zmax92 hi, could you test master branch?

[2018-07-04 14:29] sanilcgs commented on #296
Sharing a url through email and Facebook works fine. But sharing an app url was not working. It shows like a text only instead of a link.

[2018-07-04 14:35] yanisakli opened #298 "I try to share a pictures from my app to facebook, email... but i don't found a solution"

[2018-07-04 15:14] jgcmarins commented on #298
@yanisakli could you provide more details about the problem?

[2018-07-04 15:16] jgcmarins commented on #297
Add this to your `package.json`
"react-native-camera": "git+https://github.com/react-native-community/react-native-share.git#master",

[2018-07-05 07:09] yanisakli commented on #298
@jgcmarins 👍  here is my code, and I want to share a photo on facebook or email via my app
Thank you
/***************************************************************/
import React, { Component } from 'react'
import {
  AppRegistry,
  StyleSheet,
  Text,
  TouchableOpacity,
  View,
  Clipboard,
  ToastAndroid,
  AlertIOS,
  Platform,
} from 'react-native'

import Share, { ShareSheet, Button } from

[2018-07-05 08:20] zmax92 commented on #297
@jgcmarins added it, but it didn't help the problem still exists... opening share, modal disappeares

[2018-07-05 08:30] yanisakli commented on #298
![screenshot_1530779422](https://user-images.githubusercontent.com/39698205/42311575-779211a0-803e-11e8-8c5c-474e3db470e8.png)

[2018-07-05 12:47] jgcmarins commented on #297
@kkbhav could you check what's going on here?
@zmax92 hey, I've recently merged more code into master, could you try it again?

[2018-07-05 12:58] zmax92 commented on #297
@jgcmarins I have tried again, with new master, but still no change...

[2018-07-05 13:05] enieber commented on #206
@akirasunny is your request for Android and iOS or only one platform?

[2018-07-05 13:08] enieber commented on #205
@tirrorex can you test in the master branch version?

[2018-07-05 13:16] tirrorex commented on #205
@enieber Sorry i forgot to close the issue, i moved to something else.

[2018-07-05 13:16] #205 closed

[2018-07-05 13:19] enieber commented on #173
@JulioOrellana  this occur in iOS and Android or only in one platform?

[2018-07-05 13:21] enieber commented on #162
@rohankangale2011 can you try again on master branch?

[2018-07-05 13:21] #162 closed

[2018-07-05 13:22] enieber commented on #161
@MichaelPintos Can you explain with more informations?

[2018-07-05 13:29] #161 closed

[2018-07-05 13:29] #173 closed

[2018-07-05 13:33] kkbhav opened #300 "Add .npmignore file for future release."
add following lines in file:
example/*
assets/*

[2018-07-05 13:58] jgcmarins commented on #300
I don't think we should take it to 1.0.28, since there's lot's of breaking changes

[2018-07-05 14:01] jgcmarins commented on #300
hey, @kkbhav could you please join here: https://join.slack.com/t/rn-community/shared_invite/enQtMzY0MDgxODcwOTYyLWEwNWY3Njc0Mzg1MzllYWVhNTU4NTY5MGY5NjQ2ZWM1MGFkY2QzMTljYWY2NzE0NTU4MmM3NTBkY2ZiZmIzMWY
?

[2018-07-05 14:31] zmax92 commented on #297
@kkbhav I am using 0.52.2 react-native, after updating to 0.56.0 react-native issue is resolved... thank you

[2018-07-05 14:56] enieber commented on #300
maybe in version **1.0.29** @kkbhav @jgcmarins

[2018-07-05 14:57] #297 closed

[2018-07-05 15:29] jgcmarins commented on #300
no, at least a minor change, something like `1.1.0`

[2018-07-06 00:39] jgcmarins commented on #271
It seems that your link is wrong, could you try on master branch?

[2018-07-06 02:53] phillmill commented on #271
I deleted react-native-share altogether, then re-installed via master branch and I'm getting the same result. I've also tried manual linking and react-native link.

Currently trying a fresh react-native project to see if I can replicate there

[2018-07-06 07:40] kkbhav commented on #300
@jgcmarins I have joined the slack group. and yes there are some big changes, so we should move the version to 1.1.0

BTW, what are the timelines for the release

[2018-07-06 15:05] yanisakli commented on #298
it works for me :
import Share from 'react-native-share'
import RNFetchBlob from 'react-native-fetch-blob'

            onSharePress={() => {
              RNFetchBlob.fs.readFile(FILE_PATH_TO_CHANGE, 'base64').then(data => {
                Share.open({
                  message: 'Hey',
                  url: 'data:image/png;base64,' + data,
                })
              })
            }}

[2018-07-09 05:57] kkbhav opened #301 "Release plan for 1.1.0"
### This is the initial release plan for version 1.1.0

**Todo**

- [ ] Add .npmignore
- [ ] Increment version to 1.1.0
- [ ] Create git tag for releases

**Issues resolved with this release:**
- Share Multiple Images at once #191
- [Android] modal disappeares when opening share #297
- How to style error screen when app is not found? #173
- Application crash #162
- Share on android >= 8.0 crash #2

[2018-07-09 06:10] kkbhav commented on #239
@embpdaniel You can use BuildConfig.APPLICATION_ID to reference it in MainApplication & for manifest file you can use '${applicationId}.provider' value

[2018-07-09 06:10] #239 closed

[2018-07-09 10:25] sanilcgs opened #303 "React native share error on android"
I have tried react native share package for sharing my app url. In iOS it works fine. But in android it shows something like this.

I am using
[code]

What is the issue and how to solve this??

[2018-07-09 12:18] jgcmarins commented on #303
It looks like your link is wrong.

[2018-07-09 12:25] IanOnFire opened #304 "Cannot share base64 data via Whatsapp (iOS)"
Hi there,

We're trying to share a .pdf document as base64 string, this is in every use case possibly except for Whatsapp on iOS (Android is working).
We've seen native apps that can do this so we know it is possible.

Has anybody else tried this? Did you succeed in doing this?
Is this a common problem or may there be something we're doing wrong?

I hope I've provided enough information, but pleas

[2018-07-09 12:29] sanilcgs commented on #303
I have linked the package using **react-native link react-native-share**.

[2018-07-09 12:29] jgcmarins commented on #301
Great job, @kkbhav.
It looks like this is the right checklist.
Thanks for your time.

[2018-07-09 13:04] kkbhav commented on #301
@jgcmarins Thanks.
Can you please ask someone to complete the 2nd and 3rd point as they need to be properly done.

[2018-07-09 14:48] IanOnFire commented on #304
This is the code we have:

`Share.open({
                title: "Share file",
                url: this.state.base64Document,
                subject: "Report",
            }).catch((err) => {
                if (err.error != 'User did not share') {
                    this.props.displayError()
                }
            })  `

[2018-07-10 02:18] kk412027247 commented on #256
@jgcmarins Dear, I solve this finally.

After following the manual installation of android, and modify this file `android/app/src/main/res/xml `.
I can share image in android now.
[code]

[2018-07-10 11:54] jgcmarins commented on #304
follow README: https://github.com/react-native-community/react-native-share#share-base-64-file

[2018-07-10 11:55] jgcmarins commented on #303
sometimes it cannot work
could you provide more information?

[2018-07-10 13:50] sanilcgs commented on #303
Hi @jgcmarins , I have unlinked the package and then added by manually. Then it works.

[2018-07-10 15:04] jgcmarins commented on #303
Awesome!

[2018-07-10 15:04] #303 closed

[2018-07-11 12:15] Culzean opened #305 "change default file name"
Hi,

So once the share dialog box is opened in iOS, we can select the option to "Save to files" and save it in the "on my iPhone" and it automatically names the file as text.txt.
Is there any way to pass a name rather than the default "text" ?

[2018-07-11 12:44] henkkasoft commented on #116
I did some testing and there might be a major problem with android.content.Intent.ACTION_SEND not giving any output. The output is always cancel (0) if you try to read it with startActivityForResult & onActivityResult. If someone figure out a way to solve this, it would be very helpful!

There is a documentation that output is not available:
https://developer.android.com/reference/android/content/

[2018-07-11 15:39] jgcmarins commented on #305
Yes, follow README: https://github.com/react-native-community/react-native-share#sharesingleoptions-in-ios--android

[2018-07-11 15:39] #305 closed

[2018-07-11 16:19] Culzean commented on #305
@jgcmarins  Non of the given props actually change the file name !

[2018-07-12 05:47] nickmccomb opened #306 "iOS sharing attaches [appname].app file"
When the following code is used on iOS, the sharing function attaches a 'sparkplugs.app' file to the message, which then fails on everything (Facebook, Insta, Snapchat etc) except for email.

It works fine on Android (doesn't attach a file).  On iOS it does attach a file, which fails sending to everything except email.  The file is named after my app 'sparkplugs', so the attached file is 'sparkplu

[2018-07-13 12:05] zoranmarjanovic opened #307 "react-native-share doesn't work properly for facebook"
0
down vote
favorite
I'm trying to upload base64 image and to set message, title and caption, and it seems that it doesn't work, basically what happens is that image has been uploaded, but rest of params are ignored. Any help?

Here is the part of code

[code]

Also I have tried to share to email end message and title are filled. Is there some limitations for facebook?

[2018-07-13 12:06] zoranmarjanovic commented on #307
stackoverflow link https://stackoverflow.com/questions/51315063/react-native-share-doesnt-work-properly-for-facebook

[2018-07-13 12:50] jgcmarins commented on #307
Check this guid to share base64: https://github.com/react-native-community/react-native-share#share-remote-pdf-file-with-gmail--whatsapp-ios

[2018-07-13 14:37] zoranmarjanovic commented on #307
@jgcmarins, I don't have a problem with image, it is uploaded, but other fields, like, title, caption, message, ... Basically I have tried with some link as url param, and it is the same, link is shared but everything else is ignored.

[2018-07-13 18:10] annelorraineuy commented on #153
@yjb94 The docs here state that **excludedActivityTypes** takes a string but your example is an array of strings. Perhaps the docs should be updated?

[2018-07-13 18:56] annelorraineuy commented on #251
@xempie Did you do `react-native link react-native-share`? There are additional manual steps on the README docs you need to do as well.

[2018-07-13 19:29] jgcmarins commented on #153
@annelorraineuy if it makes sense, PRs are welcome \o/

[2018-07-14 15:16] iSaadSalman commented on #280
@kkbhav sorry for the very late reply.  Yeah you are right if I remove the message image shows up

[2018-07-16 11:51] jgcmarins commented on #280
Is this a bug or what? Can we close this one?
@iSaadSalman what do you think? README must be updated?

[2018-07-16 12:20] iSaadSalman commented on #280
@jgcmarins Well if the message overwriting URL is enforced, this but has been resolved

[2018-07-16 12:21] iSaadSalman commented on #280
@jgcmarins If you can, maybe add a readme note about this so people know

[2018-07-18 07:52] mbret commented on #271
I have the exact same probleme with Twitter. The sharesingle open the twitter app and everything seems right but I get the promise rejection with that error