[2018-07-19 20:58] EmreMengukan opened #308 "filepaths.xml: Error: Unsupported type 'external-path'"
/Users/emremengukan/Documents/Projects/Mengukan/Emlak/android/app/src/main/res/values/filepaths.xml: Error: Unsupported type 'external-path'
:app:mergeDebugResources FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugResources'.

android/app/src/main/res/xml/filepaths.xml

[code]

[code]

[2018-07-20 16:54] ruimfernandes commented on #256
@kk412027247 You got that working with version 1.0.27?

[2018-07-22 09:13] kk412027247 commented on #256
@ruimfernandes Yes,  the version is 1.0.27

[2018-07-23 06:36] rheng001 commented on #306
Facing the same issue

[2018-07-24 22:21] tribou opened #310 "Instagram on iOS: the Instagram share option doesn't appear in the standard iOS menu when the message option is passed to open()"
I tried installing both the current release and what's on the master branch. Both are producing this issue:

[code]

When you pass a `message` option, the icon to share to Instagram disappears from the standard iOS share menu. If you remove the `message` option, the Instagram option comes back and you can share the image successfully.

Instagram works fine in both scenarios on Android.

[2018-07-25 15:50] jgcmarins commented on #301
https://twitter.com/jgcmarins/status/1022145447446630400

[2018-07-25 16:17] Zishanr opened #317 "Error installing RNShare"
Hey, guys, I'm trying to install this great library via Cocoapods and I'm getting a fatal error that says, "fatal: Remote branch 1.1.0 not found in upstream origin" below is the full log

Could you be so kind to tell me if there is a workaround for this issues?

Thanks in advance!

[2018-07-26 06:01] andrei-m-code commented on #201
1.1.0 Same issue Oreo. Works good on L

[2018-07-26 08:38] Zishanr commented on #317
<img width="1123" alt="screen shot 2018-07-26 at 2 04 50 pm" src="https://user-images.githubusercontent.com/6694311/43251197-f0cc9fc8-90dc-11e8-99ba-0bc1080302d0.png">

I can't change it manually as it is picking from node_modules. As also you can see in the screenshot
source  is : https://github.com/EstebanFuentealba/react-native-share.git
while it should be
https://github.com/react-native-commun

[2018-07-26 12:17] Zishanr opened #318 "fatal: Remote branch 1.1.0 not found in upstream origin"
Hey, guys, As I told you i was trying to install this library via Cocoapods and I'm getting a fatal error that says, "fatal: Remote branch 1.1.0 not found in upstream origin".

<img width="665" alt="43213681-d7399468-9054-11e8-895e-9cc95ec8e6dd" src="https://user-images.githubusercontent.com/6694311/43261848-c42e9894-90fb-11e8-904c-5e3e63244831.png">

And you suggested change
from: https://github.

[2018-07-26 12:20] enieber commented on #318
this issue is duplicate #317

[2018-07-26 12:20] #318 closed

[2018-07-26 12:21] Zishanr commented on #318
Can you please suggest me solution as  I can't change it manually as it is picking from node_modules. As also you can see in the screenshot
source is : https://github.com/EstebanFuentealba/react-native-share.git
while it should be
https://github.com/react-native-community/react-native-share.git

Also, the tag should be like this tag => "v#{s.version}" as your tag is v1.1.0.

[2018-07-26 13:13] ziahm opened #320 "Not opening facebook app when tried to shareSingle method."
Hi,
When I use shareSingle method, it opens facebook in browser not the installed facebook app. Also tried with Instagram. For instagram, it opens instagram page in app store. Is there anything wrong?

Thanks

[2018-07-26 13:29] enieber commented on #320
what version you is use @ziahm ?

[2018-07-26 13:30] ziahm commented on #320
I am using latest version "react-native-share": "^1.1.0"

[2018-07-26 13:39] enieber commented on #320
Can you show the code you use of  shareSingle?

[2018-07-26 13:42] ziahm commented on #320
The code is somewhat like below:
let shareOptions = {
              title: "React Native",
              message: "Hola mundo",
              type: 'image/png',
              url: this.props.imageUrl,
              subject: "Share Link" //  for email
            };

Share.shareSingle(Object.assign(shareOptions, {
              social: Share.Social.FACEBOOK
            }))

and getting some warning

[2018-07-26 13:53] jgcmarins commented on #318
@Zishanr it was fixed here: https://github.com/react-native-community/react-native-share/pull/319
we are working on a new release soon

[2018-07-26 13:53] jgcmarins commented on #317
@Zishanr it was fixed here: https://github.com/react-native-community/react-native-share/pull/319
we are working on a new release soon

[2018-07-26 13:55] jgcmarins opened #321 "[release] 1.1.1 with Cocoapods fix"
check this: https://github.com/react-native-community/react-native-share/pull/319

[2018-07-26 13:57] jgcmarins commented on #320
@ziahm is this happening on android or ios? or both?

[2018-07-26 13:58] ziahm commented on #320
I am only trying on IOS. I didn't try on Android yet @enieber

[2018-07-26 14:20] jgcmarins commented on #320
Apparently neither [facebook](https://github.com/react-native-community/react-native-share/blob/master/ios/RNShare.m#L90), nor [twitter](https://github.com/react-native-community/react-native-share/blob/master/ios/RNShare.m#L94) ever had share into app.

[2018-07-26 16:48] ziahm commented on #320
There are ios apps which can share into facebook app directly @jgcmarins

[2018-07-27 05:12] SalviShahzad commented on #182
I am also experiencing the same issue as mentioned above.
Nothing happens when email is clicked.

I do not understand why email share has been provided when it does not work.

[2018-07-27 06:51] yevheniishabelnyk opened #322 "_reactNative.NativeModules.RNShare.FACEBOOK"
Hello guys.
Somebody know how to fix this error?

And it happens, when I only add stroke:
`import Share from 'react-native-share'`

<img width="398" alt="screen shot 2018-07-27 at 9 45 28 am" src="https://user-images.githubusercontent.com/32763735/43306074-951443a6-9182-11e8-92ad-4b063f619a6d.png">

[2018-07-27 07:43] purvotara commented on #320
@jgcmarins  Its only happening in IOS i guess.. Same problem with Whatsapp, instagram, fb etc

[2018-07-27 08:14] yeomann commented on #182
can you guys provide a repo please? I can have a look for you. repo can be simple as
[code]
and your example code where you are trying to click on email and nothings happening.

[2018-07-27 08:15] yeomann commented on #322
Hey @yevheniishabelnyk is it possible to give example code? I would like to reproduce the error so I can help you. thanks

[2018-07-27 09:03] SalviShahzad commented on #182
I have made a repo https://github.com/SalviShahzad/react-native-share-email-issue with my sample code.
Please look into it

[2018-07-27 09:06] yeomann commented on #182
thank you @SalviShahzad I will look into soon and get back to you!

[2018-07-27 09:08] SalviShahzad commented on #182
Sure @yeomann
you can find the sample code in this file https://github.com/SalviShahzad/react-native-share-email-issue/blob/master/src/Main.js

[2018-07-27 10:44] sujitpk-perennial commented on #306
+1

[2018-07-27 10:44] sujitpk-perennial commented on #306
@nickmccomb @rheng001  have you find any solution?

[2018-07-27 11:37] jgcmarins commented on #182
@SalviShahzad could you please update do `1.1.0`?

[2018-07-27 11:58] SalviShahzad commented on #182
sure, what is the command for it?

[2018-07-27 12:11] yeomann commented on #182
remove `react-native-share` from `package.json` and install from npm again OR change the version mentioned in `package.json` from `react-native-share` to `1.1.0`

[2018-07-27 13:10] SalviShahzad commented on #182
I used this command to update : npm update react-native-share --save
and then : react-native link
but now my build fails with this error : library not found for -lRNMail (on ios)

[2018-07-27 13:38] jgcmarins commented on #182
`rm -rf node_modules`
`npm install`

[2018-07-27 13:48] SalviShahzad commented on #182
Yes I deleted and reinstalled node modules but the error persists

[2018-07-27 13:53] jgcmarins commented on #182
which error?
it looks like there's a problem with your link

[2018-07-27 14:07] SalviShahzad commented on #182
This is the error: library not found for -lRNMail
I used react-native link for linking

[2018-07-27 15:16] erikterwiel commented on #310
Also facing the same issue, although this may be working as expected because when you post a picture to Instagram, you first edit the picture then two screens later you provide a message.

[2018-07-27 15:21] tribou commented on #310
Right, similar to Facebook share dialogs, I expect Instagram may not allow "default messages" being passed via an SDK. However, the Facebook share option degrades gracefully by ignoring the `message` option but still attaching an image (in my testing). It would be great if the Instagram option did the same instead of the icon disappearing entirely. 😞

[2018-07-27 16:07] yeomann commented on #322
sounds like a linking problem, maybe you didn't do link properly. we can't help you as I am unable to product this error.

[2018-07-27 17:40] jgcmarins commented on #182
could you please reinstall following docs?
we have no issues with linking

[2018-07-27 17:41] jgcmarins commented on #310
@tribou do you know any workaround on this?
maybe we can improve `react-native-share`

[2018-07-27 17:42] jgcmarins commented on #322
@yevheniishabelnyk which version?

[2018-07-27 17:44] yeomann commented on #182
@SalviShahzad alright I have done some testing and created a repo for you. it seems linking was issue in your repo. unfortunately it was same for me when I tried to do a fresh install, after doing all Android based settings Manually I was able to do a Successful test on device. maybe for email you should test on Real device as well.

here's a repo for you https://github.com/yeomann/react-native-sh

[2018-07-27 17:53] jgcmarins commented on #182
@yeomann, awesome!
Feel free to open a PR with all additional and relevant information you judge necessary.
Your repo looks great. Maybe we should review our [example](https://github.com/react-native-community/react-native-share/tree/master/example).
Feel free to close this issue when you are done.

[2018-07-27 17:58] yeomann commented on #182
thanks @jgcmarins i will try to send PR later for android specific gotcha's
I remember you told me to send invite for repo, but I think I ain't get it :) that's why I don't have the ability to close this issue or any issues.

[2018-07-27 18:07] yeomann commented on #182
Hi @SalviShahzad  @Avanikothari22  issue is being closed as it seems to be resolved already. feel free to report back incase if you still encounter any error.
thanks

[2018-07-27 18:07] #182 closed

[2018-07-27 20:05] yevheniishabelnyk commented on #322
"react-native": "https://github.com/expo/react-native/archive/sdk-28.0.0.tar.gz",
"react-native-share": "1.1.0"

[2018-07-27 21:00] jgcmarins commented on #322
this lib does not work with expo
for that, you can use expo's own share lib: https://docs.expo.io/versions/v28.0.0/react-native/share.md#__next

[2018-07-27 21:00] #322 closed

[2018-07-27 21:21] yeomann commented on #5
Hi there, the issue is being close. Since it is quite old. I suppose it might have been addressed in new releases of react native share. Please feel free to open it again, so that community can help you 😃

[2018-07-27 21:21] #5 closed

[2018-07-27 21:24] yeomann commented on #94
Hi there, the issue is being close. Since it is quite old. I suppose it might have been addressed in new releases of react native share. Please feel free to open it again, so that community can help you 😃

[2018-07-27 21:24] #94 closed

[2018-07-27 21:32] yeomann commented on #298
maybe we can add this info in readme..

[2018-07-27 21:34] yeomann commented on #218
this seems fixed, can we close?

[2018-07-27 21:37] yeomann commented on #207
related to https://github.com/react-native-community/react-native-share/issues/281

[2018-07-27 21:37] #207 closed

[2018-07-27 21:42] yeomann commented on #178
Hi there, closing issues, as it seems to be fixed. Please feel free to open it again thanks 😃

[2018-07-27 21:42] #178 closed

[2018-07-27 21:43] yeomann commented on #180
Hi there, closing issues assuming latest releases must have addressed this issue. Please feel free to open it again thanks 😃

[2018-07-27 21:43] #180 closed

[2018-07-27 21:44] yeomann commented on #172
Hi there, closing issues assuming latest releases must have addressed this issue. Please feel free to open it again thanks 😃

[2018-07-27 21:44] #172 closed

[2018-07-27 21:45] yeomann commented on #166
Hi there, closing issues assuming latest releases must have addressed this issue. Please feel free to open it again thanks 😃

[2018-07-27 21:45] #166 closed

[2018-07-27 21:46] yeomann commented on #163
Hi there, closing issues assuming latest releases must have addressed this issue. Please feel free to open it again thanks 😃

[2018-07-27 21:46] #163 closed

[2018-07-27 21:47] yeomann commented on #142
Hi there, closing issues assuming latest releases must have addressed this issue. Please feel free to open it again thanks 😃

[2018-07-27 21:47] #142 closed

[2018-07-27 22:18] jgcmarins commented on #84
try version 1.1.0

[2018-07-27 22:18] #84 closed

[2018-07-27 22:18] jgcmarins commented on #298
done

[2018-07-27 22:18] #298 closed

[2018-07-27 22:19] jgcmarins commented on #218
already fixed on 1.1.0.

[2018-07-27 22:19] #218 closed

[2018-07-28 11:19] yeomann commented on #321
PR is merged when are we releasing?

[2018-07-28 14:21] jgcmarins commented on #321
We can do this as soon as possible.

[2018-07-28 15:07] yeomann commented on #251
I think its not package issue, was linking issue? can you confirm if you still having this issue? @xempie

[2018-07-28 16:56] Sharathnasa commented on #310
@erikterwiel yes its working as expected. Instagram doesn't accept the string message. So when we pass string as params, it won't show up in the share pop-up.

As a work around, we can copy the message to clipboard and pass only image as a params to instagram. Later we can paste the string.

[2018-07-28 16:57] Sharathnasa commented on #310
something like this

[Share.open(shareImageBase64);
              const strToCopy = this.state.selectedQuote
                .concat("\n.\n")
                .concat(this.generateHashTags());
              Clipboard.setString(strToCopy);
              if (Platform.OS === "android") {
                ToastAndroid.show(
                  "Caption along with hashtag has been copied.",

[2018-07-30 11:36] jgcmarins commented on #251
@xempie follow README instructions to do correct link.

[2018-07-30 11:36] #251 closed

[2018-07-30 13:03] SalviShahzad opened #323 "Share sheet not working"
I moved from version 1.0.27 to 1.1.0, since then share sheet is not opening up when we click on "share UI component"

[2018-07-30 13:32] jgcmarins commented on #323
Is there any error message?
iOS or Android?
Did you follow README? There were improvements on linking.

[2018-07-31 04:26] SalviShahzad commented on #323
No there is no error message.
Platform is ios. I have not tested for android yet.
Yes I followed README and cross verified all the manual steps on both the platforms and did changes that were missing.

[2018-07-31 10:06] ruimfernandes commented on #232
@melihberberolu are you sure your image is well converted into base64? And are you sure your image is **png** or it can have another extension?

Try to paste the result of `data:image/png;base64,${base64Img}` at the website and check if the image is rendered.
https://codebeautify.org/base64-to-image-converter

I'm using `Share.open` and the only problem I have while using base64 it's with Whatsapp

[2018-07-31 10:59] SalviShahzad commented on #323
On android I am getting this error: Error type 3
Error: Activity class {com.my_project_name/com.my_project_name.MainActivity} does not exist.

[2018-07-31 11:42] jgcmarins commented on #323
considering this error message, looks like it's a problem with your link

[2018-07-31 12:08] SalviShahzad commented on #323
I followed all the steps mentioned in manual

[2018-07-31 14:33] esomkin opened #324 "Can't share file with unicode symbols in name on Android"
I'am using `react-native-share` to share files from my application to another (Gmail for example). When file name has numeric or only latin characters share ok. But, when unicode characters is appear in file name (for example `эюя`), Gmail show message Could not attach file. How to fix this? Thank's in advance!

[2018-07-31 14:59] jgcmarins commented on #324
what version?
could you try master branch?

[2018-07-31 15:15] esomkin commented on #324
@jgcmarins 1.1.0

[2018-07-31 15:28] esomkin commented on #324
I’am share a local file which was downloaded earlier from internet

[2018-07-31 16:09] jgcmarins commented on #324
Is there any error message?

[2018-07-31 16:26] jgcmarins commented on #324
is it happening on both android and ios?

[2018-07-31 16:30] esomkin commented on #324
@jgcmarins Only on android, on is all ok

[2018-07-31 17:47] esomkin commented on #324
@jgcmarins It is possible to fix a bug by myself?

[2018-07-31 22:44] jgcmarins commented on #324
Sure!!! PR's are welcome \o/

[2018-08-01 03:58] keithics commented on #271
up.. im having the same problem.

[2018-08-01 10:45] ruimfernandes opened #326 "Android - Share.Open resolves promise before upload complete"
### Steps to reproduce
1. Share and image with any app
2. As soon as the bottom sheet opens it will resolve the promise

### Expected behaviour
As well as it happens on iOS, the promise resolve/reject of `Share.open` only happens after the upload process is complete.

### Actual behaviour
As soon as the bottom sheet is opened, the `Share.open` resolve its promise. Therefore, I can't know if the sh

[2018-08-01 13:40] jgcmarins commented on #271
can anyone try master branch?
any repo to reproduce?

[2018-08-01 15:13] jgcmarins commented on #306
@miguelbassila looks like we found a solution.
Question: should we fix it on lib or just improve README?

[2018-08-01 15:53] miguelbassila commented on #306
@jgcmarins I think it's easier to improve README for now but we could try to patch a fix on https://github.com/facebook/react-native/blob/master/Libraries/ActionSheetIOS/RCTActionSheetManager.m#L134, which is the native class ActionSheetIOS uses, to check if url is absent before try to call `RCTConverter`

would be a pleasure to do both 😄

[2018-08-01 16:02] jgcmarins commented on #306
@miguelbassila PR's are welcome \o/
We can do it and release a new version as soon as possible.

[2018-08-01 16:06] jgfidelis commented on #306
Ain't  it easier to do on the RNShare lib something like:
[code]

[2018-08-01 16:16] jgcmarins commented on #306
@jgfidelis great

[2018-08-02 03:07] monkingame opened #327 "Could not find method compileOnly() for arguments when upgrade 1.0.27 to 1.1.0"
### Steps to reproduce
1. upgrade react-native-share version 1.0.27 to 1.1.0
2. run : react-native run-android
3. got error:
Could not find method compileOnly() for arguments [com.facebook.react:react-native:+]

### Expected behaviour
Success build will occur.

### Actual behaviour

### Environment
- **React Native version**: 0.56.0
- **React Native platform + platform version**:
OS: macOS High Si

[2018-08-02 08:43] yeomann commented on #327
Hi, this is because of your Gradle. you must use Gradle 3+. Please upgrade your gradle. If you are using latest React native 0.56.0 then do these basic steps:
Update gradle version in `android/gradle/wrapper/gradle-wrapper.properties` :
[code]
Modify `android/build.gradle` under `dependencies`:

[code]

[2018-08-02 08:43] #327 closed

[2018-08-02 08:46] yeomann commented on #323
I am like sure that your problem is of linking. for android I created a test repo https://github.com/yeomann/react-native-share-android-test

it uses latest React native and Gradle 3+ and manuall linking. Please follow the configs mentioned in readme and see the link repo for example.

[2018-08-02 08:48] yeomann commented on #326
I think this feature is not currently present in package?
maybe if you can send PR.

[2018-08-02 13:09] ParveenChhillar opened #328 "react-native-share is not working on Android version 7 and more than 7."

[2018-08-02 13:14] ParveenChhillar commented on #235
not working for me

[2018-08-02 13:37] jmschlmrs commented on #326
@ruimfernandes this same bug is present for me using the React-Native hare API directly (https://facebook.github.io/react-native/docs/share), not sure that it will be able to be resolved in this package until the underlying behaviour in React-Native is fixed.

[2018-08-02 14:40] tribou commented on #310
@jgcmarins no workaround yet, but I agree that it would improve `react-native-share` to degrade gracefully by default on iOS (like it does on Android already).

[2018-08-02 14:52] erikterwiel commented on #310
Nice Workaround:
React Native has a built in { Share } feature which works as expected on iOS, degrades gracefully on Facebook and Instagram. Only issue with the built in share is that you cannot supply a url for Android, so I just use Platform.OS to use React Native's Share for iOS and react-native-share for Android.

Works perfectly

[2018-08-02 15:00] jgcmarins commented on #328
It looks like this is a problem with link.
Please, follow full README.
Check this comment: https://github.com/react-native-community/react-native-share/issues/323#issuecomment-409853661
With a link to a brand new example: https://github.com/yeomann/react-native-share-android-test

[2018-08-02 15:00] #328 closed

[2018-08-02 15:01] jgcmarins commented on #235
It looks like this is a problem with link.
Please, follow full README.
Check this comment: https://github.com/react-native-community/react-native-share/issues/323#issuecomment-409853661
With a link to a brand new example: https://github.com/yeomann/react-native-share-android-test

[2018-08-02 15:01] #235 closed

[2018-08-03 17:10] Ahlisen opened #329 "Classes not exported warnings"
When updating my project to react-native 56.0 and RN-share to 1.1.0 I get warnings about RCT_EXPORT_MODULE not being used in Instagram, GooglePlus, WhatsApp and Generic-Share (See Image). Is this normal with the new RN 56.0?

### Environment
- **React Native version**: 56.0
- **React Native platform + platform version**: iOS 9.0

### react-native-share
**Version**: 1.1.0

![warnings](https://user-

[2018-08-03 19:57] esutton opened #330 "Yellow box warning "requires main queue setup since it overrides constantsToExport but doesn't implement requiresMainQueueSetup"
### Steps to reproduce
1. Launch app with react-native-share in iOS ( simulator can reproduce )

### Expected behaviour
No Yellow Box Warnings

### Actual behaviour
ellow Box Warnings

### Environment

iOS
		"react": "16.3.1",
		"react-native": "0.55.4",

### react-native-share
		"react-native-share": "^1.1.0",

### Link to repo (highly encouraged)
https://github.com/react-native-community/react-n

[2018-08-04 10:05] yeomann commented on #330
would appreciate if you can send fix via PR? @esutton

[2018-08-04 12:32] jgcmarins commented on #330
done https://github.com/react-native-community/react-native-share/pull/331

[2018-08-04 12:32] #330 closed

[2018-08-04 12:32] jgcmarins commented on #329
done https://github.com/react-native-community/react-native-share/pull/331

[2018-08-04 13:09] yeomann commented on #323
closing assuming the issue might have been resolved. Please feel free to open it again @SalviShahzad

[2018-08-04 13:09] #323 closed

[2018-08-06 11:55] yeomann commented on #308
seems like another unsuccessful linking. Please see this repo for android manual linking. https://github.com/yeomann/react-native-share-android-test

[2018-08-06 11:55] #308 closed

[2018-08-07 01:54] mikehardy opened #332 "iOS yellow box: Module RNShare requires main queue setup since it overrides..."
### Steps to reproduce
1. create new react-native app and install/link react-native-share
2. react-native run-ios
3. check out yellow box warning with contents including the title

### Expected behaviour
RNShare should load without warnings

### Actual behaviour
There is a compatibility warning containing this text:

"Module RNShare requires main queue setup since it overrides `constantsToExport`

[2018-08-07 03:33] jgcmarins commented on #332
fixed here: https://github.com/react-native-community/react-native-share/pull/331
try master branch

[2018-08-07 03:33] #332 closed

[2018-08-07 03:36] mikehardy commented on #332
Sorry I logged what is obviously a duplicate! And not just once either. I searched issues prior but only open ones (oops! lesson learned). Thanks for the reply, and thanks for this useful library

[2018-08-07 03:52] jgcmarins commented on #332
@mikehardy don't worry, that's ok.
Thank you for opening the issue and remembering me to create a new release: https://github.com/react-native-community/react-native-share/releases/tag/v1.1.1

[2018-08-07 17:49] Ahlisen opened #333 "Can't share to Instagram anymore on iOS, not listed"
### Steps to reproduce
1.    Share.open({
      title: 'XXX',
      message: 'XXX',
      url: sharePath
    })
2. Look for Instagram in iOS
3. Not available
4. Still works for Android though

The warnings about RCT_EXPORT_MODULE not being used are still present like in #329

### Environment
- **React Native version**: 56.0
- **React Native platform + platform version**: iOS 9.0

### react-native-

[2018-08-08 02:48] lizhuoyuan commented on #307
So what should I do to solve this problem

[2018-08-08 06:49] mjm918 commented on #250
I followed the manual linking but still build failed. I have added everything according to manual installation but during build i am getting the following error:
`error: cannot find symbol
            new RNSharePackage(),
                ^
  symbol: class RNSharePackage
4 errors
:app:compileDebugJavaWithJavac FAILED`

and yes, I have added `compile project` in the app/build.gradle but still same

[2018-08-08 07:12] sunithakk commented on #308
@yeomann  i followed same https://github.com/yeomann/react-native-share-android-test
but getting  error:
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugResources'.

[2018-08-08 09:07] mjm918 commented on #200
@Hieutt1704
try this:

[code]

[2018-08-08 13:26] yeomann commented on #308
[code]
[code]
[code]
[code]

I think you don't have android necessary tools installed. I added a small readme in repo please make sure you have SDK and build tools installed for api version 27

[2018-08-09 04:03] tribou commented on #310
Well, this is strange. I've tried your workaround @erikterwiel, and it's still not working. 😞 Very odd and slightly unsettling that this would be environmental. I can pass a `title` and/or a `subject`, but as soon as I add a `message`, the Instagram icon disappears using React Native's own { Share } module.

[2018-08-09 07:01] erikterwiel commented on #310
@tribou I have it working on react-native 0.56 and my message is ~200 characters

[2018-08-10 04:35] tribou commented on #310
Ahhh, I'm still on `v0.55.4`. I had tried the 0.56 upgrade, but Babel 7 broke my test suite. I'll have to find some time to redo to just test this workaround... thanks!

[2018-08-10 04:52] jaidBinHashem opened #334 "react-native-share does not run"
### Actual behaviour
![capture](https://user-images.githubusercontent.com/23192796/43939246-74716bfc-9c8a-11e8-987e-a71c29a23bb7.PNG)

### Environment
- **"react": "16.3.1",
    "react-native": "0.55.4",**:
- **React Native platform + platform version**: Android 7.0,

### react-native-share: "^1.1.0"
**Version**: npm version "5.6.0"

### MainApplication.java
[code]

### build.gradle

[code]

[2018-08-10 12:40] jgcmarins commented on #332
@Maple13 done!

[2018-08-10 12:44] jgcmarins commented on #334
@jaidBinHashem we've just released 1.1.1, could you test this new release? thanks

[2018-08-10 15:33] tribou commented on #310
Posting here since it's the next step I can think of for this issue: Compare `react-native@0.56` iOS share module/ActionSheetManager with `react-native-share` and `react-native@0.55` to see what changed...

- [`react-native@v0.56.0:/Libraries/ActionSheetIOS/RCTActionSheetManager.m](https://github.com/facebook/react-native/blob/3c6a916536da67a4591f71883723c67a0c7be9d7/Libraries/ActionSheetIOS/RCTAc

[2018-08-10 16:36] esutton commented on #334
Try changing compileOnly to provided here:

https://github.com/react-native-community/react-native-share/blob/7cd906fa2a21b22ef6308f6a67261e514616c1a7/android/build.gradle#L53

File: /react-native-share/android/build.gradle
[code]

Similar issue here:

There are two working solution for this issue

solution 1.
easily update gradle version to 3

solution 2.
change ./node_modules/react-native-maps/l

[2018-08-11 09:10] sunithakk opened #336 "NOT Working with 0.55.2"
### Expected behaviour
A problem occurred configuring project ':app'.

### Actual behaviour
Tell us what happens instead

### Environment
- **React Native version**:0.55.2
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc

### react-native-share
**Version**: npm version or "master"

### Link to repo (highly encouraged)
https://github.com/

[2018-08-11 11:47] riyadh89 commented on #222
undefined is not an object (evaluating '_reactNative.NativeModules.RNShare.shareSingle')

I am facing the same problem too. anyone with a solution?
Tried upgrading & downgrading the version but not succeed.

    "react": "16.4.1",
    "react-native": "0.55.4",
    "react-native-share": "^1.1.1",

[2018-08-12 04:13] jaidBinHashem commented on #334
@jgcmarins updating the version doesn't help, same error.

[2018-08-12 04:16] jaidBinHashem commented on #334
@esutton it helps but I had to change a little bit more.

`// Change from:
dependencies {
    compileOnly "com.facebook.react:react-native:${safeExtGet('reactNativeVersion', '+')}"
    implementation "com.android.support:appcompat-v7:${safeExtGet('supportLibVersion', '27.1.0')}"
}

// To:
dependencies {
    provided "com.facebook.react:react-native:${safeExtGet('reactNativeVersion', '+')}"
    pro

[2018-08-13 09:31] jaidBinHashem opened #337 "Share.shareSingle(shareOptions) does not pass data to Facebook app"
I want to share image to Facebook. With `Share.open(shareOptions)` it works but when I am trying to use `Share.shareSingle(shareOptions)` it does not pass data to Facebook app. It only opens the Facebook's new status page with no data on it.

[2018-08-13 21:42] #336 closed

[2018-08-13 21:43] jgcmarins commented on #222
is happening on both android and ios?

[2018-08-13 21:44] jgcmarins commented on #334
is it working with gradle 3?

[2018-08-14 03:15] jaidBinHashem commented on #334
![gradle3](https://user-images.githubusercontent.com/23192796/44069824-86d618c2-9fa2-11e8-8f96-10a7a0406a40.PNG)

@jgcmarins I get this when I update to gradle 3, The only solution working for me is changing in the node_modules.

[2018-08-14 03:27] lizhuoyuan commented on #337
me too

[2018-08-14 03:30] lizhuoyuan commented on #320
happening in android too...

[2018-08-14 11:14] zoranmarjanovic commented on #307
Nothing, based on this docs https://developers.facebook.com/policy/#socialplugins facebook is little bit restricted about the way how you can do share through 3rd party applications

[2018-08-14 13:17] NawazKhanMd opened #340 "Multiple share in iOS"
i have tried multiple share in android its working fine,
when i tried to do it in iOS with changed path

file is successfully written.
so when I try to share with code
`let shareOptions = {
            type: "application/pdf",
            title: "Share Via",
            message: message,
            urls: dataArray,
        };
        Share.open(shareOptions);`

dataArray holds the urls to downloa

[2018-08-14 15:16] jgcmarins commented on #334
You need to align versions.

which changing?

[2018-08-14 17:08] luzma87 opened #341 "Flow check fails for styles in Overlay"
### Steps to reproduce
1. create react native app with flow
2. install react-native-share
3. try running flow check

### Expected behaviour
flow check should pass

### Actual behaviour
flow check complains

![react-native-share flow issue](https://user-images.githubusercontent.com/456972/44106469-638e2946-9fba-11e8-9ab3-ac0d0367f3b5.png)

### Environment
"react": "^16.2.0",
"react-native": "0.55.4

[2018-08-14 17:31] jgcmarins commented on #341
nice catch, thanks
could you send a PR fixing it?

[2018-08-15 02:52] jaidBinHashem commented on #334
The simple solution working for me is changing the node_modules.

change (./node_modules/react-native-maps/lib/android/build.gradle)

[code]

[2018-08-15 12:01] jgcmarins commented on #174
@luzma87 could you send a PR fixing this?

[2018-08-15 12:04] jgcmarins commented on #334
I think we should open a issue on `react-native-maps`.
This is a problem with their gradle.

[2018-08-15 12:04] #334 closed

[2018-08-15 13:57] rverbytskyi commented on #174
@jgcmarins I can prepare a PR in two weeks, 'cause I can't work on it now. Now my fixes work only for Twitter and Facebook, so I have to add Google+, Instagram, and other applications support

[2018-08-15 21:04] rikur commented on #153
I got this to work:
```excludedActivityTypes: ['com.apple.UIKit.activity.SaveToCameraRoll', 'com.apple.UIKit.activity.AssignToContact']```

I couldn't figure out the activity type for "Create Watch Face".. even Apples docs don't include it.

[2018-08-15 22:31] jgcmarins commented on #174
@rverbytskyi great!

[2018-08-16 04:57] mbret commented on #337
Same problem, the share.open seems to works properly but shareSingle does not work at all for me. Even for a simple message

[2018-08-16 05:12] NawazKhanMd commented on #340
@jgcmarins  What information u might need ? :(

[2018-08-16 12:47] atull commented on #340
@NawazKhanMd This working fine on my end. I am testing the on iPhone5s & I am able to see all the attachments in my mail while trying to share them.

Can you also once check by adding few Https image urls in the array & then try to share, see if its working in your project. This can give a more clarity, if the problem is in library or the path document you are trying to share.

[2018-08-16 16:18] yeomann commented on #341
since PR is merged I will close it

[2018-08-16 16:18] #341 closed

[2018-08-16 20:05] jamesreilly5 opened #343 "Logging when permissions not correctly set (no file returned on Android)"
Hi, thank you for this awesome library. It works perfectly but I ran into some trouble on Android and finally figured it out by hacking the Android logic.

When file permissions are not correctly set in `AndroidManifest.xml` and I request a valid file path then the promise still returns "OK" from the library. I couldn't correctly link the library and had to do it manually, so maybe I missed a cruc

[2018-08-17 09:54] atull commented on #340
@NawazKhanMd @yeomann You could try something like below shared code:

const shareOptions = {
        title: 'Share via',
        urls: ['https://img.icons8.com/search/2266EE', 'https://img.icons8.com/color/search'],
    };
    Share.open(shareOptions);

I guess, if this works then the issue is not related to library. The issue could be with one of the URI's of the documents, although i'm not sure

[2018-08-17 12:02] jgcmarins commented on #343
Hello @jamesreilly5.
Thanks for reaching out. I think this information is missing on [README](https://github.com/react-native-community/react-native-share/blob/master/README.md)
Feel free to send a pull request improving it 😄

[2018-08-17 12:17] IronTony opened #344 "Using Share.shareSingle() on Android gives back an unknown error"
### Steps to reproduce
1. I am using
[code]
2. The Instagram app seems to start to open, but while it is opened the screen is blank and I have back an error: "An unknown error occured"

### Expected behaviour
It has to open the Instagram app as it happens in the iOS app.

### Actual behaviour
It seems that Instagram app will open, but the screen stays blank and I have a toast back with "An unknown

[2018-08-17 18:09] jgcmarins commented on #344
looks like this is a problem with your link: https://github.com/react-native-community/react-native-share/search?q=An+unknown+error+occured&unscoped_q=An+unknown+error+occured

[2018-08-18 06:15] riyadh89 commented on #222
@jgcmarins i haven't tried IOS yet.

[2018-08-20 12:58] #337 closed

[2018-08-21 10:46] rickjsantos100 commented on #333
Same problem here, just updated react native share

[2018-08-21 14:38] jgcmarins commented on #333
@Ahlisen could you try updating versions and check link?

[2018-08-22 13:08] andreipop-reea commented on #344
I have the same problem when trying to Share.shareSingle() on Instagram. It seems to be an issue with the Instagram service, because other works properly.
I tested on Android 7/8 with the latest version of react-native-share v1.1.1

[2018-08-23 18:18] facuescobar commented on #333
I've found the reason,

if **message** prop is added to sent options object in **Share.open(options)** the UI won't list instagram or any other apps that doesn't allow a default **message**

[2018-08-24 15:19] vforvasile commented on #344
Hey while Share.open works, I could not make shareSingle to Instagram to work. Any suggestions? My setups is same as asker's.

[2018-08-24 15:49] nicubarbaros commented on #344
Same here.
Have anyone tried the previous version?

[2018-08-25 06:14] o0lwj0o opened #347 "Suggestion : Improvement of filename"
Hi,
    I have found the filename was determined by System.currentTimeMillis() from line 130 in the file https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/ShareFile.java

        File file = new File(dir, System.currentTimeMillis() + "." + this.extension);

    Sometimes, it may overwrite the other file which created just at the same time.

[2018-08-25 11:03] yeomann commented on #347
how filename can improve? @o0lwj0o Please repo and explain

[2018-08-25 11:03] #347 closed

[2018-08-25 11:06] o0lwj0o commented on #347
You can use System.nanotime() instead. I think it's maybe enough.

[2018-08-25 11:13] yeomann commented on #343
well as per permission `android.permission.WRITE_EXTERNAL_STORAGE ` you are asking for saving something in storage, how it is related to `react-native-share`, I am confused

[2018-08-25 11:13] yeomann commented on #347
@codeflows  maybe see if this can help?

[2018-08-25 15:33] jamesreilly5 commented on #343
@yeomann it's not, I'm using screen capture along with this library so pasted it by mistake. It's not the purpose of this issue in any case

[2018-08-26 16:25] yeomann commented on #343
alright thanks i will close this issue then for now.

[2018-08-26 16:25] #343 closed

[2018-08-27 07:43] Kisepro opened #348 "Sharing on messenger only share scheme and host"
### Steps to reproduce
1.  Share a link on messenger
2.  Clik on the link generated that will open your app
3.  Verify the url that opens your app in the log

### Expected behaviour
It should open "http://myhost/ole/xikjfdihfdijf5487" and generate this url in the html

### Actual behaviour
Following the url on messenger (in the screenshot) it's the good one but in the html it opens : "http://myhos

[2018-08-27 11:41] jgcmarins commented on #347
Interesting. @o0lwj0o would you mind to send a PR improving it?

[2018-08-27 11:43] jgcmarins commented on #348
Hi @Kisepro could you explain why this is related to rn share? Thanks

[2018-08-27 11:47] o0lwj0o commented on #347
@jgcmarins  Sure. I will send a PR later.

[2018-08-27 13:01] esutton commented on #347
Would a uuid work?

` UUID.randomUUID().toString()`

iOS:

`NSString *uuid = [[NSUUID UUID] UUIDString];`

[2018-08-28 06:44] EwaGuziejko opened #349 "Sharing both url and image"
I tried share both url and image using Share.open(). If I pass only image in base64 it works perfectly, if I pass only url it also works ok. When I pass both image in base64 and url to my webpage it shares only link. I'm using version 1.1.1. Is there any way to do that?

[2018-08-28 08:12] lightman73 commented on #329
Hello,

 although I'm not seeing the RNShare warning doesn't appear, the same RCT_EXPORT_MODULE warnings are still there even with v. 1.1.1 (using RN 0.55.4).

 Any ideas on how to get rid of them ?

Thanks !

[2018-08-28 09:08] myrsapp opened #351 "Any Callback Posted?"
How do I know they posted or not?

if I use react-native-fbsdk, there is a callback for that. However, it's only facebook tho.
<img width="474" alt="screen shot 2018-08-28 at 16 10 33" src="https://user-images.githubusercontent.com/25725703/44713340-203a8300-aadd-11e8-8458-34ca256eddfc.png">

[2018-08-28 15:08] rickjsantos100 opened #352 "Share Single on Android fails at second time"
### Steps to reproduce
1.Use share.Single to share an image through a path
2.Again use share.Single to share another image through a path (the two paths need to be diferent)

### Expected behaviour
It would be expected for the share to work normally

### Actual behaviour
The first share works with no problem, but the second share fails giving  an error message saying i dont have premissions to wri

[2018-08-29 03:01] jvaisaonna opened #353 "Fail to share PDF file with symbol character on android"
I am going to share pdf file, but if the pdf name include some symbol character like !@#$%^&*()'".  It will prompt the error message when running "Share.open()".  For the iOS, it can share normally.

The error message:
![screen shot 2018-08-29 at 10 58 24](https://user-images.githubusercontent.com/25143307/44762726-a5c04080-ab7a-11e8-8f9f-15342f7b9382.png)

**Version**.
android: 8.1.0
react-native

[2018-08-29 12:32] jgcmarins commented on #353
hey @jvaisaonna could you send a PR fixing it?

[2018-08-30 11:47] PositronicBrain opened #354 "Share.shareSingle by email leaves fields blank"
When using Share.shareSingle(shareOptions), with the following:

     const shareOptions = {
       subject: "test",
       title: "test",
       social: Share.Social.EMAIL,
       message: "test"
       }

The email application opens but the fields are all blank. Instead using Share.open(shareOptions) everything works right.

### Environment
android: 7.0
react-native: 0.55.4
react-native-share :

[2018-08-30 15:55] nicubarbaros opened #355 "Instagram single video share"
### Steps to reproduce
[code]

### Expected behaviour
[First image of the instagram](https://scontent-otp1-1.xx.fbcdn.net/v/t39.2365-6/31739640_2065459473743293_5455162868888502272_n.png?_nc_cat=0&oh=576eba79d6618640dc99a4ffd6668e15&oe=5BF83231)
### Actual behaviour
It opens the dialog with all the apps. Just as  `Share.open()`

### Environment
- **React Native version**: 0.56.0
- **React Native p

[2018-08-30 17:40] jgcmarins commented on #355
it is missing `social` property on `shareOptions`
take a look at this: https://github.com/react-native-community/react-native-share#static-values-for-social
it should be:
[code]

[2018-08-30 20:15] nicubarbaros commented on #355
In fact I have the social property. And it still has the same behavior.

[2018-09-02 20:46] peakyDicers opened #357 "Android dependency 'com.android.support:appcompat-v7' has a different compile version."
### Steps to reproduce
1. Follow the instructions to install react-native-share for Android.
2. run react-native run-android

### Expected behaviour
Compile successfully.

### Actual behaviour
Given error:
_Android dependency 'com.android.support:appcompat-v7' has different version for the compile (27.0.2) and runtime (27.1.0) classpath. You should manually set the same version via DependencyResol

[2018-09-02 21:15] peakyDicers commented on #357
fixed by following: https://stackoverflow.com/a/47383261

[2018-09-02 21:15] #357 closed

[2018-09-03 09:00] nicubarbaros opened #358 "Shares the last photo in the library instead of the provided file."
### Steps to reproduce
1. Build for IOS device.
2. Before opening the app, make a photo/screenshot
3. Share.shareSingle. for Instagram
4. Magic happens here. Instead of the URL I am trying to share, it takes the first photo in the library I made in step 2.

### Expected behaviour
It should load (share) the image I am giving in the `URL` param

[code]

[code]
### Actual behavior
It shares the last

[2018-09-03 09:50] nicubarbaros commented on #358
Update.

While using `Share.open` and selecting Instagram will work. With `Share.singleShare` still gets the last screen shot I made.

[2018-09-03 12:48] jgcmarins commented on #358
Interesting. Can we have a repo to reproduce?

[2018-09-03 13:00] nicubarbaros commented on #358
Let me see what can I do.

Tried to send a base 64 file, and still doesnot work.

While the base64 code is legit.

[code]

[2018-09-04 08:46] gaykov opened #359 "iOS Yellow box: Class was not exported"
### Steps to reproduce
1. Install and link the library
2. Open your app

### Expected behaviour
The app shouldn't throw the yellow boxes

### Actual behaviour
Now the following warnings are shown:
![image](https://user-images.githubusercontent.com/9068073/45020527-e36c1000-b037-11e8-9c97-8b7a2528582f.png)

### Environment
- **React Native version**: `0.56.0`
- **React Native platform + platform ve

[2018-09-04 09:55] thanhcuong1990 commented on #359
I've got the same issue.

_Environment_
[code]

[2018-09-05 07:25] sudhirkumarojhaa opened #360 "Cannot read property 'facebook' of undefined"
### Steps to reproduce
1. install the library
2.run the link command
![screen shot 2018-09-05 at 12 54 58 pm](https://user-images.githubusercontent.com/24911219/45077477-edab0e80-b10a-11e8-8795-f002c456aeb1.png)

3.

### Expected behaviour
it should run with all the share options

### Actual behaviour
error popped out
Cannot read property 'facebook' of undefined

### Environment
- **React Native v

[2018-09-05 08:40] nicubarbaros commented on #358
Hey. I finally made it work :D
In case anyone wants to know my solution please check this code. Works both for image and video.
Tested only for IOS, I think the android needs to append `file://` before the uri.

[code]

[2018-09-05 08:41] nicubarbaros commented on #355
https://github.com/react-native-community/react-native-share/issues/358#issuecomment-418648657  - Made the solution here.

[2018-09-05 11:40] jgcmarins commented on #360
@sudhirkumarojhaa is there any code sample?

[2018-09-05 11:41] jgcmarins commented on #358
@nicubarbaros awesome!
I think we should add this information to README.
Can you send a PR?

[2018-09-05 11:42] jgcmarins commented on #355
Awesome! Let's keep tracking on #358

[2018-09-05 11:42] #355 closed

[2018-09-05 13:48] sudhirkumarojhaa commented on #360
I added the example code only into the file which is present in the git repository.

[2018-09-05 13:52] jgcmarins commented on #360
which git repository?

[2018-09-05 14:00] sudhirkumarojhaa commented on #360
https://github.com/react-native-community/react-native-share/blob/master/example/App.js

Here is the code which i used

[2018-09-05 14:29] nicubarbaros commented on #340
@atull Nope, this doesnot work. The dialog it's opening but It cant seem to find any app to be shared on.

[2018-09-05 16:18] ryuheimat opened #361 "Share function does not work in iOS"
Share does not work in iOS, But android is fine.
The problem I cannot understand is that when I do Share.open({url: '.....'}), the Share UI appeared, but cannot share to any - cannot copy, send email with empty string, ....
There is no crash or nothing.

Only function does not work.

[2018-09-05 17:02] jgcmarins commented on #361
@ryuheimat could you provide code sample or github repository to reproduce?

[2018-09-05 19:14] luco commented on #327
+1 on this issue. Tried to follow @yeomann steps, didn't work.

[2018-09-05 19:31] yeomann commented on #327
Hi @luco thank for comment. i have produced a sample repo, you can check all the working configs and settings.
https://github.com/yeomann/react-native-share-android-test

Please note following that

you have neccessary tools installed for android such as SDK and build tools with 27
as mentioned in build.gradle
[code]

Also note that i am using react-native `0.56.0` that is latest for now, with upg

[2018-09-06 01:50] lrcen opened #362 "Not opening the app but the browser in iOS"
### Expected behaviour
 open the installed app like facebook、twitter.

### Actual behaviour
open in the browser. (
It should happen without downloading the corresponding app)

### Environment
- **React Native version**: v0.56.0
- **React Native platform + platform version**: iOS 11.4

### react-native-share
**Version**: ^1.1.1

Android is working fine.

[2018-09-06 06:11] mahesh963 opened #363 "Couldn't Get the Success Response after Completion of Share"
Hi, Thanks for the best Share module.

### Steps to reproduce
1.I'm Using the **Share.Open()** Method to Share Image along with the Text in My Application.
2.It's Working fine. but, there is no callback Success response after Completion of the Share.

### Expected behaviour
Get Callback Success Response after post(Image/Text) is Shared successfully

### Actual behaviour
Not Getting Success Respons

[2018-09-06 06:36] mahesh963 commented on #349
@EwaAexol, Check this once
https://github.com/react-native-community/react-native-share/issues/74#issuecomment-321856542

[2018-09-06 11:27] IronTony commented on #362
The same happened to me and debugging I saw that it returns an error with the message:
"Not Installed".

[2018-09-06 11:34] jgcmarins commented on #362
duplicated: https://github.com/react-native-community/react-native-share/issues/320

[2018-09-06 11:34] #362 closed

[2018-09-06 11:35] jgcmarins commented on #363
hi @mahesh963,

Happy to know that.

PRs are always welcome \o/

[2018-09-06 13:08] EwaAexol commented on #349
I think this isn't answer for my question (correct me if I'm wrong )
I would like to share image -> and I already have base64 image data and link to some web page. Sth like: "check this out" <link to web page> <image>

[2018-09-08 05:36] kkbhav commented on #353
On android, special characters and not supported by android file system itself. So, it would be not possible to handle these file names.
@jvaisaonna, you must pre-validate file that it is readable or not

[2018-09-08 08:15] IronTony commented on #344
@jgcmarins hi, here is a small (fast written) project that shows the problems: https://github.com/IronTony/RNShareExample
Hope it can help.

[2018-09-08 09:12] Sunil-ghodela commented on #360
Hey I am following this react native training video from youtube https://www.youtube.com/watch?v=T7NdSiV-DUk&t=1945s

<img width="1280" alt="screen shot 2018-09-08 at 2 37 51 pm" src="https://user-images.githubusercontent.com/35575602/45252493-d5d6c300-b374-11e8-8cdd-2d7a7d7bada3.png">

I getting this error.
I have started react-native app so many times.

Also, I am not able to stop remote debuggi

[2018-09-09 21:50] jgcmarins commented on #353
makes sense
it is on user land to make this validation

[2018-09-09 21:50] #353 closed

[2018-09-10 06:07] vivek49452 commented on #185
After adding File provider and cl.json.shareapplication ,My project build successfully but my application was crash in android

[2018-09-10 06:38] vivek49452 opened #364 "After manual installation react-native-share@1.1.0,Application build successfully but unfortunately stopped in beginning"
### Steps to reproduce
1.npm install react-native-share@1.1.0
2.Add <provider> in menifest.xml file
3.import cl.json.ShareApplication in mainapplication.java

### Actual behaviour
My application is unfortunately stopped in begining after link manually react-native-share

### Environment
- **React Native version - 0.55.4
- ** Android 6.0

### react-native-share
**react -native-share - 1.1.0

please

[2018-09-10 12:39] jgcmarins commented on #185
@vivek49452 do you have any error message?

[2018-09-12 05:09] #364 closed

[2018-09-12 12:41] joey3060 commented on #334
@jaidBinHashem  it's useful for me

[2018-09-12 12:54] jgcmarins commented on #344
@ddereszewski awesome.
Could you send a PR fixing it?

[2018-09-12 15:19] ddereszewski commented on #344
The fix has been merged to master, can you update and check if works for you.

[2018-09-12 15:45] jgcmarins commented on #344
it is already on latest release: https://github.com/react-native-community/react-native-share/releases/tag/v1.1.2

[2018-09-12 20:20] klooperator opened #366 "Link not passed to other app, whatsapp returns to my app"
### Expected behaviour/ Actual behaviour
url should be passed to other app automatically. Nothing is passed to twitter ( a blank twit is opened) nothing to facebook ( maybe this is intended), whatsapp opens a contacts dialog and upn choosing contact returns to original app.

### Environment
"react-native": "0.56.0",
ext {
    buildToolsVersion = "28.0.1"
    minSdkVersion = 16
    compileSdkVersio

[2018-09-12 20:44] jgcmarins commented on #366
could you check on `1.1.2`?

[2018-09-13 07:03] klooperator commented on #366
Now it works. Great job

[2018-09-13 07:03] #366 closed

[2018-09-13 14:09] KatieVo commented on #360
@jgcmarins  I have the same issue. I get the error just by importing Share to my file. Seems that there is no RNShare in NativeModules (FACEBOOK: NativeModules.RNShare.FACEBOOK || 'facebook',)

[2018-09-13 18:47] jgcmarins commented on #360
it looks like an issue related to wrong link.
did you followed manual link?

[2018-09-15 02:17] jgcmarins commented on #360
manual link os more safe

[2018-09-15 03:15] Shazam14 commented on #329
I am also having the same issue

[2018-09-15 05:58] almorak commented on #304
only ios share to whatsapp not work ...
url:"data:image/jpeg;base64,...base64data...."

[2018-09-15 06:49] lachtos commented on #360
I did link it manually but I still get the error. I got the same error after just linking it automatically, then did all the manual linking and nothing changed.

[2018-09-17 06:31] sudhirkumarojhaa commented on #360
If you want to avoid manual link or even linking at all. Try out react-native-communication repository.

[2018-09-17 06:31] #360 closed

[2018-09-17 06:55] #304 closed

[2018-09-17 07:41] klabusta commented on #329
Yes, same setup: 1.1.1 (using RN 0.55.4). I'm seeing those warnings too. Any way I can disable those?

[2018-09-17 14:30] IanOnFire commented on #304
@jgcmarins yes, the link you've shared contained enough information to solve my issue. Still trying to figure out how to set your answer as the correct one though.

[2018-09-18 10:33] Ilario17 commented on #200
@Hieutt1704 have you solved that issue?

[2018-09-18 10:41] Ilario17 opened #368 "Runtime Error: Attempt to invoke virtual method \'android.content.res.XmlResourceParser"
{ error: 'Attempt to invoke virtual method \'android.content.res.XmlResourceParser android.content.pm.ProviderInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)\' on a null object reference' }

I take an image with react-native-view-shot that saves it in:

**file:///data/data/com.my.package/cache/ReactNative-snapshot-image-385792666.jpg**

Now I'm trying this filepaths.xml:

[2018-09-18 11:46] #368 closed

[2018-09-18 15:00] eminsr commented on #359
Duplicate of #329

[2018-09-18 15:00] jgcmarins commented on #368
@Ilario17 did you solved?

[2018-09-18 15:07] Ilario17 commented on #368
Too much time in front of the PC to write code will make you see bugs where there are not...

missing  ".provider" in `getFileProviderAuthority`

Sorry for creating this issue and thank you for your work.

[2018-09-18 15:08] eminsr commented on #329
I have the same warnings.

[code]

If you choose to ignore them you can add the following but I'm not sure you should tho. Also, this may be related to [#14806](https://github.com/facebook/react-native/issues/14806) and [#18201](https://github.com/facebook/react-native/issues/18201)?

[code]

[2018-09-18 15:11] jgcmarins commented on #359
thanks

[2018-09-18 15:11] #359 closed

[2018-09-18 15:12] jgcmarins commented on #368
@Ilario17 thats ok, don't worry \o/

[2018-09-19 05:00] garg-aviral opened #369 "Issue when used with other Media Libraries for Image,Video & PDf"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
When we are using it with other Libraries.This Library is creating issue to other libaries like for Image,Video,Files.Just when we add required code for android It clashes with other libraries

### Actual behaviour
Tell us what happens instead

### Environment
- **React Native version**:
- **React Native platform + platform version**: iOS 9.0

[2018-09-20 13:41] jgcmarins commented on #329
#370 merged, can anyone test master branch to see if it is ok?
Thanks.

[2018-09-20 16:09] yeomann commented on #369
can you provide some example please?

[2018-09-20 20:51] yeomann commented on #348
closing as per assuming this might be resolved. Feel free to open again.

[2018-09-20 20:52] yeomann commented on #351
i'm sorry but what do you mean?

[2018-09-20 20:56] jgcmarins commented on #351
guess it is not related to react-native-share

[2018-09-20 20:56] #351 closed

[2018-09-25 11:28] gtsluk commented on #329
Followed the changeling,
I add 'RCT_EXPORT_MODULE();' under the @implemengtation.
The warning does not appear in first load.

[2018-09-25 11:37] mmiedlarz commented on #360
Got same problem, but only when running tests of my app (from `jest`).
Looks like RNShare is not included when calling `npm test`. Any ideas how could I workaround this?

[2018-09-26 13:52] saifkamaal opened #372 "Not able to build for Android"
I seem to have some issue in getting this runnig for android.

This is how my AndroidManifest.xml looks like and the build keeps failing, any inputs ?

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.name"
    android:versionCode="2"
    android:versionName="2.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permissio

[2018-09-26 17:08] saifkamaal commented on #372
Issue Fixed:

the correct format is

[code]
Also add the line `xmlns:tools="http://schemas.android.com/tools"` in the `<manifest>`

Eg:
`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"`

[2018-09-26 17:11] jgcmarins commented on #372
Great!
Do we need any update on README?

[2018-09-27 04:42] saifkamaal commented on #372
I don't think so. the issue is if someone has already another package which uses file permission then it clashes with the permission required here.

I will summarise the entire issue and solution in some time here.

[2018-09-27 07:12] CmerCy132 commented on #349
I'm also having this problem. I need to share both Image and URL on facebook but facebook only detects the URL if I try to pass both Image and URL

below is my sample shareOption

`let options = {
            message: Name ? Name + '\n' + Title + '\n' + URL : Title + '\n' + URL,
            url: Platform.OS === 'android' ? 'file://' + resp.path() : resp.path()
          };`

[2018-09-27 11:34] #372 closed

[2018-09-27 14:53] jgcmarins commented on #349
You could try to share link as a message

[2018-09-28 06:41] EwaAexol commented on #349
I think the only way to do this is implement webpage with metatags (there you put image and other content you need) and then pass only url to your share dialog :/ I guess fb/messanger/instagram api prevents you from this kind of sharing we want to implement :(

[2018-09-28 14:59] yung93 commented on #304
@IanOnFire Would you mind sharing how did you solve it? I get the exact same result with you. Thank you.

[2018-09-29 16:09] vforvasile commented on #218
Not fixed, not very fun.

[2018-09-29 16:14] vforvasile commented on #200
@Mikoz93  you are my HERO <3 <3 (love you)

[2018-09-29 19:16] jgcmarins commented on #218
@vforvasile which errors are you experiencing?

[2018-09-29 19:18] jgcmarins commented on #200
Just remembering that all those informations are at [README](https://github.com/react-native-community/react-native-share/blob/master/README.md#android-install) file

[2018-10-01 05:54] IanOnFire commented on #304
@yung93 follow this https://github.com/react-native-community/react-native-share#share-remote-pdf-file-with-gmail--whatsapp-ios

[2018-10-01 12:30] raulcostea77 commented on #218
@vforvasile, besides what @tuananhluong posted, I added the following line to my filepaths.xml:
`<external-files-path name="external_files" path="." />`
This seems to have fixed my issue

[2018-10-01 14:37] onurzorluer commented on #97
In IOS you must whitelist any URL schemes your App wants to query in Info.plist under the LSApplicationQueriesSchemes key (an array of strings).

Note that this mechanism only applies to canOpenURL and not openURL. You do not need to have a scheme listed in Info.plist to be able to open it with openURL. Hope that helps.

here is the code for your plist (add it at the end of the main dict node): `<

[2018-10-01 15:02] DiksonSamuel commented on #322
after adding RNShare.xcodeproj to library file it worked

[2018-10-02 15:34] thanhcuong1990 commented on #271
I've same issue on iOS Simulator.
It's should be fixed like this:

[code]

[2018-10-03 06:49] nihp commented on #271
@thanhcuong1990 Is there any option to install apps in iOS Simulator.

[2018-10-03 07:02] nihp commented on #165
I can able o share the image via pinterest app in ios. Kindly add the detail description for this

[2018-10-03 07:34] nihp opened #375 "Unable to share image via Skype and Flickr"
I am using react-native-share to share my images to other apps. It working as expected in Facebook, twitter, Instagram, Pinterest, SnapChat etc.

But it not working in Skype and Flickr.

### Expected behaviour
Need to share the image via skype and Flickr

### Actual behaviour
I can't able to share image, if i click the image to share it showing the text box not the shared image.

Note: Here I did

[2018-10-03 09:57] thanhcuong1990 commented on #271
@nihp You should install the apps in your device. We cannot do that on iOS Simulator.

[2018-10-03 12:55] jgcmarins commented on #165
hey @nihp are you having success sharing on Pinterest via iOS?

[2018-10-03 12:56] jgcmarins commented on #375
?

[2018-10-03 14:36] erick94isc commented on #97
Hi, @onurzorluer, that approche works for you? . Could you explain more about it? Because i have the same that you have and it's imposible to me send image + message on IOS in Android everything works fine.

[2018-10-03 17:17] nihp commented on #375
Npm Version: 5.6.0

[2018-10-03 18:52] jgcmarins commented on #375
got it

[2018-10-04 05:04] nihp commented on #165
Yes, I can able to share image successfully with the Pinterest via ios

[2018-10-04 12:51] jgcmarins commented on #165
@nihp does it make sense to add this information on [README](https://github.com/react-native-community/react-native-share/blob/master/README.md)?

[2018-10-05 04:00] nihp commented on #375
@jgcmarins
Any update here

[2018-10-08 04:52] zenara opened #376 "Unable to share via YouTube"
I'm using React native for the purpose of sharing links among social networks. But it's not working for YouTube.

### Expected behaviour
Need to share among YouTube

### Actual behaviour
Tell us what happens instead

### Environment
- **React Native version**: 0.57
- **npm version**: 6.4.1

[2018-10-08 10:29] lrcen commented on #376
I have a similar problem. First of all, I am very grateful for this solve some of my current problems. Now I want to share to Telegram, but it seems that it is not supported yet. I hope it can also be supported, THANK YOU!

[2018-10-09 03:36] lrcen commented on #375
@nihp Hi, are u using open or shareSingle?
@jgcmarins
When I share the image with the shareSingle method, title and message will be displayed as domain name on Facebook.
![11539055966_ pic](https://user-images.githubusercontent.com/32728756/46645341-14031480-cbb7-11e8-8eb0-2f981b7ce3af.jpg)

The message can be displayed correctly on Twitter, but the image is displayed as a link.
![31539056151_ pic

[2018-10-09 03:50] alkaffkhanvrv commented on #375
@jgcmarins I am using open.

[2018-10-09 03:55] alkaffkhanvrv commented on #375
aew

[2018-10-09 04:00] nihp commented on #375
@jgcmarins I am using Share.open and I can able to see the message and image correctly.

[2018-10-09 05:33] saifkamaal opened #377 "Not able to share on android 6 and below."
Hi,

We see that the library works fine for android 7 and above however for android level below 7 we see that when we share the file path is shared instead of the file.
`onShare() {
    console.log('Sharing File from Path:',this.state.fileModel.filePath);
    const shareOptions = {
      title: "Share file",
      url: this.state.fileModel.filePath
    };
    return Share.open(shareOptions);
  }`

[2018-10-09 14:42] nihp commented on #271
@thanhcuong1990 Thanks. I have installed the device in real device.

[2018-10-10 06:26] AakashRainaClairvoyant opened #378 "Getting error: package cl.json does not exist"
After installing, linking and doing all the further configuration steps mentioned in the README for android, I get the following error when I try to buid the app. Along with the error I get the following errors as well:

1) java:12: error: package cl.json does not exist
import cl.json.RNSharePackage;
              ^
2) java:13: error: package cl.json does not exist
import cl.json.ShareApplication;

[2018-10-10 12:09] jgcmarins commented on #378
it looks like your link is wrong
which command did you use to link?

[2018-10-11 10:28] Luckygirlllll commented on #274
Hello, was this feature added to the lib? It's not possible to share links via react-native share in Android.

[2018-10-11 10:50] Luckygirlllll commented on #70
It's not possible to share links via share (build in react native) in Android via Facebook messenger, so basically it's useless share.

[2018-10-11 13:55] ronywix opened #379 "Black screen on android share to instagram story"
When trying to share to instagram stories i get a black screen. Instagram feed works ok
Works fine on ios (although kind of a different flow)

happens on react-native-share **1.0.27**
[code]

[2018-10-11 15:17] uncledent opened #380 "Using with different androir flavors"
### Steps to reproduce
trying to use it with
[code]
In MainApplication.java

and

[code]
in AndroidManifest.xml

### Expected behaviour
Will work

### Actual behaviour
Does not as written in docs actually

### react-native-share
1.1.2

Is there a way to use the library with multiple flavours? It works with one flavor only for me. When using with
[code]
I get an error:
<img width="249" alt="screen

[2018-10-11 18:38] jgcmarins commented on #379
could you try `v1.1.2`?

[2018-10-12 16:28] viv3kk opened #381 "Feature Request: Sharing to particular contact in whatsapp."
Option to share to particular contact in whatsapp so that we can send message to contact not saved in phone.
Or open the contact (inside whatsapp) with message preloaded.
Currently user has to search a contact and then send the message and fails to share message if contact is not present in phonebook.

[2018-10-17 00:15] shannaleri opened #382 "Instagram Share Failing On iOS After Latest Instagram Update"
### Steps to reproduce
1. Update instagram to latest version
2. Log in to Instagram, or ensure you are logged in
3. Attempt to share an image with shareSingle such as (exact code follows):

`Share.shareSingle({title:"Share On Instagram", url: "file://" + res.url, social: Share.Social.INSTAGRAM})`

`res.url` in the above returns a path to an image saved to tmp.

### Expected behaviour
Users share d

[2018-10-17 00:33] jgcmarins commented on #382
maybe instagram sharing path change?

[2018-10-17 10:38] sonlexqt opened #383 "Change share message base on selected app"
Hi, I'm using this package to implement external sharing in my application. I have a question, is it possible to change the share message base on the app that user has chosen ? For example:
- If user selects "Messages", "Whatsapp" or "Messenger", the share message will be **this is message A**
- If user selects other apps, the share message will be  **this is message B**

[2018-10-17 12:49] jgcmarins commented on #383
I guess it is possible, but it is a kind of logic that is on your land.

[2018-10-17 12:50] jgcmarins commented on #383
For more details about how to implement this, I recommend asking on https://stackoverflow.com/

[2018-10-17 12:50] #383 closed

[2018-10-17 14:49] ilcesco commented on #382
Same happens to me 😢

[2018-10-17 15:04] jgfidelis commented on #382
might be a bug on instagram

[2018-10-17 15:32] shannaleri commented on #382
I think you're right, @jgfidelis . I just checked and sharing directly from Spotify to stories (Spotify has a direct IG share feature) has a similar issue. It brings me to a login screen, and I never end up being able to share the song even after logging in (no "unable to share, must be logged in" message in this case though).

You can bet that if it's breaking Spotify's sharing that it's a bug.

[2018-10-17 15:42] ilcesco opened #384 "Facebook iOS not working"
### Steps to reproduce
1. Use `shareSingle`

This is what I am doing:
[code]

### Expected behaviour
Open the Facebook app to share the image.

### Actual behaviour
Safari will open and I have the following image: `href should represent a valid URL`.
The `console.log` of the promise tells me that the application is not installed (instead it is installed).
![screenshot 2018-10-17 at 17 44 58](https

[2018-10-17 15:44] jgfidelis commented on #382
It is probably an authentication bug within Instagram. If it is, this is a bit critical so they should fix it soon.

[2018-10-18 10:09] nicubarbaros commented on #382
Same thing happened to our app today.

After testing spotify, buffer (if you know) and some others, all of them have the same problem

[2018-10-18 17:06] jgcmarins commented on #384
could you try master version?
could you provide a repo to reproduce?

[2018-10-18 17:08] jgcmarins commented on #382
thanks everyone
let's keep an eye on Instagram future notes

[2018-10-18 17:08] #382 closed

[2018-10-18 22:28] acb opened #385 "Android local file share doesn't share contents of file"
### Steps to reproduce
1. Attempt to share a local text file via `Share.open` using the local path as described in the docs, e.g. `url: "file:///storage/emulated/0/test.txt"`

### Expected behaviour
The contents of the file should be shared to the selected app

### Actual behaviour
Instead of the file contents the file url is shared to the app, e.g. if I share to Gmail the string "file:///storage/

[2018-10-19 05:29] ilcesco commented on #384
Yes, just need some time for it. I will give you one ASAP.

[2018-10-22 06:49] ilcesco commented on #384
@jgcmarins  So, here I am again.
You can check a repo example here: https://github.com/IronTony/RNShareExample
I had already linked this example. On android everything is working super-fine, both Facebook and Instagram.
_On iOS nothing works._
**Facebook** gives back this: `href should represent a valid URL` opening Safari instead of the lates Facebook app installed on iOS.
**Instagram** opens the

[2018-10-22 13:19] jgcmarins commented on #384
@ilcesco, thanks.
I'll take a look as soon as possible.

[2018-10-22 15:16] shannaleri commented on #382
The latest instagram update (v 68.0) fixes this issue. The instagram sharing is working as expected again.

[2018-10-22 18:07] ilcesco commented on #384
@jgcmarins With the latest version of Instagram release today (22 oct) seems working again on iOS.
Facebook still not working

[2018-10-22 21:51] qasimalbaqali commented on #360
having the same issue

[2018-10-23 06:16] KevinHu2014 commented on #360
Same here.

[2018-10-23 08:05] qasimalbaqali commented on #360
@KevinHu2014 I used `Share` component from react-native https://facebook.github.io/react-native/docs/share works nicely.

[2018-10-23 09:54] KevinHu2014 commented on #360
@qasimalbaqali  Thanks for the response!
But react native doesn't seem to support url on Android.

[2018-10-23 11:09] Nick-Lucas opened #386 "Build is failing due to jcenter dependency disappearing"
Our build has been failing since yesterday and pointing the finger at react-native-share
[code]

It looks like this dependency has disappeared from bintray, though the .pom file is still in the folder
https://jcenter.bintray.com/com/android/tools/lint/lint-gradle-api/26.1.2/

https://jcenter.bintray.com/com/android/tools/lint/lint-gradle-api/26.1.2/lint-gradle-api-26.1.2.jar
[code]

I realise this

[2018-10-23 11:32] AdriaRios commented on #386
+1

Adding `google()` on `build.graddle` fix the issue:
[code]

Also I have notice that the code on `master` is different, maybe there are a pending release?

[2018-10-23 11:35] Nick-Lucas commented on #386
Hmmm that doesn't seem to have helped us.

our `allprojects` config was already configured that way, and I also tried adding to the `buildscript` config but the issue persisted.

Here's our full root build.gradle

[code]

[2018-10-23 11:39] AdriaRios commented on #386
I mean the `build.graddle` of `react-native-share`:

`node_modules/react-native-share/android/build.graddle`

[2018-10-23 11:42] Nick-Lucas commented on #386
Oh interesting! I'll do some investigation and see if we can bodge this up for now

[2018-10-23 12:08] mikehardy commented on #386
If bintray isn't carrying the android support libraries for some reason, there's nothing gradle (the android build/package tool) can do if you don't provide it a way to resolve the dependency somehow. It's as if npmjs.org decided to delete react-native-share, what can we do? Point it to somewhere that has it.

Who has this dependency guaranteed? The google repo. So somewhere the google repo isn't

[2018-10-23 12:14] Nick-Lucas commented on #386
Confirmed as above, putting react-native-share's google() line above jcenter() fixes the issue. For now we are copying over a modified build.gradle into node-modules are part of the build process.

This isn't a great long term solution but should tide us over until a more robust release from this library can be released

[2018-10-23 12:31] mikehardy commented on #386
Interesting - so if gradle (or maybe just the specific version of gradle used) gets a POM from a repo but the artifact 404s, it treats that as a failure meaning dependency order is very important. The official docs recommend google() at the top and that's what I've always done so this hasn't bitten me. I was the last to touch this file though, @jgcmarins - would you like a PR that flips the jcente

[2018-10-23 12:48] mikehardy commented on #386
I've made a PR available in case it's wanted. Note if using modern gradle (3.2+) with  less-than-bleeding-edge React Native (<0.57) you will be missing a compatibility addition where react-native copies release build bundles into the new location gradle expects it: https://github.com/facebook/react-native/commit/a4fed6e203efd481175e61b7d2aa1c2b037a4279

In my own project I am not using RN57 yet, s

[2018-10-23 12:51] AdriaRios commented on #386
Thank you very much @mikehardy

Also I have noticed that with the current order (with `jcenter()` first) and upgrading the graddle version it works:
`com.android.tools.build:gradle:3.1.3`

So we can conclude that is an issue related to version 3.1.2 and jcenter() dependency

[2018-10-23 13:04] jgcmarins commented on #386
hey guys, thanks for this feedback
https://github.com/react-native-community/react-native-share/pull/387 would fix?
we can merge it into master, then anyone can test it?
if it's ok, we can have a new release

[2018-10-23 13:09] AdriaRios commented on #386
Yes @jgcmarins

I can confirm that the branch is working

[2018-10-23 13:09] #386 closed

[2018-10-23 13:14] jgcmarins commented on #386
thanks everyone
let's test this on master branch and release a new version during the day

[2018-10-23 13:59] jgcmarins commented on #386
done:
https://github.com/react-native-community/react-native-share/releases/tag/v1.1.3
https://www.npmjs.com/package/react-native-share

[2018-10-24 08:18] buraksak35 opened #388 "Although Instagram App installed my device, share is not working. It is opening to App Store."
### Expected behaviour
Open directly instagram app

### Actual behaviour
Open app store

### Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
    Binaries:
      Node: 10.11.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: i

[2018-10-24 14:31] mikehardy commented on #388
Which was installed first? The app using RNS or instagram? I assume from the code snippet it is iOS? What device or emulator version and iOS version?

[2018-10-24 15:20] marcoautiero commented on #360
excuse me, what do you mean? Did you use `Share` api in alternative to react-native-share?

[2018-10-24 15:43] atlkuk opened #389 "iOS: shareSingle on instagram open camera even if photo url (base64) is passed to url parameter"
### Steps to reproduce
[code]

### Expected behaviour
Instagram should show sharing with my photo already loaded

### Actual behaviour
Instagram show camera to catch a new photo

### Environment
- **React Native version**: 0.57.2
- **React Native platform + platform version**: iOS 12.0.1

### react-native-share
**Version**: 2.4.2

[2018-10-24 17:55] yeomann commented on #389
maybe it is something Instagram default behavior now 🤔 ?

[2018-10-24 18:06] jgcmarins opened #390 "Setup automated release"
based on this callstack/react-native-testing-library#23
using https://github.com/webpro/release-it

follow this: https://github.com/react-native-community/react-native-camera/issues/1883

[2018-10-24 18:08] jgcmarins opened #391 "Improve automated tests"
- [ ] use [react-native-testing-library](https://github.com/callstack/react-native-testing-library)
- [ ] setup on circle ci

follow this: https://github.com/entria/ReactNavigationRelayModern/pull/32

[2018-10-24 19:51] harrie006 commented on #213
@nikhiltekwani09 Hi how did you resolved this?

[2018-10-25 06:24] NawazKhanMd opened #392 "couldn't find key url in dynamic object getString ReadableNativeMap.java:-2 getFileShare"
When Share.open is called application crashes with this exception

![image](https://user-images.githubusercontent.com/15027672/47480044-ab6d9600-d84c-11e8-904e-60c99311c6ff.png)

[code]

[2018-10-25 06:35] #340 closed

[2018-10-25 06:36] NawazKhanMd commented on #392
@jgcmarins

[2018-10-25 07:41] atlkuk commented on #389
I don't think so. On android I can share my photo as before.

[2018-10-25 09:11] harrie006 commented on #213
Resolved.
//for more than one base64 image
const shareOptions = {
  title: 'Title',
  message: 'Message',
  urls: reviewShare.state.blobArr
};

// when only one base64 image
shareOptions = {
    title: 'Title',
    message: 'Message',
    url: reviewShare.state.blobArr[0],
  };

Share.open(shareOptions)
.then((res) => { console.log(res) })
.catch((err) => { err && console.log(err); });

[2018-10-25 13:13] jgcmarins commented on #340
@NawazKhanMd did you solve?

[2018-10-25 13:15] jgcmarins commented on #392
which version?

[2018-10-25 13:28] NawazKhanMd commented on #392
if I update either of these, every other thing breaks

[2018-10-25 13:29] NawazKhanMd commented on #392
it was working fine without any error

Suddenly this error popped out
after so many tries i could get one file share
but multi file share gives the above error

[2018-10-25 13:31] NawazKhanMd commented on #340
Yes i did solved using version 1.0.27

[2018-10-25 13:36] mikehardy commented on #392
I think you can upgrade gradle and still use the older react-native if you just apply the workaround for bundle creation / packaging on android release apps - I do this and just have a "bundle" step I do before packaging android prod, it looks like this in my package.json and just does the same bundle the normal metro packager from react-native does, but in advance:

[code]

(it's my understanding

[2018-10-25 14:11] Jagni commented on #379
Got the same issue testing on v1.1.2

Occurs on Android
Works fine on ios

[2018-10-25 15:10] jgcmarins commented on #379
@Jagni, yesterday we had a new release to 1.1.3
could you check it please?

[2018-10-25 17:39] Jagni commented on #379
Turns out the files were saved with wrong extensions (e.g. jpeg files saved as .png)
v1.1.2 worked fine on both iOS and Android after fixing that

[2018-10-25 20:59] mendesfelipe87 opened #393 "Release version with error in Android"
### Steps to reproduce
1. apply the component in any react-native project
2. use the version 1.1.3
3. generate a release android APK

### Expected behaviour
Generate a release signed apk

### Actual behaviour
The command ./gradle assembleRelease gives the following error
Failed to generate resource table for split ''
.gradle/caches/transforms-1/files-1.1/appcompat-v7-28.0.0.aar/51d229a6f3b32738f6f

[2018-10-25 21:01] jgcmarins commented on #393
hello @mendesfelipe87 why is this related to react-native-share?

[2018-10-25 21:08] mendesfelipe87 commented on #393
Hi @jgcmarins, because of this info that the gradle display

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-share:verifyReleaseResources'.

[2018-10-25 21:13] mikehardy commented on #393
I just attempted to reproduce this:
[code]

What am I doing wrong?

I´ll continue poking around myself for a little bit to try to make this happen, but currently I´m not seeing it :man_shrugging:

[2018-10-25 21:16] mendesfelipe87 commented on #393
Hi @mikehardy are you trying to generate a release ? because this happens only when you create a release version of the RN project that uses this as component

when you use react-native run-android, works normally

[2018-10-25 21:17] mikehardy commented on #393
My command line was included above. I directly called the gradle task that you posted had failed, using our example project

[2018-10-25 21:19] mikehardy commented on #393
This also worked - and generated an apk. I want to be clear I'm not saying we don't have a problem! :-), just that I'm not seeing it. Maybe there's something subtle though. I'd just need a more explicit reproduction

[code]

[2018-10-25 21:22] mendesfelipe87 commented on #393
I've tried clean the yarn cache and gradle dependencies, maybe is this ? try to clear it and rebuild again

[2018-10-25 21:22] mikehardy commented on #393
Looks like it might be a classic Android gradle + support library + compile library version issue: https://stackoverflow.com/questions/49280632/error9-5-error-resource-androidattr-dialogcornerradius-not-found

Please confirm you have all your versions lined up (that link is pretty good about explaining how)

[2018-10-26 03:10] tunm1228 opened #394 "Share.shareSingle(Object.assign(shareOptions, { "social": "instagram" }));"
### Steps to reproduce
1.shareOption: {
                                title: "TITUT",
                                message: 'TITUT',
                                url: 'https://www.instagram.com/',
                                subject: 'Invite to TiTut'
                            }
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instea

[2018-10-26 05:13] lucaspang commented on #218
I have the same problem, my file is saved at:
file:///data/user/0/com.applicationId/cache/image_manager_disk_cache/a551283a40d90aa951eb098148ed0a6423a78ec29f8df43a7fe2a79a7f85794d.0

and getting this error:
Failed to find configured root that contains /data/data/com.applicationId/cache/image_manager_disk_cache/a551283a40d90aa951eb098148ed0a6423a78ec29f8df43a7fe2a79a7f85794d.0

I have already appli

[2018-10-26 05:39] buraksak35 commented on #388
İphone 5s , IOS 11.I have a button as "Share to instagram" when I click instagram should open . But appstore is opening

[2018-10-27 10:14] ilcesco commented on #384
@jgcmarins Hi, any news about this problem? Just to know also if I can help

[2018-10-27 10:49] jgcmarins commented on #384
Still didn't get into it, sorry.

[2018-10-28 08:32] suwu150 opened #395 "Android dependency 'com.android.support:appcompat-v7' has different version for the compile (26.1.0) and runtime (27.1.0) classpath."
### Steps to reproduce
1.When I introduced it, I got the following error in Android.
[code]
I use the following version in my project and don't want to update the new version.

[code]

### Expected behaviour
Can be compatible with the version I am using, without updating to 27.1.0

### Environment

  OS: macOS High Sierra 10.13.4
  Node: 8.3.0
  Yarn: Not Found
  npm: 5.3.0
  Watchman: Not Found

[2018-10-28 12:51] mikehardy commented on #395
Use gradle dependency excludes on this dependency to isolate the support library - this is a very common android need, stack overflow should have many examples showing the correct stanza

[2018-10-31 20:37] svetlanakaida commented on #385
I see this too, same steps for reproduction.

[2018-11-01 20:20] sherazi-maavan commented on #395
@suwu150 it will solve by using
In app/build.gradle
implementation (project(':react-native-share'))
{
  exclude group: "com.android.support"
}

[2018-11-02 07:10] tunm1228 opened #396 "type SupportedSocialApps = 'twitter' | 'facebook' | 'whatsapp' | 'googleplus' | 'email';"
### Steps to reproduce
1.no support INSTAGRAM

[2018-11-02 12:46] theone3nu opened #397 "Url with string is not clickable"
### Steps to reproduce
1. const shareOptions = {
  title: 'Test',
  message: 'New Test',
  url: 'testapp://app',
  subject: 'Share Link', //  for email
};
Share.open(shareOptions).catch(error => console.log(error))

2. when i shared this to other apps url is not clickable in the other app.

### Expected behaviour
Tell us what should happen
I am trying to open reactnative app using Linking. when i

[2018-11-02 15:07] jgcmarins commented on #396
that's not true, we already have support for instagram
check this: https://github.com/react-native-community/react-native-share#static-values-for-social

[2018-11-02 15:07] #396 closed

[2018-11-02 15:10] jgcmarins commented on #397
It's on developer land to make it touchable

[2018-11-02 23:36] ahmdsdk commented on #80
[code]

[2018-11-03 15:02] jgcmarins commented on #80
great!

[2018-11-03 15:02] #80 closed

[2018-11-06 15:22] suwu150 commented on #395
Perfect solution,thank you.

[2018-11-06 15:22] #395 closed

[2018-11-07 05:42] suwu150 commented on #385
when i share file of pdf.i add next code in option obejct.Add it works ok.
[code]
so add ` type: 'application/pdf',` try again.or other.

[2018-11-07 11:16] prgpascal commented on #201
My issue was I had different package names for different build types (ex. ".debug"). So, hard-coding the package name in `getFileProviderAuthority()` without checking the build type at runtime was not a solution.
I came up with this solution that works for me:
[code]

[2018-11-07 13:03] brycepavey commented on #380
@uncledent I had the same issue, I did some research and came across this https://stackoverflow.com/questions/30896130/fileprovider-crash-npe-attempting-to-invoke-xmlresourceparser-on-a-null-string and applied the fix here in my fork.
I've only done bare minimal testing for this, so I'm not sure if it covers all cases so I won't submit a PR for it, but it suits my case so hopefully helps you out t

[2018-11-07 13:18] jgcmarins commented on #201
yep, this is the 6th step on [Android install instructions](https://github.com/react-native-community/react-native-share/blob/master/README.md#android-install)

[2018-11-07 16:38] prgpascal commented on #98
Thank you @faxioman for the hint.
According to the new documentation, the correct code to add to Info.plist is:
[code]

[2018-11-07 16:50] jgcmarins commented on #98
yep, this is item 7 at [iOS Install instructions](https://github.com/react-native-community/react-native-share/blob/master/README.md#ios-install)

[2018-11-09 11:31] reactexcel commented on #322
@DiksonSamuel
but i have added RNShare.xcodeproj but did'nt work

[2018-11-09 13:19] jgcmarins commented on #322
@reactexcel can you check if it linked correctly?

[2018-11-09 13:52] NawazKhanMd opened #399 "Error While building the project with both rn-fetch-blob and react-native-share"
### Steps to reproduce
I have rn-fetch-blob and react-native-share both installed after both installations am getting this below error when I try to build

### Actual behaviour

D:\BFM Mobile\New Vpp\Visionplanner_BFM_Mobile\android\app\src\main\AndroidManifest.xml:17:13-76 Error:
        Attribute provider#android.support.v4.content.FileProvider@authorities value=(com.visionplanner_bfm_mobile.fil

[2018-11-09 14:00] mikehardy commented on #399
I use both of these projects at the same time as well. I have not seen this, so it seems you have something specific to your project in the AndroidManifest.

There's a suggestion to add tools:replace attributes to resolve the issue, what was the result when you tried that?

[2018-11-09 14:02] mikehardy commented on #399
Also worth noting you linked to a page on manifest mergers that is marked as outdated and automatically redirects you to the current information, have you read the updated document? https://developer.android.com/studio/build/manifest-merge

[2018-11-10 05:48] theone3nu commented on #375
Any update on this i am also unable to share image in skype. Works fine for whatsapp.

[2018-11-11 19:40] keshamtravels commented on #137
@austin-everts solution generates correct res.path() but share is not able to share the file in any of app i tried in android, does it really worked

[2018-11-12 03:30] lizhuoyuan opened #400 "Possible Unhandled Promise Rejection (id: 2):"
### Steps to reproduce
1. share to facebook but it did not work

### Expected behaviour
should open facebook

### Actual behaviour
nothing happened

![image](https://user-images.githubusercontent.com/15923901/48324993-76e04380-e66e-11e8-96a5-ba8ff2f3e077.png)

### Environment
- **React Native version**: 0.55.3
- **React Native platform + platform version**:   Android 6.0,1

### react-native-share

[2018-11-12 09:17] nihp commented on #129
Any update here??

[2018-11-12 11:45] NawazKhanMd commented on #399
@jgcmarins @mikehardy

look at this repository I just added both the plugins and while building am getting the same error

https://github.com/NawazKhanMd/myexamples/tree/master/share_three

[2018-11-12 12:55] jgcmarins commented on #137
done: https://github.com/react-native-community/react-native-share/issues/137#issuecomment-360208406

[2018-11-12 12:55] #137 closed

[2018-11-12 13:00] jgcmarins commented on #400
hello @lizhuoyuan could you share code sample that is presenting this behaviour? thanks

[2018-11-12 13:04] jgcmarins commented on #129
promise `resolve`/`reject`?

[2018-11-12 13:06] jgcmarins commented on #399
If any of packages is removed, build process pass?

[2018-11-12 13:07] NawazKhanMd commented on #399
Yes

[2018-11-12 14:00] jgcmarins commented on #399
the [troubleshooting](https://github.com/react-native-community/react-native-share#troubleshooting) docs with rn fetch blob didn't help?

[2018-11-12 20:25] vadhack opened #401 "MainApplication is not abstract and does not override abstract method getFileProviderAuthority() in ShareApplication"
### Actual behaviour
Task :app:compileDebugJavaWithJavac FAILED
...

MainApplication is not abstract and does not override abstract method getFileProviderAuthority() in ShareApplication
public class MainApplication extends Application implements ReactApplication, ShareApplication {
       ^

### Environment
- react-native 0.56.0
- Android platform

### react-native-share
version: 1.1.3

[2018-11-12 20:51] maxkomarychev commented on #399
I have similar problem

A bit mor context:
rn-fetch-blob from master (commit https://github.com/joltup/rn-fetch-blob/commit/70fcb3a2c448cbd480a0e75ad8f027a4a10263c8)
react-native-share 1.1.3

[2018-11-12 20:53] maxkomarychev commented on #399
the troubleshooting section is not very relevant since it is related to the workaround of totally different issue, in our case android app does not event build

[2018-11-13 03:01] lizhuoyuan commented on #400
![image](https://user-images.githubusercontent.com/15923901/48388150-50d0a700-e733-11e8-9bc5-37c89318e85d.png)

this is my code , whatsapp is ok , and android 8.1 is ok
only facebook has trouble at android 6.0 Currently

[2018-11-13 12:41] yeomann commented on #401
its possible that this error is caused because of some other libraries. i have seen this error before. @vadhack did you link properly? when did you get this error. at the time of building release or development?

[2018-11-13 12:44] yeomann commented on #399
how about you try @NawazKhanMd  to install react-native-share first and the make a build to see. if you are linking properly or not. If your build is a success that means the error might be from blob.

[2018-11-13 12:46] NawazKhanMd commented on #399
@yeomann  I f i have only one package app builds fine, if both are installed and linked, i get the issue, its reproducing in https://github.com/NawazKhanMd/myexamples/tree/master/share_three

[2018-11-13 12:46] yeomann commented on #397
i don't really understand this issue...

[2018-11-13 12:47] yeomann commented on #394
ahm....

Please?

[2018-11-13 12:47] NawazKhanMd commented on #399
@jgcmarins  This is not listed in Trouble Shooting docs

[2018-11-13 12:49] yeomann commented on #393
@mikehardy i agree with mike. all those fights with Gradle and support and compile version ...pfff

[2018-11-13 12:53] NawazKhanMd commented on #399
I have resolved the issue by removing

Provider Tag in AndroidManifest file of rn-fetch-blob. Event though that tag is removed, all the features of rn-fetch blob are working. am a lil confused, removing that must raise big issues but it didnt.

am worried cuz if someone does npm install and AndroidManifest is recreated with provide tag and issue is reproduced

[2018-11-13 12:54] NawazKhanMd commented on #399
We need a solution to this....

[2018-11-13 12:59] mikehardy commented on #399
I see this comment on the related rn-fetch-blob issue: https://github.com/joltup/rn-fetch-blob/issues/230

https://github.com/joltup/rn-fetch-blob/issues/230#issuecomment-438028912

I don't think anyone would disagree with a good solution - and that proposal may have merit but it seems most of the effort is in the fetch-blob repo - https://github.com/joltup/rn-fetch-blob/compare for new PRs with t

[2018-11-13 13:03] NawazKhanMd commented on #399
@mikehardy yeah I guess both issues are raised by me

i know the solution is found, but is it possible to know why it came, i dont understand many paople claimed they have both the dependencies and never face the issue, Why now.

[2018-11-13 13:05] mikehardy commented on #399
A good question and it might just be your specific mix of library versions - even if standard from the repos the upgrades within the repos are ongoing. You might just be first? Though I use them myself. I'm not aware of provider changes (in the Android framework) recently though, so it's puzzling, yes.

[2018-11-13 13:08] maxkomarychev commented on #399
@NawazKhanMd people don't have these issues in their projects because "provider" thing was added into `react-native-fetch-blob` few months ago, I bet they use older version. I did not have this problem until I updated both share and blob :)

[2018-11-13 13:11] maxkomarychev commented on #399
I guess it started here: https://github.com/joltup/rn-fetch-blob/commit/a88b59f0e9f62330a5f2a5a7921b6869ba7228b3
If you try to downgrade rn-fetch-blob one commit before it will work fine

[2018-11-13 13:15] NawazKhanMd commented on #399
I dont understand the clash between two

The only thing they have in common is `android.support.FILE_PROVIDER_PATHS`

apart from that everything is different, different filepaths different name.

is this a limitation from android?
`android.support.FILE_PROVIDER_PATHS`   is this should only be one of the third party packages?

[2018-11-14 02:46] lizhuoyuan commented on #400
I am using the shareSingle method to share to facebook not share.open.

[2018-11-14 11:34] jgcmarins commented on #400
could you try master branch?
It looks like you've missed a `then` or `async/await`

[2018-11-14 14:12] keshamtravels opened #402 "Release only crash"
It is working totally fine in development build .It ia all working when i even do react-native run-android --variant=release but the app crashes only in release builds

[2018-11-14 14:15] mikehardy commented on #402
Please provide versions of everything, a crash stack trace, and ideally a link to your github repo so we can reproduce it

[2018-11-14 15:00] mikehardy commented on #402
crash traces are still useful - if you say it crashes, seeing the line in react-native-share where it crashes (or the stack trace that leads to it) would be useful. But I also see that you aren't on the current version of react-native-share so I'm not sure how to support it

I will say - maybe totally unrelated - that crashes between dev and release for me were typically caused by bundling errors

[2018-11-14 22:03] henkkasoft commented on #402
I just noticed the same behaviour. Also very urgent problem for me. Released to TestFlight and all the sudden share is not working.

I will look this more on tomorrow but I noticed that when sharing Whatsapp and Facebook Messenger the share component crash. Sharing with text message or email is not crashing (some proplems with them also but not sure they are related to this).

And everything was w

[2018-11-15 02:42] lizhuoyuan commented on #400
my dependencies :
[code]
is it not master?

[2018-11-15 02:52] mikehardy commented on #400
https://github.com/react-native-community/react-native-share is the address we are all on here, with this issue, yes?

Should be git+https://github.com/react-native-community/react-native-share.git

That address was present in the example previously but was updated in a PR to be the one I provided right here, semi-recently

[2018-11-15 02:54] lizhuoyuan commented on #400
so I am right now , yes?

[2018-11-15 03:11] mikehardy commented on #400
If you are using this as mentioned in your comment:

```  "react-native-share": "git+https://github.com/kkbhav/react-native-share.git",```

You are wrong. My comment specified this URL (that is, this repo we are working in here)

```  git+https://react-native-community/react-native-share.git```

Anything else is not master. On the URL you mentioned, which is a fork, there is even this text right o

[2018-11-15 03:18] lizhuoyuan commented on #400
thank you very much!
Please forgive me for not seeing the difference.
I will try it

[2018-11-15 03:31] mikehardy commented on #400
...and hopefully it works. At least we'll be working off the same source code though - we'll have a chance at making it work. Cheers

[2018-11-15 03:32] lizhuoyuan commented on #400
💕

Mike Hardy <notifications@github.com> 于2018年11月15日周四 上午11:31写道：

--
I wish you happy every day

[2018-11-15 04:32] #400 closed

[2018-11-16 07:02] jariwalabhavesh commented on #154
@ramsagar003 : Thank you

[2018-11-16 07:02] #154 closed

[2018-11-16 07:47] nichikayoshida commented on #201
this worked for me

[2018-11-16 07:59] almorak commented on #334
i counter simular issue.
The view do not show up when only using product flovar build.
How to fix this ?

[2018-11-17 08:18] mgiorgi-github commented on #388
Same issue, all app (Facebook, Instagram and whatsapp) are not opened but the share module open app to Apple store.
I’ve tryed the code example and use “Share ui component” link

[2018-11-17 15:56] keshamtravels commented on #402
sorry for late reply, @mikehardy  i am unable to get stack trace because it is correctly working in development build and release build when run through --variant=release but it only crashes when installed through apk

[2018-11-20 09:16] indapublic opened #404 "Extension was interrupted while PDF sharing on IOS"
### Steps to reproduce

[code]

Then try to share with ICloud drive/Whatsapp

### Expected behaviour
File is shared

### Actual behaviour
I see `Extension was interrupted` error on ICloud sharing
<img width="260" alt="screen shot 2018-11-20 at 19 11 36" src="https://user-images.githubusercontent.com/856260/48763069-23b66280-ecf8-11e8-8b4f-2125c57f9993.png">

and `Item cannot be shared` on Whatsapp

[2018-11-20 13:35] jgcmarins commented on #402
@keshamtravels could you try running with [logcat](https://developer.android.com/studio/command-line/logcat)?
`adb logcat`

[2018-11-20 13:57] indapublic commented on #361
Looks same as mine #404

[2018-11-20 14:41] jgcmarins commented on #404
isn't this related to our [troubleshooting section](https://github.com/react-native-community/react-native-share#troubleshooting)?

[2018-11-20 14:49] mgiorgi-github commented on #388
i've to pass image with local url path (file://) or base64?
Instagram open last image of my gallery, not the image i've selected, Facebook give error message (wrong url)

[2018-11-20 14:53] jgcmarins commented on #388
it works for both approaches
which error message are you experiencing when sharing at Facebook?

[2018-11-20 15:03] mgiorgi-github commented on #388
With my iPhone 6 iOS 12.1:
Instagram now open app but with wrong image
Facebook open the browser with error "href should represent a valid url"

Thanks

[2018-11-20 15:14] jgcmarins commented on #388
weird
can we have a repo to reproduce?

[2018-11-20 15:21] mgiorgi-github commented on #388
I can send my App.js file

[2018-11-21 09:04] prabhu73 opened #405 ":react-native-share:compileDebugJavaWithJavac"
### Steps to reproduce
Step 1: npm install --save react-native-share
Step 2: npm link
Step 3: npm link react-native-share
Step 4: Killall node -9
Step 5: sudo react-native run-android

### Expected behaviour
It should execute/build the project

### Actual behaviour

/Users/prabhudas/StudioProjects/TilaWithReactJS/node_modules/react-native-share/android/src/main/java/cl/json/ShareFiles.java:8: erro

[2018-11-21 11:38] jgcmarins commented on #405
looks like it didn't link correctly

[2018-11-21 11:49] prabhu73 commented on #405
I have used the following commands to build and link

Step 1: npm uninstall react-native-share --save-dev
Step 2: npm install --save react-native-share
Step 3: npm link
Step 4: npm link react-native-share
Step 5: Killall node -9
Step 6: react-native run-android

After the last command, I got the above build error

[2018-11-21 11:55] jgcmarins commented on #405
`npm link` will duplicate all previous linkable libraries
just `npm link react-native-share` is enough

[2018-11-21 11:56] prabhu73 commented on #322
I am also facing the same issue in android.
undefined is not an object (evaluating "n.NativeModules.RNShare.FACEBOOK")
Please help me with this.

[2018-11-22 05:56] prabhu73 opened #406 "undefined is not an object (evaluating 'n.NativeModules.RNShare.FACEBOOK')"
### Steps to reproduce
1. After I run the project I got the error like

![image](https://user-images.githubusercontent.com/22490455/48884129-22487f80-ee49-11e8-842e-4cd1fa40c01b.png)

11-22 11:27:13.019 10512-10568/com.fpthome E/ReactNativeJS: undefined is not an object (evaluating 'n.NativeModules.RNShare.FACEBOOK')
11-22 11:27:13.020 10512-10568/com.fpthome E/ReactNativeJS: Module AppRegistry is

[2018-11-22 12:55] jgcmarins commented on #406
this is a bug
do we have same behaviour on ios?

[2018-11-22 14:49] loubacking commented on #406
I got this error also, and I need it to share image in Android platform, as the same situation for you? If I fix it in my env, I'll share here

[2018-11-22 15:18] loubacking commented on #406
Well, I fixed it here, and to be honest this isn't a bug, because if you implement like Getting Started shows, you will only get a specify errors in version of your application dependencies, to help you follow these steps:

**(android/app/build.gradle)**
_Change_ compileSdkVersion and buildToolsVersion version;
_Input_ `compile project(':react-native-share')` at dependencies;
_Change_ compile "com

[2018-11-22 17:07] indapublic commented on #404
btw working only if file in base64 (except Whatsapp and Gmail, it's described in troubleshooting section).
If I using path - no file in IMessage/Mail/Whatsapp etc.

[2018-11-22 17:20] indapublic commented on #385
Weird, but it's not working for me in iOS. There is no content to share. Base64 working well except Whatsapp

[2018-11-23 02:36] indapublic commented on #399
@NawazKhanMd Had same error. Just remove new section from `AndroidManifest.xml`

[2018-11-23 02:45] indapublic commented on #360
@qasimalbaqali Built in Share can't share files for example

[2018-11-23 02:45] indapublic commented on #360
@mmiedlarz Have same error while using jest. Did you find any solution?

[2018-11-23 02:53] indapublic opened #407 "Cannot pass tests via jest if react-native-share was used"
### Steps to reproduce
1. Add `import Share from 'react-native-share';` to any component.
2. Run `jest`

### Expected behaviour
Test should be passed.

### Actual behaviour
[code]

### Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-4288U CPU @ 2.60GHz
      Memory: 33.05 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh

[2018-11-23 10:37] indapublic commented on #407
Added repository for bug illustrating https://github.com/indapublic/rn-share-and-jest

Example:
https://github.com/indapublic/rn-share-and-jest/blob/master/components/Test.js

[2018-11-23 10:43] prabhu73 commented on #406
No luck @loubacking Tried as you suggested.

settings.gradle
rootProject.name = 'FPTHome'
include ':react-native-share'
project(':react-native-share').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-share/android')

include ':app'

android/app/gradle
dependencies {
implementation project(':react-native-share')

[2018-11-23 12:12] jgcmarins commented on #407
great
I'll take a look as soon as possible

[2018-11-23 12:14] indapublic commented on #407
Thanks!

Simple solution I found is mock library in jest. Not sure is the best solution but my tests were passed

[2018-11-23 12:14] jgcmarins commented on #407
@indapublic it would be awesome if we add those tests to this repo
since we have ci build, we could add then to ci routine
what do you think?

[2018-11-23 12:15] jgcmarins commented on #407
yep, totally agreed
it is something I would suggest

[2018-11-23 12:15] indapublic commented on #407
You mean my repo? If yes, it's already https://github.com/indapublic/rn-share-and-jest/blob/master/components/__tests__/Test.test.js

[2018-11-23 12:15] jgcmarins commented on #407
I've added you to repo as a contributor... feel free to send PR adding basic/failing tests...
tests are awesome

[2018-11-23 12:16] indapublic commented on #407
Oh, i got it. Will prepare, but not sure about today

[2018-11-23 12:18] jgcmarins commented on #407
`react-test-renderer` is deprecated...
I think we could use [react-testing-library](https://github.com/kentcdodds/react-testing-library)

[2018-11-23 18:46] FabricioCabeca commented on #200
Had the same problem as @Hieutt1704 , fixed adding this inside android/app/src/main/res/xml/filepaths.xml:

`    <cache-path
        name="cache"
        path="." />
`

[2018-11-23 19:06] kennym commented on #360
The solution in my case was to go into `ios/` and run `pod install`, then build again.

[2018-11-23 21:18] loubacking commented on #402
Same case, please if you get a resolution for this, share here 👍

[2018-11-24 07:12] henkkasoft commented on #402
@loubacking I did find one solution that fixed the problem for me, but it doesn't explain any core reason.
I also use react-native-image-crop-picker in my project and there is an new issue with resizing to given width and height in iOS (I am resizing to 1024x1024).
https://github.com/ivpusic/react-native-image-crop-picker/issues/843

So I added back @leomercier suggestion there and also the share

[2018-11-25 10:09] indapublic commented on #404
Closed as non reproducible for clean demo

[2018-11-25 10:09] #404 closed

[2018-11-26 12:45] vivekshah-zymr opened #409 "How to limit share option with message, WhatsApp and Email."
I want to implement share functionality for my react-native app, with some fix sharing option like WhatsApp, mail and default message app.

I have tried `social: Share.Social.WHATSAPP,` , `social: 'whatsapp' | 'email',` and` "social": "whatsapp",` as option to the `Share.open()`.  But for all the cases it opens all the sharing option for iOS and Android both.

Can anyone help me with this?

[2018-11-26 12:49] TimurAsayonok commented on #399
@indapublic did you try share image after your changes?

[2018-11-26 13:34] TimurAsayonok commented on #406
Hello, I have same problem

[2018-11-26 14:10] jgcmarins commented on #360
looks like it is a link problem

[2018-11-26 14:29] TimurAsayonok commented on #399
@indapublic Can you try send send image? Because I have crash, and think that delete this part in not a good solution

[2018-11-26 14:38] jgcmarins commented on #399
@TimurAsayonok does this crash has any stack trace?

[2018-11-26 14:46] TimurAsayonok commented on #399
@jgcmarins No, Does not. Just default message alert that Messaging app has stopped.

[2018-11-26 14:46] indapublic commented on #399
@TimurAsayonok `base64` or `path`?

[2018-11-26 14:46] TimurAsayonok commented on #399
@indapublic `path`

[2018-11-26 14:51] indapublic commented on #399
@TimurAsayonok It works. Unfortunately, it's enterprise project and I can't provide demo for this.
My main idea is that we have same record `FILE_PROVIDER_PATHS` in `rn-fetch-blob` so we don't need to duplicate it for `react-native-share`

[2018-11-26 14:52] indapublic commented on #399
@TimurAsayonok btw. are you tried in simulator?

[2018-11-26 15:01] TimurAsayonok commented on #399
@indapublic Yes, I tried in simulator, and if I use `base64` it's works (more or less) because for it we use `rn-fetch-blob` which uses `FILE_PROVIDER_PATHS` for getting image by uri from phone.
But if you try to use `path` using `FILE_PROVIDER_PATHS` from `rn-fetch-blob` it's shouldn't work

[2018-11-26 15:03] indapublic commented on #399
My code is about file downloading using `rn-fetch-blob` with `fileCache: true` and sharing it with `path`. Seems it's not your case :)

[2018-11-26 15:11] TimurAsayonok commented on #399
@indapublic Do u save this file on phone? and do u use Share.open({ url: path }) for sharing?

[2018-11-26 15:19] TimurAsayonok commented on #399
I think, that part with creating `FILE_PROVIDER_PATHS` in application AndroidManifest.xml is not a good adea. Because I try to comment FileProvider part in rn-fetcg-blocl lib, and got Error While building the project with `react-native-image-crop-picker` lib (because this lib use FileProvider in it's AndroidManifest.xml )

[2018-11-26 15:22] mgiorgi-github opened #410 "Callback send success message after press cancel button"
### Steps to reproduce
return Share.open(shareOptions)
    .then((res) => { console.log("OK: "+res) })
    .catch((err) => { console.log("ERROR: "+err); });
}

### Expected behaviour
Facebook and Instagram app, after press "Cancel" button on share dialog make show ERROR message

### Actual behaviour
Only Facebook give correct message, Instagram return "OK" if i press "Cancel" or "Share" dialog but

[2018-11-27 01:38] indapublic commented on #399
@TimurAsayonok you are correct about

[2018-11-27 08:08] TimurAsayonok commented on #399
@indapublic maybe my problem is that I don't share photo from `Download/` folder. We have this instruction in our xml file `<external-path name="myexternalimages" path="Download/" />`

When I try to share photo with path `"file:///data/user/0/com.my_app/cache/react-native-image-crop-picker/IMG_20181126_173001.jpg"` I got error in Sentry `{"error":"Failed to find configured root that cont…"}`

[2018-11-27 09:41] indapublic commented on #399
So you use `react-native-image-crop-picker` too.
Could you create some demo?

[2018-11-27 09:55] TimurAsayonok commented on #399
@indapublic Yes I use `react-native-image-crop-picker`. Unfortunately I can't create demo =(

[2018-11-27 10:52] TimurAsayonok commented on #399
looks like that all ways merge to this issue https://github.com/react-native-community/react-native-share/issues/218 #

[2018-11-27 12:43] jgcmarins commented on #399
Awesome!
We could improve README with this steps... What do you think?

I think it is great! Certainly a real production scenario.
My suggestion: improve [example](https://github.com/react-native-community/react-native-share/tree/master/example). Add those libs there, so we could have a more complex example with real production scenario.

[2018-11-27 12:47] indapublic commented on #399
@TimurAsayonok I'll try to reproduce it on my private project and check. Awesome! Thanks

[2018-11-27 12:48] indapublic commented on #399
Agreed, example would be helpful definitely

[2018-11-27 13:12] TimurAsayonok commented on #399
@indapublic @jgcmarins Awesome! Let me know after your changes

[2018-11-27 17:18] jgcmarins commented on #399
@TimurAsayonok nice! PRs are welcome \o/

[2018-11-27 20:48] JosefBlattler opened #411 "How can I share a JSON file?"
Is it possible to share a JSON file?
I've tried sharing using the application/json, application/javascript option, but I always share as .null?

[2018-11-27 21:17] mikehardy commented on #411
Sure, I did something like this, requires rn-fetch-blob and

[code]

[2018-11-28 06:32] ahilles107 commented on #389
i have this same issue - no solution yet ;/

[2018-11-28 09:59] jgcmarins commented on #399
we already have a section for `filepaths` on [Android Install steps](https://github.com/react-native-community/react-native-share/blob/master/README.md#android-install).
if it makes sense, we could improve that or add alternative solution.

[2018-11-28 10:08] TimurAsayonok commented on #399
But if we change  `filepaths` name to `provider_paths.xml` it will fix `Error While building the project`

Adding `<root-path name="root" path="." />` will help in case if you use `react-native-image-crop-picker`

[2018-11-28 14:27] sobyyialatiq opened #412 "node_module does not exist"
I am getting the error react-native-share module does not exist

### Environment
- **React Native version**: 0.55.1
- **React Native platform + platform version**:  Android 5.0

[2018-11-28 14:38] mikehardy commented on #412
This sounds like not doing the react-native --link react-native-share step from the README, or (if you want to do it manually) not following the steps here https://github.com/react-native-community/react-native-share#Android-Install

Can you confirm you have linked the module in so gradle can find it? Also, the error message in full is useful, not just a paraphrased excerpt

[2018-11-28 20:15] #411 closed

[2018-11-30 01:02] vadhack commented on #401
Thanks, i put this code on wrong place:

public String getFileProviderAuthority() {
            return "com.example.yourappidhere.provider";
     }

Sorry :( is not a issue

[2018-11-30 01:02] #401 closed

[2018-11-30 19:44] marcio-eric commented on #200
@Mikoz93 Thank you! Worked like a charm!

[2018-12-01 18:43] anshumanburman commented on #386
@AdriaRios thanks

[2018-12-01 22:29] mustafakucuk commented on #386
If it's give "Could not find method google() for arguments [] on repository container" error, replace google() to maven { url "https://maven.google.com" } in react-native-share/android/build.gradle

[2018-12-01 22:51] mikehardy commented on #386
Yes - this will happen if using gradle version lower than 4.1 per the docs:

https://developer.android.com/studio/build/dependencies#google-maven

Gradle 4.1 is about 1.5years old now though, they just released 5.0 which I haven't tried yet, but 4.10.2 is nice - I'd move up

[2018-12-03 14:18] kennym opened #414 "Sharing to Gmail app sets body as subject"
### Steps to reproduce
1. Call share dialog with `title`/`subject` set to `test`, and set `body` param to `test body`
2. When opening with Gmail app, the subject line and body will be set to `test body`, effectively ignoring the subject/title params

### Expected behaviour
Email subject set to 'test'

### Actual behaviour
Email subject set to 'test body'

### Environment
- **React Native version**

[2018-12-04 22:58] crsgarcias opened #415 "Compile release apk not work"
### Steps to reproduce
1. cd android
2. gradlew assembleRelease
3. (To work, I had to **update my gradle**)
 * android/app/build.graddle
compileSdkVersion 28
targetSdkVersion 28
implementation "com.android.support:appcompat-v7:28.0.0"

* android/build.properties
classpath 'com.android.tools.build:gradle:3.2.1'

* android/gradle/gradle-wrapper.properties
distributionUrl=https\://services.gradle.org

[2018-12-04 23:02] mikehardy commented on #415
With gradle >= 3.2 and React Native < 0.57.2 you need a workaround to put the bundle in the right place for releases on Android.

https://github.com/react-native-community/react-native-share/issues/386#issuecomment-432232419

Can you confirm you have done this? Otherwise the Android Java code misses the handoff to the Javascript

[2018-12-05 13:30] loubacking commented on #406
@TimurAsayonok You can use react-native link, and after this check if all files was correctly following manual installation. I suggest the same to @prabhu73

Hope help y'all

[2018-12-06 11:51] TimurAsayonok commented on #406
Thanks, but what I have written, It helps for me. And it was my mistake.

[2018-12-06 21:02] crsgarcias commented on #415
Thank you, I can´t reach compile my app

[2018-12-06 21:09] crsgarcias commented on #415
I added the script in package.json, but not works, I had the same result

[2018-12-07 14:49] mikehardy commented on #415
@crsgarcias there is not information in your comment to provide any help, sorry

Perhaps you could record your terminal session (https://asciinema.org/) starting from the point where you npm install and continuing until your issue?

[2018-12-07 14:51] crsgarcias commented on #415
Ok thank you, I had to update my react native to 0.57.7. And the error was fixed. Thank you!

[2018-12-07 14:52] #415 closed

[2018-12-07 15:01] mikehardy commented on #415
Yes! Great news, and yes - react-native > 0.57.2 works well with modern gradles. Good  luck

[2018-12-10 05:25] kalraneeraj24550 opened #417 "content share via messanger"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
it should open messanger to share content

### Actual behaviour
Tell us what happens instead

### Environment
- **React Native version**:
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc

### react-native-share
**Version**: npm version or "master"

### Link to repo (highly encouraged)
https://github.com/

[2018-12-10 10:55] jgcmarins commented on #417
hello @kalraneeraj24550
what is this issue about?

[2018-12-10 17:38] watchtower314 commented on #385
Have the same issue; my code works well on iOS, but on Android, it sends the string of the path.
Also what @suwu150 suggested didn't work for me :/

[code]
(variable `path` looks like something like this:
`/data/user/0/com.appName/cache/123456.pdf`)

@acb did you find a solution? :pray:

[2018-12-11 04:38] kalraneeraj24550 commented on #417
i want to share message via messanger in react-native

[2018-12-11 05:36] suwu150 commented on #385
@watchtower314 add below code
add app/src/main/AndroidManifest.xml

[code]
and  in res/xml/filepaths.xml
[code]

[2018-12-11 08:10] nguyenvanphuc2203 opened #418 "share image base64 not showing on social"
here my code:
[code]
my console.log:
![image](https://user-images.githubusercontent.com/33291479/49786513-add17400-fd56-11e8-86a9-2c715ce1ef67.png)
but image not showing anymore when sharing, for example share with email:
![image](https://user-images.githubusercontent.com/33291479/49786797-8038fa80-fd57-11e8-908e-13a6db36e8fa.png)

### Environment
- **React Native version**: 0.55.4
- **React Nativ

[2018-12-11 11:49] jgcmarins commented on #417
could you provide more details about errors you're experiencing?

[2018-12-11 11:52] jgcmarins commented on #418
hello, could try version 1.1.3?

[2018-12-11 16:11] keshamtravels commented on #402
Well i installed the newest version of rect-native share
then a problem of cl.json occured which i solved using

https://github.com/react-native-community/react-native-share/issues/200#issuecomment-361938532

![image](https://user-images.githubusercontent.com/37133281/49813426-6e724a00-fd8d-11e8-87ea-6aac613f2778.png)

ant then it worked

[2018-12-11 16:11] #402 closed

[2018-12-12 19:37] watchtower314 commented on #385
@suwu150 's solution did the trick! Although at first it seemed not to work; it caused a different error that  said `failed to find configured root that contains /file:/storage/emulated/0/123456.pdf` but after removing the app from my device and rebuilding, it worked perfectly!

Thanks!!

[2018-12-12 19:49] jgcmarins commented on #385
Great!

[2018-12-12 19:49] #385 closed

[2018-12-13 12:52] kalraneeraj24550 commented on #417
![screenshot from 2018-12-13 18-20-53](https://user-images.githubusercontent.com/44640902/49939817-df3b7280-ff03-11e8-815a-ac3ae560052a.png)

in my app i want to share a message via messanger.

[2018-12-13 12:52] kalraneeraj24550 commented on #417
working fine for facebook, whatsapp., but not for messanger can you plz guide me

[2018-12-13 13:07] jgcmarins commented on #417
sure, could we share some code example?

[2018-12-13 13:09] kalraneeraj24550 commented on #417
do you want the code that am using currently for messanger, right?

[2018-12-13 22:54] mrkacan commented on #360
For fix this issue, you have to follow these steps:

1. npm install react-native-share --save
2. react-native link react-native-share
3. cd ios/ && pod install
4. cd .. && react-native run-ios

that's all!

[2018-12-14 08:59] kalraneeraj24550 commented on #417
plase help ,me

On Thu, Dec 13, 2018 at 6:37 PM João Marins <notifications@github.com>
wrote:

[2018-12-14 12:39] jgcmarins commented on #417
just some code example

[2018-12-14 15:22] ahaus commented on #280
The problem with message override still exists. Url does not work if I add a message field. Tested with version 1.1.3.

[2018-12-14 16:16] Tsiniloiv commented on #320
I'm experiencing this as well - Facebook returning as being installed when it's not, and nothing happening when I try to shareSingle to Facebook.

I have a theory: The Facebook app can't be uninstalled, only disabled. So it's still 'installed', it just doesn't do anything when you  try to share to it.

[2018-12-15 09:36] lizhuoyuan commented on #320
https://github.com/OpenFlutter/flutter_share_me

[2018-12-16 16:07] sdvig opened #419 "Sharing csv file in base64 downloads the file"
We want to implement the following functionality:
When the user interacts with the app, they input data.
They have the option to export this data as csv file. And instead of saving it on the mobile device, we thought to allow the user to share this file (to private email e.g). Because this data is private and we didn't want it to be stored on the device itself.
So when exporting it, we convert it

[2018-12-17 03:30] mikehardy commented on #419
https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/ShareFile.java#L118

Should probably call [java.io.File.deleteOnExit()](https://developer.android.com/reference/java/io/File.html#deleteOnExit()) ?

[2018-12-17 05:41] kalraneeraj24550 commented on #417
shareWithMessanger() {
        Linking.openURL('messenger://send?text=code is:');
      }
i am using this. it doesnt open messanger but plz helpme. to share content via messanger in react-native

[2018-12-17 05:43] kalraneeraj24550 commented on #349
how to share text messange via messanger in react-native andorid. plz help me

[2018-12-17 13:01] jgcmarins commented on #417
@kalraneeraj24550 I am sorry, but I could not understand why it is related to react-native-share.
Is there any piece of code that uses react-native-share?

[2018-12-18 14:37] waqas19921 commented on #171
@yeomann Is there any way to get what has been selected on android.

[2018-12-18 15:23] filipef101 commented on #171
@waqas19921 I don't remember well but possibly it is not possible to know if the user actually shared on android. Its an OS limitation/entended behavior

[2018-12-20 12:50] kalraneeraj24550 opened #420 "how to get application id"
how to get applicationid as we have to define in menifest

[2018-12-20 13:11] ayushmankd commented on #70
@Luckygirlllll It can be done, by putting the URL inside the message

[2018-12-20 13:12] ayushmankd commented on #70
@kalraneeraj24550 What type of content you want to share?

[2018-12-20 14:53] Luckygirlllll commented on #70
I used facebook sdk for sharing via messenger it works without any problems!

[2018-12-20 16:09] jgcmarins commented on #420
check this: https://github.com/react-native-community/react-native-share#android-install

[code]

[2018-12-20 16:09] #420 closed

[2018-12-21 04:45] kalraneeraj24550 commented on #70
i want to send text message

[2018-12-21 05:11] kalraneeraj24550 commented on #70
@Luckygirlllll  mam, i used your link but when i click on messanger then messanger get open but automatically messanger get closed in next second.
and i dont want to send link.
i only want to share text message via messanger and facebook. plz help me. am noob in react-native

[2018-12-21 06:59] kalraneeraj24550 commented on #70
@Luckygirlllll  mam, its working fine on simulator not on my device. maybe my device problem.
mam, would you plz tell how to share text message via messanger not link

[2018-12-21 10:40] ghost opened #421 "Message gets repeated for each image(whatsapp only)"
### Steps to reproduce
1. Share multiple images with message on whatsapp

### Expected behaviour
I expect the message to not be repeated for each image.

### Actual behaviour
The message is appended to each image.

### Environment
- **React Native version**: 0.55.4
- **React Native platform + platform version**: Android 5.0

### react-native-share
**Version**: 1.1.3

A code snippet:

[code]

For e

[2018-12-21 11:12] never00miss commented on #232
did anyone solve this?

[2018-12-22 04:45] kalraneeraj24550 commented on #70
anyone plz help.

[2018-12-23 17:45] nishantsabharwal13 commented on #218
No luck with all solutions given here.

@lucaspang did you find a way to fix this?

[2018-12-24 16:03] mlazari commented on #418
Actually it works fine if I put that data URL in a constant like in the examples from Readme. But if I use the value from https://github.com/iddan/react-native-canvas#canvastodataurl it doesn't work. I log it in console and it has the same value.

[2018-12-26 05:04] kalraneeraj24550 commented on #70
// with this two lines am able to send link
const sharingUrl = 'www.google.com';
Linking.openURL(`fb-messenger://share?link=${sharingUrl}`);

but anyone plz help how can i send only text message for example. "hello world". no link, no image only text message.

[2018-12-26 05:05] kalraneeraj24550 commented on #274
// with this two lines am able to send link
const sharingUrl = 'www.google.com';
Linking.openURL(fb-messenger://share?link=${sharingUrl});

but anyone plz help how can i send only text message for example. "hello world". no link, no image only text message.

[2018-12-27 06:37] Jeet007das commented on #322
I am also getting the same problem after updating Library in Xcode in the main Project.

[2018-12-31 21:53] dcanora opened #422 "Use shareSingle to send MMS via default messaging app"
**Feature request**:  Expand shareSingle capability to include launch into the default messaging app to send an MMS message (with image) on ios and Android.

_*edit: reworded as a feature request._

[2019-01-01 06:57] kalraneeraj24550 commented on #70
anyone plz help , am begging

[2019-01-01 07:12] kalraneeraj24550 opened #423 "message share via facebook"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
when i share throught facebook it should share my message too

### Actual behaviour
but it only send link

### Environment
- **React Native version**: 0.57.5
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc

### react-native-share
**Version**: npm version or "master"
react-native-share": "^1.1.3

it only share link no

[2019-01-02 02:54] ananyacleetus commented on #59
Has anyone figured this out?

[2019-01-02 20:17] Luckygirlllll commented on #70
@kalraneeraj24550 If you don't need to share link, just use [react-native share API](https://facebook.github.io/react-native/docs/share.html).

[2019-01-03 04:43] kalraneeraj24550 commented on #70
![screenshot from 2018-12-13 18-20-53](https://user-images.githubusercontent.com/44640902/50623849-f5a37f80-0f3f-11e9-8a16-95d511948fbd.png)
see in my app there is single share option of facebook and messanger and whatsapp.

[2019-01-03 14:08] ayushmankd commented on #70
@kalraneeraj24550 Instead of using 4 different share buttons, just use a single button and attach it to the share API of react native

[2019-01-03 17:23] export-mike commented on #404
@indapublic

i'm finding on iOS i'm getting a blank pdf when I share?
![image](https://user-images.githubusercontent.com/2983327/50651750-40db8380-0f7c-11e9-9b2a-3c6cb548cc68.png)

react-native-share@1.1.3
rn-fetch-blob@0.10.14
react-native-fs@2.13.3

any ideas?

[2019-01-04 10:08] Under-Warz commented on #407
I'm using a mock file to bypass the FACEBOOK error. Here is the content of my react-native-share.js mock file

[code]

[2019-01-05 04:09] matheusnascgomes opened #424 "Project :app declares a dependency from configuration 'compile' to configuration 'default' which is not declared in the descriptor for project :react-native-share."
### Actual behaviour
Although i've thoroughly followed the manual setup, i'm facing a bug when i run the  **react-native run-android** command as showed bellow. (I've also try to setup using the **link** command, but it didn't worked as well)

[Modified files on Gist](https://gist.github.com/matheusnascgomes/296e26a80883742b4e6bd448d7b91b30)

![image](https://user-images.githubusercontent.com/2198

[2019-01-05 22:59] indapublic commented on #404
@export-mike Could you repeat it on clean demo? It would be excellent and helpful

[2019-01-07 12:12] jgcmarins commented on #424
hello @matheusnascgomes
I've looked into your gist files, everything looks fine.
Maybe it is an link issue
If you take a look at circle: https://circleci.com/gh/react-native-community/react-native-share/124
`Run Checks` step makes a build

[2019-01-07 15:04] export-mike commented on #404
@indapublic git@github.com:export-mike/react-native-share-pdf-ios-android-example.git
seems to be working!

[code]

[2019-01-08 02:48] matheusnascgomes commented on #423
Same issue

[2019-01-08 04:55] kalraneeraj24550 commented on #423
i am able to share message when i pass the property "quote".
@matheusnascgomes  sir, do you know how to share text message via messanger in react-native

[2019-01-08 12:17] jgcmarins commented on #424
Great!

[2019-01-09 00:07] matheusnascgomes commented on #423
@kalraneeraj24550  What do you mean by "property quote"? I keep up with this issue.
By the way, it's everything is working fine on share text message via messanger.

[2019-01-09 01:35] matheusnascgomes commented on #410
Same issue, it is possible to have a confirmation when the share action is successful and an error when not? @jgcmarins

[2019-01-09 04:46] kalraneeraj24550 commented on #423
i  used this.
 shareViaFbLinkWithShareDialog() {
        const shareLinkContent1 = {
            contentType: 'link',
            quote: `code is:= ${this.state.code}`,
            contentUrl: 'https://google.com',
            contentDescription: 'Wow, check out this great site!'
        };
        ShareDialog.canShow(shareLinkContent1)
            .then((canShow) => {
                if (canShow)

[2019-01-09 04:47] kalraneeraj24550 commented on #423
sir .could you plz guide me how to share text msg via messanger . am begging . plz guide me @matheusnascgomes

[2019-01-09 06:18] kalraneeraj24550 commented on #423
sir, can you plz share me your code that how to send tex message via messanger plzzz

[2019-01-09 12:41] jgcmarins commented on #410
I guess it is possible to control this flow on developer land

[2019-01-09 12:53] enieber commented on #397
@theone3nu this problem is not in react-native-share because this module is only share data.

[2019-01-09 12:53] #397 closed

[2019-01-09 13:03] #187 closed

[2019-01-09 13:05] enieber commented on #89
this issue is in version very old, try with the new version

[2019-01-09 13:05] #89 closed

[2019-01-09 13:06] enieber commented on #114
try with the new version of lib

[2019-01-09 13:06] #114 closed

[2019-01-09 13:07] enieber commented on #28
try with the new version of lib

[2019-01-09 13:07] #28 closed

[2019-01-09 13:07] enieber commented on #66
try with the new version of lib

[2019-01-09 13:07] #66 closed

[2019-01-09 13:08] enieber commented on #118
try with the new version of lib

[2019-01-09 13:08] #118 closed

[2019-01-09 13:08] #119 closed

[2019-01-09 13:09] enieber commented on #120
@DavidKongDesheng PR is Welcome!

[2019-01-09 13:09] #122 closed

[2019-01-09 13:10] #125 closed

[2019-01-09 13:10] #126 closed

[2019-01-09 14:14] mohsinriaz17 commented on #145
How do i change than file name of the CSV attached in the Gmail app ??

[2019-01-09 16:50] jgcmarins commented on #119
check example on [readme](https://github.com/react-native-community/react-native-share#example-code)

[2019-01-09 16:52] jgcmarins commented on #145
@mohsinriaz17 I think it's better to ask this on stack overflow

[2019-01-09 16:52] #145 closed

[2019-01-09 21:16] Juliocbr opened #425 "message is not shared in facebook and messenger if I share the url"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Sharing base64 image string (url) and message through messenger and facebook.

### Actual behaviour
Only the url is shared and not the message in messenger, facebook. In whatsapp works well. But if I share only the message and not the url with the base64 image string then the message if it is shared on facebook and messenger.

### Environment

[2019-01-09 22:00] jgcmarins commented on #425
duplicated https://github.com/react-native-community/react-native-share/issues/423

[2019-01-09 22:00] #425 closed

[2019-01-09 22:38] Juliocbr commented on #423
Has anyone found a solution?

[2019-01-10 04:43] kalraneeraj24550 commented on #423
@Juliocbr  mam, do you know how to share text message via messanger in react-native.? can you plz help me

[2019-01-10 17:18] Juliocbr commented on #423
@kalraneeraj24550 can use this plugin or the official react native solution https://facebook.github.io/react-native/docs/share

[2019-01-10 20:34] MarcelBlockchain commented on #360
Same issue using expo. Above steps didn't help, guess it's a special case. Weird, cause it worked before, then I updated a few libraries including expo and now it stopped working.
Trying to detach from expo and then linking again

[2019-01-10 20:45] jgcmarins commented on #360
@MarcelBlockchain expo has it owns implementation of share, I don't if react-native-share works with expo

[2019-01-11 02:53] fvieira opened #426 "Potentially misleading iOS manual install instructions"
### TLDR
Steps 2. and 3. of the iOS manual install instructions should *probably* be replaced with:
- Add the following to your Podfile `pod 'RNShare', :path => '../node_modules/react-native-share'`

### Detailed explanation
After detaching Expo, I wanted to install react-native-share on it. Since I'd rather make the changes to the files myself, I chose the manual install instructions and followed

[2019-01-11 04:59] kalraneeraj24550 commented on #423
mam
![screenshot from 2018-12-13 18-20-53](https://user-images.githubusercontent.com/44640902/51014015-a7b7f880-158b-11e9-9576-4030322589b2.png)
in my app there is seperate single share option of messanger.

[2019-01-11 07:31] almorak opened #427 "[android] Cannot share using productflavors"
### Steps to reproduce
1. Create a project and use this library.
2. build the project with the productflavor.
**the applicationId is different from the default one.
default id : com.xxxx

following is the settings:
    productFlavors {
        client {
            minSdkVersion 16
            applicationId 'com.aaa.bbb'
            targetSdkVersion 25
            resValue "string", "build_config_p

[2019-01-11 12:06] jgcmarins commented on #426
Hi @fvieira `react-native-share` maybe won't work correctly on top of Expo SDK.
I also do not recommend `pod` installation, but if there is anything missing on README, feel free to send a PR updating it.
Thanks for reaching out!

[2019-01-11 15:15] fvieira commented on #426
Hi @jgcmarins, `react-native-share` works perfectly on top of the Expo SDK as long as the installation is done properly, I've build two apps using it already.
I don't understand what you mean by not recommending `pod` installation, after all, the change I'm proposing, adding `RNShare` to the Podfile in the manual instruction, is exactly what doing `react-native link react-native-share` does...

[2019-01-11 15:20] fvieira commented on #426
About updating the README, before I do it I would have to find the time to test that the new instructions would indeed work. I'm confident they would, but they might not and I don't want to confuse people even more, I would rather just leave this issue as a helper they can find in Google in case they get stuck as I did.
But I might have some time to test this next week, we'll see.

[2019-01-11 16:19] jgcmarins commented on #426
Great! Let me know if there is something I can help

[2019-01-14 12:34] jgcmarins commented on #422
@dcanora could you take a look at this PR: https://github.com/react-native-community/react-native-share/pull/428 and check if it address your feature request?
I would be awesome if you try to run this PR on a living example.
Thanks in advice.

[2019-01-14 12:35] jgcmarins commented on #423
@kalraneeraj24550 could you take a look at this PR: https://github.com/react-native-community/react-native-share/pull/428 and check if it address your feature request?
It would be awesome if you try to run this PR on a living example.
Thanks in advice.

[2019-01-14 12:36] jgcmarins commented on #417
@kalraneeraj24550 could you take a look at this PR: https://github.com/react-native-community/react-native-share/pull/428 and check if it address your feature request?
It would be awesome if you try to run this PR on a living example.
Thanks in advice.

[2019-01-14 21:41] dcanora commented on #422
This looks like it does address the request - does it support Android and iOS?  I can definitely try it out on Android if it gets merged (I'm working on Android first, but will also implement on iOS).  Thanks!

[2019-01-15 16:16] ingviso opened #429 "Unable to share mp4 to instagram on ios"
### Steps to reproduce
1. Have mp4 video on phone
2. Call Share.open with the mp4 file
3. See instagram as option in sharing activites on ios

### Expected behaviour
Being able to see instagram as sharing options in general ios sharing options

### Actual behaviour
All other "activities" in sharing options are shown gmail, facebook etc..., instagram is missing.

### Environment
- **React Native ve

[2019-01-15 17:32] jgcmarins commented on #429
is there any error message?

[2019-01-15 17:36] jgcmarins commented on #429
looks like instagram does not support mp4 all the time: https://www.google.com/search?q=does+instagram+support+mp4

[2019-01-17 02:14] hsuchil commented on #429
I'm running into this, are you passing a message as part of your sharing options?
I've noticed that if I remove the message, sharing mp4s to Instagram works fine.

[2019-01-17 11:37] jgcmarins commented on #429
is it happening on both platforms?

[2019-01-17 12:03] ingviso commented on #429
no only on ios, taking out the message fixed the issue.

[2019-01-17 18:23] hsuchil commented on #429
Same, I'm only seeing this on iOS

[2019-01-20 18:02] a-koka opened #430 "Why is android.permission.WRITE_EXTERNAL_STORAGE required"
### Steps to reproduce
As discussed [here](https://github.com/facebook/react-native/pull/12965), remove `WRITE_EXTERNAL_STORAGE` permission. Notice how Android requires this permission.

### Expected behaviour
Write permissions should not be required to share a file which exists on disk and is being read and shared as a base64 string.

### Actual behaviour
WRITE_EXTERNAL_STORAGE is required for sh

[2019-01-20 18:37] mikehardy commented on #430
The code doing it is here:

https://github.com/react-native-community/react-native-share/blob/master/android/src/main/java/cl/json/ShareFile.java#L112

I could easily be wrong, but it looks to me like you can't share base64 directly? Because it's decoded as it is written out to the temp file, and as the file might be large the choice was made to put the decoded file in external storage before shar

[2019-01-21 01:46] devpolish commented on #322
Yeah, definitively adding the .xcodeproject file worked for me.

[2019-01-21 08:59] Runaider commented on #310
@erikterwiel solution does not appear to be working with `react-native@v0.57.5`. Did anyone else notice this issue with v0.57?

[2019-01-21 17:45] a-koka opened #431 "[Android] Unable to share files on the internal storage"
### Steps to reproduce
I'm using `react-native-fs` to download files to the local internal storage. Using such a file with a `file://` url works great on iOS but fails on Android. Looks like the filepath is being tampered with and Android is unable to find the file.

**URL from `react-native-fs`**
`file:///data/user/0/com.myapp/files/myapp/art/invitation.jpg`

**Error**
`Failed to find configured

[2019-01-21 17:49] jgcmarins commented on #431
hello @a-koka
could you please check if our troubleshooting section can help: https://github.com/react-native-community/react-native-share#troubleshooting
?
thanks!

[2019-01-22 14:06] a-koka commented on #431
Thanks for following up @jgcmarins. I did read the documentation and it's unclear as to why my issue is happening. I have a simple repository that recreates the problem. As you'll notice, the same code works flawlessly on iOS but not on Android. Something's not quite working right with internal storage files.

`git clone https://akbn@bitbucket.org/akbn/share-failure.git`

[2019-01-22 14:51] jgcmarins commented on #431
maybe it is something related to react-native-fs + react-native-share

[2019-01-22 14:52] mikehardy commented on #431
It looks to me like your configured / allowed paths for the FileProvider in Android are straight from the documentation: https://bitbucket.org/akbn/share-failure/src/57be70939f19875efaaa44203c83725460e5e322/android/app/src/main/res/xml/filepaths.xml?at=master&fileviewer=file-view-default

But, for instance, if you are trying to share from
`Failed to find configured root that contains /data/data/co

[2019-01-22 15:37] a-koka commented on #431
Thanks again. I will dig into this further and report back.

[2019-01-22 16:31] jgcmarins commented on #431
Great!
@a-koka feel free to open a PR improving README \o/

[2019-01-22 16:31] #431 closed

[2019-01-22 17:52] a-koka commented on #431
Done! #432

[2019-01-23 16:31] a-koka opened #433 "[Documentation] Title vs Subject"
It looks like `subject` is used for email and the `title` in other cases. Some detailed documentation would be great so users understand what is used, where, and when.

The behavior seems a little inconsistent from my testing when using both `title` and `subject`. The Android Mail app will append `title` to the body thus accounting for a repeated `subject` but on iOS this works as expected. Also,

[2019-01-23 16:49] a-koka opened #434 "[Facebook] Sharing with Image"
I realize that not everyone wants to integrate with Facebook but given it's one of the largest social media platforms, is it worthwhile considering a better intgration so that images can be shared when sharing on Facebook?

### Steps to reproduce
Use a `file://` url and notice how `Share.open` will not populate the Facebook post with an image. `Share.shareSingle` actually fails to open the webpage

[2019-01-23 17:05] jgcmarins commented on #434
This makes sense.
Maybe we could think about having both implementation, to keep old apps working.
We could use a parameter to open facebook share implementation v2.

[2019-01-23 17:11] luciotbc commented on #395
Thanks, this works! @xhirazi

[2019-01-23 17:17] a-koka commented on #434
After looking into this further, looks like this works as expected on Android. Is this just a limitation on iOS? I'm new here and wasn't sure if this used to work at some point and recently broke.

Also, I'm a big fan of the `Share.open` method which lets the user select the app. My suggestion above would require a knowledge that we're sharing on Facebook. Just wondering how to accommodate for tha

[2019-01-23 19:47] jgcmarins commented on #434
Great!

v2 idea would be to use `react-native-fbsdk`

[2019-01-24 10:02] RussianDragon opened #435 "Not work multi sharing on android"
![screenshot 2019-01-24 at 15 08 23](https://user-images.githubusercontent.com/12259067/51677214-e5843a80-1fe9-11e9-945f-64e70772225f.png)
Hi.
I have problem with multi sharing on android.
Version react-native-share: 1.1.3

[code]
[code]
[code]

but share single file is OK for android

[code]
But, i don't have problem with multi sharing for iOS.

What should I do?

[2019-01-24 12:10] jgcmarins commented on #434
Great!

Join our slack channel so I can give you more instructions: https://join.slack.com/t/rn-community/shared_invite/enQtMzY0MDgxODcwOTYyLWEwNWY3Njc0Mzg1MzllYWVhNTU4NTY5MGY5NjQ2ZWM1MGFkY2QzMTljYWY2NzE0NTU4MmM3NTBkY2ZiZmIzMWY

[2019-01-24 12:11] jgcmarins commented on #232
We have a troubleshooting section about sharing base64 files: https://github.com/react-native-community/react-native-share#troubleshooting

[2019-01-24 12:13] jgcmarins commented on #435
This is a warning.
I can't see nothing related to `react-native-share` on stack trace.

[2019-01-24 12:15] RussianDragon commented on #435
But I don't see sharing popup. Only warning...

[2019-01-24 12:17] jgcmarins commented on #435
is it happening on both android and ios?
is there a stack trace error?

[2019-01-24 12:31] RussianDragon commented on #435
Only android

The same in the warning

I/System.out: ERROR
    Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
W/ReactNativeJS: Possible Unhandled Promise Rejection (id: 0):
    Object {
      "error": "Attempt to invoke virtual method \'boolean java.lang.String.equals(java.lang.Object)\' on a null object reference",
    }

[2019-01-24 12:44] jgcmarins commented on #435
possible a bug, do you have a reproducible repo?

[2019-01-24 14:02] a-koka commented on #434
Done! Let me know if you have trouble finding me.

[2019-01-24 18:54] jobino commented on #406
Just do it: uninstall the app, after - react native run-android.

[2019-01-25 10:33] kk412027247 opened #436 "unable to share to WeChat Moments in Android"
### Steps to reproduce
1. write some simple code
2. can share to some app but WeChat Moments in android

### Expected behaviour
Share to  WeChat Moments

### Actual behaviour
It work well in ios, but unable to share to  WeChat Moments in android

### Environment
- **React Native version**:   "0.58.0",
- **React Native platform + platform version**: Android 8.0, MIUI 10.0

### react-native-share
**

[2019-01-26 10:12] RussianDragon commented on #435
I understand what my problems.
**It first:** Not uniform documentation.
You ride begin

`android:authorities="${applicationId}.provider"`

Then:

`return "com.example.yourappidhere.provider";`

If you know what you do - is Ok, but i see this library in first time after searcher and I do not have time for a detailed study - is problem

if call method and have not correctly settings, you send _text_

[2019-01-26 19:50] pramodkumar005 opened #437 "Could not find method google()"
### Steps to reproduce
1.Install the react-native-share
2.Link react-native-share
3.react-native run-android

### Expected behaviour
Should build without error

### Actual behaviour
Getting Error---
Could not find method google() for arguments [] on repository container of type org.gradle.api.internal.artifacts.dsl.DefaultRepositoryHandler.

### Environment
- **React Native version**: 16.3.0-alpha

[2019-01-26 20:06] mikehardy commented on #437
A search shows many answers for this online as top results. Upgrade gradle to at least 4. Additionally it appears you have quoted a reaction version number, not a react native one.

[2019-01-28 09:33] mimic-trades opened #438 "Unable to share an Animated Image (GIF) on iOS"
### Steps to reproduce
1. Save a GIF locally on the device
2. Use Share.open() on iOS

### Expected behaviour
Sharing successfully the GIF on Social Medias. Watching a preview of it inside messaging chats.

### Actual behaviour
On Android works very well using only the base64.

On iOS: If I share the base64 nothing will be shared.
Instead, following the Troubleshooting on the Readme I used the fil

[2019-01-28 12:06] jgcmarins commented on #435
@RussianDragon I appreciate your feedback!

You can check our example app here: https://github.com/react-native-community/react-native-share/tree/master/example

Sure! Do you mind to open a PR with improvements you've listed? Feel free to modify any part of documentation adding informations you believe that are important.
Thank you!

[2019-01-29 15:43] koo27 commented on #202
just remove the following section from `AndroidManifest.xml`
[code]

This is because you have same record FILE_PROVIDER_PATHS in react-native-image-crop-picker (in its own AndroidManifest.xml file), so you don't need to duplicate it nor replace it.

[2019-01-30 08:26] kiritnim opened #440 "Multiple files sharing in android is not working"
### Multiple file share in anroid is not working

### i am getting below error
error: 'Attempt to invoke interface method \'int android.database.Cursor.getColumnIndexOrThrow(java.lang.String)\' on a null object reference'

### Actual behaviour

sendData =[ 'file:///storage/emulated/0/Download/il2pfyaphtduzjrlsan3.jpg',
      'file:///storage/emulated/0/Download/il2pfyaphtduzjrlsan3.jpg',
      'fi

[2019-01-30 09:03] KPS250 opened #441 "Text/Message not visible on Social Share like Facebook, Instagram"
### Steps to reproduce
1. Share Image wiith base64 and Text/Message text on Social Apps like Instagram, Facebook

### Expected behaviour
Image should be visible with Text/message during posting

### Actual behaviour
Image is visible but without Text/message during posting on social apps. Its works for WhatsApp, Twitter but not for Instagram, Facebook etc.

### Environment
- **React Native version*

[2019-01-30 12:51] ddereszewski commented on #440
Does single share work?
The error occour after you select the application or you don't see application selector ?

I guess the problem is before file:///storage/emulated/0/Download/il2pfyaphtduzjrlsan3.jpg is not accessable from the other application, you need to put it to the place which is shared space, it's mentioned in the manual how to do that.

Try to save to cameraRoll and check if that wor

[2019-01-30 13:38] jgcmarins commented on #441
hello,
recently we've merged this PR: https://github.com/react-native-community/react-native-share/pull/428
could you test on master branch and see if it solves?

[2019-01-30 13:47] jgcmarins commented on #440
check this comment: https://github.com/react-native-community/react-native-share/issues/435#issuecomment-457819104

[2019-01-31 10:14] koo27 opened #443 "Twitter shareSingle error: url"
### Steps to reproduce
Run a simple
[code]
where shareOptions has the deafult values (title, message, urls (with base64 encoded images) and subject).
use "twitter" as social

### Expected behaviour
Open twitter app if is installed, otherwise just open the default sharing dialog.

### Actual behaviour
Nothing happens, and it throws the following error:
`{error: "url"}`

### Environment
- **React Na

[2019-01-31 10:35] TharinduKetipe commented on #322
First unlink the library
`react-native unlink react-native-share`
Then uninstall the library
`npm uninstall --save react-native-share`
Then re-install and link the package.
`npm install react-native-share --save`
`react-native link react-native-share`
This works for me.

[2019-01-31 11:04] koo27 commented on #443
For now I just did this workaround.
I open a simple share dialog in case of error to not stuck the app if twitter button has clicked.

[code]

I noticed that this happens also with Facebook and Google Plus if I don't have the apps installed on the smartphone (tested only on android so far).

[2019-01-31 11:55] vrajeshkanna opened #444 "sharing a base 64 file leaves the file in android Downloads folder"
### Steps to reproduce
1. Share any base 64 file with react-native-share
2. Check the Downloads folder for the file after share

### Expected behaviour

The file should be deleted after sharing

### Actual behaviour

File is not deleted from Downloads folder

### Environment
- **React Native version**: 0.57.8
- **React Native platform + platform version**:  Android 9.0

### react-native-share
**Ve

[2019-01-31 12:34] mikehardy commented on #444
Duplicate of #419 - it's just adding an API call during file create to fix it

[2019-01-31 12:38] jgcmarins commented on #444
duplicated #419

[2019-01-31 12:38] #444 closed

[2019-02-04 01:02] univers3 commented on #438
I'm having the same problem!
It's very frustrating because this issue turns the module totally useless for iOS and GIFs 😢

[2019-02-04 14:14] mimic-trades commented on #438
I tried even with other mime types, or by removing the message, but nothing works! 😞

[2019-02-04 18:12] evanjmg commented on #435
I'm having the same issue

[2019-02-04 18:18] evanjmg commented on #427
I have the same issue. I cannot use this library unless this is resolved

[2019-02-04 19:10] jgcmarins commented on #427
@evanjmg do you have a reproducible repo?

[2019-02-05 07:59] nihp opened #445 "While click on the share it not opening the share modal in ios"
@jgcmarins I am using react-native share and RN FetchBlob to share the remote image. But the share modal is not get opened after click on the share and the error is there is no file in that path

`{ [Error: No such file '/Users/xxxxxxxx/Library/Developer/CoreSimulator/Devices/357BD908-5069-43F2-9BBF-9DB29E2B381E/data/Containers/Data/Application/HDBWUYDUYEDUYD_DEHBDEUDBEUDB/Documents/RNFetchBlob_tm

[2019-02-05 12:24] jgcmarins commented on #445
take a look at [troubleshooting docs with react-native-fetch-blob](https://github.com/react-native-community/react-native-share#troubleshooting)

[2019-02-05 14:18] evanjmg commented on #427
I figured out my issue - Seems my provider was wrong as I'm using product flavors. If you use react native config - no envs need to be added. It automatically adds the ID to your envs and you can just use it like so:
[code]
@jgcmarins I would close this and use my solution as the correct fix - perhaps add the recommendation to the readme? I saw this solution in https://github.com/react-native-comm

[2019-02-05 14:46] jgcmarins commented on #427
@evanjmg great to know!
Feel free to add any comments to #210 so we can merge it.
Thanks!

[2019-02-05 14:46] #427 closed

[2019-02-06 04:33] pavelgajdos commented on #426
I can confirm that the solution outlined above has worked for me.

These are the exact steps I did to have a successful build:

[code]
That's it.

[2019-02-06 06:54] nihp commented on #445
@jgcmarins It sharing the image url not the image, how can I make the image visible instead of the url

[2019-02-06 07:42] jakubgrzelak commented on #322
Hey! I am facing the same problem. Everything is linked properly, I checked it a few time ( I uninstall the app, linked it automatically. This was not working so I unlinked it, uninstall and likned it manually - the same, the lib is not working.
version of:
react-native: 0.57.2
react-native-share: 1.1.3

[2019-02-06 10:05] bharatidudhjiya opened #446 "Can I pass shared by company name?"
I want to pass company name with shared message and image.

so there is any way for doing this.

### Environment
React Native version: 0.57.3
 platform version:  iOS 9.0

Thanks!

[2019-02-06 10:59] bharatidudhjiya commented on #441
I have same issue.
Have you solved this one ?

[2019-02-06 14:50] jgcmarins commented on #446
I think I didn't understand what you mean

[2019-02-07 04:12] nihp commented on #445
Here I have used RNFS to download the image. It sharing the image url not the image. Kindly refer the code snippet and let me know your inputs

[code]

[2019-02-07 12:14] jgcmarins commented on #445
it looks quite different from our [troubleshooting section](https://github.com/react-native-community/react-native-share#troubleshooting)
do you have any reproducible repo?

[2019-02-07 12:40] zeekay18 commented on #399
I solved this by removing the provider declaration from the manifest file

[2019-02-07 13:37] sathvik12345 commented on #323
react-native version: 0.50.4
react-native-share: 1.1.0

i tried with 1.1.2 but i was not able to open Share sheet

i cant upgrade latest version of react-native-share too..

[2019-02-07 13:40] sathvik12345 opened #447 "react-native version: 0.50.4"
react-native version: 0.50.4
react-native-share: 1.1.0

i tried with 1.1.2 but i was not able to open Share sheet

i cant upgrade latest version of react-native-share too..

_Originally posted by @sathvik12345 in https://github.com/react-native-community/react-native-share/issues/323#issuecomment-461421575_

[2019-02-08 00:29] ashnfb commented on #310
@Runaider I'm also having a problem with 0.57

[2019-02-08 06:52] sathvik12345 commented on #447
### Environment

React Native version: 0.50.4
react-native-share: 1.1.3

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  TouchableOpacity,
  View,
  Clipboard,
  ToastAndroid,
  AlertIOS,
  Platform
} from 'react-native';
import Share, {ShareSheet, Button} from 'react-native-share';

class TestShare extends Component {
  constructor(props) {
    super(prop

[2019-02-08 07:20] nihp commented on #445
No

But I am using RNFS instead of RNFetch blob. If you have any other solution which download the remote url and save in the local library and then need to share via all social app means kindly let me know.

Clarification: If we change the [pdf file sharing example](https://github.com/react-native-community/react-native-share#share-remote-pdf-file-with-gmail--whatsapp-ios) to image means does it

[2019-02-08 12:36] jgcmarins commented on #447
is throwing any error?

[2019-02-08 12:37] jgcmarins commented on #445
Yes, it should work.

[2019-02-08 18:32] rollsroyc3 commented on #440
Multiple file sharing on Android is also not working for me, get the same error. Odd thing is it only happens with local files, I tried your imageBase64 code from the example and sharing those 2 images worked fine. So I could read the local file into memory, then convert it to base64, but just seems like a waste to have to convert to base64 just to send the images.

Heres a screenshot of the error

[2019-02-08 18:32] rollsroyc3 commented on #440
Read through this but not sure it helps much..

[2019-02-08 18:35] rollsroyc3 commented on #440
Comparing the function getRealPathFromURI in the files ShareFiles.java and ShareFile.java they are slightly different, not sure if that could be an issue. I'm going to try to look into it further..

[2019-02-10 14:47] idoor88 commented on #74
This approach still only shares  only image of the url, not both the image and the url string, any way to share both?

[2019-02-10 15:30] rahamin1 commented on #195
@Noitidart Did you get an answer? Can you post it here? Or anybody else?

[2019-02-10 15:42] Noitidart commented on #195
@rahamin1 I didn't get reply :(

[2019-02-10 15:42] rahamin1 commented on #195
Thanks. I am trying in SO: https://stackoverflow.com/questions/54618080/sharing-content-using-react-natives-built-in-share-vs-using-react-native-share

[2019-02-10 15:44] mikehardy commented on #195
You guys, this shouldn't be that complicated.

`Open a dialog to share text content`

https://facebook.github.io/react-native/docs/share

That seems like clear documentation to me. **Text** content is shareable with react-native Share API.

[2019-02-10 15:46] rahamin1 commented on #195
Well, riding bicycle is also difficult for me 😀

What about the other questions in https://stackoverflow.com/questions/54618080/sharing-content-using-react-natives-built-in-share-vs-using-react-native-share ?

[2019-02-10 15:47] Noitidart commented on #195
Thanks @mikehardy that helps. Ill share some research I did on how to share media.

Thanks @rahamin1 I'm also in that boat haha.

[2019-02-10 15:51] mikehardy commented on #195
Sadly, reading documentation is no use for bicycles :-). Terribly boring compared to the real thing as well

Sorry I can't speak authoritatively to whether all the same platforms are supported with built-in share. However if I am understanding native sharing at all, all of the various apps should advertise to the system that they may accept text as a sharing style, so almost any app should be show

[2019-02-10 15:53] Noitidart commented on #195
Haha thanks @mikehardy for that docs is harder than bike comment. Its my fault though I should make sense of it.

Thanks both for all the help here, hopefuly it will help another with same question.

[2019-02-10 15:55] rahamin1 commented on #195
And, @Noitidart if you have something to share, please do so ("share some research I did on how to share media")

[2019-02-10 15:55] Noitidart commented on #195
For sure, searching my bookmarks now.

[2019-02-10 15:57] Noitidart commented on #195
A guy here says he could share media with this module by first turning it to base64 - https://www.reddit.com/r/reactnative/comments/absyn3/send_image_via_default_messaging_app_mms/

I would think though we should find a way to make it base64 on native side and keep it on native side, rather then having to send huge base64 back and forth over bridge.

[2019-02-10 15:59] Noitidart commented on #195
Here they mention "react-native-share-extension" - I think this held most promise - https://www.reddit.com/r/reactnative/comments/86aus1/how_to_support_share_receiving_of_multiple_images/

https://github.com/alinz/react-native-share-extension

Also they mentioned react-native-share-menu - but I think it didnt work well - https://github.com/meedan/react-native-share-menu

[2019-02-11 05:57] rahamin1 commented on #406
@TimurAsayonok  @prabhu73

Can you elaborate? Not sure what exactly I need to change.

Here is my build.gradle:

[code]

[2019-02-11 09:22] quy-thi commented on #441
I face the same issue, any solution?

[2019-02-11 09:56] quy-thi commented on #441
some social network like facebook does not support pre-filling the message for users as seen in their Policy. https://developers.facebook.com/policy/#socialplugins

[2019-02-11 11:44] jgcmarins commented on #406
@rahamin1 take a loot at this [build.gradle](https://github.com/react-native-community/react-native-share/blob/master/example/android/app/build.gradle) from example.

[2019-02-11 12:36] rahamin1 commented on #406
Thanks @jgcmarins
I used your file instead of mine, and then:

- `react-native unlink react-native-share`
- deleted node_modules
- `npm instal`l and `react-native link react-native-share`

And then `react-native run-android`

This is what I get:
[code]

Any idea?

[2019-02-11 13:02] rahamin1 commented on #406
Thanks @jgcmarins

I used your file instead of mine, and now I get:
[code]

[2019-02-11 14:22] mikehardy commented on #406
If it were me, I'd do react native create app fresh, install react native share fresh and make sure it works with a clean starter app.

[2019-02-11 14:25] rahamin1 commented on #406
I did this as well. To make sure, I will do it again.

[2019-02-11 15:17] rahamin1 commented on #406
Works now. Thanks much for your help, @jgcmarins  and @mikehardy

[2019-02-11 15:35] jgcmarins commented on #406
@rahamin1 great!
If there is any missing docs you would like to add, feel free to open a pull request.

[2019-02-11 18:53] rahamin1 opened #448 "The example's Simple Share Image Base 64 issues fails (undefined is not a function)"
### Steps to reproduce
1. Install the example on android
2. Click on 'Simple Share Image Base 64'

### Environment
- **React Native version**: 0.58.4
- **React Native platform + platform version**: android 7.1

### react-native-share
**Version**: ^1.1.3

### Actual behaviour
I get the following error:
[code]

[2019-02-11 21:34] jgcmarins commented on #448
@rahamin1 do you know how to fix?

[2019-02-12 02:55] rahamin1 commented on #448
@jgcmarins No, I don't

[2019-02-12 06:09] rahamin1 commented on #448
But I cannot reproduce it this morning. I have other issues. I will try to resolve them myself, thank you!

[2019-02-13 02:33] LuDongWei commented on #436
我这边也不行，微信多图分享安卓机不行，请求帮助

[2019-02-13 11:08] jgcmarins commented on #436
我不能再这样了，微信多图像共享机Android也不行，请求帮助

[2019-02-15 19:09] itsdante commented on #388
Actually it still works, it's just that the link has changed, you need to use localIdentifier as an image/video path and OpenInEditor=1, this is what i currently use

let instagramURL = `instagram://library?OpenInEditor=1&LocalIdentifier=${identifier}`;
Linking.openURL(instagramURL);

[2019-02-15 19:46] jgcmarins commented on #388
@itsdante is there anything we can add to docs?

[2019-02-16 17:10] itsdante commented on #388
I think adding a basic explanation is enough and telling users how to retrieve the localidentifier from an image. **You cannot use a remote url to share the image** you need to save it to a local directory (i'm using cameraRoll) first then get the localidentifier, this can be acquired by splitting the result of cameraRoll.saveToCameraRoll(). But it should be noted that by using this custom url, us

[2019-02-17 18:43] SergeyNedayvoda commented on #414
+ 1

[2019-02-17 20:53] itsdante commented on #358
Hey guys i still can't get this to work, the uri returns to content:// even after being saved by camera roll @nicubarbaros

[2019-02-18 06:49] nihp commented on #445
I am getting unsupported url error while using the above. I think I have done mistake in the file path conversion. I need to convert the image. In the above example which path I need to set here DIRS.DocumentDir

Thanks

[code]

[2019-02-18 07:34] nihp commented on #445
@jgcmarins I have fixed the above issue

If we use like this we can able to share image.

[code]

[2019-02-18 11:45] #445 closed

[2019-02-18 11:54] jgcmarins commented on #445
@nihp great!
Is there something we can add to docs that will help future debug?

[2019-02-18 13:11] ankithtv opened #450 "crashes in release and works in debug"
"react-native": "0.57.7"
"react-native-share": "^1.1.3",

### Actual behaviour
works in debug mode crashes in release mode.no error caught

### Environment
- **React Native version**:0.57.7
- **Platform version**:Android 5.0, etc

### react-native-share
**Version**: 1.1.3"

[2019-02-18 13:45] mikehardy commented on #450
Others have no problem, suggesting this is a problem with code. Do you have a minimal repo you can share with a reproduction? Are you able to reproduce the crash yourself with a clean react-native sample app and minimal react-native-share integration following the docs?

[2019-02-18 14:25] mironiasty commented on #448
I had similar issue in my code. Turns out that it is bug(?) in RN 0.58. I was getting warning from `rn-share` but it could not be displayed correctly.

You can open `node_modules/react-native/Libraries/Promise.js` and replace:
[code]
with just:
[code]
you will then get proper error from `react-native-share` that will tell you what is wrong.

[2019-02-18 15:03] mikehardy opened #451 "Doc + typescript updates"
Interested in a PR for the docs with a link to a (hopefully up to date, if I can get a PR in there) the DefinitelyTyped definitions for TypeScript?

Or would you be interested in hosting the TypeScript types here? (some projects maintain the type info, some projects rely on DefinitelyTyped, I am new to JavaScript + TypeScript so I am not sure which pattern is better in what cases and have no prefe

[2019-02-18 16:56] rahamin1 commented on #448
Thanks much, @mironiasty

The error I got is the one discussed here: https://github.com/react-native-community/react-native-share/issues/270

As suggested there, I will try to perform manual installation.

[2019-02-18 16:56] #448 closed

[2019-02-18 16:59] jgcmarins commented on #448
@mironiasty which message did you get? Is this something related to react-native-share?
maybe we should add something to docs?

[2019-02-18 17:00] rahamin1 commented on #448
I gave a reference to it:
https://github.com/react-native-community/react-native-share/issues/270

[2019-02-18 18:32] alexmngn opened #452 "PDF Share crashes the app on Android"
### Steps to reproduce
1. Follow the steps from https://github.com/react-native-community/react-native-share#share-remote-pdf-file-with-gmail--whatsapp-ios using `sharePDFWithAndroid`
2. Execute

This is my own code which is similar:
[code]

### Expected behaviour
The Share panel opens

### Actual behaviour
The application crashes with the following error:

![screenshot 2019-02-18 at 18 24 31](htt

[2019-02-18 19:02] #452 closed

[2019-02-18 20:20] jgcmarins commented on #452
@alexmngn did you solve it?

[2019-02-18 20:26] mikehardy commented on #452
Ironically, I have this exact same error message on my screen this exact moment! So I'm also curious. I'm certain it is my fault, but if you just fixed the same in your code I'd love to know ;-). Thanks

[2019-02-19 02:38] mikehardy commented on #452
for what it's worth, I'm still working through the underlying issue but this specific error was a masking error in the react-native Promise.js Library. I don't know *why* it's causing a problem, but the pretty-print of the error in that library is causing a problem and the workaround is described here: https://github.com/react-native-community/react-native-share/issues/448#issuecomment-464749536

[2019-02-19 03:01] mikehardy commented on #452
Predictably, me not following the docs was the root cause (https://github.com/react-native-community/react-native-share/pull/197) - users are terrible aren't they? Never following the docs ;-)

[2019-02-19 07:48] mironiasty commented on #448
@jgcmarins No need to update docs. I was just missing one param to `shareSingle` (which generate fully expected warning ;) ).

[2019-02-19 07:58] nihp commented on #445
@jgcmarins

From my answer we can able to share the remote url (image) by downloading it using RNFS and save in local file.

I can able to share image in iOS via following apps

1. Instagram
2. WhatsApp
3. Tumblr
4. Facebook
5. Flickr
6. Pinterest
7. SnapChat
8. WeChat
9. Skype
10. Viber

Note: These are the apps which I can able to share the image

Thanks

[2019-02-19 10:44] #450 closed

[2019-02-19 10:46] ankithtv commented on #450
The problem was with my code it was referring react-native-share from .cache folder .I don't know much detail.renaming the referred file in .cahe folder solved my issue

[2019-02-19 12:09] jgcmarins commented on #450
check this: https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d

[2019-02-19 15:31] rahamin1 commented on #436
@kk412027247 Are you able to share images to WeChat (not to moments)? (I mean - to a WeChat contact)

[2019-02-19 21:42] mikehardy commented on #452
Last followup in case someone lands here from google searching for the error message. If you see `'undefined is not a function (evaluating 'Object.keys(styles)[typeof Symbol === "function" ? Symbol.iterator: "@@iterator']()]')` as an error message, it is an as-yet-unreported bug in react-native/Libraries/Promise.js where the 'pretty-print' library is messing up error message display.

If you repla

[2019-02-20 02:27] kk412027247 commented on #436
@rahamin1 I can share image to WeChat contact in android

[2019-02-20 09:10] rlemasquerier commented on #414
Same issue here, occurring on iOS only.

[2019-02-21 14:46] gopinav commented on #406
The 'almost automatic installation' did not work for me on iOS. I was facing the error posted by the author. Make sure you also follow the manual installation steps. It worked for me after that.

[2019-02-25 07:02] KPS250 opened #454 "Instagram, Whatsapp etc App not opening on Share in iOS"
### Steps to reproduce
1. Share text with Social App like Instagram, Whatsapp

### Expected behaviour
IT should open app for sharing

### Actual behaviour
It opens up app page in AppStore even if app is installed

### Environment
- **React Native version**: 0.57
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc

### react-native-share
**Version**: npm version or "master" :

[2019-02-25 07:19] KPS250 commented on #441
Thanks @quy-thi for the clarification. The issue can be closed now.

[2019-02-25 08:04] kk412027247 commented on #436
Something weird happened.
After I share the image to WeChat contact, I can share the image to WetChat moments.
And always success in new android devices.

[2019-02-25 08:56] sathvik12345 commented on #447
we where not able to open  `ShareSheet`

[2019-02-25 09:21] KPS250 commented on #280
The issue is only on iOS. For Android it works well. Any update on this?

[2019-02-25 11:44] jgcmarins commented on #441
Great!

[2019-02-25 11:44] #441 closed

[2019-02-25 14:40] rahamin1 commented on #448
The solution in my case (android) was to perform manual installation (https://github.com/react-native-community/react-native-share#Android-Install) instead of `react-native link react-native-share`

[2019-02-26 06:46] KPS250 opened #455 "How to share hyperlink with text"
### Steps to reproduce
1. Need to have app link for download in shared message

Example
Shared by MyApp. Download Now [www.google.com](url)

### Expected behaviour
Need to embed hyperlink with text message

### Actual behaviour
Need to embed hyperlink with text message

### Environment
- **React Native version**: 0.57
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc

### r

[2019-02-26 23:33] igortice opened #456 "Share.isPackageInstalled is not a function"
Share.isPackageInstalled('com.instagram.android').then(({ isInstalled }) =>
      console.log(isInstalled)
    );

Share.isPackageInstalled is not a function

![screenshot_1551223908](https://user-images.githubusercontent.com/1306646/53454359-a771a080-3a05-11e9-9376-a6923b6026e7.png)

[2019-02-27 11:14] KPS250 opened #457 "This item cannot be shared. Please select a different item when sharing on whatsApp on iOS"
### Steps to reproduce
1. Share text/image on whatsapp using shareSingle

### Expected behaviour
It must share text/image. It works well on Android but gives error on iOS

### Actual behaviour
Getting the below error:
This item cannot be shared. Please select a different item when sharing

### Environment
- **React Native version**:
- **React Native platform + platform version**: iOS 9.0, Android

[2019-02-27 11:58] jgcmarins commented on #456
hello, could please provide rn share version?
also rn version, thanks

[2019-02-28 10:13] #436 closed

[2019-03-01 07:09] bakaa99 commented on #180
it's still not working,

[2019-03-01 13:21] yeomann commented on #180
@bakaa99 maybe could you give some more info, what exactly you tried? so that someone here could assit you, Thanks

[2019-03-02 09:45] a-koka opened #460 "Question: Share photo with link and description"
The following code ignores all other fields and shares only the photo. Is it not possible to pass along a URL and a description with a photo?

[code]

I have the photo available on a public URL as well if another approach works better for this use case. I've failed after trying `contentType` of `link` as well.

### Environment
- **React Native version**: 0.57.8
- **React Native platform + platform

[2019-03-04 03:54] ylac commented on #347
It would be very helpful if we could specify the filename in the options for `Share.open`.

[2019-03-06 15:14] univers3 commented on #438
Anyone solved this issue? I'm still stuck here!

[2019-03-06 18:48] dsemennyuk commented on #454
@KPS250 Hey yo. Add `<key>LSApplicationQueriesSchemes</key>
<array>
  <string>whatsapp</string>
  <string>mailto</string>
</array>` to your Info.plist

[2019-03-07 02:46] lbnlrnt opened #461 "Pass a caption to instagram on Image sharing [Feature request]"
Hi,

First, thanks for this cool package.

I was reading  #310

And I'm facing the same issue with :
`"react-native": "0.58.5",`
`"react-native-share": "^1.1.3",`

But I believe there is even a better way than "degrade gracefully" to solve this.

While not achieving to share anything with react native (at the beginning), I went native like native native. (then i came back from my native dreams)

A

[2019-03-07 04:36] webmasterdragon commented on #454
Same issue here.
[code]

Added like this but not showing Instagram I have already installed.

[2019-03-07 04:39] webmasterdragon commented on #429
Same issue on ios

[2019-03-07 09:31] TzuYuanLiu commented on #98
It works thank you!!! @faxioman

[2019-03-07 11:46] compojoom opened #462 "shareOptions - is url really reaquired?"
Today I noticed that whenever someone tries to share over whatsapp the whole app is attached as a zip file to the message.
The code we had looks like this:
[code]

I didn't want to have the url attached to the message, so that is why it was set to an empty string and that was working fine in the past.

Once I removed the url from the shareOptions completely the share on whatsapp didn't contain the

[2019-03-08 04:41] Shanie1331 commented on #368
@Ilario17  I still have the same issue can you please help me on the same.

is this available in new version or I have to add it manually.

[2019-03-08 05:08] Shanie1331 commented on #418
@mlazari please elaborate a bit. I am also in same issue. Also I am unable to share any base64 uri.
@nguyenvanphuc2203 Did you resolved ? or any workaround please suggest.

[2019-03-08 05:20] mlazari commented on #418
@Shanie1331 I had the base64 url generated by other library and it was `'"data:image/png;base64,iVBO...gg=="'` instead of `'data:image/png;base64,iVBO...gg=='`. I had to remove surrounding quotes before passing it to `Share.open()` and that fixed it.

[2019-03-08 18:41] Shanie1331 commented on #418
@mlazari I am unable to share base 64 with react native share it gives me "Attempt to invoke virtual method in  android.content. xml parser " error. Its is in debug mode. I have done every changes suggested by all the masters like permission issue, manifests change and taking permissions on app launch but nothing worked for me. Can you please help me out.

[2019-03-09 06:00] mlazari commented on #418
@Shanie1331 I don't know, I didn't have this issue. Can you post the full stack trace for that `Attempt to invoke virtual method` exception?

[2019-03-09 08:46] mojtaba-hajishah commented on #208
I have the same issue in Android.
When the url is a local file or a Base64, both title and message are ignored.
But when the url is a string, they work just fine.

[2019-03-10 17:57] i25878427 opened #463 "Error: choose a video that's longer than 3 seconds (Instagram)"
### Steps to reproduce
let config = {
            fileCache: true,
appendExt: 'mp4'
        }

 const responseFetch = await RNFetchBlob.config(config).fetch("GET", video_url, {})
 const path = await responseFetch.path();

const shareOptions = {
                url: path,
                type: 'video/mp4',
                social: Share.Social.INSTAGRAM
            };

await Share.open(shareOptions)

[2019-03-10 22:21] #463 closed

[2019-03-11 05:28] Shanie1331 commented on #418
this is what I am doing

`let base64Str = res;
                const fs = RNFetchBlob.fs
                const dirs = RNFetchBlob.fs.dirs;
                let imageLocation = dirs.DownloadDir +'/'+'reactNew.png';
                fs.writeFile(imageLocation, base64Str, 'base64');
                console.log(imageLocation)
                // RNFetchBlob.fs.scanFile([ { path : imageLocation } ])

[2019-03-11 18:52] KarenMosavat commented on #384
under share button function you can use facebook share function very easy and its work on IOS
facebook link:
[https://developers.facebook.com/docs/react-native/sharing/]
sample:
         <Button iconSrc={{ uri: FACEBOOK_ICON }}
                  onPress={()=>{
                    ShareDialog.canShow(shareLinkContent).then(
                      function(canShow) {
                        if (canSh

[2019-03-12 08:09] webmasterdragon commented on #461
Thanks for sharing @lbnlrnt .
I think react-native iOS is objective-c, so how to test your posting with react native?

[2019-03-12 08:13] webmasterdragon commented on #310
same issue in `"react-native": "^0.57.8"`

[2019-03-13 02:04] lbnlrnt commented on #461
The things is to link the swift code with objective C, following [this](https://facebook.github.io/react-native/docs/native-modules-ios#exporting-swift), I guess.
Then create the objective C module for react native. But I would not be able to do it myself. Not yet really try/succeed to do so, so this is quite blurry to me.

[2019-03-13 02:16] lbnlrnt commented on #461
Re-reading this, i think the all function is not even mandatory. I feel like it is "just" to add :

`["InstagramCaption": instagramCaption]`

To the dictionary in Obj-C because it seems that it is what Instagram is waiting for (looking for in the call) and it may be just a new key in the optional parameter as per "subject" to  email in this options :

[code]

[2019-03-13 04:16] tktdw commented on #280
share image on WA work on my Device, and shareOption like this

title: "",
url: this.state.cameraRollUri,
message: "",
subject: "", // for email,
}

then i add code

            NSLog(@"Sending whatsapp image");

            documentInteractionController = [UIDocumentInteractionController interactionControllerWithURL:[NSURL fileURLWithPath:options[@"url"]]];
            documentInteractionControll

[2019-03-13 09:46] KPS250 commented on #454
Yeah I too added this and it opens up the desired app.We can close this issue.

[2019-03-13 09:49] webmasterdragon commented on #454
This issue is related to #310

[2019-03-13 14:27] okechukwu0127 commented on #271
I just realized the same error now on my IOS RN app...

no solution out yet ?

[2019-03-13 21:56] jgcmarins commented on #454
maybe we need few improvements docs?

[2019-03-13 21:57] jgcmarins commented on #271
@okechukwu0127 could you share rn version and rn share version?
Thanks!

[2019-03-16 03:38] Shanie1331 commented on #368
@mlazari @nguyenvanphuc2203 @jgcmarins @heracek
Android 8.1.0, api 27...

build.gradle(module app)

android {
    compileSdkVersion 27
    buildToolsVersion '28.0.3'
}
build.gradle (project: xxx)

buildscript {
    ext {
        buildToolsVersion = "28.0.3"
        minSdkVersion = 16
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion = "27.1.1"
    }
    reposit

[2019-03-16 03:56] Shanie1331 commented on #201
@EyalSi @jgcmarins @filipef101 @prgpascal @heracek please help!
Android 8.1.0, api 27...

build.gradle(module app)

[code]

Android.manifest...

[code]

I am taking permissions from android like this : ----->

[code]

this is what I am doing ------>

[code]
Response in debugger is :

[2019-03-16 03:59] Shanie1331 commented on #104
@hanpanpan200 @ataillefer @zachgibson @gasipari @heracek any help will be appreciated
Android 8.1.0, api 27...

build.gradle(module app)

[code]

Android.manifest...

[code]

I am taking permissions from android like this : ----->

[code]

this is what I am doing ------>

[code]
Response in debugger is :

[2019-03-16 04:09] mikehardy commented on #104
I only ever get these:

...when I'm not naming the fileprovider correctly as I call it. You created a FileProvider in your AndroidManifest.xml but somehow you are not actually calling it up correctly as you try to access the files.

[2019-03-16 13:04] TeyimPila commented on #172
Does this solution work on Android, @coryjb ?

[2019-03-17 15:36] watchtower314 opened #465 "Error occurred. Unable to share."
### Steps to reproduce
1. Write a simple code that generates a pdf
2. share that pdf with WeChat on an iOS device

### Expected behaviour
pdf file should be shared through WeChat

### Actual behaviour
File doesn't get shared and I get this error:
Error occurred. Unable to share.

### Environment
- **React Native version**: 0.55.4
- **React Native platform + platform version**:  IOS 12.1.14

### re

[2019-03-18 12:18] atdparvaiz commented on #232
The issue still persists, did anybody solved it?

[2019-03-18 13:09] bakaa99 opened #466 "share message working for ios but not on android"
let shareOptions = {
            title: "SHared via app",
            message: `shared via app `,
            subject: "Shared via app", //  for email
        };

 When i actually try to share this on facebook via the share menu, i works perfectly on ios, i get a nice facebook share post pop-up with the message,

The issue is when i try to share the same with android....
There are no popups for fa

[2019-03-19 09:21] bakaa99 commented on #466
I did some research and apparently facebook changed their policy on sharing via their sharer api(That's what we are using right now). Is there gonna be any update on this. I can update it for android if someone can point me in the right direction...thx

[2019-03-22 14:27] LaVielle commented on #271
Just installed and running into this problem...
react-native 0.57.8
react-native-share 1.1.3

[2019-03-22 14:58] okechukwu0127 commented on #271
@jgcmarins Appologies for replying this late.
I have been struglling with this issue till date

**BELLOW IS MY REACT-NATIVE DETAILS**
react-native-cli: 2.0.1
react-native: 0.57.5
"react-native-share": "^1.1.3"

[2019-03-22 15:03] okechukwu0127 commented on #271
SCREENSHOT OF THE ERROR
![IMG_1771](https://user-images.githubusercontent.com/23473673/54832176-f4baf800-4cbb-11e9-81f4-806d4916053b.PNG)

[2019-03-26 01:09] rahul-desai3 commented on #406
The solutions mentioned in the comments here did not work for me.
I copied the code in the description into a expo snack and I see the same issue: https://snack.expo.io/BJRu9ewdN

What am I missing here?

[2019-03-26 03:39] mikehardy commented on #406
This has become a catch-all multi-bug. It should be closed in favor of distinct issues I think.

@rahul-desai3 if I understand correctly you are using an Expo project and attempting to access a module with native code? Expo snack is just a server-based demo Expo project with what they build in, but not with react-native-share? I have never heard of Expo working with native code so you need to read

[2019-03-26 03:47] jgcmarins commented on #406
Agreed with @mikehardy.
To everyone reading this thread, feel free to open a new issue with specific bug reports/questions/feature requests.

[2019-03-26 03:47] #406 closed

[2019-03-26 07:48] nartjie101 commented on #414
+1

[2019-03-26 14:39] jgcmarins opened #468 "eslint: use React Native Community rules"
## Describe the Feature

Looking for standardisations, we should add [`eslint-config-react-native-community`](https://github.com/facebook/react-native/tree/master/packages/eslint-config-react-native-community) to react-native-share lint rules.

## Possible Implementations

Just add the rule and run lint.

## Related Issues

[2019-03-27 07:40] JsonAveza commented on #190
I am also facing the same issue. You got any solution?

[2019-03-27 13:12] mikehardy commented on #190
@JsonAveza use the example, to prove everything works, then adapt your code slowly in the same style to match it. Probably a problem with linking. Might be that you used a Promise returning object outside of an async/await or .then().catch() structure

[2019-03-30 00:17] devotebest commented on #329
which file for this?

[2019-03-30 02:01] Soaple commented on #456
I also have a same problem on Android.

"react-native-share": "^1.1.3"

[2019-03-30 02:22] mikehardy commented on #456
This usually indicates a failure to link or install correctly. Check the example out and try it, it should work - and if it does it proves it *can* work, so then carefully adapt what the example does into your app, following the install instructions closely. Should work

[2019-03-30 05:50] mayankmittal242 opened #469 "Giving Error: Can't send empty message"
### Steps to reproduce
I have tried with these options
Share.share({	title: "Share",
			url: "file:///storage/emulated/0/DCIM/Screenshots/Screenshot_20181214-200716_Instagram.jpg",
			});
2. on sharing with whatsapp its giving error can send empty message

### Expected behaviour
should send an image through WhatsApp

### Actual behaviour
Giving error

### Environment
- **React Native version**: 0.

[2019-03-30 18:56] mikehardy commented on #407
On another repo (https://github.com/react-native-community/react-native-device-info) I help maintain, [we explicitly tell people to mock](https://github.com/mikehardy/react-native-device-info/blame/master/README.md#L1143):

[code]

Though we did just merge something that may make jest snapshots work (I don't use them (yet?) so I don't know):
https://github.com/react-native-community/react-native-d

[2019-03-30 19:49] mikehardy commented on #469
In general the example works, so you could check it out and then just do what it does.

In specific, I have success (just now, with RN0.59.2 and Android 9 but that shouldn't matter) sharing to whatsapp via the share chooser with this code. Maybe something similar would work for you

[code]

[2019-03-31 22:49] yamov opened #470 "When can we expect to see a new version published to npm?"
## Ask your Question
Dear contributors, first of all thanks for your effort in maintaining this repo. My question is when can we expect to see a new version published to npm? The last release was 5 months ago and in my opinion there are some fixes worthy of a new release.

[2019-03-31 22:51] mikehardy commented on #470
Ironically, I was thinking the same thing yesterday as I switched back to 1.1.3 from master as I'm about to release my own app and wanted a fixed version.

Which is just to say, I was using master successfully during development and at least for the "Share.open()" case with a data URL from rn-fetch-blob it was working great...

[2019-04-01 01:31] jgcmarins commented on #329
Root? Like App.js.

[2019-04-01 01:52] jgcmarins commented on #470
Hello @yamov,

Thanks for asking.
We've made few changes that would need some tests: https://github.com/react-native-community/react-native-share/compare/v1.1.3...master

After @mikehardy comment:

I guess we have less things to test.

**If someone is using master branch in production, let me know if it is ok for a release.**

Also there are known bugs and few opened PRs that we still need fix/mer

[2019-04-01 04:14] mikehardy commented on #470
@jgcmarins - there are always known bugs unfortunately, but joking aside it sounds like you have an idea in mind of what needs to get done for a 1.2.0 (my scan of the diff was that there were features but no breaking changes), maybe a milestone you could tag specific PRs and issues with? You're take on that would be really useful since you'll have a feel for everything. Then we could focus on gett

[2019-04-01 13:11] jgcmarins commented on #470
@mikehardy, thanks for the heads up.
I totally agree, but I am little busy this week. I'll try to take a look as soon as possible.

Another issue I'd like to address is React Native version.
Maybe it should be nice to have a release before we update React Native version.

[2019-04-01 14:19] mikehardy commented on #470
@jgcmarins sounds good - I'm not personally in a rush though I as time between releases grow I have an equally growing anxiety if I'm in any way responsible for a release :-) (nothing special for this project, that's a general thing).

I would minimize any unnecessary change prior to 1.2.0 (assuming that's the right SemVer) so +1 waiting on react-native version, though I'll look at that separately

[2019-04-01 14:24] mikehardy commented on #271
After some time developing react-native, if I ever see "possible unhandled promise rejection", I look for the API call I just added, and I make absolutely sure that I have either done it in either of the two correct Promise-API call styles

* `apicall().then(() => {}).catch(() => {});`

* or that it is in an async function and looks like `try { apicall(); } catch (e) { /* handle */ }`

And every s

[2019-04-01 14:25] mikehardy opened #471 "Update dependencies in main project / example"
Related to #470 - it was mentioned the react-native version was out of date (appears to be 0.55.x) - in general all the dependencies should be audited and bumped

[2019-04-01 14:34] #271 closed

[2019-04-02 00:42] Soaple commented on #456
I installed again and again, but isPackageInstalled() still does not exist.

Also, I had checked v1.1.3 source code downloaded from release link.
https://github.com/react-native-community/react-native-share/releases/tag/v1.1.3

But there is no isPackageInstalled() function.
![스크린샷 2019-04-02 오전 9 35 53](https://user-images.githubusercontent.com/34570624/55368043-d4483480-552a-11e9-9141-b2

[2019-04-02 01:46] mikehardy commented on #456
Yes - if you want an unreleased feature you either have to wait or run from master. I was using master yesterday and it's fine, or at least did not seem to have any regressions

[2019-04-02 02:01] Soaple commented on #456
Now, I am using master, and it works fine.
Thank you for your response.

[2019-04-02 02:11] jgcmarins commented on #456
@Soaple it is great to hear that `master` branch is just working fine.
Thanks for your feedback, we're planning a new release soon.

[2019-04-02 07:11] joge17 opened #472 "Not opening share dialog on ios"
[code]
I get this error when trying to share a base64 image.

[2019-04-02 10:21] Desintegrator commented on #454
same issue

[2019-04-02 16:18] mikehardy commented on #454
@Desintegrator please confirm you have the keys set appropriately in your Plist, provide versions of plugin, react-native, ios etc. This issue was close to being resolved and the likely resolution would be a PR to instruct people about how to add keys to the plist if I understand correctly...

[2019-04-02 17:34] Desintegrator commented on #454
@mikehardy Hello. Adding keys in Plist helped me. But now i can't share base64 pictures in iOS (works in Android)

[2019-04-02 17:44] Desintegrator commented on #389
same

[2019-04-02 18:34] mikehardy commented on #454
We definitely need a PR for the docs here then as that's multiple reports of success with adding Plist entries, and this issue should be closed...

[2019-04-03 13:10] jgcmarins commented on #454
It is the 6th step in [iOS Install](https://github.com/react-native-community/react-native-share#ios-install)

[2019-04-05 18:44] ethanyuwang commented on #389
same issue here

[2019-04-09 21:07] ethanyuwang commented on #389
Has anyone solved this?

[2019-04-10 22:11] MateusAndrade commented on #469
Im facing something similar, when i try to share a imagem with WhatsApp on Android is ok, but doing the same on Ios doenst Send the image. Just the captions, if i choose to save the image on IOS, send with Messenger it works, but with whatsapp i got this problem.

Here is what im doing:

[code]

Im generating my base64 using a library that takes a ScreenShot of the desired View.

It would be relat

[2019-04-11 12:57] rudiw opened #473 "No enum constant cl.json.RNShareModule.SHARES.sms"
### Steps to reproduce
I just created a simple application React Native like:
[code]

### Expected behaviour
The application should show (Sharing) SMS dialog.

### Actual behaviour
But, I got warning:
[code]

If I changed value in key `social` to `email', it was working by showing Gmail Application.

### Environment
- **"react": "16.8.3**:
- **"react-native": "0.59.3"**
-**Android PIXEL_XL_API_25*

[2019-04-11 13:58] jgcmarins commented on #473
Hello @rudiw, how was the link process?
Did you linked manually?
It looks like the problem is related to it.

[2019-04-11 15:07] rudiw commented on #473
Hello @jgcmarins, what is the link process? I am sorry, I didn't catch your mean.
I just did:
1. `npm install react-native-share --save`
2. `react-native run-android`

[2019-04-11 17:52] mikehardy commented on #473
It is the second of 2 steps https://github.com/react-native-community/react-native-share#mostly-automatic-install

[2019-04-11 20:26] jgcmarins commented on #473
react-native-share has native modules which means there are native dependencies to be added to your project

[2019-04-11 22:12] tonyatoms commented on #401
I did this as well and it took me a while to cipher it out. In my case I added it to the `  private final ReactNativeHost ...`  where all the other @Overrides were located. This override needs to be at the public class level.

[2019-04-12 01:40] rudiw commented on #473
@jgcmarins, so what should I do to solve the problem?

[2019-04-12 02:39] mikehardy commented on #473
@rudiw

[2019-04-12 02:47] rudiw commented on #473
@mikehardy okay, I have run command:
`react-native link react-native-share`
but still got the same error on image..
![image](https://user-images.githubusercontent.com/1597815/56008875-f9e1f480-5d07-11e9-8993-eac0ea11b1b8.png)

[2019-04-12 02:54] mikehardy commented on #473
I don't know what to tell you - the example works - try it, then very carefully apply what it does to your project :man_shrugging:

[2019-04-12 02:57] rudiw commented on #473
@mikehardy that's okay... I hope I can figure out by miracle way... thank you @mikehardy 👍

[2019-04-12 10:45] priti-nimble commented on #435
Not work multi sharing on android #435
i have same issue please give solution as soon as possible i need it in my project i am facing in android only

[2019-04-12 13:43] jgcmarins commented on #473
Good.
Can you try to run react-native bundle with this command: `node ./node_modules/react-native/local-cli/cli.js start --reset-cache`
and also delete the app from the simulator and reinstall it?
It is a good practice, after linking.

[2019-04-12 13:45] jgcmarins commented on #473
Try to wrap your code with a try/catch statement.
Are you using Promise or async/await approach?

[2019-04-15 13:57] MateusAndrade commented on #218
@nishantsabharwal13  i tested this adding:

[code]
  @Override
  public String getFileProviderAuthority() {
    return BuildConfig.APPLICATION_ID + ".provider";
  }`

Did you set  android:authorities to your correct bundle id with the .provider defined in the MainApplication.java?

Im using the version 1.1.3 with rn on 0.57.7. Hope it helps! =D

[2019-04-15 14:18] MateusAndrade commented on #469
I found that sharing a image with base64 on some apps dont work on ios. I started to to share the archive location and was able to share on WhatsApp, Messenger without problem. =D

Perhaps, on Android you will need to add [this](https://github.com/react-native-community/react-native-share/issues/218) config on your fileprovider or AndroidManifest.xml

[2019-04-15 16:28] BaderSerhan commented on #423
@Juliocbr the message doesn't show also if we share through FB SDK